{% load i18n %}

<ul class="nav nav-pills filter" id="sort">
  <li><a data-class="newest" class="date-query selected">{% trans "Most recent" %}</a></li>
  <li><a data-class="oldest" class="date-query">{% trans "Less recent" %}</a></li>
  <li><a data-class="alphaaz" class="date-query">{% trans "A - Z" %}</a></li>
  <li><a data-class="alphaza" class="date-query">{% trans "Z - A" %}</a></li>
  <li><a data-class="popularity" class="date-query">{% trans "Most popular" %}</a></li>
  <li><a data-class="rel" class="date-query">{% trans "Relevance" %}</a></li>
</ul>
