{% extends "site_base.html" %}
{% load i18n %}
{% load layers_tags %}
{% load taggit_extras %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Search" %} - {{ block.super }} {% endblock %}

{% block body_class %}search{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}libs/css/datepicker.css" type="text/css" media="screen" />
{% endblock %}

{% block body_outer %}
    <div class="span12">
      <h2 class="page-title">{% trans "Search" %}</h2>
    </div>
    <div class="span8">      
      {% include "layers/_layer_filters.html" %}
    </div>
    <div class="span4">
      <div class="pull-right" data-viewby="list">
        {% include "_viewby.html" %}
      </div>
    </div>
    <div class="span12">
      <div class="row" id="contain-slider">
        <div class="span4">
          <div class="selections">
            <h4>
              {% trans "Your selections" %}
              <a href="#" id="clear-search" class="pull-right">Clear all</a>
            </h4>
          </div>
          <div id="slide-pane">
            <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
            <nav class="tabs-left" id="nav-categories">
              <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i>{% trans "Type" %}</a></h2>
                <ul class="nav">
                  <label class="checkbox" data-class="map">
                    <input type="checkbox" id="filter-maps" {% if facets.map > 0 %}checked="checked"{% endif %} /> Maps <span>(<span class="count">{{ facets.map }}</span>)</span>
                  </label>
                  <label class="checkbox" data-class="layer">
                    <input type="checkbox" id="filter-data" {% if facets.layer > 0 %}checked="checked"{% endif %} /> Layers <span>(<span class="count">{{ facets.layer }}</span>)</span>
                  </label>
                  <div class="subgroup" data-class="layer">
                    <label class="checkbox" data-class="coverageStore">
                      <input type="checkbox" {% if facets.raster > 0 %}checked="checked"{% endif %} /> Raster <span>(<span class="count">{{ facets.raster }}</span>)</span>
                    </label>
                    <label class="checkbox" data-class="dataStore">
                      <input type="checkbox" {% if facets.vector > 0 %}checked="checked"{% endif %} /> Vector <span>(<span class="count">{{ facets.vector }}</span>)</span>
                    </label>
                  </div>
                  <label class="checkbox" data-class="document">
                    <input type="checkbox" {% if facets.document > 0 %}checked="checked"{% endif %} /> Documents <span>(<span class="count">{{ facets.document }}</span>)</span>
                  </label> 
                  <label class="checkbox" data-class="owner">
                    <input type="checkbox" {% if facets.user > 0 %}checked="checked"{% endif %} /> Users <span>(<span class="count">{{ facets.user }}</span>)</span>
                  </label>
                </ul>
            </nav>
            <nav class="tabs-left" id="nav-categories">
              <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i>{% trans "Categories" %}</a></h2>
              <ul class="nav">
                {% layer_categories as category_list %}
                <li><a {% if not layer_category %} class="active"{% endif %}>{% trans "All Categories" %}</a></li>
                {% for category in category_list %}
                <li><a {% ifequal layer_category category %} class="active"{% endifequal %}>{{ category }}
                {% if category.layer_set.count > 0 %}({{ category.layer_set.count }}){% endif %}
                </a></li>
                {% endfor %}
              </ul>
            </nav>
            <nav class="" id="nav-keywords">
              <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i> {% trans "Keywords" %}</a></h2>
              <ul class="nav">
                {% get_taglist as tags for 'layers.Layer' %}
                {% for tag in tags %}
                  <li><a href="{% url "layer_browse_tag" tag.slug %}"{% if tag.slug == layer_tag %} class="active"{% endif %}>{{ tag }}</a> <span class="count">({{ tag.num_times }})</span></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="tab-content span8 paginate paginate-auto">
          {% include 'search/search_content.html' %}
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_script %}
  <script src="{% static "libs/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
  <script src="{% static "libs/js/jquery.tinysort.min.js" %}"></script>
  <script src="{% static "libs/js/waypoints.js" %}"></script>
  <script src="{% static "libs/js/loadmore.js" %}"></script>
  <script src="{% static "libs/js/jquery.raty.js" %}"></script>
  <script src="{% static "geonode/js/explore.js" %}"></script>
  <script src="{% static "geonode/js/paginate.js" %}"></script>
  <script type="text/javascript">
    var search_status = {{ query|safe }}
  </script>
  <script type="text/javascript">
    $(function() {
      $('.overall_rating').each(function() {
        var rating = $(this).parents(".avg_rating").data('rating');
        star(this, rating);
      });
      $(".loadmore").on("load.loadmore", function(e, o) {          
        o.find(".overall_rating").each(function() {
          var rating = $(this).parents(".avg_rating").data('rating');
          star(this, rating);
        });
      });
    });
    function star(elem, rating) {
      $(elem).raty({
        half: true,
       readOnly: true,
       score: rating,
       path: "{% static "agon_ratings/img/" %}"
      });        
    }
  </script>
{% endblock extra_script %}
