DATABASES = {
    'default': {
         'ENGINE': 'django.db.backends.postgresql_psycopg2',
         'NAME': 'geonode',
         'USER': 'user',
         'PASSWORD': 'user',
         'HOST': 'localhost',
     },
    'datastore': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'geonode_imports',
        'USER': 'user',
        'PASSWORD': 'user',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

# OGC (WMS/WFS/WCS) Server Settings
OGC_SERVER = {
    'default' : {
        'BACKEND' : 'geonode.geoserver',
        'LOCATION' : GEOSERVER_BASE_URL,
        'USER' : 'admin',
        'PASSWORD' : 'geoserver',
        'MAPFISH_PRINT_ENABLED' : True,
        'PRINT_NG_ENABLED' : True,
        'GEONODE_SECURITY_ENABLED' : True,
        'GEOGIG_ENABLED' : False,
        'WMST_ENABLED' : False,
        # Set to name of database in DATABASES dictionary to enable
        'DATASTORE': 'datastore',

    }
}

# GeoNode vector data backend configuration.

# Uploader backend (rest or importer)

UPLOADER_BACKEND_URL = 'rest'

# Import uploaded shapefiles into a GeoGig repository
GEOGIG_DATASTORE = False
GEOGIG_DATASTORE_NAME = 'geogig-repo'

UPLOADER_SHOW_TIME_STEP=False

# Use the printNG geoserver lib
PRINT_NG_ENABLED=True
