{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Notices" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}
{% block nav %}
{% navbar index %}
{% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
{% endblock %}

{% block main %} 
<h3>{{ notice }}</h3>
<ul>
<li>Date Added: {{ notice.added }}</li>
<li>Link to layer in GeoNode</li>
<li>Link to layer in GeoNode Admin</li>
<li>Link to layer in GeoServer</li>
<li>Link to layer in GeoNetwork</li>
<li>Projection</li>
<li><button type='button'>Mark as Read</button></li>
</ul>
{% endblock %}
