{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "maptiles/maptiles_header.html" %}
<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/thumbnail.js"></script>
<!--<script type="text/javascript" src="http://dev.openlayers.org/OpenLayers.js"></script>-->
<script type="text/javascript">
{% autoescape off %}
var _TILE_SIZE = 1000;
function floor_tile_size(x){
    return  (Math.floor(x/_TILE_SIZE) * _TILE_SIZE);
}

function ceil_tile_size(x) {
    return (Math.ceil(x/_TILE_SIZE) * _TILE_SIZE);
}

function get_corners( x, y ){
    return { ul_x: floor_tile_size(x), ul_y: ceil_tile_size(y),
         ur_x: ceil_tile_size(x), ur_y: ceil_tile_size(y),
         ll_x: floor_tile_size(x), ll_y: floor_tile_size(y),
         lr_x: ceil_tile_size(x), lr_y: floor_tile_size(y)
        };
}

function createVectorLayer() {

    var styleDefault = Ext.applyIf({
        graphicName: "${symbol}",
        pointRadius: "${size}"
    }, OpenLayers.Feature.Vector.style["default"]);

    var styleSelect = Ext.applyIf({
        graphicName: "${symbol}",
        pointRadius: "${size}"
    }, OpenLayers.Feature.Vector.style["select"]);

    return new OpenLayers.Layer.Vector("vector", {
        styleMap: new OpenLayers.StyleMap({
            "default": styleDefault,
            "select": styleSelect
        })
    });
}

var app, map, items=[];

var config = {tools:[
        {
            ptype: "gxp_getfeedfeatureinfo",
            checked: true
        },
        {
            id: "feature_manager",
            ptype: "gxp_featuremanager",
            autoSetLayer: true
        }];

var viewer_options = {{ viewer|safe }};
Ext.onReady(function() {
    
    GeoExt.Lang.set("{{ LANGUAGE_CODE }}");
    {% if PROXY_URL %}
    config["proxy"]='{{ PROXY_URL }}';
    {% endif %}
    localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}",
    config["authorizedRoles"]="{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}";

    /* The URL to a REST map configuration service.  This service 
     * provides listing and, with an authenticated user, saving of 
     * maps on the server for sharing and editing.
     */
    config["rest"]="/maps/";
    {% if MAPFISH_PRINT_ENABLED %}
    config["printService"]= "{{GEOSERVER_BASE_URL}}pdf/";
    {% else %}
    config["printService"]="";
    {% endif %}
    
    config["portalConfig"] = {
        renderTo: "preview_map",
        height: 400 
    };
    config["listeners"]={
        "ready": function() {
            var map = app.mapPanel.map;
            var layer = app.map.layers.slice(-1)[0];
            
            var vec_layer = createVectorLayer();
            map.addLayer(vec_layer);
            // FIXME(Ariel): Zoom to extent until #1795 is fixed.
            //map.zoomToExtent(layer.maxExtent, false)
            
            var bbox = layer.bbox;
            if (bbox != undefined)
            {
               if (!Array.isArray(bbox) && Object.keys(layer.srs) in bbox) {
                bbox = bbox[Object.keys(layer.srs)].bbox;
               }

               var extent = OpenLayers.Bounds.fromArray(bbox);
               var zoomToData = function()
               {
                   map.zoomToExtent(extent, false);
                   app.mapPanel.center = map.center;
                   app.mapPanel.zoom = map.zoom;
                   map.events.unregister('changebaselayer', null, zoomToData);
               };
               map.events.register('changebaselayer',null,zoomToData);
               if(map.baseLayer){
                map.zoomToExtent(extent, false);
               }
            }
        },
        "beforeunload": function() {
            if (modified) {
                styleEditor.show();
                return false;
            }
        }
    };
    
    console.log("after declaration:"+JSON.stringify(config));

    config = Ext.apply(config, {{ viewer|safe }});
    
    console.log("after Ext.apply"+JSON.stringify(config));

    app = new GeoExplorer.Viewer(config);

    for (var key in app.tools) {
        var tool = app.tools[key];
        if (tool.ptype == 'gxp_styler') {
            tool.rasterStyling = true;
        };
        //console.log("Ptype:" + tool.ptype + " ID: " + tool.id);
    };
    //console.log(app.tools);
    
    //console.log(app.portalItems);
    /*for (var key in app.portalItems){
        var portalItem = app.portalItems[key];
        console.log(portalItem.ptype);
    }*/

    // change style displayed in map
    Ext.get(Ext.DomQuery.select("input[@name='style']")).on("click", function(evt, elem) {
        app.selectedLayer.getLayer().mergeNewParams({
            "STYLES": elem.id,
            "_dc": Math.random()
        }); 
    });
    
    Ext.get(Ext.DomQuery.select(".style-edit")).on("click", function(evt, elem) {
        for (var key in app.tools) {
            var tool = app.tools[key];
            if (tool.ptype == 'gxp_styler') {
                tool.actions[0].execute();
            };
        }
    });
    Ext.Ajax.on('requestcomplete', function(req, cippa, opts){
        if(opts.method == 'PUT'){
            $('#legend_icon').attr('src', $('#legend_icon').attr('src')+'&'+Math.random());
        }   
    }, this);
});

{% endautoescape %}
</script>
