{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/thumbnail.js"></script>
<script type="text/javascript" >
{% autoescape off %}

    var options = {{ viewer|safe }};
    Ext.onReady(function (){
        var map = new OpenLayers.Map(options["map"]);
        
        new GeoExt.MapPanel({
            renderTo: "preview_map",
            height: 400,
            map: map,
            title: "Test Map"
        });
    });
{% endautoescape %}
</script>
