{% extends "ceph_base.html" %}
{% load i18n %}
{% load url from future %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
{% block title %} {% trans "Data Input Form" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo Data Input{% endblock %}

{% block body_outer %}
  {% block body %}
  
  <div class="page-header">
    <h2 class="page-title">{% trans "Georef Input Form" %}</h2>
  </div>
  
  <form id="georef_form" action="/maptiles/addtocart/"  method="POST">
     {% csrf_token %}
    <input type="textarea" name="georef_area" ></input>
    <input id="georef_submit" type="submit" name="georef_submit" value="Submit"></input>
</form>
 <script type="text/javascript" >
     $(document).ready(function(){
        $("#georef_form").submit(function(e) {
            e.preventDefault();
            //$('#georef_submit').click();
        });
    }
  </script>
  
  
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}
