{% extends "ceph_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "Data Input Form" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo Data Input{% endblock %}

{% block body_outer %}
  {% block body %}
  <script type="text/javascript" >
      function georef_validation(){
          var georef_string = document.getElementById("georef_area").getAttribute("value");
          console.log(georef_string);
          return false;
      }
  </script>
  
  
  
  <div class="page-header">
    <h2 class="page-title">{% trans "Georef Input Form" %}</h2>
  </div>
  
  <form id="georef_form" onsubmit ="return georef_validation();" action="/maptiles/addtocart/"  method="POST">
     {% csrf_token %}
    <input type="textarea" name="georef_area" ></input>
    <input type="submit" name="georef_submit" value="Submit" ></input>
</form>
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



