{% include "geonode/ext_header.html" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoext/css/popup.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/css/georef.css">
<script type="text/javascript" src="{{STATIC_URL}}lib/js/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/GeoExt.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/thumbnail.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/proj4js-compressed.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/proj4js-EPSG32651.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL}}lib/js/sidenavi/SideNavi.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL}}lib/css/sidenavi/sidenavi-right.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script type="text/javascript" >
    function formatBytes(bytes, decimals) {
        if(bytes == 0)
            return '0 Bytes';
        var k = 1024;
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        var i = Math.floor(Math.log(bytes) / Math.log(k));
        return (bytes / Math.pow(k, i)).toPrecision(decimals + 1) + ' ' + sizes[i];
    }

    function sleep(milliseconds) {
      var start = new Date().getTime();
      for (var i = 0; i < 1e7; i++) {
        if ((new Date().getTime() - start) > milliseconds){
          break;
        }
      }
    }


</script>
<script type="text/javascript" >

OpenLayers.ImgPath = "{{ STATIC_URL }}geoexplorer/externals/openlayers/theme/default/img";
OpenLayers.Request.DEFAULT_CONFIG.headers = {
    'X-CSRFToken': '{{ csrf_token|escapejs }}'
};

var curr_location =  window.location.protocol+"//"+window.location.hostname+":"+window.location.port;
OpenLayers.ProxyHost = curr_location+"/proxy/?url=";
var geoserver = "";
if ("{{test_mode}}"=="True"){
    geoserver = window.location.protocol+"//"+window.location.hostname+":8080/geoserver/";
}else{
    curr_location =  window.location.protocol+"//"+window.location.hostname;
    geoserver = curr_location+"/geoserver/" ;
}

{% if jurisdiction.viewer %}
jurisdiction_args = {{jurisdiction.viewer|safe}};
{% else %}
jurisdiction_args = "";
{% endif %}

{% autoescape off %}

grid_args = {{grid.viewer |safe}}
//var options = grid_args;
var app, map;
var tile_list = [];
var highlight_layer;
var jurisdiction_geoms = [];
var tile_cache = [];
var single_click = true;

var olGeoJSON = new OpenLayers.Format.GeoJSON();
//var geoserver = "{{geoserver}}";
//var geoserver = curr_location+"/geoserver/";


// added stuff

var _TILE_SIZE = 1000;
var tile_proj = "EPSG:32651"

$(document).ready(function(){

        // adds the total request size filtering
       $("#georef_form").submit(function(e) {
           e.preventDefault();
           var self = this;
           var json_parser = new OpenLayers.Format.JSON()
           var georef_string = document.getElementById("georef_area").getAttribute("value");
           var data_classes = []
           if(document.getElementById("laz").checked){
               data_classes.push("LAZ");
           }
           if(document.getElementById("dtm-tif").checked){
               data_classes.push("DTM");
           }
           if(document.getElementById("dsm-tif").checked){
               data_classes.push("DSM");
           }
           if(document.getElementById("orthophoto").checked){
               data_classes.push("ORTHO");
           }
           $.post('/maptiles/validate/',
                {"georefs" : georef_string, "dataclasses": data_classes}).done(function(result){
                   if (result.response)
                        self.submit();
                        /*$.post('/maptiles/addtocart/',  {   "georef_area" : document.getElementById("georef_area").getAttribute("value"),
                                                            "dataclasses" : data_classes});*/
                   else {
                        /*alert("The total file size of this request is "+formatBytes(result.total_size, 2)+
                                " . You also have a total of "+formatBytes(result.cart_size, 2)+
                                " in the data cart and FTP requests with a total of "+formatBytes(result.recent_requests_size, 2)+
                                ". Your request exceeds the 200MB download limit. Please reduce number of selected tiles.");*/
                        display_message("notif", "The total file size of this request is "+formatBytes(result.total_size, 2)+
                                " . You also have a total of "+formatBytes(result.cart_size, 2)+
                                " in the data cart and FTP requests with a total of "+formatBytes(result.recent_requests_size, 2)+
                                ". Your request exceeds the 500MB download limit. Please reduce number of selected tiles.");
                    }
                })
       });

       // enables the submission of bounding box coordinates for selecting tiles
       $("#bbox_form").submit(function(e){
           e.preventDefault();
           var self= this;
           var highlight_layer = map.getLayersByName("Highlight Layer")[0];
           selection_bounds(
                new OpenLayers.Bounds(
                    $('#leftlimit').val(),
                    $('#lowerlimit').val(),
                    $('#rightlimit').val(),
                    $('#upperlimit').val()
                ),
                highlight_layer, true
            );
        });

        $("#selection-message-close").click(function(e){
            //$("#selection-message").hide();
            document.getElementById("selection-message").style.visibility="collapse";
        });
});
function toggle_checkbox_check(source){
  if (source.checked){
    checkboxes = document.getElementsByName('georef_checkbox');
    var is_checked = false;
    for(var i = 0; i < checkboxes.length; i++){
      is_checked = checkboxes[i].checked;
      if (!is_checked) break;
    }
    if(is_checked){
      document.getElementById('checkbox_all').checked = true;
    }
  }else{
    document.getElementById('checkbox_all').checked = false;
  }
}

function zoomOnBbox(bounds){
    bbox = new OpenLayers.Bounds(bounds);
    map.zoomToExtent(
        bbox.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"))
    );
}

/*
Computes the floor for the GeoRef coordinates based on the tile size
*/
function floor_tile_size(x){
    return  (Math.floor(x/_TILE_SIZE) * _TILE_SIZE);
}

/*
Computes the ceiling for the GeoRef coordinates based on the tile size
*/
function ceil_tile_size(x) {
    return (Math.ceil(x/_TILE_SIZE) * _TILE_SIZE);
}

/*
Computes the coordinates of a tile based on a coordinate on the map
*/
function get_corners( x, y ){
    return { ul_x: floor_tile_size(x), ul_y: ceil_tile_size(y),
         ur_x: ceil_tile_size(x), ur_y: ceil_tile_size(y),
         ll_x: floor_tile_size(x), ll_y: floor_tile_size(y),
         lr_x: ceil_tile_size(x), lr_y: floor_tile_size(y)
        };
}

/*
Creates a tile object based on four points
*/
function createTile(computed_corners){
    return {
                    georef: "E"+(computed_corners["ul_x"]/1000)+"N"+(computed_corners["ul_y"]/1000),
                    corners: computed_corners,
                    feature: null
                };
}

/*
Function for displaying the georefs of selected tiles at the bottom of the page
*/
function display_points(div_id){
    var container = document.getElementById(div_id);
    container.removeChild(container.firstElementChild||container.firstChild);
    var table_element = document.createElement("table");
    table_element.className += "georef_table";
    container.appendChild(table_element);

    var georef_string = "";
    var numofrows = 1;
    for (var i=0; i< tile_list.length/numofrows; i++){
        var row_element = document.createElement("tr");
        row_element.className += "georef_tr";
        table_element.appendChild(row_element);
        for (var j = 0; j< Math.min(numofrows, tile_list.length - i*numofrows ); j++){
            var georef_column = document.createElement("td");
            georef_column.setAttribute("id",tile_list[i*numofrows+j].georef);
            georef_column.className += "georef_td";
            row_element.appendChild(georef_column);

            var georef_checkbox = document.createElement("input");
            georef_checkbox.type = "checkbox";
            georef_checkbox.name = "georef_checkbox";
            georef_checkbox.value = tile_list[i*numofrows+j].georef;
            georef_checkbox.id = i+j;
            georef_checkbox.onclick = function(){toggle_checkbox_check(this);};

            var georef_label = document.createElement("label");
            georef_label.htmlFor = i+j;
            georef_label.onclick = function(){toggle_checkbox_check(this);};
            georef_label.appendChild(document.createTextNode(tile_list[i*numofrows+j].georef));
            georef_column.appendChild(georef_checkbox);
            georef_column.appendChild(georef_label);

            if(i*numofrows+j == 0){
                georef_string+=tile_list[i*numofrows+j].georef;
            }else{
                georef_string+=","+tile_list[i*numofrows+j].georef;
            }
        }
    }
    getDataSizeClicked(georef_string);
    document.getElementById("georef_area").setAttribute("value",georef_string);
}

/*
Function for displaying messages for notifying the user
*/
function display_message(div_id, message){

    var container=document.getElementById(div_id);
    container.innerHTML = "<div class=\"alert alert-block announcement alert-warning\" style=\"visibility: visible\">\n"+
        "<a type=\"button\" class=\"close\" data-dismiss=\"alert\" data-dismiss-url=\"#\" href=\"#\">×</a>\n"+
        "<p id=\"selection-message-text\">"+message+"</p>\n";
    //console.log(text);
    //text.innerHTML = message;
    //container.setAttribute("hidden","false");
    container.style.visibility="visible";
}

/*
Function for creating a box for highlighting a selected tile
*/
function createHighlightBox(feature_attribs){
    var pt1 = new OpenLayers.Geometry.Point(feature_attribs["ul_x"], feature_attribs["ul_y"]).transform(new OpenLayers.Projection("EPSG:32651"), new OpenLayers.Projection("EPSG:900913"));
    var pt2 = new OpenLayers.Geometry.Point(feature_attribs["ur_x"], feature_attribs["ur_y"]).transform(new OpenLayers.Projection("EPSG:32651"), new OpenLayers.Projection("EPSG:900913"));
    var pt3 = new OpenLayers.Geometry.Point(feature_attribs["lr_x"], feature_attribs["lr_y"]).transform(new OpenLayers.Projection("EPSG:32651"), new OpenLayers.Projection("EPSG:900913"));
    var pt4 = new OpenLayers.Geometry.Point(feature_attribs["ll_x"], feature_attribs["ll_y"]).transform(new OpenLayers.Projection("EPSG:32651"), new OpenLayers.Projection("EPSG:900913"));

    var pts = [pt1, pt2, pt3, pt4];
    var lr = new OpenLayers.Geometry.LinearRing(pts);
    var polygon  = new OpenLayers.Geometry.Polygon([lr]);
    var polygon_feature = new  OpenLayers.Feature.Vector(polygon);

    return polygon_feature;
}

/*
Function returns the index of a tile with a matching georef
*/
function find_georef(tile_list, georef){
     var tile_indeces= tile_list.map(function (x) { return x.georef });
     var index = tile_indeces.indexOf(georef);
     return index;
}

/*
Function for creating a WFS Protocol object
*/
function wfs_proto_creator(layer_request, srs, outformat){
    return new OpenLayers.Protocol.WFS({
        version: "1.0.0",
        url: geoserver+"geonode/wfs",
        featurePrefix: "geonode",
        featureType: layer_request,
        featureNS: "http://www.geonode.org/",
        srsName: srs,
        outputFormat: outformat,
        async: false
    });
}

/*
Filters tiles if they intersect the geometries which are part of the jurisdiction
*/

function isInJurisdiction(tile){
    var jurisdiction_name = "{{jurisdiction_name}}";
    var j_layer = jurisdiction_args["map"]["layers"].filter(function(l){ return l["name"] ==jurisdiction_name })[0];
    var bbox = j_layer["bbox"];
    var j_bounds = new OpenLayers.Bounds(bbox).transform(new OpenLayers.Projection("EPSG:900913"),new OpenLayers.Projection(tile_proj));
    console.log(j_bounds);
    console.log(tile.geometry.bounds);
    if (j_bounds.intersectsBounds(tile.geometry.bounds)){
        console.log("intersection found");
        return true;
    }else{
        console.log("no intersection found");
        return false;
    }
}

function jurisdictionFilter(geoms, feature_list){
    var tile_list = [];
    for (var i=0;i<feature_list.length;i++){
        if(isInJurisdiction(feature_list[i])){
             if (find_georef(tile_list, tile.georef)<0){
                        tile_list.push(tile);
            }
        }
    }
    return tile_list;
}

function tileHasData (feature){
    var data_filter = new OpenLayers.Filter.Logical({
        type: "||",
        filters: [
            new OpenLayers.Filter.Comparison({
                type: "==",
                property: "DSM",
                value: "1"
            }),
            new OpenLayers.Filter.Comparison({
                type: "==",
                property: "DTM",
                value: "1"
            }),
            new OpenLayers.Filter.Comparison({
                type: "==",
                property: "ORTHO",
                value: "1"
            }),
        ]
    });
    return data_filter.evaluate(feature);
}

/*
Creates a nested filter object which checks if  a tile has any data available
*/
function hasDataFiltering( f_list){

    var tile_list = [];
    for (var i=0;i<f_list.length;i++){
        if(tileHasData(f_list[i])){
            tile_list.push(f_list[i]);
        }
    }
    return tile_list;
}

/*
Function which retrieves selected tiles and filters them if  they don't have data or they are outside the jurisdiction
*/
function filterSelectedTiles(tile_filter, single_click, send_notice, epsgproj){
  var wfs_proto = wfs_proto_creator("{{feature_tiled}}", epsgproj,"json");
  var arg_obj = {
    filter: tile_filter,
    single_click: single_click,
    send_notice: send_notice,
    callback: function(response){
      if(response.priv.responseText){
        start = new Date().getTime();
        console.log(start);
        var added_count = 0;
        feature_out = olGeoJSON.read(response.priv.responseText);
        var tiles = hasDataFiltering(feature_out);
        if (jurisdiction_geoms.length > 0){
          for (var i=0;i<tiles.length;i++){
            var corners = {
              "ur_x": tiles[i].data.MAXX, "ur_y": tiles[i].data.MAXY,
              "ul_x": tiles[i].data.MINX, "ul_y": tiles[i].data.MAXY,
              "ll_x": tiles[i].data.MINX, "ll_y": tiles[i].data.MINY,
              "lr_x": tiles[i].data.MAXX,"lr_y": tiles[i].data.MINY
            }
            var tile = createTile(corners);
            if (find_georef(tile_list, tile.georef) < 0){
              console.log("tile is not yet in the list");
              tiles[i].geometry.calculateBounds();
              /*tiles[i].geometry.setBounds(tiles[i].geometry.bounds.transform(
                new OpenLayers.Projection("EPSG:32651"), new OpenLayers.Projection("EPSG:4326")
              ));*/
              if (isInJurisdiction(tiles[i])){
                console.log("tile is within jurisdiction");
                tile_list.push(tile);
                tile.feature = createHighlightBox(tile.corners);
                highlight_layer.addFeatures([tile.feature]);
                added_count++;
              }else{
                console.log("tile is not within jurisdiction");
              }
            }else if (single_click){
              console.log("tile is already in the list");
              removeHighlight(tile.georef,highlight_layer);
            }
            highlight_layer.refresh();
          }
        }
      }
      display_points("point_display");
      single_click=true;
      end = new Date().getTime();
      console.log(end);
      console.log(end-start);
    }
  };
  var wfs_resp = wfs_proto.read(arg_obj);
}

/*
 Function which is used for selecting tiles given a rectangular selection
*/
function selection_bounds(map_bounds, highlight_layer, ifbbox_form) {
    if (ifbbox_form){
      var transformed_bounds = map_bounds.clone().transform(new OpenLayers.Projection("EPSG:4326"),new OpenLayers.Projection("EPSG:900913"));
      map.zoomToExtent(transformed_bounds);
      epsgprojection = "EPSG:900913"
    }else{
      var transformed_bounds = map_bounds.clone().transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:32651"));
      epsgprojection = "EPSG:32651"
    }
    console.log(transformed_bounds);
    var filter= new OpenLayers.Filter.Spatial({
            type: OpenLayers.Filter.Spatial.INTERSECTS,
            property: "the_geom",
            value: transformed_bounds.toGeometry() });

    single_click = false;
    filterSelectedTiles(filter, false, true, epsgprojection);
}

/*
Function retrieves the list of jurisdiction geometries and puts them into a list for future use
*/
function getJurisdictionGeom(jurisdiction, juris_vec_layer){
    var juris_wfs = wfs_proto_creator(jurisdiction, "EPSG:32651", "json");
    var response = juris_wfs.read({
      callback: function(response){
            if (response.priv.responseText){
                //var parser = new OpenLayers.Format.GeoJSON();
                var feature_out =olGeoJSON.read(response.priv.responseText);
                juris_vec_layer.addFeatures(feature_out);
                jurisdiction_geoms = juris_vec_layer.features;

            }
        }
    });
}

/*
Function which removes the highlight of a tile
*/
function removeHighlight(georef, vec_layer){
    var index= find_georef(tile_list, georef);
    if (index < 0 )
        return;
    vec_layer.removeFeatures([tile_list[index].feature]);
    vec_layer.refresh();
    tile_list.splice(index,1);
}

/*
 Function in getting total_data_size_clicked
*/
function getDataSizeClicked(georefsclicked){
    $.post('/maptiles/datasize/',
        {"georefs_clicked" : georefsclicked}).done(function(result){
          if (result.response){
            self.submit();
          } else {
            document.getElementById("data_size_display").innerHTML = '- ' + formatBytes(result.total_data_size_clicked,2);
          }
       })
}
/*
 Function for converting bytes to KB, MB, GB
*/
function formatBytes(bytes,decimals) {
   if(bytes == 0) return '0 Byte';
   var k = 1000; // or 1024 for binary
   var dm = decimals + 1 || 3;
   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
   var i = Math.floor(Math.log(bytes) / Math.log(k));
   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}
/*
Defines the style for the highlight tiles
*/
var vector_style = new OpenLayers.Style({
    'fillColor': '#0000ff',
    'strokeColor': '#0000ff',
    'strokeWidth': 1
});

var vector_style_map = new OpenLayers.StyleMap({
    'default': vector_style
});

function delete_checked(){
  var checked = $('input[type="checkbox"][name="georef_checkbox"]:checked').map(function() { return this.value; }).get();
  for(var i=0; i<checked.length;i++){
    console.log(checked[i]);
    removeHighlight(checked[i], highlight_layer);
  }
  display_points("point_display");
  document.getElementById('checkbox_all').checked = false;
}

function toggle_all_checkboxes(source){
  checkboxes = document.getElementsByName('georef_checkbox');
  for(var i = 0; i < checkboxes.length; i++){
    checkboxes[i].checked = source.checked;
  }
}
/*
Initialization of the map UI
*/

// add for dynamic sld
var map_options = grid_args["map"];
var grid_layer_name = "geonode:{{  feature_tiled }}";
var stored_layer = map_options["layers"].filter(function(l){ return l["name"] == grid_layer_name })[0];
var tile_layer = new OpenLayers.Layer.WMS(
    grid_layer_name + "- Tiled", geoserver+"geonode/wms",
    {
        LAYERS: stored_layer["name"],
        format:  'image/png',
        bbox: stored_layer["bbox"],
        transparent: true,
        opacity: 0.3
    },
    {
        buffer: 0,
        displayOutsideMaxExtent: true,
        isBaseLayer: false,
        projection: "EPSG:900913",
        maxExtent: new OpenLayers.Bounds(stored_layer["bbox"])
    }
);

Ext.onReady(function (){

    var juris_vec_layer = new OpenLayers.Layer.Vector();

    //definition of the Philippine grid layer

    //definition of the map object
    map = new OpenLayers.Map({
      units: map_options["units"],
      maxResolution: map_options["maxResolution"],
      projection: map_options["projection"]
    });
    map.addControl(
        new OpenLayers.Control.MousePosition({
            // prefix: 'EPSG:4326 coordinates: ',
            separator: '&deg;E ',
            suffix: '&deg;N',
            numDigits: 5,
            emptyString: 'Mouse is not over map.',
            displayProjection: new OpenLayers.Projection("EPSG:4326")
        })
    );
    //definition of the world map layer
    // var mq_layer = new OpenLayers.Layer.XYZ(
    //     "OpenStreetMap",
    //     [
    //        //"http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
    //        //"http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
    //        //"http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
    //        //"http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png"

    //        // "http://korona.geog.uni-heidelberg.de/tiles/roads/x=${x}&y=${y}&z=${z}"
    //        "http://lipad.tst.dream.upd.edu.ph/geoserver/osm/wms?service=WMS&version=1.1.0&request=GetMap&layers=osm:osm"

    //       //"http://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/${z}/${y}/${x}"
    //     ],
    //     {
    //         //attribution: "Data, imagery and map information provided by <a href='http://www.mapquest.com/'  target='_blank'>MapQuest</a>, <a href='http://www.openstreetmap.org/' target='_blank'>Open Street Map</a> and contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/' target='_blank'>CC-BY-SA</a>  <img src='http://developer.mapquest.com/content/osm/mq_logo.png' border='0'>",

    //         //attribution: "Imagery from <a href='http://giscience.uni-hd.de/'>GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
    //         attribution: '<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'',
    //         transitionEffect: "resize"
    //     },
    //     {
    //         isBaseLayer: true,
    //         wrapDateLine: true
    //     }
    // );

    // apply local osm layer group
    siteurl_osm = '{{ siteurl }}' +  '/geoserver/osm/wms?';
    var local_osm = new OpenLayers.Layer.WMS(
        "WMS OSM Layer",
        siteurl_osm,
        {
            workspace: 'osm',
            layers: 'osm:osm',
            format: 'image/png',
            attribution: '<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            transitionEffect: "resize"
        },
        {
            isBaseLayer: true,
            wrapDateLine: true
        }
    );

    map.addLayer(local_osm);

    var source_index = stored_layer["source"];

    map.addLayer(juris_vec_layer);

    // definition of the tiled layer

    map.addLayer(tile_layer);

    // initialization of the jurisdiction display layer
    var jurisdiction_view_layer;
    jurisdiction_name="{{jurisdiction_name}}";
    if(jurisdiction_args){
        var j_layer = jurisdiction_args["map"]["layers"].filter(function(l){ return l["name"] ==jurisdiction_name })[0];
        jurisdiction_view_layer = new OpenLayers.Layer.WMS(
            jurisdiction_name, geoserver+"geonode/wms",
            {
                LAYERS: j_layer["name"],
                format: "image/png",
                bbox: new OpenLayers.Bounds(j_layer["bbox"]),
                transparent: true,
                opacity: 0.3
            },
            {
                buffer: 0,
                displayOutsideMaxExtent: true,
                isBaseLayer: false,
                projection: "EPSG:32651",
                maxExtent: new OpenLayers.Bounds(j_layer["bbox"])
            }
        );
        map.addLayer(jurisdiction_view_layer);
    }

    //declaration of the highlight vector layer
    highlight_layer = new OpenLayers.Layer.Vector(
        "Highlight Layer",
        {
            isBaseLayer: false ,
            //styleMap: new OpenLayers.Style(OpenLayers.Feature.Vector.style["select"])
            styleMap: vector_style_map,
            visibility: true,
            transparent: true
        }
    );
    map.addLayer(highlight_layer);

    var items = [];
    var config = {
        renderTo: "preview_map",
        height: 800,
        width: "100%",
        map: map,
        items: items,
        center: [13652590.86,1366919.96],
        zoom: 7
    };
    {% if jurisdiction_yes %}
      //declaration of the draw control to enable drawing a rectangle using SHIFT+Click and d
      var drawControl = new OpenLayers.Control();
      OpenLayers.Util.extend(drawControl, {
          draw: function () {
              this.box = new OpenLayers.Handler.Box( drawControl,
                  {"done": this.notice},
                  {keyMask: OpenLayers.Handler.MOD_SHIFT});
              this.box.activate();
          },
          highlight_layer: highlight_layer,
          jurisdiction: jurisdiction_name,
          notice: function (bounds){
              var ll = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom));
              var ur = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top));
              var map_bounds = new OpenLayers.Bounds();
              map_bounds.extend(ll);
              map_bounds.extend(ur);
              selection_bounds(map_bounds, this.highlight_layer, false);
          }
      });

      //declaration of click behavior on the map
      OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
          defaultHandlerOptions: {
              "single": true,
              "double": false,
              "pixelTolerance": 0,
              "stopSingle": false,
              "stopDouble": false
          },

          initialize: function(options) {
              this.handlerOptions = OpenLayers.Util.extend(
                  {}, this.defaultHandlerOptions);
              OpenLayers.Control.prototype.initialize.apply(this, arguments);

              this.handler = new OpenLayers.Handler.Click(
              this, {
                  'click': this.trigger
              }, this.handlerOptions);
          },

          trigger: function(e) {
              var lonlat = map.getLonLatFromPixel(e.xy);
              var click_pt = new OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat);
              var transformed_pt = click_pt.transform(map.getProjectionObject(),new OpenLayers.Projection("EPSG:32651"));
              var computed_corners = get_corners(click_pt.x, click_pt.y);

              var tile = createTile(computed_corners);// this is a pointless piece of code
              console.log(tile.georef);

              var filter = new OpenLayers. Filter.Comparison({
                      type: "==",
                      property: "GRIDREF",
                      matchCase: true,
                      value: createTile(computed_corners).georef//tile.georef
              });
              single_click = true;
              filterSelectedTiles(filter, true, true, "EPSG:32651");
          }
      });

     click_select = new OpenLayers.Control.Click()
      map.addControl(click_select);
      click_select.activate();
      map.addControl(drawControl);
      drawControl.activate();
    {% endif %}
    app = new GeoExt.MapPanel(config);
    if(jurisdiction_args ){
        map.zoomToExtent(jurisdiction_view_layer['maxExtent']);
        getJurisdictionGeom(jurisdiction_name.split(":")[1], juris_vec_layer);
    }else{
        map.zoomToExtent(tile_layer.getExtent());
    }
    // console.log(jurisdiction_view_layer);
    setMapSize();
});
/*
Takes the navbar size and subtracts to window properties then Set's the mappanel size
*/
function setMapSize(){
  var w = window.innerWidth;
  var h = window.innerHeight;
  var navheight = $("#navbar").height();
  var size = app.getSize();
  size.width = w;
  size.height = h - navheight;
  app.setSize(size);

  document.getElementById("preview_map").style.marginLeft = -(w-1170)/2-15 +"px";

  document.getElementById('floating-legend').style.top = navheight+15 +"px";
}

function changeSLD(){
  if($("input:checked").val()=="dtm"){
    tile_layer.mergeNewParams({
      styles: '{{ dtm_sld }}',
    });
  }

  else if ($("input:checked").val()=="ortho"){
    tile_layer.mergeNewParams({
      styles: '{{ ortho_sld }}',
    });
  }
  else if ($("input:checked").val()=="laz"){
    tile_layer.mergeNewParams({
      styles: '{{ laz_sld }}',
    });
  }
  else if ($("input:checked").val()=="dsm"){
    tile_layer.mergeNewParams({
      styles: '{{ dsm_sld }}',
    });
  }
  else if ($("input:checked").val()=="all"){
    tile_layer.mergeNewParams({
      styles: '{{ philgrid_sld }}',
    });
  }
  else if ($("input:checked").val()=="clear"){
    tile_layer.mergeNewParams({
      styles: '{{ clear_sld }}',
    });
  }

}

$(window).resize(function() {
  //resize just happened, pixels changed
  setMapSize()
});
{% endautoescape %}
</script>
