{% extends "maptiles/maptiles_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}Map Tiles Selection — {{ block.super }}{% endblock %}

{% block head %}
{# {% if preview == 'geoext' %}  #}
    {# {% include "maptiles/maptiles_explorer_map.html" %} #}
 {#{% else %} #}
    {#{% include "maptiles/maptiles_leaflet_map.html" %} #}
{% include "maptiles/maptiles_geoext_map.html" %}
{# {% endif %} #}
{{ block.super }}
{% endblock %}

{% block body_class %}maptiles{% endblock %}

{% block body_outer %}
{% block body %}
<div class="alert alert-block announcement alert-warning " id="selection-message" style="visibility: hidden">
    
    <p id="selection-message-text">Placeholder for status-message</p><a type="button" data-dismiss="alert" data-dismiss-url="#" href="#" id="selection-message-close">×</a>
</div>
<div class="page-header">
  <h2 class="page-title">Map Tiles</h2>
</div>
<div class="row">
    <div class="col-md-9">
		<div id="embedded_map" class="mrg-btm">
			<div id="preview_map" ></div>
		</div>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
		<h4 class="list-group-item-heading">Bounding Box Selection</h4>
                <form id="bbox_form">
                    (EPSG:900913 decimal degrees) <br />
                    <table>
                        <tr><td>Upper limit: </td><td><input type="number" id="upperlimit" name="upperlimit" value=0 step="any" /></td></tr>
                        <tr><td>Left limit: </td><td><input type="number" id="leftlimit" name="leftlimit"value=0 step="any"/></td></tr>
                        <tr><td>Right limit: </td><td><input type="number" id="rightlimit" name="rightlimit" value=0 step="any"/></td></tr>
                        <tr><td>Lower limit: </td><td><input type="number" id="lowerlimit" name="lowerlimit" value=0 step="any"/></td></tr>
                    </table> <br />
                    <input type="submit" id="bbox_submit" name="bbox_submit" value="Submit Bounding Box" class="btn btn-default" />
                </form>
            </li>
            <!--<li class="list-group-item">
               	<h4 class="list-group-item-heading">Area of Interest</h4>
            <input type="submit" id="interest_submit" name="interest_submit" value="Submit Area of Interest" class="btn btn-default" />
            </li>-->
	    <li class="list-group-item">
		<h4 class="list-group-item-heading">{%trans "Legend" %}</h4>
		<img id="legend_icon" src="{{ resource.get_legend.url }}">
	    </li>
	    <li class="list-group-item">
		<div class="selections"><nav class="filter">
		<h4><a href="{% url 'cephgeo.views.get_cart' %}" class="toggle toggle-nav"><i class="fa fa-shopping-cart"></i>Data Cart</a></h4>
                <h4><a href="{% url 'cephgeo.views.ftp_request_list' %}" class="toggle toggle-nav"><i class="fa fa-database"></i>FTP Requests</a></h4>
		</nav></div>
   	   </li>
        </ul>
    </div>
</div>

    <!--<ul class="list-group">
	</ul>-->

 <br />
 <div  class ="page-header">
    <h3 class="page-title">Selected Tiles</h3>
 </div>
 <div class="row" id="point_display">
     
 </div>
 <hr>
<!--
 <h3 class="page-title">Data Class</h3>
-->
 <form name="georef_form" id="georef_form" action="/maptiles/addtocart/" method="POST" >
     {% csrf_token %}
<!--
     <div class="col-md-4">
       <nobr>
         <ul class="list-inline pull-left">
             {% for class in data_classes %}
               {% if class != 'Unknown Type' %}
                  <li><input type="checkbox" name="{{ class | slugify }}" > {{ class }}</input></li>
               {% endif %}
             {% endfor %}
         </ul>
       </nobr>
     </div>
-->
    <div class="col-md-4" align="right">
     <input type="text" id="georef_area" name="georef_area" style="display:none" />
     <input type="submit" id="georef_submit" name="georef_submit" value="Submit" class="btn btn-default" />
    </div>
</form>
  
{% endblock %}
{% endblock %}
