{% extends "maptiles/maptiles_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}Map Tiles Selection — {{ block.super }}{% endblock %}

{% block head %}
{# {% if preview == 'geoext' %}  #}
    {# {% include "maptiles/maptiles_explorer_map.html" %} #}
 {#{% else %} #}
    {#{% include "maptiles/maptiles_leaflet_map.html" %} #}
{% include "maptiles/maptiles_geoext_map.html" %}
{# {% endif %} #}
{{ block.super }}
{% endblock %}

{% block body_class %}maptiles{% endblock %}

{% block body_outer %}
{% block body %}

<div class="page-header">
  <h2 class="page-title">Map Tiles</h2>
</div>
<div class="row">
    <div class="col-md-9">
		<div id="embedded_map" class="mrg-btm">
			<div id="preview_map"></div>
		</div>
    </div>
</div>

    <!--<ul class="list-group">
	</ul>-->

 <br />
 <div  class ="page-header">
    <h3 class="page-title">Selected Tiles</h3>
 </div>
 <div class="row" id="point_display">
     
 </div>
 <hr>
<!--
 <h3 class="page-title">Data Class</h3>
-->
 <form name="georef_form" id="georef_form" action="/maptiles/addtocart/" method="POST" >
     {% csrf_token %}
<!--
     <div class="col-md-4">
       <nobr>
         <ul class="list-inline pull-left">
             {% for class in data_classes %}
               {% if class != 'Unknown Type' %}
                  <li><input type="checkbox" name="{{ class | slugify }}" > {{ class }}</input></li>
               {% endif %}
             {% endfor %}
         </ul>
       </nobr>
     </div>
-->
    <div class="col-md-4" align="right">
     <input type="text" id="georef_area" name="georef_area" style="display:none" />
     <input type="submit" id="georef_submit" name="georef_submit" value="Submit" class="btn btn-default" />
    </div>
</form>
  
{% endblock %}
{% endblock %}
