{% extends "profiles/base.html" %}
{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}
{% load i18n avatar_tags %}
  {% block breadcrumb %}
      					<a id="logo" href="{% url geonode.views.index %}"><img src="{{STATIC_URL}}theme/img/WorldMap-Logo_26px.png" border="0"></a>
  						<div id="page-breadcrumb"><span>Profile for {{ profile.username }}</span></div>
  {% endblock %}
{% block content %}
<div class="threecol">
  {% avatar profile.user 70 %}
  <h2>{{ profile.name }}</h2>
  <div style="padding-left:20px;">
  <p><strong>{% trans "Name" %}:</strong> {{ profile.username }}</p>
   {% if user == profile.user %}
    <p><strong>{% trans "Email" %}:</strong>
        {%  if profile.email %}
            {{ profile.email }}
         {%  else  %}
            {{  profile.user.email }}
         {%  endif %}
     </p>
  {%  endif %}
  <p><strong>{% trans "Organization" %}:</strong> {{ profile.organization}}</p>
  <p><strong>{% trans "Position" %}:</strong>: {{ profile.position}}</p>
  <p><strong>{% trans "Voice" %}:</strong>  {{ profile.voice}}</p>
  <p><strong>{% trans "Fax" %}:</strong> {{ profile.fax}}</p>
  <p><strong>{% trans "Address" %}:</strong> {{ profile.delivery}}</p>
  <p><strong>{% trans "State" %}:</strong> {{ profile.area}}</p>
  <p><strong>{% trans "Zip Code" %}:</strong> {{ profile.zipcode}}</p>
  <p><strong>{% trans "Country" %}:</strong> {{ profile.country}}</p>
  </div>

  {% if user == profile.user %}
  <h3>{% trans "Actions" %}</h3>
  <ul>
    <li><a href="{% url map_new %}">{% trans "Create a new map" %}</a></li>
  </ul>
  <h3>{% trans "Settings" %}</h3>
  <ul>
    <li><a href="{% url profiles_edit_profile %}">{% trans "Edit profile information" %}</a></li>
  </ul>
  {% endif %}
</div>
{% endblock %}
{% block sidebar %}
<div class="twocol">
    <h2> {% trans "Maps & Data" %} </h2>
    <div id="assets"></div>
</div>
<script type="text/javascript">
Ext.onReady(function() {
    var mapsAndLayers = [];
    {% for map in profile.user.map_set.all %}
    mapsAndLayers.push(["map.{{ map.pk|escapejs }}", "{{ map.pk|escapejs }}", "map", "{{ map.get_absolute_url|escapejs }}", "{{ map.title|escapejs }}", "{{ map.last_modified|escapejs }}"]);
    {% endfor %}
    {% for lyr in profile.user.layer_set.all %}
    mapsAndLayers.push(["lyr.{{ lyr.pk|escapejs }}", "{{ lyr.pk|escapejs }}", "layer", "{{ lyr.get_absolute_url|escapejs }}", "{{ lyr.title|escapejs }}", "{{ lyr.last_modified|escapejs }}"]);
    {% endfor %}


    var assets = new Ext.data.Store({
        reader: new Ext.data.ArrayReader({
            idIndex: 0,
            fields: ["pk", "id", "type", "href", "title", "date"]
        }),
        data: mapsAndLayers
    });

    var cb = new Ext.grid.CheckboxSelectionModel();
    var columns = [
       { header: gettext('Type'), tpl: "<div class='data-type {type}'>&nbsp;</div>", width: 10 },
       { header: gettext('Title'), dataIndex: 'title', autoExpand: true, tpl: "<a href='{href}'> {title} </a>" },
       { header: gettext('Date'), dataIndex: 'date', width: 30, tpl:'{date}'}
    ]

    {% if user == profile.user %}
        columns.unshift(cb);
        columns.push({
            tpl: "<span class='data-edit'>&nbsp;</span><span class='data-delete'>&nbsp;</span>",
            width: 15
        });
    {% endif %}

    var assetView = new Ext.grid.GridPanel({
        store: assets,
        autoHeight: true,
        border: false,
        viewConfig: {
            forceFit: true
        },
        hideCollapseTool: true,
        header: false,
        sm: cb,
        colModel: new Ext.grid.ColumnModel({
            defaults: { xtype: 'templatecolumn' },
            columns: columns
        }),
        listeners: {
            render: function(grid)  {
                function doToRecord(act) {
                    return function(evt, target) {
                        var elem = evt.getTarget('.x-grid3-row');
                        if (elem) {
                            var idx = elem.rowIndex;
                            var rec = grid.getStore().getAt(idx);
                            act(rec);
                        }
                    }
                }
                var view = doToRecord(function(rec) {
                    window.location = rec.get("href");
                });
                var edit = doToRecord(function(rec) {
                    var link = rec.get("href");
                    if (rec.get("type") !== "map") {
                        link += "?describe";
                    }
                    window.location = link;
                });
                var delete_ = doToRecord(function(rec) {
                    var link = rec.get("href") + "?remove";
                    window.location = link;
                });
                grid.getEl().on("click", view, this, { delegate: 'a' });
                grid.getEl().on("click", edit, this, { delegate: '.data-edit' });
                grid.getEl().on("click", delete_, this, { delegate: '.data-delete' });
            }
        }
    });

    function serialize() {
        var list = { layers: [], maps: [] };
        var selection = assetView.getSelectionModel().getSelections();

        for (var i = 0; i < selection.length; i++) {
            var rec = selection[i],
                type = rec.get("type"),
                id = rec.get("id");

            if (type === "layer") {
                list.layers.push(id);
            } else if (type === "map") {
                list.maps.push(id);
            }
        };

        return list;
    }

    {% if user == profile.user %}
    var tools = {
        layout: 'hbox',
        unstyled: true,
        items: [
            { xtype: 'button',
              text: gettext("Remove selected"),
              iconCls: 'icon-delete',
              handler: function() {
                  Ext.Msg.confirm(
                      gettext("Delete layers"),
                      gettext("You're about to delete multiple layers and maps.  Is that really what you want to do?"),
                      function(btn) {
                          if (btn == 'yes') {
                              var spec = serialize();
                              Ext.Ajax.request({
                                  url: '/data/api/batch_delete',
                                  method: 'post',
                                  jsonData: spec,
                                  success: function() {
                                      assetView.getStore().remove(assetView.getSelectionModel().getSelections());
                                  }
                              });
                          }
                      }
                  );
              }
            },
            { xtype: 'button',
              text: gettext("Change permissions on selected"),
              iconCls: 'icon-security',
              handler: function() {
                  var activeList = serialize();
                  var editor = new GeoNode.WorldMapPermissionsEditor({
                      userLookup: "{% url geonode.views.ajax_lookup_email %}",
                      customGroup: "{{ CUSTOM_GROUP_NAME }}",
                      permissions: { users:[] }
                  });
                  editor.container.padding = 5;
                  var saveButton = new Ext.Button({
                      xtype: 'button',
                      text: gettext("Apply changes"),
                      handler: function() {
                          var spec = serialize();
                          spec.permissions = editor.writePermissions();
                          Ext.Ajax.request({
                              url: '/data/api/batch_permissions_by_email',
                              method: 'post',
                              jsonData: spec
                          });
                      }
                  });
                  var win = new Ext.Window({
                      title: gettext("Permissions"),
                      modal: true,
                      items: [ editor.container, {
                          padding: 5,
                          border: false,
                          items: [ saveButton ]
                      }]
                  });
                  win.show();
              }
            }
        ]
    }

    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [tools, assetView]
    });
    {% else %}
    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [assetView]
    });
    {% endif %}
});
</script>
{% endblock %}
