{% extends "idios/base.html" %}

{% load i18n avatar_tags %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}

{% block main %}
  <h2>{% trans "Maps & Data" %}</h2>
  <div id="assets"></div>
{% endblock %}

{% block sidebar %}
  <div class="pull-right">{% avatar profile.user 70 %}</div>
  <h3>{{ profile.name }}</h3>
  {% if user == profile.user %}
    <ul class="nav nav-list">
      <li class="nav-header">{% trans "Actions" %}</li>
      {% if user == profile.user %}
        <li><a href="{% url layer_upload %}">{% trans "Upload new data" %}</a></li>
        <li><a href="{% url new_map %}">{% trans "Create a new map" %}</a></li>
        <li class="nav-header">{% trans "Settings" %}</li>
        <li><a href="{% url profile_edit profile.user %}">{% trans "Edit profile information" %}</a></li>
        <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
Ext.onReady(function() {
    var mapsAndLayers = [];
    {% for lyr in profile.user.layer_set.all %}
    mapsAndLayers.push(["lyr.{{ lyr.pk|escapejs }}", "{{ lyr.pk|escapejs }}", "layer", "{{ lyr.get_absolute_url|escapejs }}", "{{ lyr.title|escapejs }}", "{{ lyr.date|date:'Y-m-d H:i:s' }}"]);
    {% endfor %}
    {% for map in profile.user.map_set.all %}
    mapsAndLayers.push(["map.{{ map.pk|escapejs }}", "{{ map.pk|escapejs }}", "map", "{{ map.get_absolute_url|escapejs }}", "{{ map.title|escapejs }}", "{{ map.last_modified|date:'Y-m-d H:i:s' }}"]);
    {% endfor %}

    var assets = new Ext.data.Store({
        reader: new Ext.data.ArrayReader({
            idIndex: 0,
            fields: ["pk", "id", "type", "href", "title", { name: "date", type: "date", dateFormat: "Y-m-d H:i:s" }]
        }),
        data: mapsAndLayers
    });

    var cb = new Ext.grid.CheckboxSelectionModel();
    var columns = [
       { header: gettext('Type'), tpl: "<div class='data-type {type}'>&nbsp;</div>", width: 10 },
       { header: gettext('Title'), dataIndex: 'title', autoExpand: true, tpl: "<a href='{href}'> {title} </a>" },
       { header: gettext('Date'), dataIndex: 'date', width: 30, xtype: 'datecolumn' }
    ]

    {% if user == profile.user %}
        columns.unshift(cb);
        columns.push({
            tpl: "<span class='data-edit'>&nbsp;</span><span class='data-delete'>&nbsp;</span>",
            width: 15
        });
    {% endif %} 

    var assetView = new Ext.grid.GridPanel({
        store: assets,
        autoHeight: true,
        border: false,
        viewConfig: {
            forceFit: true
        },
        hideCollapseTool: true,
        header: false,
        sm: cb,
        colModel: new Ext.grid.ColumnModel({
            defaults: { xtype: 'templatecolumn' },
            columns: columns
        }),
        listeners: {
            render: function(grid)  {
                function doToRecord(act) {
                    return function(evt, target) {
                        var elem = evt.getTarget('.x-grid3-row');
                        if (elem) {
                            var idx = elem.rowIndex;
                            var rec = grid.getStore().getAt(idx);
                            act(rec);
                        }
                    }
                }
                var view = doToRecord(function(rec) {
                    window.location = rec.get("href");
                });
                var edit = doToRecord(function(rec) {
                    var link = rec.get("href");
                    if (rec.get("type") === "map") {
                        link += "/view";
                    } else {
                        link += "/metadata";
                    }
                    window.location = link;
                });
                var delete_ = doToRecord(function(rec) {
                    var link = rec.get("href") + "/remove";
                    window.location = link;
                });
                grid.getEl().on("click", view, this, { delegate: 'a' });
                grid.getEl().on("click", edit, this, { delegate: '.data-edit' });
                grid.getEl().on("click", delete_, this, { delegate: '.data-delete' });
            }
        }
    });

    function serialize() {
        var list = { layers: [], maps: [] };
        var selection = assetView.getSelectionModel().getSelections();

        for (var i = 0; i < selection.length; i++) {
            var rec = selection[i],
                type = rec.get("type"),
                id = rec.get("id");

            if (type === "layer") {
                list.layers.push(id);
            } else if (type === "map") {
                list.maps.push(id);
            }
        };
        
        return list;
    }

    {% if user == profile.user %}
    var tools = {
        layout: 'hbox',
        unstyled: true,
        items: [
            { xtype: 'button',
              text: gettext("Remove selected"),
              iconCls: 'icon-delete',
              handler: function() {
                  Ext.Msg.confirm(
                      gettext("Delete layers"),
                      gettext("You're about to delete multiple layers and maps.  Is that really what you want to do?"),
                      function(btn) {
                          if (btn == 'yes') {
                              var spec = serialize();
                              Ext.Ajax.request({
                                  url: '/data/api/batch_delete',
                                  method: 'post',
                                  jsonData: spec,
                                  success: function() {
                                      assetView.getStore().remove(assetView.getSelectionModel().getSelections());
                                  }
                              });
                          }
                      }
                  );
              }
            },
            { xtype: 'button',
              text: gettext("Change permissions on selected"),
              iconCls: 'icon-security',
              handler: function() {
                  var activeList = serialize();
                  var editor = new GeoNode.PermissionsEditor({
                      userLookup: "{% url auth_ajax_lookup %}",
                      permissions: { users:[] }
                  });
                  editor.container.padding = 5;
                  var saveButton = new Ext.Button({
                      xtype: 'button',
                      text: gettext("Apply changes"),
                      handler: function() {
                          var spec = serialize();
                          spec.permissions = editor.writePermissions();
                          Ext.Ajax.request({
                              url: '/data/api/batch_permissions',
                              method: 'post',
                              jsonData: spec,
                              success: function() {
                                     win.hide(); 
                              },
                              failure: function(result, request) {
                                res = Ext.util.JSON.decode(result.responseText);
                                var error_message = res.errors[0];
                                Ext.Msg.show({
                                    title: gettext("Error"),
                                    msg: error_message,
                                    minWidth: 200,
                                    modal: true,
                                    icon: Ext.Msg.ERROR,
                                    buttons: Ext.Msg.OK
                                });
                              }
                          });
                      }
                  });
                  var win = new Ext.Window({
                      title: gettext("Permissions"),
                      modal: true,
                      items: [ editor.container, {
                          padding: 5,
                          border: false,
                          items: [ saveButton ]
                      }]
                  });
                  win.show();
              }
            }
        ]
    }

    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [tools, assetView]
    });
    {% else %}
    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [assetView]
    });
    {% endif %}
});
</script>
{% endblock %}
