{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body_outer %}
    <div class="gd-content-body-news">
        <div class="changepass-news" id="changepass">
            <div class="contents_news">
                <div class="title">
                    Welcome to GeoDASH
                </div>
                <div class="anchor-link">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:;">
                                Mon, 9 may 2016
                            </a>
                        </div>
                        <div class="col-md-6 gd-txt-right">
                            <!--<a href="/news/details/">-->
                                <!--<span> Read more </span>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
                <div>
                    <!--<img src="{{ STATIC_URL }}geonode/images/news-img/news1.png"/>-->
                </div>
                <div class="block-separator"></div>
                <div class="details">
                    Welcome to GeoDASH, the geo-spatial data storing and sharing initiative by Bangladesh Government.
                    GeoDASH is a web based platform for compiling, updating and sharing geospatial database of all the
                    government organizations which will allow facilitating the use, management, exchange and quality control
                    of geospatial data sets in a collaborative manner. Please do sign up, add your data.
                    The existing users are cordially requested to recheck/edit the data and metadata information provided
                    of your previous upload sessions and also please update your profile information.
                    For technical or any data related queries please write to: niaz.shuvo@bcc.net.bd and & ahasan.hoque@bcc.net.bd ;
                    Thanks and Regards, GeoDASH Team.
                </div>
            </div>
        </div>
        <div class="block-separator"></div>
        <div class="changepass-news" id="changepass">
            <div class="contents_news">
                <div class="title">
                    GIS Day Observed in Bangladesh
                </div>
                <div class="anchor-link">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:;">
                                Sun, 8 may 2016
                            </a>
                        </div>
                        <div class="col-md-6 gd-txt-right">
                            <!--<a href="/news/details/">-->
                                <!--<span> Read more </span>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
                <div>
                    <!--<img src="{{ STATIC_URL }}geonode/images/news-img/news2.png"/>-->
                </div>
                <div class="block-separator"></div>
                <div class="details">
                    <p>USAID/Bangladesh and the Department of Environmental Science and Management of North South University organized a workshop on 18 November 2015 to celebrate GIS Day. The purpose of the event was to raise awareness about the significance of geographic information systems (GIS) and how they can benefit the development community.</p>
                    <p>USAID partners were invited to showcase their own work and learn what other projects are doing. The participants included SPRING/Bangladesh, the Aquaculture for Income and Nutrition project and the Agricultural Value Chains project. It was also open to university students, with many of them showing up to build their understanding of GIS.</p>
                    <p>GIS provides USAID and its projects with a clearer picture of the work that is happening in the field. Information about health facilities, road networks, etc. along with the key elements of the project are gathered and presented in the form of maps to help track progress and make data-driven and evidence-based decisions.</p>
                    <p>SPRING/Bangladesh has been using GIS since its inception in 2012. The project has produced maps of its 40 working upazilas in Bangladesh and SPRING is in the process of making these maps available online. A typical SPRING/Bangladesh GIS map shows the locations of the Government-run communityclinics, the graduated and ongoing farmer nutrition schools, and the union health and family welfare centers (UHFWC). The visual nature of maps makes it easy to understand where exactly SPRING/Bangladesh is working in an upazila, and helps with decision-making and program learning. It is also helpful when working</p>
                </div>
            </div>
        </div>
        <div class="block-separator"></div>
        <div class="changepass-news" id="changepass">
            <div class="contents_news">
                <div class="title">
                    Geographical Information Systems
                </div>
                <div class="anchor-link">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:;">
                                Sun, 8 may 2016
                            </a>
                        </div>
                        <div class="col-md-6 gd-txt-right">
                            <a href="/news/details/">
                                <span> Read more </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <!--<img src="{{ STATIC_URL }}geonode/images/news-img/news3.png"/>-->
                </div>
                <div class="block-separator"></div>
                <div class="details">
                    <p>Geographical Information Systems (GIS) are systems designed to store and manipulate data relating to locations on the earth's surface. The major advantage of GIS is that it can read and analyse different layers of spatial information in the form of maps and satellite images easily and allows identifying the spatial relationships.</p>
                    <p>In Bangladesh there is a growing application of GIS in land inventories, the population census, urban planning, forestry, petroleum and gas exploration industries, utilities, transportation systems and so on, where the data banks contain locational references such as a district, or the actual boundaries of land parcels. </p>
                    <br>
                    <p>GISs are run on the all spectrum of computer systems ranging from personal computers (PCs) to multi-user supercomputers, and are available in a wide variety of software languages. There are number of tools that are essential for effective GIS establishment which are computer, digitizer, GPS (Global Positioning System), plotter, network, CD-ROM drive, printer and of course software which links all of the equipment to run properly.</p>
                    <p>Canada has been a pioneer in the development of GIS. The Canada Geographic Information System (CGIS), initiated in 1963 by the Agriculture Rehabilitation and Development Agency, was the first operational land resource GIS. Another early system was the Geographically Referenced Data Retrieval System of Statistics Canada, started around 1965. But GIS was not widely used until late 1970s, when technological improvements and lower costs made computers widely available. The use of GIS tools has grown dramatically in the 1980s from obscurity to become commonplace in businesses, universities and government where they are now used for many diverse applications.</p>
                    <p>The use of GIS application in Bangladesh started in 1991 by ISPAN (Irrigation Support Project for Asia and the Near East) for the FAP-19 (Flood Action Plan-19) project. The organisation is now named as EGIS (Environmental and GIS Support Projects for Water Sector Planning). At present there are over 50 GIS installations in the country. At the beginning, most of the GIS installations were donor supported and operated by foreign experts with limited local personnel. Now the situation has changed, a number of government and non-government organisations have installed GIS with their own finance and are operated by local expert. </p>
                    <p>Major using GIS software in Bangladesh ArcInfo and ArcView GIS are common and popular software in the country. ArcView extension tools are being used for advance GIS modelling like Spatial Analyst, 3D Analyst, Network Analyst, Image Analyst, Internet Map Server. The other useable software are ERDAS, ERDAS IMAGINE, IDRISI, Tosca, ER Mapper, SPANS, MapInfo, MapBasic, Imagine, Earth View, Surfer, Lantastic Network, AutoCAD, ArcFM, ArcMap, Map Objects, Arc Objects and ArcGIS. All these softwares can run following DOS, Windows and Unix platform operating systems. </p>

                </div>
            </div>
        </div>
        <!--<div class="text-center">-->
            <!--<nav>-->
                <!--<ul class="pagination">-->
                    <!--<li>-->
                        <!--<a href="#" aria-label="Previous">-->
                            <!--<span aria-hidden="true">&laquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li><a href="#">5</a></li>-->
                    <!--<li>-->
                        <!--<a href="#" aria-label="Next">-->
                            <!--<span aria-hidden="true">&raquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    </div>
{% endblock %}