version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
    time: "00:00"
  open-pull-requests-limit: 100
  labels:
  - dependencies
  ignore:
  - dependency-name: django
    versions:
    - "<= 4.0"
    - ">= 5.0"
