{% extends "maps/page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Community Map List" %} {% endblock %}

{% block header_append %}
<script type="text/javascript">
  Ext.onReady(function(){
    var app = new CommunityPage({
      /* The URL to a REST map configuration service.  This service 
       * provides listing and, with an authenticated user, saving of 
       * maps on the server for sharing and editing.
       */
       rest: "{%url geonode.maps.views.maps %}",
       proxy: "/proxy/?url="
  });
});
</script> 
{% endblock %}


{% block communityclass %} class="here" {% endblock %}

{% block main %}
<h3>{% trans "Welcome to CAPRA GeoNode!" %}</h3>

<div id="data">
  <div id="map-browser"></div>
</div>          


{% endblock %}

{% block sidebar %}
<h3> {% trans "Sidebar Content" %} </h3>
{% blocktrans %}
The sidebar contains useful, but not urgent information.  Check it out, if you like.
{% endblocktrans %}
{% endblock %}
                                   
