{% extends "maps/page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} {% endblock %}
{% block indexclass %} class="here" {% endblock %}
{% block nav %}
{{ block.super }}
{% endblock %}

{% block main %} 
<div id="description">
    <h3> {% trans "Welcome to CAPRA's GeoNode!" %} </h3>
</div>
<div id="featuredmap">
    <iframe id="map-iframe" src="{%if map.id %}{% url geonode.maps.views.embed mapid=map.id %}{%else%}{%url geonode.maps.views.embed%}{%endif%}" height="400" width="550"> </iframe>
    <h4 id="map-title">{% trans "Featured Map:" %} {{map.about.title}}</h4>
    <div id="map-abstract">{{map.about.abstract}}</div>
</div>
{% endblock %}
{% block sidebar %}
<h3> {% trans "Welcome to CAPRA's GeoNode!" %} </h3>
{% blocktrans %}
The GeoNode is a data clearing house for CAPRA. Currently a prototype, it 
provides tools for the distribution and composition of hazard and risk map data.
Its purpose is to inform decisions about future data management developments for
CAPRA.
{% endblocktrans %}
{% endblock %}
