{% load url from future %}
{% load i18n %}
{% load agon_ratings_tags %}
{% load base_tags %}

{% overall_rating analyse "analyse" as analyse_rating %}
{% num_ratings analyse as num_votes %}

<article>
  <div class="content">
    <div class="item-header">
      <a href="{% url "analyse_detail" analyse.id %}"><img class="thumb" src="{{ analyse.get_thumbnail_url }}" /></a>
      <h3><i class="icon-analyse-marker"></i> <a href="{% url "analyse_detail" analyse.id %}">{{ analyse.title }}</a></h3>
    </div>
    <div class="details">
      <div class="meta">
        <p>Analyse {% trans "from" %} <a href="{% url "profile_detail" analyse.owner.username %}" rel="author">{{ analyse.owner }}</a>, {{ analyse.last_modified|timesince }} {% trans 'ago' %}</p>
        <p class="abstract">{{ analyse.abstract }}</p>
        <ul class="nav stats">
          <li><a href="{% url "analyse_detail" analyse.id %}"><strong>{{ analyse.popular_count }}</strong> {% trans "view" %}{{ analyse.popular_count|pluralize }}</a></li>
          <li><a href="{% url "analyse_detail" analyse.id %}#rate"><strong><span class="avg_rating" data-rating="{{ analyse_rating }}"> <span class="overall_rating"></span></span></strong>{% trans "Average rating" %} ({{num_votes}} {% trans "votes" %})</a></li>
        </ul>
      </div> <!-- /.meta -->
      <div class="tools">
        <p>
          <a href="{% url "analyse_download" analyse.id %}" class="btn btn-mini">{% trans "Download" %}</a>
          <a href="{% url "analyse_view" analyse.id %}" class="btn btn-mini">{% trans "View" %}</a>
        </p>
      </div> 
      
    </div> <!-- /.details --> 
  </div> <!-- /.content -->
  <div> {{Analysis.objects.all}} </div>  
  </article>
