[submodule "app/static/externals/geoext"]
	path = app/static/externals/geoext
	url = git://github.com/geoext/geoext.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = git://github.com/opengeo/gxp.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = git://github.com/openlayers/openlayers.git
[submodule "app/static/externals/PrintPreview"]
	path = app/static/externals/PrintPreview
	url = git://github.com/GeoNode/PrintPreview.git
[submodule "externals/stick"]
	path = externals/stick
	url = git://github.com/hns/stick.git
[submodule "externals/ringo"]
	path = externals/ringo
	url = git://github.com/ringo/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/tschaub/buildkit.git
