/src/GeoNodePy/geonode/local_settings.py
geonode/contrib/datatables/tests/server_credentials.json

# build artifacts
*.pyc
*.egg-info
build
target
*.mo

# virtualenv stuff
/bin
/include
/lib/
/lib64
/setuptools-0.6c11-py2.6.egg

# supporting stuff pulled in by paver script
/geonode/media/
/geonode/static/geonode
/geoserver_token
/development.db
/django.log
/gs-data/
/jetty.log
/shared/geonode-geoserver-data.zip
/src/geoserver-geonode-ext/logs/
/src/gsconfig.py/
/src/owslib/
/src/avatar/
/src/nosexcover/
/webapps/
/src/GeoNodePy/capra/development.db

# Directory created by collectstatic
src/GeoNodePy/geonode/site_media/

# directory created by the build process
src/GeoNodePy/geonode/static/geonode

# OSX specific
.Python
.DS_Store

# pip output files
pip-log.txt

#Temporary files
*~

#Testing output
.coverage
nosetests.xml
