[submodule "src/geonode-client/externals/openlayers"]
	path = src/geonode-client/externals/openlayers
	url = git://github.com/GeoNode/OpenLayers.git
[submodule "src/geonode-client/externals/geoext"]
	path = src/geonode-client/externals/geoext
	url = git://github.com/GeoNode/GeoExt.git
[submodule "src/geonode-client/externals/PrintPreview"]
	path = src/geonode-client/externals/PrintPreview
	url = git://github.com/GeoNode/PrintPreview.git
[submodule "src/geonode-client/externals/gxp"]
	path = src/geonode-client/externals/gxp
	url = git://github.com/opengeo/gxp.git
