language: python

python:
  - "2.7"

virtualenv:
  system_site_packages: true

branches:
  only:
    - dev

install:
  - sudo apt-get update
  - sudo apt-get install -y python-virtualenv python-imaging python-lxml python-pyproj python-shapely python-nose python-httplib2 python-httplib2
  - sudo apt-get install -y --force-yes openjdk-6-jdk ant maven2 --no-install-recommends
  - sudo apt-get install -y gettext
  - pip install -e . --use-mirrors

before_script:
  - cd geoserver-geonode-ext
  - mvn -s travis-settings.xml install
  - cd ..
  - paver setup -f

script:
  - python manage.py test geonode.tests.smoke
  - paver test
  - paver test_integration
  # - paver test_integration -n geonode.tests.csw
  - paver test_javascript

after_script:
  - paver reset_hard

notifications:
  irc:
    channels:
      - "irc.freenode.org#geonode"
    use_notice: true
  email:
#    - geonode-dev@opengeo.org
