Django==1.8.19
six==1.10.0
amqp==2.2.2
anyjson==0.3.3
arcrest==10.3
arrow==0.12.1
attrs==17.4.0
autoflake==0.7
awesome-slugify==1.6.5
backports.functools-lru-cache==1.5
beautifulsoup4==4.4.1
billiard==3.5.0.3
boto==2.38.0
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
decorator==4.1.2
diff-match-patch==20121119
dj-database-url==0.4.2
dj-pagination==2.3.2
django-activity-stream==0.6.5
django-allauth==0.34.0
django-appconf==1.0.2
django-apptemplates==1.4
django-autocomplete-light==2.3.3
django-autofixture==0.12.1
django-autoslug==1.9.3
django-basic-authentication-decorator==0.9
django-bootstrap-form==3.3
django-bootstrap3-datetimepicker-2==2.5.0
django-braces==1.12.0
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-cors-headers==2.2.0
django-cuser==2017.3.16
django-downloadview==1.9
django-extensions==2.0.3
django-filter==1.1.0
django-floppyforms==1.7.0
django-forms-bootstrap==3.1.0
django-geoexplorer==4.0.39
django-geonode-client==1.0.0
django-guardian==1.4.9
django-haystack==2.8.0
django-import-export==1.0.0
django-js-asset==1.0.0
django-invitations==1.9.2
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
django-leaflet==0.23.0
django-model-utils==3.1.1
django-modeltranslation==0.12.2
django-mptt==0.9.0
django-multi-email-field==0.5.1
django-nose==1.4.5
django-oauth-toolkit==0.12.0
django-polymorphic==1.3
django-rest-swagger==2.1.2
django-reversion==2.0.13
django-simple-history==1.9.0
django-storages==1.6.5
django-suit==0.2.26
django-taggit==0.22.2
django-tastypie==0.14.0
django-treebeard==4.2.1
django-utils==0.0.2
# djangorestframework==3.7.7
# djangorestframework-gis==0.12
drf-nested-routers==0.90.0
drf-openapi==1.3.0
elasticsearch==2.4.0
et-xmlfile==1.0.1
factory-boy==2.9.2
Faker==0.8.4
flake8==2.5.4
funcsigs==1.0.2
geolinks==0.2.0
geonode-agon-ratings==0.3.8
geonode-announcements==1.0.13
geonode-arcrest==10.2
geonode-avatar==2.1.7
geonode-dialogos==0.9
geonode-user-messages==0.1.13
gisdata==0.5.4
glob2==0.6
gn-gsimporter==1.0.2
gsconfig==1.0.8
httplib2==0.10.3
idna==2.6
inflection==0.3.1
ipaddress==1.0.18
itypes==1.1.0
jdcal==1.3
Jinja2==2.10
kombu==4.1.0
lxml==3.6.2
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.4.0
mock==2.0.0
MultipartPostHandler==0.1.0
nose==1.3.7
numpy==1.13.1
oauthlib==2.0.6
odfpy==1.3.6
openapi-codec==1.3.2
openpyxl==2.5.0
OWSLib==0.16.0
Paver==1.2.4
pbr==3.1.1
pep8==1.7.1
Pillow==3.3.1
Pinax==0.9a2
# pinax-comments==0.1.1
pinax-notifications==4.1.0
pinax-theme-bootstrap==8.0.1
poster==0.8.1
pluggy==0.6.0
proj==0.1.0
psutil==5.4.3
psycopg2==2.7.3.1
py==1.5.3
pycsw==2.2.0
pyelasticsearch==0.6.1
pyflakes==1.6.0
pyproj==1.9.5.1
pyshp==1.2.12
pytest==3.5.0
pytest-bdd==2.20.0
pytest-splinter==1.8.5
pytest-django==3.1.2
parse==1.8.2
parse-type==0.4.1
setuptools==39.0.1
python-dateutil==2.6.1
python-gnupg==0.4.1
python-memcached==1.59
python-mimeparse==1.6.0
python-openid==2.2.5
pytz==2018.3
PyYAML==3.12
redis==2.10.5
regex==2016.7.21
requests==2.18.4
requests-oauthlib==0.8.0
selenium==3.9.0
simplejson==3.13.2
splinter==0.7.7
# SQLAlchemy is a mandatory dependency of pycsw 2.2.0
SQLAlchemy==1.1.14
tablib==0.12.1
timeout-decorator==0.4.0
transifex-client==0.12.4
typing==3.6.4
ua-parser==0.7.3
unicodecsv==0.14.1
Unidecode==0.4.19
uritemplate==3.0.0
urllib3==1.22
user-agents==1.1.0
vine==1.1.4
xlrd==1.1.0
xlwt==1.3.0
xmljson==0.1.9
xmltodict==0.10.2
