Django==1.9.13
django-activity-stream==0.6.5
django-allauth==0.34.0
django-appconf==1.0.2
django-apptemplates==1.4
django-autocomplete-light==2.3.3
django-autofixture==0.12.1
django-autoslug==1.9.3
django-basic-authentication-decorator==0.9
django-bootstrap-form==3.3
django-bootstrap3-datetimepicker-2==2.5.0
django-braces==1.12.0
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-cors-headers==2.2.0
django-cuser==2017.3.16
django-downloadview==1.9
django-extensions==2.0.3
django-filter==1.1.0
django-floppyforms==1.7.0
django-forms-bootstrap==3.1.0
django-geoexplorer==4.0.39
django-geonode-client==1.0.0
django-guardian==1.4.9
django-haystack==2.8.0
django-import-export==1.0.0
django-js-asset==1.0.0
django-invitations==1.9.2
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
django-leaflet==0.23.0
django-model-utils==3.1.1
django-modeltranslation==0.12.2
django-mptt==0.9.0
django-multi-email-field==0.5.1
django-nose==1.4.5
django-oauth-toolkit==0.12.0
django-polymorphic==1.3
django-rest-swagger==2.1.2
django-reversion==2.0.13
django-simple-history==1.9.0
django-storages==1.6.5
django-suit==0.2.26
django-taggit==0.22.2
django-tastypie==0.14.0
django-treebeard==4.2.1
django-utils==0.0.2
djangorestframework==3.7.7
djangorestframework-gis==0.12
pytest-django==3.1.2
