[buildout]
extends =
    base.cfg
    plone-x.x.x.cfg
    solr.cfg
    solr-x.x.x.cfg
    versions.cfg
parts +=
    code-analysis

# caches, see also .travis.yaml
# one should not depend on '/home/travis' but it seems stable in containers.
eggs-directory = /home/travis/buildout-cache/eggs
download-cache = /home/travis/buildout-cache/downloads

[code-analysis]
recipe = plone.recipe.codeanalysis
pre-commit-hook = False
# return-status-codes = True
