{% load dialogos_tags %}
{% load bootstrap_tags %}
{% load i18n %}


{% verbatim %}
<div id="geogig" ng-controller="geogigController">
    <div id="geogig-tab">
        <div id="geogig-message">
            <i class="fa fa-spinner fa-spin"></i>
            <h4>Pulling latest GeoGig data.</h4>
        </div>
        <div id="geogig-stats" style="display: none">
        <dt>Clone URL:</dt>
            <div class="form-group">
            <div class="input-group">
              <i class="input-group-addon fa fa-clipboard" data-clipboard-text="{{ repoURL }}" id="copy-button" data-toggle="tooltip"
                 title="Copy the clone url."></i>
              <input class="form-control" id="clone-url" type="url" value="{{ repoURL }}" readonly>
            </div>
          </div>
          <dt>About this GeoGig Layer:</dt>
          <table class="table table-bordered">
              <tr>
                  <td class="table-center">
                      <div class="stat-title">total commits</div>
                      <div class="stat-value">{{ stats.totalCommits | number}}</div>

                  </td>
                  <td class="table-center">
                      <div class="stat-title">total contributors</div>
                      <div class="stat-value">{{ stats.Authors.totalAuthors || 0 | number}}</div>
                  </td>
              </tr>
          </table>
          <dt>Recent Commit History:</dt>

          <div ng-repeat-start="commit in commits">
             <div class="commit" id="commit-{{ commit.id }}">
                 <span class="label label-primary pull-right">{{ commit.id | limitTo: 10 }}</span>
                 <h4 class="commit-message">{{ commit.message }}</h4>
                 <span class="commit-timestamp">Authored <span class="gray">{{ commit.commitTimeSince }}</span> by: </span>
                 <span class="commit-author">{{ commit.author.name || 'Unknown' }}</span>

             </div>



          </div>
          <span ng-repeat-end></span>
        </div>
    </div>

</div>
{% endverbatim %}
