{% extends "site_base.html" %}
{% load bootstrap_tags %}

{% load i18n %}
{% block title %} {% trans "Add Topiccategory" %} - {{ block.super }} {% endblock %}

{% block body_outer %}

<div class="container">

    <div class="d-title">
        
         
                  {% trans "Add Category" %}
            
     
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
        
                          <form id=""  method="post" enctype="multipart/form-data" action="">
                              {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form|as_bootstrap }}
                                </div>
                            </div>
                            <div class="block-separator"></div>
                            <button type="submit" id="" class="btn btn-gd-primary">Add Category</button>
                          </form>
                      

                    </div>
                </div>
         

</div>
{% endblock %}

