{% extends "site_base.html" %}
{% load activity_tags  social_tags i18n %}

{% block title %}{% trans "Locations" %}{% endblock %}

{% block body_outer %}
<div ng-app="SystemSettingsApp">
    <div ng-controller="SystemSettingsController" >
        <h1>Settings</h1>
        <div class="row">

            <div class="alert alert-warning" ng-cloak ng-if="layerStatusMsg">
              <strong>Warning!</strong> [{ layerStatusMsg }]
            </div>

        </div>
        <br>
        <div class="row"  >
            <div class="col-md-3">
                Address Geocode Layer: <br>
                <small style="color: #B2ACAB;">Must be a CSV layer with house_no, road_no and post_code</small>
            </div>
            
            <div class="col-md-4">
                <select name="layer" 
                    id="layer"
                    class="form-control" 
                    ng-model="addressGeocodeLayer"
                    ng-options="item.uuid as item.title for item in rasterLayers"
                    >
                        <option value="" style="display: none">Select a raster layer</option>
                </select>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-primary layer-settings" ng-click="layerSettingSave('location',addressGeocodeLayer)">Save</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                Elevation Raster: <br>
                <small style="color: #B2ACAB;">Will be used for calculating elevation for selected location. Must be a raster layer.</small>
            </div>

            <div class="col-md-4">
                <select 
                    name="elevation-raster"
                    class="form-control"
                    ng-model="elevationRasterLayer"
                    ng-options="item.uuid as item.title for item in vectorLayers"
                    id="elevation-raster">
                    <option value="" style="display: none">Select a vector layer</option>
                </select>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-primary layer-settings" ng-click="layerSettingSave('elevation',elevationRasterLayer)">Save</button>
            </div>
        </div>
        <br>

    </div>

</div>


{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}geonode/css/geoexplorer/analytics.css" rel="stylesheet"/>
{% endblock %}

{% block head %} {{ block.super }}
    <script src="{{ STATIC_URL }}Content/assets/js/jquery.js"></script>
<script src="{{ STATIC_URL }}Scripts/lib/jquery-ui-1.9.2.min.js"></script>
<script src="{{ STATIC_URL }}Scripts/util/jquery.extension.js"></script>
    <script src="{{ STATIC_URL }}Scripts/lib/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/system-settings/system-settings.module.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/system-settings/system-settings.service.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/system-settings/system-settings.controller.js"></script>
    <script>

    </script>
{% endblock %}

{% block extra_script %}
    <script>

    </script>
{% endblock %}
