{% load i18n %}
{% load avatar_tags %}
{% load relationship_tags %}
<h3>{% trans "Following" %}</h3>
{% if profile.user.relationships.following %}
    {% for u in profile.user.relationships.following %}
        <a href="{% url "profile_detail" u.username %}">{% avatar u 65 %}</a>
    {% endfor %}
{% else %}
    {% trans "This user is not following anyone" %}
{% endif %}
<h3>{% trans "Followers" %}</h3>
{% if profile.user.relationships.followers %}
    {% for u in profile.user.relationships.followers %}
        <a href="{% url "profile_detail" u.username %}">{% avatar u 65 %}</a>
    {% endfor %}
{% else %}
    {% trans "No one is following this user" %}
{% endif %}
