<div ng-show="layout.leftVisible">
    <div class="titleBar">
        <div class="arrow-left-container" ng-click="layout.setLeftVisible(false)">
            <button class="icon icon18 icon-arrow-left"></button>
        </div>
        Data layers 
    </div>

    <div>
        <div data-ng-controller="treeController">
            <div class="layer-buttons">
                <button class="icon add-layer "
                ng-click="browseData()"
                draft-only ng-disabled="isAttributeGridOn" ng-click="addBlankLayer()" title="Browse Data"></button>
                <button class="icon delete-layer" draft-only ng-click="deleteSelectedLayer()" ng-disabled="!enableRemove()" title="Remove active layer">
                    </button>
                <!-- <button class="icon" ng-disabled="!enableZoom()" id="zoom-to-layer" ng-click="zoomToSelectedLayer()" title="Zoom to active layer">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>                                        
                </button> -->
                <!-- <button class="icon download" draft-only ng-click="downloadSelectedLayer()" ng-disabled="!enableDownload()" title="Download active layer's data">
                    </button> -->
                <button draft-only class="icon properties" ng-disabled="!enableProperties()" ng-click="showProperties(0)" title="Active layer properties">
                    </button>
                <button class="icon attribute-grid" ng-disabled="!enableAttributeGrid()" ng-click="showAttributeGrid()" title="Attribute grid">
                    </button>
                <!-- <button draft-only class="icon icon-visualization" ng-disabled="!enableVisualization()" ng-click="showVisualizationWindow()" title="Visualization">
                    </button> -->
            </div>
            <div class="leftColumnContent">
                <!-- <button class="icon icon24 icon-download-project" draft-only style="width: 26px; height: 30px; float: right; margin: 0 5px 0 3px;" ng-click="downloadWorkingProject()" ng-disabled="!enableDownloadProject()" title="Download Map Data">
                    </button> -->
                <div class="projectName" style="height: 24px; line-height: 26px; cursor: default" ng-attr-title="[{ProjectName}]">
                    Working Map: [{mapService.getMapName() || "Untitled"}]

                </div>
                <div class="tree-angle" style="display: inline-block">
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="layout.leftVisible" class="">
    <div class="titleBar nopadding">
        <div class="arrow-right-container" ng-click="layout.setLeftVisible(true)">
            <button class="icon icon18 icon-arrow-right"></button>
        </div>
    </div>
</div>