{% extends "site_base.html" %} {% load i18n %} {% load base_tags %} {% block title %} {% trans "New Map" %} - {{ block.super }} {% endblock %}  {% block head %}
{% include 'Templates/_base-headers.html' %}
{% endblock %}
{% block middle %}
<div class="surfgis" ng-controller="appController" ng-app="appModule" ng-click="bodyClicked()">
   <div class="application-font all-children-application-font"  ng-controller="MapController" ng-class='{"draft": mapAccessLevel.IsPublic, "not-draft": !mapAccessLevel.IsPublic}'>
      

       <div class="layout-content">
           <div class="layout-left donot-print" ng-style="layout.leftStyle">
            {% include 'maps/_layer-properties.html'%}
               
           </div>
           <div id="mainContent" class="layout-center donot-print" ng-style="layout.centerStyle">
                {% include 'maps/_map-panel.html'%}
           </div>
           
       </div>
       <div id="location-search-display-popup" class="surf-popup">
           <label class="addtolayer">
                   <button class="btn btn-small"><i class="fa fa-plus"></i> Add to layer</button>
               </label>

           <label class="address"></label>
           <label class="latlng"></label>
       </div>
   </div>
   <div id="property-grid-in-overlay" >
        <div class="donot-print" ng-style="layout.rightStyle" ng-if="!layout.isRightPaneHidden">
                {% include 'maps/_layer-attributes.html'%}
                   
               </div>
        <!--<property-grid-overlay></property-grid-overlay>-->
</div>
   {% endblock %} {% block footer %}{% endblock %}
   