{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %} {{ service.name }} - {{ block.super }} {% endblock %}

{% block body %}
<h3>{% trans "Are you sure you want to remove"  %} <strong>{{ service.name }}</strong>?</h3>

<div style="float:left;">
    <form action="/services/{{service.id}}/remove" method="POST" class="inline">
        {% csrf_token %}
        <input type="hidden" value="{{next}}" id="next" name="next">
        <input type="submit" class="submit_btn" value="{% trans "Yes, delete"  %}" />
    </form>
    <form action="/services/{{service.id}}" method="GET" class="inline">
        <button type="submit"  class="cancel_btn" onclick="javascript: history.go(-1);return false;">{% trans "No, cancel" %}</button>
    </form>
</div>
<div style="float:left;">

{% endblock %}
