{% extends "apps/app_base.html" %}
{% load i18n %}

{% block title %}{% trans "Deleting" %} {{ resource.title }} — {{ block.super }}{% endblock %}

{% block body %}
<div class="page-header">
  <h2 class="page-title">{% trans "Remove" %} {{ resource.type }}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">
        {% blocktrans with resource.title as resource_title %}
          Are you sure you want to remove <a href="{{ resource.get_absolute_url }}">{{ resource_title }}</a>?
        {% endblocktrans %}
      </p>
    <form action="{% url "geoapp_remove" resource.id %}" method="POST">
      {% csrf_token %}
      <div class="form-actions">
        <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
        <a href="{{ resource.get_absolute_url }}" class="btn btn-default">{% trans "No, don't remove it" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
