{% load i18n %}
<html>
<head>

    <title>{% block title %}WorldMap{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/img/favicon.ico"/>
    {% block head %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/site.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/site_mobile.css" />

    {% comment %}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>
    {% endcomment %}

    {% autoescape off %}
        {{ GOOGLE_ANALYTICS_CODE }}
    {% endautoescape %}

     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no" />

    {% endblock %}
</head>
<body style="min-height:100px;min-width:100px;">
    {% block body %}
    {% block header-wrapper %}
    <div id="header">
      <div id="wmpower">{% trans "Powered by" %} <a href="/">{% trans "WorldMap" %}</a></div>

      <div class="wrapmap selfclear">

        	{% block logos %}

        	{% endblock logos %}


      {% comment %}
      <div id="login-area">
        {% if user.is_authenticated %}
          <a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}"><span style="font-weight:bold">{{user.username}}</span></a>
        {% else %}
          <!-- this should be updated to a url var --><a href="/accounts/login?next={{request.path}}">{% trans "Sign in" %}</a>
      {% endif %}
      </div>
      {% endcomment %}

      </div><!-- /.wrap -->
    </div><!-- /#header -->
    {% endblock header-wrapper %}
    {% endblock body %}
</body>
</html>
