{% verbatim %}
<article ng-repeat="group in results">
  <div class="row">
  <div ng-if="group.logo != ''" class="col-md-3">
    <a href="{{ group.detail_url }}" ><img ng-src="{{ group.logo }}" alt="{{ group.title }}" class="group-logo" /></a>
  </div>
  <div class="col-md-9">
    <h5>
      <i class="fa fa-group"></i> <a href="{{ group.detail_url }}">{{ group.title }}</a>
      <a href="mailto:{{ group.email }}" ng-if="group.email != ''"><i class="fa fa-envelope-o"></i></a>
    </h5>
    <p>{{ group.description}}</p>
    <ul class="list-inline">
      <li>
        <a href="{{ group.detail_url }}">
          <strong>{{ group.member_count }}</strong>
          <ng-pluralize count="group.member_count" when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
        </a>
      </li>
      <li>
        <a href="{{ group.detail_url }}">
          <strong>{{ group.manager_count }}</strong>
          <ng-pluralize count="group.manager_count" when="{'1': 'Manager', 'other': 'Managers'}"></ng-pluralize>
        </a>
      </li>
    </ul>
  </div>
  </div>
</article>
{% endverbatim %}
