{% load bootstrap_tags %}
{% load i18n %}

    <div class="modal fade" id="_create_answer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:500px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title text-center" id="myModalLabel">{% trans "Create Answer" %}</h4>
            </div>
              <form method="post" action="{% url "create-answer" slug question.id %}">
                  {% csrf_token %}
                     <div style="padding:0px 50px 0px 50px;">
                          {{ answerform|as_bootstrap }}
                          <div class="block-separator"></div>
                      </div>
                  <div class="modal-footer" style="padding:10px 50px 0px 50px;">
                      <button class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                      <button type="submit" class="btn btn-primary" >{% trans "Yes" %}</button>
                  </div>
                  <div class="block-separator"></div>
              </form>
          </div>
        </div>
    </div>
