{% load i18n %}
<script type="text/javascript">
    $(function() {
      $("input.user-select").select2({
        placeholder: {title: '{% trans "Add User..." %}', id: ""},
        minimumInputLength: 1,
        multiple: true,
        ajax: {
          url: "{% url account_ajax_lookup %}",
          dataType: "json",
          type: "POST",
          data: function (term, page) {
            return {
              query: term,
            };
          },
          results: function (data, page) {
            return {results: data.users};
          }
        },
        id: userID,
        formatResult: userFormatResult,
        formatSelection: userFormatSelection
      });

      function userID(user) {
        return user.username
      }

      function userFormatResult(user) {
        return user.username
      }

      function userFormatSelection(user) {
          return user.username;
      }

      var toggle_buttons = function() {
        if ($("input.asset-selector:checked").length) {
          $(".asset-modifier").removeClass("disabled");
        } else {
          $(".asset-modifier").addClass("disabled");
        }
      };

      $("input.asset-selector").live("change", toggle_buttons);
      toggle_buttons();

      function permissionsString(form, type) {
        var anonymousPermissions, authenticatedPermissions, levels;

          var data = form.serializeObject();

          if (type == "maps") {
              levels = {
                  'readonly': 'map_readonly',
                  'readwrite': 'map_readwrite',
                  'admin': 'map_admin',
                  'none': '_none'
              };
          } else if (type == "layers"){
              levels = {
                  'admin': 'layer_admin',
                  'readwrite': 'layer_readwrite',
                  'readonly': 'layer_readonly',
                  'none': '_none'
              };
          } else if (type == "documents"){
              levels = {
                  'admin': 'document_admin',
                  'readwrite': 'document_readwrite',
                  'readonly': 'document_readonly',
                  'none': '_none'
              };
          }

          if (data["viewmode"] === "ANYONE") {
              anonymousPermissions = levels['readonly'];
          } else {
              anonymousPermissions = levels['none'];
          }

          if (data["editmode"] === "REGISTERED") {
              authenticatedPermissions = levels['readwrite'];
          } else if (data["viewmode"] === 'REGISTERED') {
              authenticatedPermissions = levels['readonly'];
          } else {
              authenticatedPermissions = levels['none'];
          }

          var perUserPermissions = [];
          if (data["editmode"] === "LIST") {
              var editusers = form.find("input[name=editusers]").select2("val");
              if (editusers instanceof Array) {
                  $.each(editusers, function(index, value) {
                      perUserPermissions.push([value, levels["readwrite"]]);
                  });
              } else {
                  perUserPermissions.push([editusers, levels["readwrite"]]);
              }
          }

          var manageusers = form.find("input[name=manageusers]").select2("val");
          if (manageusers) {
              if (manageusers instanceof Array) {
                  $.each(manageusers, function(index, value) {
                      perUserPermissions.push([value, levels["admin"]]);
                  });
              } else {
                  perUserPermissions.push([manageusers, levels["admin"]]);
              }
          }

          return {
              anonymous: anonymousPermissions,
              authenticated: authenticatedPermissions,
              users: perUserPermissions
          };
      };

      var perms_submit = function() {
        var form = $(this);
        var action = form.attr("action");

        var permissions = permissionsString(form, {% if layer %}'layers'{% elif map %}'maps'{% else %}'documents'{% endif %});
        $.ajax(
          {
            type: "POST",
            url: action,
            data: JSON.stringify(permissions),
            success: function(data) {
              $("#modal_perms").modal("hide");
            }
          }
        );
        return false;
      };

      $("#perms_submit").click(function(){
          $("#permission_form").submit();
      });
      $("#permission_form").submit({% if layer or map or document %}perms_submit{% else %}batch_perms_submit{% endif %});
    });</script>
