{% load i18n %}
<div class="modal-body" id="permissions-body" >
  <div class="control-group">
    <label class="control-label"><strong>{% trans "Who can view and download this data?" %}</strong></label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="viewmode" id="perms_view_anyone" value="ANYONE" checked="checked">
        {% trans "Anyone" %}
      </label>
      <label class="radio inline">
        <input type="radio" name="viewmode" id="perms_view_registered" value="REGISTERED">
        {% trans "Any registered user" %}
      </label>
      <label class="radio inline">
        <input type="radio" name="viewmode" id="perms_view_editors" value="EDITORS">
        {% trans "Only users who can edit" %}
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><strong>{% trans "Who can edit this data?" %}</strong></label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="editmode" id="perms_edit_registered" value="REGISTERED" checked="checked">
        {% trans "Any registered user" %}
      </label>
      <label class="radio">
        <input type="radio" name="editmode" id="perms_edit_list" value="LIST">
        {% trans "Only the following users or groups:" %}
      </label>
      <input type="text" name="editusers" class="user-select" id="perms_edit_editusers">
      </input>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><strong>{% trans "Who can manage and edit this data?" %}</strong></label>
    <div class="controls">
      <input type="text" name="manageusers" class="user-select" id="perms_edit_manageusers">
      </input>
    </div>
  </div>
</div>