{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}
  var submitForm = function() {
      Ext.query('#search_form form')[0].submit();
  };
  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});
  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});
{% endautoescape %}
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">
  <div id="search_form" class="block">

    <h2>{% trans "Search" %} <span class="subtitle">{% trans "for geospatial data" %}</span></h2>

    <form action="{% url data_search %}" method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td>
            <input type="text" id="search_query" name="q" />
            </td>
            <td>
              <div id="submit_search"></div>
            </td>
          </tr>
        </table>
        <p>
          <a href="{% url data_search %}">{% trans "Advanced Search" %}</a>
        </p>
    </form>
  </div>
</div>
{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
