{% load i18n %}

<html>
<head>
  <link rel="shortcut icon" href="{{STATIC_URL}}themeimg/favicon.ico"/>
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themeboilerplate-min.css" media="screen" />
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themesite.css" /> 
   <!--[if lte IE 6]><link rel="stylesheet" href="{{STATIC_URL}}themeboilerplate-ie-min.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
  <script type="text/javascript" src="{% url geonode.views.lang %}"></script>
</head>
<body>

<h1>{% trans "Map User Guide" %}</h1>

{% block main %} 
<div style="margin:20px">
  <h3>{% trans "Documents" %}</h3>
  {% blocktrans %}
  <p>Use the links below to
navigate to a document.</p>

    <ul>
    <li><a href="#help">WorldMap Help</a>
    <li><a href="#tutorial">Tutorial</a>

    </ul>

  {% endblocktrans %}

<p class=MsoNormal><span style='font-size:14.0pt;font-family:Arial'>WorldMap Help Documents</span></p>


<p><a name="help"></a><h3>WorldMap Help</h3></p>
<div style="height:1000px">
<iframe src="http://docs.google.com/gview?url=http://worldmap.harvard.edu/alpha/site_media/static/WorldMap_Help.pdf&#038;embedded=true" style="width:800px; height:1000px;" frameborder="0"></iframe>
</div>
<p>&nbsp;</p>
<div style="height:1000px">
 <p><a name="tutorial"></a><h3>Tutorial</h3></p>
<iframe src="http://docs.google.com/gview?url=http://worldmap.harvard.edu/alpha/site_media/static/Tutorial.pdf&#038;embedded=true" style="width:800px; height:1000px;" frameborder="0"></iframe>
</div>

</div>
{% endblock %}
</body>
</html>