<div class="modal fade" id="termsAndConditionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div style="text-align:center;">
                    <h4 class="modal-title" id="exampleModalLabel">
                        Terms and Condition
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <p>
                    Bangladesh Computer Council (BCC) is a statutory body under the Ministry of Posts,
                    Telecommunications and Information Technology, Government of Bangladesh (GOB). It was
                    established by Act No IX of 1990 passed by the Parliament. The main activities are (not
                    limited to) encouraging and providing support for ICT related activities, formulating
                    national ICT strategy and policy, creating standards and specifications of ICT tools for
                    government organizations according to their necessity, working for human resource
                    development in ICT sector. It has also established National Data Center for hosting all the
                    government websites, e-mail services and web applications. It is the only TIER – 3 certified
                    Government Data Center in Bangladesh. In the near future, it will act as the only Gateway to
                    access internet services for all of the government organizations. BCC is continuing ICT
                    infrastructure development of government through several development projects/programs to
                    facilitate access to government services from root level. In this vision, BCC has organized
                    workshops, seminars, training on subjects related to ICT and has established throughout the
                    country UISC.
                </p>
                <p>
                    Bangladesh Computer Council (BCC) and content providers maintain this GeoDASH website (the
                    “Platform”) as part of their efforts to provide broad hosting and technical public service
                    to data producer and information for development. We encourage Users to use the information
                    and data it contains, as well as communication tools designed to facilitate this use among
                    the stakeholders/data producers. Unless explicitly stated otherwise, the Platform, its data,
                    communication tools, and any new tools made available that alter or improve the use of the
                    Platform or the data shall be subject to this Agreement (“Terms and Conditions or ICT and
                    Data sharing law of Government of Bangladesh ”).
                </p>
                <p>
                    By using the Platform, Users acknowledge that they have read, understood, and agree to be
                    bound by the data producers’ Terms and Conditions (if applicable) , as well as the general
                    terms and conditions of the GoB, which can be found here:
                    <a target="_blank" href="http://bdlaws.minlaw.gov.bd/index.php?page=html&language=english">
                        http://bdlaws.minlaw.gov.bd/index.php?page=html&language=english
                    </a>
                </p>
                <p>
                    These Terms and Conditions may be amended by the GoB or Bangladesh Government from time to
                    time at its sole discretion. As new data continues to be added to the Platform, and terms
                    and conditions for use of that data may change according to the data provider, Users should
                    check back here for the latest Terms and Conditions before using the Platform or accessing
                    or using any data.
                </p>
                <br>
                <br>
                <p><b>Platform Description</b></p>
                <br>
                <p>
                    At its core, GeoDASH is based on open source components GeoServer, GeoNetwork, Django, and
                    GeoExt. These provide a platform for sophisticated web browser spatial visualization and
                    analysis. Atop this stack, the project has built a map composer and viewer, tools for
                    analysis, and reporting tools. GeoDASH also supports facilities for styling data as well as
                    collaborative features like ratings, comments, and tagging for data, maps, and styles.
                    GeoDASH is built on four key tenets: Collaboration, Distribution, Cartography and Data
                    Collection. To promote collaboration, GeoDASH is designed on Web 2.0 principles to:
                </p>
                <ul class="termsuseandcondition">
                    <li>
                        Make it extremely simple to share data
                    </li>
                    <li>Provide user statistics</li>
                    <li>Easily add comments, ratings, tags</li>
                    <li>Allow collaborative filtering</li>
                    <li>Provide rankings of best ‘views’ and data sets contributed o Highest rated, most viewed,
                        most shared
                    </li>
                    <li>Allow connectivity between several GeoDASH instances to augment the collaborative
                        potential of government GIS databases.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div style="text-align:center;">
                    <h4 class="modal-title" id="exampleModalLabel">
                        Privacy Policy
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <p>
                    Some applications and/or transactions with the GeoDASH Platform may require a User to register
                    and have a unique member account, with a User name and password combination in order to access
                    and use certain features or functions of the Platform. To register, Users may be asked for
                    certain Personal Information. Except as specifically provided for in the Platform or herein, the
                    Personal Information provided is only used for technical and user administration and evaluation
                    of the Platform. The data collected is not intended to be traced back to a particular
                    individual/User. Instead, the purpose of this data collection is so that the Bangladesh Computer
                    Council (BCC) can better understand the preferences of its visitors and improve this Platform
                    and its services. In this regard, Users grant the BCC a right to use the data collected.
                </p>
                <p>
                    The BCC will not use Personal Data for marketing purposes; neither will it share Personal
                    Information with outside parties for those purposes. Nevertheless, the BCC may conserve or
                    release Personal Information if required to do so by the applicable law of a specific
                    jurisdiction or in the belief that such an action is necessary to comply with legal process,
                    enforce the present Terms and Conditions, respond to claims that any content violates the rights
                    of third parties, or protect the BCC’s rights and property. In addition, GeoDASH developers may
                    store email addresses provided by users to generate a mailing list.
                </p>
                <p>
                    Registering for certain applications or Interactive Tools is optional. If a User chooses not to
                    register or provide Personal Information, he or she can still use the Platform. However, Users
                    who choose not to do so will not be able to use some Interactive Tools or applications or to
                    perform certain actions, such as download information or to receive certain communications, such
                    as emails and newsletters.
                </p>
                <p>
                    A User is entitled to cancel his or her member account at any time.
                </p>
            </div>
        </div>
    </div>
</div>