{% extends "base.html" %} 
{% load i18n %} 
{% load static from staticfiles %}
{% load bootstrap_tags %} 
{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="{% static "geonode/css/leaflet/Control.Coordinates.css" %}"/>
    <link rel="stylesheet" href="https://photon.komoot.io/static/leaflet.photon/leaflet.photon.css"></link>
{% endblock %}

{% block body_outer %}
    <div id="map">
        
    </div>
{% endblock %}

{% block extra_script %}
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/prettify.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="{% static "geonode/js/leaflet/photon/leaflet.photon.js" %}"></script>
  <script src="{% static "geonode/js/leaflet/Leaflet.Coordinates.js" %}"></script>
  <script src="https://leaflet-extras.github.io/leaflet-providers/leaflet-providers.js"></script>
  <!-- <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
    integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
    crossorigin=""></script> -->
  
  <script type="text/javascript">
    API_URL = '/proxy/?url=https://photon.komoot.io/api/?';
    TILELAYER = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
    CENTER = [-74.4879, 4.582];
    MAXZOOM = 11;

    let waterproof = {};

    $(document).ready(function () {
        
        //var map = L.map('map').setView([4, -74],5);
        //var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        //    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        //});
        //map.addLayer(osm);

        var gray = L.layerGroup();

        // more than one service can be grouped together and passed to the control together
        //L.esri.basemapLayer('Gray').addTo(gray);
        //L.esri.basemapLayer('GrayLabels').addTo(gray);
        
        var osm = L.tileLayer(TILELAYER, {
            maxZoom: MAXZOOM, 
            attribution: 'Data \u00a9 <a href="http://www.openstreetmap.org/copyright"> OpenStreetMap Contributors </a> Tiles \u00a9 Komoot'});
        var images = L.tileLayer("https://basemap.nationalmap.gov/arcgis/rest/services/USGSImageryTopo/MapServer/tile/{z}/{y}/{x}");
        
        var esriHydroOverlayURL= "https://tiles.arcgis.com/tiles/P3ePLMYs2RVChkJx/arcgis/rest/services/Esri_Hydro_Reference_Overlay/MapServer/tile/{z}/{y}/{x}";
        var hydroLyr = L.tileLayer(esriHydroOverlayURL);

        var baseLayers = {
            OpenStreetMap: osm,
            Images: images,
            /* Grayscale: gray,   */          
        };

        var overlays = {
            "Hydro (esri)": hydroLyr,
        };

        var map = L.map('map', {
                scrollWheelZoom: false, 
                layers: [osm],
                zoomControl: false, 
                photonControl: true, 
                photonControlOptions: {
                    resultsHandler: showSearchPoints, 
                    placeholder: 'Search City...', 
                    position: 'topleft', url: API_URL}
            });        

        let initialCoords = [4.5, -74.4];
        // find in localStorage if cityCoords exist
        var cityCoords = localStorage.getItem('cityCoords');
        if (cityCoords == undefined){
            cityCoords = initialCoords;
        }else{
            initialCoords = JSON.parse(cityCoords);
        }
        waterproof["cityCoords"] = cityCoords;

        map.setView(initialCoords,5);
        searchPoints.addTo(map);        
        
        var c = new L.Control.Coordinates();
        c.addTo(map);    

        L.control.layers(baseLayers,overlays,{position: 'topleft'}).addTo(map);
        var zoomControl = new L.Control.Zoom({position: 'topright'}).addTo(map);
        //L.control.mapCenterCoord().addTo(map); 
		
        function onMapClick(e) {
            //c.setCoordinates(e);      
        }
        map.on('click', onMapClick);

        
      
    });    

    var searchPoints = L.geoJson(null, {
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name);
        }
    });

    function showSearchPoints (geojson) {
        searchPoints.clearLayers();
        let geojsonFilter = geojson.features.filter(feature  => feature.properties.type == "city");
        searchPoints.addData(geojsonFilter);
    }
    
  </script>  
  
{% endblock %}
