{% extends "index.html" %}

{% block title %}CityData - {{ SITE_NAME }}{% endblock %}

{% block extra_head %}
{{block.super}}
<style type="text/css">
    /*    CityFutures banner styles*/
    
    .yellow-header .page-title,
    .category {
        background-color: #ffcc00;
        display: block;
        float: left;
        padding: 5px 15px;
        clear: left;
        color: black;
        font-weight: bold;
    }
    
    .yellow-header .page-title {
        margin-top: 0.2em;
    }
    
    .yellow-header .page-title-wrapper {
        height: 200px;
        background-image: url('http://citydata-dev.be.unsw.edu.au/static/cityfutures/img/banner.jpg');
        background-size: cover;
    }
    
/*    No gap above banner*/
    #wrap {
        padding-top: 0;
    }
    
    #wrap .container:first-child .row {
        display: none;
    }
</style>
{% endblock %}

{% block hero %}
<div class=" yellow-header">
    <div class="ui vertical yellow inverted padded one column grid page-title-wrapper">
        <div class="bottom aligned row">
            <div class="column">
                <div class="ui container">
                    <h1 class="page-title">CityData</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}