<article>
  {% url layer_detail layer.typename as layer_url %}
  <a href="{% url layer_detail layer.typename %}"><img src="{{ STATIC_URL }}theme/img/placeholder1.png" width="97" height="91" alt="{{ layer.title }}" class="thumb" border=0/></a>
  <div class="details">
      <h6><a href="{% url layer_detail layer.typename %}">{{ layer.title }}</a></h6>
      <a href="{% url profile_detail layer.owner.username %}" rel="author">{{ layer.owner }}</a>
      <time pubdate datetime="2011-09-27">on {{ layer.date|date:"N jS, Y" }}</time>
      <footer>
          <!--span class="views">1,205 Views</span-->
          <!--span class="rating">3 stars</span-->
      </footer>
  </div>
</article>
