{% load i18n %}

<article>
  <a href="{% url layer_detail layer.typename %}">
      <div class="placeholder pl-153-113">{% trans "No Image Available" %}</div>
  </a>
  <div class="details">
    <a href="{% url layer_detail layer.typename %}"><h3>{{ layer.title }}</h3></a>
    <div class="meta">{% trans 'from' %} <a href="{% url profile_detail layer.owner.username %}">{{ map.owner }}</a>, {{ layer.date|timesince }} {% trans 'ago' %}</div>
    <p>{{ layer.abstract }}</p>
    <p class="activity">{{ layer.popular_count }} {% blocktrans %}view{{ layer.popular_count|pluralize }}{% endblocktrans %} | <span class="avg_rating" data-rating="{{ layer_rating }}">{% trans 'Average rating' %} <span class="overall_rating"></span></span></p>
  </div>
</article>
