{% extends "layers/layer_base.html" %}
{% load i18n %}

{% block title %}{{ layer.typename }} — {{ block.super }}{% endblock %}

{% block body_class %}layers{% endblock %}

{% block body_outer %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
          <div class="col-md-6">
              <div class="title small-content">
                  {% trans "Manage Styles" %}
              </div>
          </div>
          <div class="col-md-6">
              <div class="small-content text-right">

              </div>
          </div>
      </div>
      <div class="hr"></div>
    </div>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <div class="gd-content-body full-pad-30px top-bottom-margin-20px">
        <div class="row">
            <div class="col-md-12">
                <div class="lead">
                    {% blocktrans with layer.typename as layer_title %}
                        Manage Available Styles for <a href="/layers/{{ layer_title }}">{{ layer_title }}</a>
                    {% endblocktrans %}
                </div>
                <form action="{% url "layer_style_manage" layer.service_typename %}" method="POST">
                    <div class="row grid-spacer">
                        <fieldset>
                            <div class="col-md-3">
                                <div class="lead">{% trans "Layer Default Style" %}</div>
                            </div>
                            <div class="col-md-6">
                                <select id='default_style' name='default_style' required='required'>
                                    {% for style in layer_styles %}
                                        {% if style = layer.default_style %}
                                            <option value="{{ style.0 }}" selected>{{ style.1 }}</option>
                                        {% else %}
                                            <option value="{{ style.0 }}">{{ style.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row grid-spacer">
                        <fieldset>
                            <div class="col-md-3">
                                <div class="lead">{% trans "Available styles" %}</div>
                                <p>{% trans "Click on an available style in the upper box to assign it to this layer. Selected styles appear in the lower box." %}</p>
                            </div>
                            <div class="col-md-9">
                                <select multiple="multiple" id="style-select" name="style-select">
                                    {% for style in gs_styles %}
                                        {% if style in layer_styles %}
                                            <option value='{{ style.0 }}' selected>{{ style.1 }}</option>
                                        {% else %}
                                            <option value='{{ style.0 }}'>{{ style.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% csrf_token %}
                                <input type="hidden" value="{{ layer.service_typename }}"/>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row grid-spacer">
                        <div class="col-md-offset-3 col-md-6 form-actions">
                            <input type="submit" value="{% trans "Update Available Styles" %}" class="btn btn-danger btn-gd"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
  $(function () {

    $('#style-select').multiSelect({
      afterSelect: function(values){
        $('#default_style').append($("<option/>", {
          value: values[0],
          text: values[0]
        }));
      },
      afterDeselect: function(values){
        $('#default_style option').each(function() {
          if ( $(this).val() == values[0] ) {
            $(this).remove();
          }
        });
      }
    });

  });
</script>
{% endblock %}
