{% extends "layers/base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{{ layer.typename }} — {{ block.super }}{% endblock %}

{% block head %}
  {% include "geonode/ext_header.html" %}
  {{ block.super }}
{% endblock %}

{% block main %}
  <form class="form-horizontal" action="{% url layer_metadata layer.typename %}" method="POST">
    <legend>
      {% blocktrans with layer.typename as layer_title %}
        Editing details for {{ layer_title }}
      {% endblocktrans %}
    </legend>
    {% csrf_token %}
    <div class="form-controls">
      {{ layer_form|as_bootstrap }}
    </div>
    <fieldset class="form-controls" id="poc_form" {% if poc_form.hidden %}style="display:none"{% endif %}>
      <legend>{% trans "Point of Contact" %}</legend>
      {{ poc_form|as_bootstrap }}
    </fieldset>
    <fieldset class="form-controls" id="metadata_form" {% if author_form.hidden %}style="display:none"{% endif %}>
      <legend>{% trans "Metadata Provider" %}</legend>
        {{ author_form|as_bootstrap }}
    </fieldset>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
    </div>
  </form>

  <script type="text/javascript">
    {% autoescape off %}
        // Extify form fields
        Ext.select("input[type='text']").each(function(el) {
            if (el.hasClass("date")) {
                new Ext.form.DateField({applyTo: el.id, format: "Y-m-d"});
            } else if (el.hasClass("time")) {
                new Ext.form.TimeField({applyTo: el.id, format: "H:i:s"})
            }
        });
        // get #poc_form and #metadata_form, and add a `onchange` handler
        // that shows the form if the blank option is selected.
        Ext.get('id_layer-poc').on('change', function() {
            if (this.getValue()===""){
                Ext.get("poc_form").show();
                Ext.get("poc_form").setStyle('display', 'block');
            }else{
                Ext.get("poc_form").hide();
                Ext.get("poc_form").setStyle('display','none');
            }
        });
        Ext.get('id_layer-metadata_author').on('change', function() {
            if (this.getValue()===""){
                Ext.get("metadata_form").show();
                Ext.get("metadata_form").setStyle('display','block');
            }else{
                Ext.get("metadata_form").hide();
                Ext.get("metadata_form").setStyle('display','none');
            }
        });
    {% endautoescape %} 
  </script>
{% endblock %}
