{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load layers_tags %}
{% load taggit_extras %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}data data-list explore{% endblock %}

{% block body %}
    <div class="span12">
      <h2 class="page-title">{% trans "Explore Layers" %}</h2>
    </div>
    <div class="span8">      
      {% include "layers/_layer_filters.html" %}
    </div>
    <div class="span4">
      <div class="pull-right" data-viewby="list">
        {% include "_viewby.html" %}
      </div>
    </div>
    <div class="span12">
      <div class="row" id="contain-slider">
        <div class="span4" id="slide-pane">
          <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
          <nav class="tabs-left" id="nav-categories">
            <h2>Categories <a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i></a></h2>
            <ul class="nav">
              {% layer_categories as category_list %}
              <li><a href="{% url "layer_browse" %}"{% if not layer_category %} class="active"{% endif %}>All Categories</a></li>
              {% for category in category_list %}
              <li><a href="{% url "layer_browse_category" category.slug %}"{% ifequal layer_category category %} class="active"{% endifequal %}>{{ category }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <nav class="" id="nav-keywords">
            <h2>Keywords <a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i></a></h2>
            <ul class="nav">
              {% get_taglist as tags for 'layers.Layer' %}
              {% for tag in tags %}
                <li><a href="">{{ tag }}</a></li>
              {% endfor %}
              <li><a href="#">geode</a> <span class="count">(189)</span></li>
              <li><a href="#">amet dolor et</a> <span class="count">(107)</span></li>
              <li><a href="#">lorem ipsum</a> <span class="count">(91)</span></li>              
              <li><a href="#">geoloco</a> <span class="count">(48)</span></li>
            </ul>
          </nav>
        </div>
        <div class="tab-content span8">
          <div class="tab-pane active list" id="all">
            {% for layer in layer_list %}
              {% include "layers/_layer_list_item.html" %}
            {% endfor %}
          </div>

        </div>
        <div class="span12">
          <div class="pull-right mrg-btm">
            {% include "_pagination.html" %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_script %}
  <script src="{% static "geonode/js/layers.js" %}"></script>
{% endblock extra_script %}
