{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load layers_tags %}
{% load taggit_extras %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}data data-list explore{% endblock %}

{% block body %}
  <div class="span12">
    <h2 class="page-title">{% trans "Explore Layers" %}</h2>
  </div>
  <div class="span8 filter">      
    {% include "search/_sort_filters.html" %}
  </div>
  <div class="span4">
    <div class="pull-right" data-viewby="list">
    {% include "_viewby.html" %}
    </div>
  </div>
  <div class="span12">
    <div class="row" id="contain-slider">
      <div class="span4">
        <div class="selections">
          <h4>
            {% trans "Your selections" %}
            <a href="." id="clear-search" class="pull-right">Clear all</a>
          </h4>
        </div>
        <div id="slide-pane">
          <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
          {% with type='layer' %}
          {% include "search/_layertype_filters.html" %}
          {% include "search/_extent_filter.html" %}
          {% include "search/_general_filters.html" %}
          {% endwith %}
        </div>
      </div>
      <div class="tab-content" id="search-content">
        {% include 'search/resourcebase_snippet.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}'
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
