<!-- <div class="base-map-switcher">
    <button ng-show="!expanded" class="on-map-button pull-right" ng-click="expanded=true"><i class="fa fa-chevron-circle-left"></i> Change basemap</button>
    <button ng-show="expanded" class="on-map-button pull-right" ng-click="expanded=false"><i class="fa fa-chevron-circle-right"></i></button>

    <div ng-show="expanded" class="layers-list">
        <h4>Base Layer</h4>
        <label ng-repeat="baseMap in baseMaps">
            <input type="radio" name="baseMapSwitcher" ng-model="model.selectedBaseMap" ng-value="baseMap" ng-change="changed()" />
            {{baseMap.title}}
        </label>
    </div>
</div> -->


<div class="base-map-switcher">
    <button ng-show="!expanded" class="on-map-button pull-right" ng-click="expanded=true"><i class="fa fa-chevron-circle-left"></i> Change basemap</button>
    <button ng-show="expanded" class="on-map-button pull-right" ng-click="expanded=false"><i class="fa fa-chevron-circle-right"></i> Change basemap</button>

    <div ng-show="expanded" class="layers-list">

            <div class="arrow-up"></div>

            <img src="/static/geonode/images/map-thumb.jpg" width="30px" alt="test"/>
        <h4>Base Layer</h4>
        <label ng-repeat="baseMap in baseMaps">
            <input type="radio" name="baseMapSwitcher" ng-model="model.selectedBaseMap" ng-value="baseMap" ng-change="changed()" />
            {{baseMap.title}}
        </label>
    </div>
</div>
