{% extends "site_base.html" %}

{% load i18n %}
{% load base_tags %}

{% block title %} {% trans "Analytics" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}analytics/css/analysis_view.css" type="text/css" charset="utf-8">
<link href="{{ STATIC_URL }}analytics/css/nv.d3.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}analytics/css/map.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}analytics/css/table.css" type="text/css" charset="utf-8">

<script src="{{ STATIC_URL }}/analytics/js/d3.v3.min.js" type="text/javascript"></script>

<table id="analysis-table">
	<tr>
		<td colspan="2" id="top-pane">
			{% include "analytics/_fact_selection.html" %}
		</td>
	</tr>
	<tr>
		<td id="left-pane">
			<div id="map-pane"></div>
		</td>
		<td id="right-pane">
			<a href="#modal_analysis" class="btn btn-large btn-primary pull-right strong" data-toggle="modal">{% trans "Save Analysis" %}</a>
			{% if not analysis %}
				{% include "analytics/_save_form.html" %}
			{% endif %}
			<svg id="chart" style="height:600px" />
			<div id="table"></div>
		</td>
	</tr>
</table>



{% endblock %}


{% block footer %}{% endblock %}

{% block extra_script %}
	<script src="{{ STATIC_URL }}/analytics/js/topojson.v1.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}analytics/js/map.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}analytics/js/nv.d3.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}analytics/js/charts.js" type="text/javascript"></script>
	<script type='text/javascript' src='{{ STATIC_URL }}/analytics/js/tsort.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}/analytics/js/table.js'></script>
	{% if not analysis %}
	<script>
		$("#analysis_submit").click(function(){
		$("#permission_form").submit();
		});
	</script>
	{% else %}

	{% endif %}
{% endblock %}
