{% extends "site_base.html" %}

{% load i18n %}
{% load base_tags %}

{% block title %} {% trans "Analytics" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}analytics/css/analysis_view.css" type="text/css" charset="utf-8">
<script src="http://d3js.org/d3.v3.js" type="text/javascript"></script>

<a href="#modal_analysis" class="btn btn-large btn-primary pull-right strong" data-toggle="modal">{% trans "Save Analysis" %}</a>
{% if not analysis %}
<div class="modal fade" id="modal_analysis" style="display:none">
	<form id="permission_form" accept-charset="UTF-8" method="post" class="modal-form" action="{% url "new_analysis_json" %}">{% csrf_token %}
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>{% trans "Save Analysis" %}</h3>
    </div>
    <!--les classes et les id PAS MODIFIÉES-->
    <div class="modal-body" id="permissions-body" >
      <div class="control-group">
	<label class="control-label"><strong>{% trans "Title" %}</strong></label>
	<div class="controls">
	  <input type="text" name="title" class="user-select" id="perms_edit_manageusers">
      </input>
	</div>
      </div>
      
      <div class="control-group">
	<label class="control-label"><strong>{% trans "Abstract" %}</strong></label>
	<div class="controls">
	<textarea name="abstract" rows="8" cols="100" placeholder={% trans "Describe the analysis ..." %}></textarea>
	</div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal" id="analysis_submit">{% trans "Save" %}</a>
    </div>
    <!--  fin -->
  </form>
</div>
{% endif %}

<table id="analysis-table">
	<tr>
		<td colspan="2" id="top-pane">
			{% include "analytics/_fact_selection.html" %}
		</td>
	</tr>
	<tr>
		<td id="left-pane">
		{% include "analytics/_main_view.html" %}
		</td>
		<td id="right-pane">
			{% include "analytics/_charts.html" %}
			{% include "analytics/_table.html" %}
		</td>
	</tr>
</table>



{% endblock %}


{% block footer %}{% endblock %}
{% block extra_script %}
{% if not analysis %}
<script>
	$("#analysis_submit").click(function(){
        $("#permission_form").submit();
	});
</script>
{% else %}

{% endif %}
{% endblock %}
