{% extends "mbdc/page_layout.html" %}
{% load i18n %}
{% load geonode_auth %}
{% block title %} Weave - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}weave/utils.js"></script>
<script type="text/javascript">
	var weaveReady = function(weave) {
		Ext.Ajax.request({
			url: "{{ visualization.get_absolute_url }}sessionstate",
			method: 'GET',
			success: function(xhr) {
				var sessionstate = Ext.decode(xhr.responseText);
				// show Weave in Dashboard mode without menubar
				sessionstate = applyDefaultStyle(sessionstate);
				sessionstate = setWeaveDashboard(sessionstate);
				weave.setSessionState([], sessionstate);
			},
			failure: function(xhr) {
				console.log('Failure!\n' + xhr.responseText);
			}
		});
	}
	
	{% if user.is_authenticated %}
	Ext.onReady(function(){
		{% has_obj_perm user visualization "weave.change_visualization_permissions" as can_change_permissions %}
		{% autoescape off %}
		{% if can_change_permissions %}
		new GeoNode.PermissionsEditor({
			renderTo: "permissions_form",
			submitTo: "{% url geonode.weave.views.ajax_visualization_permissions visualization.id %}",
			userLookup: "{% url geonode.views.ajax_lookup %}",
			permissions: {{ permissions_json }}
		});
		{% endif %}
		{% endautoescape %}
		});
	{% endif %}
</script>

{% endblock %}

{% block main %}

<div class="twocol">
	<div id="weavediv">
		<embed id="weave" src="{{ WEAVE_URL }}weave.swf" quality="high" bgcolor="#FFFFFF"
			width="100%" height="400" name="weave"
			play="true"
			loop="false"
			allowScriptAccess="always"
			allowfullscreen="true" 
			base="{{ WEAVE_URL }}"
			type="application/x-shockwave-flash"
			wmode="transparent" 
			pluginspage="http://www.adobe.com/go/getflashplayer" />
	</div>
</div>
<div class="threecol">
	<h3>{{ visualization.title }}</h3>
	<p>{{ visualization.abstract }}</p>
	<h3>Manage</h3>
	<ul>
		<li><a href="{{ visualization.get_absolute_url }}">View or edit this Visualization</a></li>
	</ul>
		{% has_obj_perm user visualization "weave.change_visualization_permissions" as can_change_permissions %}
		{% if can_change_permissions %}
		<h3>{% trans "Permissions" %}</h3>
		<p>{% trans "Select what kind of privileges to allow." %}</p>
		<div id="permissions_form"></div>
		{% endif %}
</div>


{% endblock %}

