<div class="mini-dialog">
    <i class="fa fa-times modal-close-icon" ng-click="closeAttributeGrid()"></i>
    <div class="modal-header">
        <h3>Attribute Grid</h3>
    </div>
    <div class="modal-body" style="overflow: visible;">
        <form ng-submit="searchByAttribute()" class="attributeGridFilter">
            <select ng-model="search.attribute" ng-options="attribute.Name for attribute in gridData.attributeDefinitions">
                <option value="">Select an Attribute</option>
            </select>
            <input type="text" ng-model="search.value" placeholder="search by attribute" ng-disabled="!search.attribute"/>
            <input type="submit" class="btn btn-primary" value="Search" style="margin-bottom: 10px;"/>
        </form>

        <div class="attribute-grid-container">
            <!-- <div ng-if="loading"><i class="fa fa-spinner fa-spin"></i></div>-->
            <div hands-on-table="gridData.attributeRows" config="config" class="hot handsontable"></div>
        </div>
    </div>
    <div class="modal-footer">

        <div style="float: left;">
            Showing
            <select ng-model="pagination.itemsPerPage" ng-change="itemPerPageChanged()" ng-options="pageSize as pageSize for pageSize in pagination.pageSizes" style="width: 50px; height: 25px; padding: 1px; margin-bottom: 0;"></select>
            of <b>{{pagination.totalItems}}</b> items
        </div>

        <pagination first-text="<<" last-text=">>" previous-text="<" next-text=">" total-items="pagination.totalItems" page="pagination.currentPage" max-size="2" style="margin-bottom: 15px;" class="pagination-small" boundary-links="true" rotate="false" items-per-page="pagination.itemsPerPage" on-select-page="onPageSelect(page)"></pagination>
        <div draft-only ng-if="!data.isReadonly">
            <input type="button" ng-click="saveChanges()" class="btn btn-success" value="Save"/>
            <button class="btn btn-danger" ng-click="closeAttributeGrid()">
                Cancel
            </button>
        </div>
    </div>
</div>

<style>
    .attribute-grid-container {
        min-height: 400px;
        margin-top: 10px;
        overflow-y: hidden;
    }

        .attribute-grid-container .htCore th {
            cursor: pointer;
        }

    .tbl-attribute-grid .input-small, .pagination {
        margin: 0;
    }

        .pagination li {
            cursor: pointer;
        }

            .pagination li.disabled {
                cursor: default;
            }

    .no-item-found {
        font-style: italic;
        color: lightgray;
        padding-left: 220px !important;
    }

    .attributeGridModal .modal-body {
        max-height: none;
    }
</style>
