<div class="style-group" ng-if="isPoint">
    <label class="style-label">
        Point Type
    </label>
    <label class="style-label">
        Point Radius
    </label>
    <label class="style-label">
        Point Text
    </label>
</div>
<div class="style-group" ng-if="!isPolyline" style="background-color: #fefefe">
    <label ng-if="isPolygon" class="style-label">
        Fill Pattern
    </label>
    <label class="style-label">
        Fill Color
    </label>
    <label class="style-label">
        Fill Transparency
    </label>
</div>
<div class="style-group">
    <label class="style-label">
        Line Color
    </label>
    <label class="style-label">
        Line Width
    </label>
    <label class="style-label">
        Line Dash Type
    </label>
</div>
