{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ layer.title|default:layer.typename }} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
<script type="text/javascript" src="{{ GEONODE_CLIENT_LOCATION }}externals/misc/nicEdit.js"></script>
<style type="text/css">
    .su_only {
        display:none;
    }

    .su_only_gaz {
        display:none;
    }

</style>

<script type="text/javascript">
    function showGazetteerOptions(checkbox)
    {
        Ext.select('*.su_only_gaz').setStyle('display', (checkbox.checked ? 'inline': 'none'))
    }
</script>

{{block.super}}
<script type="text/javascript">
    Ext.onReady(function() {
        {% autoescape off %}
        // get #poc_form and #metadata_form, and add a `onchange` handler
        // that shows the form if the blank option is selected.
        /*if (Ext.get('id_layer-topic_category').getValue()!="") {
         Ext.get("id_layer-topic_category_new").up("li").hide();
         }*/

        var types = {{ datatypes }};

        function toggleFormat(dateField, formatFieldName) {
            if (dateField.getValue() != "" && types[dateField.getValue()].indexOf("xsd:date") == -1) {
                Ext.get(formatFieldName).show();
            } else {
                Ext.get(formatFieldName).hide();
            }
        }

        Ext.get('id_startDate').on('change', function() {
                toggleFormat(this, 'startDateFormatCell');
        });

        Ext.get('id_endDate').on('change', function() {
            toggleFormat(this, 'endDateFormatCell');
        });


        toggleFormat(Ext.get('id_startDate'), 'startDateFormatCell');
        toggleFormat(Ext.get('id_endDate'), 'endDateFormatCell');

    	var mapCrumb = "";
    	if ("{{lastmap}}" != "None" && "{{lastmapTitle}}" != "None")
    		{
    			mapCrumb = "<a href=\"/maps/{{lastmap}}/\">{{lastmapTitle}}</a><span>&nbsp;/&nbsp;</span>";
    		}

        var titleTemplate = new Ext.Template(mapCrumb + "<a  href=\"/data/{{layer.typename}}\">{{layer.title|default:layer.typename}}</a><span>&nbsp;/&nbsp;Edit</span>");
		Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply());
        showGazetteerOptions(Ext.get("gazetteer_include").dom);


        {% endautoescape %}
    });
</script>
{% endblock %}
{% block main %}
<div class="twocol">
    <h2> {% trans "Editing details for " %} {{ layer.typename }} </h2>
    <form action="{% url data_metadata layer.typename %}" method="POST">
        {% csrf_token %}
        <ul class="form">
            {{ layer_form.as_ul }}


            <fieldset id="category_form">
                <legend>* {%  trans "Category"  %}</legend>
                {%  if category_form.errors %}<li>{{ category_form.errors.as_ul }}</li>{%  endif %}
                <li>

                    {% autoescape off %}
                    {% for choice in category_form.category_choice_field.field.choices %}
                    <div style="width:50%;float:left;padding-bottom:5px;">
                        <input type="radio" name="category_choice_field" value="{{choice.0}}"
                        {% ifequal category_form.initial choice.0 %}
                        checked="checked"
                        {% endifequal %}/>
                        <label for="" style="display:inline">{{choice.1}}</label>
                    </div>
                    {% endfor %}
                    {% endautoescape %}

                </li>
            </fieldset>

          <fieldset id="attribute_form" {% if attribute_form.hidden %}style="display:none"{% else %}style="width:800px"{% endif %}>
          <p>
            <div {% if not show_gazetteer_options  %} style="display:none" {% endif %} >
            <input type="checkbox" value="include" name="gazetteer_include" id="gazetteer_include" {% if layer.in_gazetteer %}checked="checked"{% endif %} onclick="showGazetteerOptions(this);">Include in gazetteer
            </div>
            <div class="su_only_gaz">
                <div class="gazetteer_warning">
                    *NOTE: By adding your layer features to the gazetteer, they will be searchable and viewable
                    by anyone regardless of your layer's security permissions.
                </div>
                Optional:
                    <table cellpadding="5" cellspacing="5" style="margin-left:20px;">
                        <tr><td colspan="2">{{gazetteer_form.project.label_tag}}: {{gazetteer_form.project}}</td></tr>

                        <tr id="start_date">
                            <td id="startDateCell" align="right" style="padding-right:10px">{{gazetteer_form.startDate.label_tag}}: {{gazetteer_form.startDate}}</td>
                            <td id="startDateFormatCell" style="display:none">{{gazetteer_form.startDateFormat.label_tag}}: {{gazetteer_form.startDateFormat}}  {%  trans "Examples: 'YYYY', 'MM/DD/YYYY', 'YYYY/MM/DD'"  %}</td>
                        </tr>

                        <tr id="end_date">
                            <td id="endDateCell" align="right" style="padding-right:10px">{{gazetteer_form.endDate.label_tag}}: {{gazetteer_form.endDate}}</td>
                            <td id="endDateFormatCell" style="display:none">{{gazetteer_form.endDateFormat.label_tag}}: {{gazetteer_form.endDateFormat}} {%  trans "Examples: 'YYYY', 'MM/DD/YYYY', 'YYYY/MM/DD'"  %} </td>
                        </tr>
                    </table>
            </div>
          </p>
          <legend>Attributes</legend>
	        {{ attribute_form.management_form }}
			<table cellpadding="5" cellspacing="5" width="100%"><tr><th>{% trans "Attribute" %}</th><th>{% trans "Display Title" %}</th><th>{% trans "Display Order" %}</th><th>{% trans "Visible?" %}</th><th>{% trans "Searchable?" %}</th><th class="su_only_gaz">{% trans "Add to Gazetteer?" %}</th>
	        {% for form in attribute_form.forms %}
	        	{% if form.attribute %}
	        	<tr><td>{{form.attribute}}</td><td><div style="display:none">{{form.id}}</div>{{form.attribute_label}}</td><td> {{form.display_order}}</td><td> {{form.visible}}</td><td> {{form.searchable}}</td><td class="su_only_gaz">{{form.in_gazetteer}}</td></tr>
	        	{% endif %}
	        {% endfor %}
	        </table>
        </fieldset>
      </ul>
        <div align="center"><p><input type="submit" class="submit_btn" value="{% trans "Update" %}"/></p></div>
  </form>
</div>

<script type="text/javascript">
    {% autoescape off %}
    // Extify form fields
    Ext.select("input[type='text']").each(function(el) {
        if (el.hasClass("date")) {
            new Ext.form.DateField({applyTo: el.id, format: "Y-m-d"});
        } else if (el.hasClass("time")) {
            new Ext.form.TimeField({applyTo: el.id, format: "H:i:s"})
        }
    });
{% endautoescape %}
</script>
 <script type="text/javascript">
     var nicEditIconsPath = "{{ GEONODE_CLIENT_LOCATION }}externals/misc/images/nicEditorIcons.gif"
     var myNicEditor = new nicEditor({fullPanel : true,  maxHeight: 190, iconsPath: nicEditIconsPath}).panelInstance("id_layer-abstract");
 </script>
{% endblock %}
