{% extends "fullscreen.html" %}
{% load i18n %}

{% block title %} {{maptitle}}{% endblock %}

{% block head %}

<script type="text/javascript">
var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script type="text/javascript" src="{{ GEONODE_CLIENT_LOCATION }}externals/misc/nicEdit.js"></script>
{% if "gme-" in GOOGLE_API_KEY %}
    <script src="https://www.google.com/jsapi?client={{GOOGLE_API_KEY}}"></script>
{% else %}
    <script src="https://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% endif %}

<script type="text/javascript">
    google.load("earth", "1");
</script>

<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/colorpicker/color-picker.ux.css" />
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/spinner/Spinner.css" />
<style type="text/css">
    #templates { display: none; }
</style>


{{ block.super }}

<script type="text/javascript">
    var originalConfigureLayerNode =  GeoExt.WMSLegend.prototype.getLegendUrl;
    GeoExt.WMSLegend.prototype.getLegendUrl = function(layerName,layerNames) {
        var rec = this.layerRecord;
        var layer = rec.getLayer();
        if (OpenLayers.Layer.WMS && layer instanceof OpenLayers.Layer.WMS && layer.getVisibility() === false) {
            return "";
        } else {
            return originalConfigureLayerNode.apply(this, arguments);
        }
    };


var app;
var init = function() {
{% autoescape off %}

    var config = Ext.apply({
        tools:  [{
            ptype: "gxp_geonodequerytool",
            id: "worldmap_query_tool",
            actionTarget:  {target: "paneltbar", index: 2},
            toolText: '<span class="x-btn-text">{% trans 'Identify' %}</span>',
            iconCls: null,
            outputConfig: {width: 400, height: 200, panIn: false},
            featurePanel: 'queryPanel',
            attributePanel: 'gridWinPanel',
            toggleGroup: 'featureGroup'
        },
            {
                ptype: "gxp_coordinatetool",
                title: "<span class='x-btn-text'>{% trans 'Map Coordinates - longitude, latitude' %}</span>",
                actionTarget:  {target: "paneltbar"}
            },
            {
                ptype: "gxp_printpage",
                openInNewWindow: true,
                includeLegend: true,
                text: '<span class="x-btn-text">{% trans 'Print' %}</span>',
                iconCls: null,
                actionTarget: {target: "paneltbar", index: 4}
            },
            {
                ptype: "gxp_annotation",
                user: "{{ user.id }}",
                toggleGroup: 'featureGroup',
                actionTarget:  {target: "paneltbar", index: 6}
            },
            {
                ptype: "gxp_googleearth",
                text: '<span class="x-btn-text">{% trans 'Google Earth' %}</span>',
                iconCls: null,
                actionTarget: {target: "paneltbar", index: 7}
            },
            {
            	ptype: "gxp_streetviewtool",
            	actionTarget:   {target: "paneltbar", index: 8},
                toggleGroup: 'featureGroup'
            },
            {
            	ptype: 'gxp_mapshare',
            	target: this,
            	text: '<span class="x-btn-text">{% trans 'Share Map' %}</span>',
            	iconCls: null,
                actionTarget:  {target: "paneltbar", index: 24}
            }{% if USE_GAZETTEER %},
            {
                ptype: "gxp_gazetteertool",
                actionTarget:  {target: "paneltbar", index: 5},
                title: '<span class="x-btn-text">{% trans 'Find Place' %}</span>',
                iconCls: null,
                toggleGroup: 'featureGroup',
                pressed: false
            }{% endif %}
            {% if user.is_authenticated and DB_DATASTORE  %},
            {
                ptype: "gxp_featuremanager",
                id: "feature_manager",
                paging: false,
                autoSetLayer: true,
                autoLoadFeatures: true,
                listeners: {
                    'layerchange': function(mgr, layer, schema) {
                        app.checkLayerPermissions(layer);
                    }
                },
                actionTarget:  {target: "paneltbar"},
                toggleGroup: 'featureGroup'
            },
            {
                ptype: "gxp_featureeditor",
                id: "gn_layer_editor",
                featureManager: "feature_manager",
                autoLoadFeature: true,
                iconClsAdd: null,
                iconClsEdit: null,
                createFeatureActionText: '<span class="x-btn-text" >{% trans 'Create Feature' %}</span>',
                editFeatureActionText: '<span class="x-btn-text">{% trans 'Edit Feature' %}</span>',
                actionTarget:  {target: "paneltbar", index: 2},
                toggleGroup: 'featureGroup'
            }{% endif %}
            {% if editmap %},
            {
            	ptype: "gxp_maprevisiontool",
            	actionTarget:   {target: "paneltbar", index: 20}
            }{% endif %}
            ],
            proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        homeUrl: "{% url home %}",
        localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        localCSWBaseUrl: "{{ GEONETWORK_BASE_URL }}srv/en/csw",
        csrfToken: "{{ csrf_token }}",
        {% if user.is_authenticated %}
        db_datastore: {{ DB_DATASTORE|lower }},
        {% endif %}
        authorizedRoles: "{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}"
    }, {{ config }});

    if (isMobile.any() && config.id) {
    	redirect=confirm("Would you like to view the alpha mobile version of this map?");
    	if (redirect===true){
    		window.location = document.URL.replace(/\/$/g,"") + "/mobile/";
    	}
    }

    app = new GeoExplorer(config, true);

    var permalinkTemplate = new Ext.Template("{protocol}//{host}/maps/{id}/edit");
    var permalink = function(id) {
        return permalinkTemplate.apply({
            protocol: window.location.protocol,
            host: window.location.host,
            id: id
        })
    };


    var titleTemplate = new Ext.Template("<span>{title}</span>");
    Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply({title: (config.about.title ? config.about.title : gettext('New Map'))}));

    app.on("saved", function(id) {
        //reset title header
        Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply({title: (config.about.title ? config.about.title : gettext('New Map'))}));




    }, this);


    {% endautoescape %}
    }

    window.onload = init;

</script>

{% endblock %}

{% block body %}
<div id="header-wrapper">
    {{ block.super }}

    <div id="dataTabs" class="x-hidden">

<div id="searchDiv" style="background-color:#fff;width:100%;">
<div style="position:relative;float:left;margin:10px;width:500px;height:250px;">
  <div class="block">
    <div id="search_form"></div>
  </div>
  <div id="refine" style="float:left;width:100%;padding-bottom:15px;">
    <div class="bbox-controls">
      <div class="bbox-expand">
      </div>
    </div>
  </div>
</div>



<div style="position:relative;float:right;width:330px;margin-right:10px;">
  <div style="">
    <div id="search_results" style="margin-left:15px;"></div>
    <div id="search_controls"></div>
    <div id="selection">
        <div id="data_cart" style="margin-left:15px;"></div>
    </div>
    <div id="data_ops" style="margin-left: 15px; float:left">
    </div>
  </div>
</div>
</div>
        <div id="externalDiv"></div>
        {% if user.is_authenticated %}
            <div id="uploadDiv"></div>
            {% if DB_DATASTORE  %}
                <div id="createDiv"></div>
            {% endif %}
        {% endif %}
        <div id="warpDiv">
            <div id="tabContainer" style="padding:20px;">

                <div style="position:relative;float:left;">


                    <h3>{%trans "Rectify Images"  %}</h3>

                    <p style="font-size: 14px">{% trans "Use <a target='_blank' href='http://warp.worldmap.harvard.edu'>WorldMap WARP</a> to upload and rectify scanned maps for use in WorldMap." %} <br/><br/> {% trans "Maps rectified using this tool can be brought into WorldMap by following the instructions under Section 4.5 in <a href='{{ STATIC_URL }}docs/WorldMap_Help.pdf'>WorldMap Help</a>." %}</p>
                    <br/><br/>
                    <div align="center"><a target="_blank" href="http://warp.worldmap.harvard.edu"><img src="{{ STATIC_URL }}theme/img/warper-sample.jpg" border="0" /></a></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="featuredetails" style="float:right; width: 300px"></div>



{% endblock %}
