html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer, #map {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#home-button {
    float: left;
}

.ol-attribution li:first-child, .leaflet-control-attribution a:first-child{
    display: none;
    visibility: hidden;
}

.map-logo{
	position:absolute;
	width:90px;
	height:27px;
	bottom:5px;
	left:5px;
	background-image:url(../img/mapstore2_logo.png);
	background-repeat:no-repeat;
	background-size:contain;
    cursor: pointer;
}

.map-logo > img{
    width: 90px;
    height: 27px;
    opacity: 0;
}

.with-love {
    position:absolute;
	width:90px;
	height:27px;
	bottom:5px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
    background-image:url(../img/made-in-italy-logo.png);
	background-size:contain;
}

.leafletbottom.leafletright, .leaflet-control-minimap{
    bottom: 47px !important;
    right: 49px !important;
}

.leaflet-control-scale {
    position: absolute;
    bottom: -1px;
    right: 47px;
    z-index: 1000;
}
.leaflet-control-attribution {
    width: 165px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.leaflet-bottom.leaflet-right {
    margin-bottom: 0 !important;
}

.ol-custom-overviewmap, .ol-custom-overviewmap.ol-uncollapsible {
    bottom: 55px !important;
    left: auto !important;
    right: 57px !important;
    top: auto !important;
}

.ol-scale-line.ol-unselectable {
    right: 58px;
    left: auto;
    bottom: 3px;
}
.modal-dialog-container {
    z-index: 2000!important;
}
