.navbar-inverse {
  background-color: #ffffff !important;
  border: 0;
  height: 66px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.navbar-brand {
	background: url(../img/worldmap-w-harvard.png) 0 10px no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	height: 65px;
	width: 200px;
    margin-left: 15px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #515151;
    padding-top: 22px;
    padding-bottom: 23px;
}
.navbar-inverse .navbar-nav>li>a:focus {
    color: #515151;
}
.navbar-inverse .navbar-nav .open>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    background-color: #999;
}

.navbar-collapse{
    max-height: none !important;
}

@media (max-width: 991px) {
    .navbar-collapse{
        border: none;
    }
    .navbar-nav {
        background-color: #fff !important;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
        margin-top: 0px;
    }
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #2c689c;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #eee;
    }
}

.home .jumbotron {
  background: #fff;
  text-align: center;
}

.home .jumbotron a {
  color: #fff;
  padding: 8px 10px;
}

.container {
  padding: 0;
}

#carousel-worldmap {
  margin-bottom: 1em;
}

#carousel-worldmap img{
  width: 100%;
}

#carousel-worldmap .carousel-caption {
  opacity: 0.5;
  text-align: left;
  width: 100%;
  background: #000;
  left:0;
  bottom:0;
  padding: 10px 15px;
}

.container {
  width: 80%;
}

.container.landing-footer .row .col-md-8 p {
  font-size: 1.65em;
}

.container.landing-footer .row .col-md-8 p:nth-child(2){
  margin-top: 3.3em;
  font-size: 1em;
}

.container .row .col-md-4 {
  text-align: center;
}

.container.landing-footer .row .col-md-4 img{
  width: 90%;
}

footer {
  text-align: center;
  background-color: #2c689c;
}

footer a {
  color: #bfbfbf;
}

footer a:hover {
  color: #fff;
}

#permissions-body .panel .radio{
    text-align: left;
}
#permissions-body .panel .radio label {
    padding-left: 0px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  white-space: normal;
}

.list-group-item .btn{
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-group.map-items {
  text-align: left;
  margin-left: 1em;
}

.list-group.map-items li {
  padding-bottom: 0.2em;
  border: 0;
}

.list-group.map-items li span {
  padding-right: 0.5em;
}

.title-margin {
    margin-top: 22px;
    margin-bottom: 22px;
}
/*.container .row .col-md-4 p{
  padding-top: 0.8em;
}*/
