{% extends "fullscreen.html" %}
{% load i18n navbar geonode_media %}

{% block title %} {% trans "Safe Hospitals" %} - {{ block.super }} {% endblock %}

{% block header_append %}
<script src="http://maps.google.com/maps?file=api&v=2&key={{GOOGLE_API_KEY}}"></script>
<script src="{% geonode_media "capra_script" %}" type="text/javascript"></script>
<script src="{% url capra.hazard.views.lang %}" type="text/javascript"></script>
<script type="text/javascript">
    /* 
    var app;
    var hazardConfig = {{config|safe}};
    Ext.onReady(function() {
        app = new MyHazard.Viewer({
            GEONODE_WMS: "{{GEOSERVER_BASE_URL|safe}}wms",
            hazardConfig: hazardConfig
        });
    });
  */

alert("this is the safe hospital application"); 
</script>

{% endblock %}
