{% extends "geonode_base.html" %} {% load i18n %} {% block title %}{% trans "Waterproof NBS CA" %}{% endblock %} {% block main %}
<h1>{% trans "Waterproof NBS CA" %}</h1>

{% endblock %} {% block body_outer %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center" id="countryLabel">{{country.name}}</h4>
        <p><b>Region:</b> <span id="regionLabel">{{region.name}}</span> </p>
        <p><b>Currency:</b><span id="currencyLabel">({{currency.code}}) - {{currency.name}}</span></p>
    </div>
    <div class="col-md-8">
        <div id="mapid" style="width: 700px; height: 200px;"></div>

    </div>
</div>
<div class="page-header">
   
    <h1>{% trans "List sbn" %}</h1>
    <a href="create/" id="createUrl">{% trans "Create new SBN" %}</a>
</div>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered table-condensed" style="width:100%">
        <thead>
            <tr class="info">
                <th scope="col" class="small text-center vat">{% trans "Name" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Description" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Country" %}</th>
                <th scope="col" class="small text-center vat">Percentaje of benefit</th>
                <th scope="col" class="small text-center vat">{% trans "Implementation cost" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Maintenance Cost" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Periodicity of Maintenance" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Oppotunity Cost" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Options" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for sbn in nbs %}
            <tr>
                <td class="small text-center vat">{{sbn.name}}</td>
                <td class="small text-center vat">{{sbn.description}}</td>
                <td class="small text-center vat">{{sbn.country}}</td>
                <!--td>{{sbn.max_benefit_req_time}}</td-->
                <td class="small text-center vat">{{sbn.profit_pct_time_inter_assoc}}%</td>
                <!--td>{{sbn.total_profits_sbn_consec_time}}</td-->
                <td class="small text-center vat">{{sbn.unit_implementation_cost|floatformat:2}}</td>
                <td class="small text-center vat">{{sbn.unit_maintenance_cost|floatformat:2}}</td>
                <td class="small text-center vat">{{sbn.periodicity_maitenance}}</td>
                <td class="small text-center vat">{{sbn.unit_oportunity_cost|floatformat:2}}</td>
                <!--td>{{sbn.rios_transformations.description}}</td-->
                <td>
                    <div class="btn-group btn-group-table" role="group">
                        <a class="btn btn-primary" href="/waterproof_nbs_ca/view/{{sbn.pk}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        {% if user.is_authenticated %}
                            {% if user.professional_role == 'ADMIN' %}
                            <a class="btn btn-info" href="/waterproof_nbs_ca/edit/{{sbn.pk}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{sbn.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                            <a class="btn btn-danger" href="/waterproof_nbs_ca/delete/{{sbn.pk}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            {% endif %}
                            {% if user.professional_role == 'ANAL' %}
                                {% if sbn.added_by.pk == user.pk %}
                                <a class="btn btn-info" href="/waterproof_nbs_ca/edit/{{sbn.pk}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{sbn.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                                <a class="btn btn-danger" href="/waterproof_nbs_ca/delete/{{sbn.pk}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                {% else %}
                                <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{sbn.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block body %}{% endblock body %} {% block sidebar %}{% endblock sidebar %} {% endblock body_outer %} {% block extra_script %}
<script>
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_nbs_ca/data/countries.geojson';
    var userCountryId='{{userCountry.id}}';
    var userCountryCode='{{userCountry.code}}';
    var userCountryName='{{userCountry.name}}';
</script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/dataTables.bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/leaflet.ajax.min.js"></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/waterproof_nbs_ca_list.js"></script>
{% endblock %}