{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %}{% trans "Waterproof NBS CA" %}{% endblock %}
{% block main %}
<h1>{% trans "Waterproof NBS CA" %}</h1>
<a href="{% url "waterproof_nbs_ca_submit" %}">{% trans "Create new study case" %}</a>

{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Detail sbn" %}</h2>
</div>
<h3>{{ object.name }}</h3>
<table class="table table-user-profile">
  <tbody>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Description' %}</td>
      <td>{{object.description}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Time maximum benefit' %}</td>
      <td>{{object.max_benefit_req_time}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">
        {% trans 'Percentage of benefit associated with interventions at time t=0' %}</td>
      <td>{{object.profit_pct_time_inter_assoc}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Procurement time of total SBN benefits' %}</td>
      <td>{{object.total_profits_sbn_consec_time}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Unit implementation costs (US $/ha)' %}</td>
      <td>{{object.unit_implementation_cost}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Unit maintenance costs (US $/ha)' %}</td>
      <td>{{object.unit_maintenance_cost}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Periodicity of maintenance (year)' %}</td>
      <td>{{object.periodicity_maitenance}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Unit oportunity costs (US $/ha)' %}</td>
      <td>{{object.unit_oportunity_cost}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'RIOS transition' %}</td>
      <td>{{object.rios_transition}}</td>
    </tr>
    <tr>
      <td class="table-user-profile-attribute">{% trans 'Land use definition' %}</td>
      <td>{{object.land_cover_def}}</td>
    </tr>
  </tbody>
</table>
{% block body %}{% endblock body %}
{% block sidebar %}{% endblock sidebar %}

{% endblock body_outer %}

{% block extra_script %}
<script src="{% static waterproof_nbs_ca/js/waterproof_nbs_ca.js}"></script>
{% endblock %}