{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock %}

{% comment %}
{% block body_outer %}
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="subnav-tabs">
      <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="explore">{% trans "Explore Layers" %}</a></li>
      <li><a href="{% url "data_upload" %}" class="upload">{% trans "Upload Layers" %}</a></li>
    </ul>
  </div>
</div>
{% block body %}{% endblock body %}
{% block sidebar %}{% endblock sidebar %}

{% endblock body_outer %}
{% endcomment %}
