{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %} Services -- {{ block.super }} {% endblock %}

{% block body %}
<div class="twocol">
{% if services %}
<table>
    <tr>
        <th>Title</th><th>URL</th>
    </tr>

{% for service in services %}
<tr>
<td><a href='{% url "service_detail" service.id %}'>{{ service.title }}</a></td>
<td><a href='{% url "service_detail" service.id %}'>{{ service.base_url }}</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<h3>No services registered</h3>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
    <ul class="list-group">
    <li class="list-group-item"><h3>{% trans "Manage" %}</h3></li>
        <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "register_service" %}">{% trans "Register a new Service" %}</a></li>
    </ul>
{% endblock %}
