{% extends "services/services_base.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block body %}
<div class="twocol">
  <h3><strong>{{service.title|default:service.name}}</strong></h3>
      <p><strong>{% trans "Type" %}:</strong> {{service.service_type}}</p>
      <p><strong>{% trans "URL" %}:</strong> {{service.base_url}}</p>
      <p><strong>{% trans "Abstract" %}:</strong> {{service.abstract}}</p>
      <p><strong>{% trans "Keywords" %}:</strong> {{ service.keywords.all|join:", " }}</p>
      <p><strong>{% trans "Contact" %}:</strong> <a href="{% url "profile_detail" service.owner.username %}">{{ service.owner }}</a></p>

    {% autoescape off %}
        <h3>{% trans "Service Resources" %} <span class="badge">{{ total_resources }}</span></h3>
        {% if service.harvester %}
        {% with service.harvester.latest_harvesting_session.get_progress_percentage as harvesting_progress %}
            {% if harvesting_progress >= 0 and harvesting_progress < 100.0 %}
            <p>
            <i class="fa fa-gear"></i> <i>{% trans "Resource harvesting in progress..." %}</i>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ harvesting_progress }}%;" aria-valuenow="{{ harvesting_progress }}" aria-valuemin="0" aria-valuemax="100">{{ harvesting_progress }}%</div>
            </div>
            </p>
            {% endif %}
        {% endwith %}
        {% endif %}
        {% if total_resources == 0 %}
            <p>{% trans "No resources have been imported yet." %}</p>
        {% else %}
            <div class="row">
            <table class="table">
                <thead>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Description" %}</th>
                </thead>
                {% for dataset in datasets %}
                    <tr>
                        <td><a href='{{ dataset.get_absolute_url }}'>{{dataset.title|striptags}}</a></td>
                        <td>
                            <div class="row">
                                <div class="col-md-9">
                                    {{dataset.abstract|striptags}}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        {% endif %}
    {% if resources.paginator.num_pages > 1 %}
        <div class="row">
            <nav aria-label="importable resources pages">
                <ul class="pagination hidden-xs pull-right">
                    {% if resources.has_previous %}
                        <li><a id="previous" aria-label="Previous" href="?page={{ resources.previous_page_number }}">{% trans "previous" %}</a></li>
                    {% else %}
                        <li class="disabled"><a aria-label="Previous" href="#">{% trans "previous" %}</a></li>
                    {% endif %}
                    <li class="active"><a href="#">{{ resources.number }}/{{ resources.paginator.num_pages }}</a></li>
                    {% if resources.has_next %}
                        <li><a aria-label="{% trans "Next" %}" href="?page={{ resources.next_page_number }}">{% trans "next" %}</a></li>
                    {% else %}
                        <li class="disabled"><a aria-label="{% trans "Next" %}" href="#">{% trans "next" %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    {% endautoescape %}
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans "Connecting to service..." %}
                </div>
                <div class="modal-body">
                    <div class="progress" id="serviceRegisterProgress">
                        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block sidebar %}

    {% get_obj_perms request.user for service as "resource_perms" %}

    {% if can_add_resorces or "add_resourcebase" in resource_perms or "change_resourcebase_metadata" in resource_perms or "change_service_permissions" in resource_perms %}
    <ul class="list-group">
        <li class="list-group-item"><h3>{% trans "Manage" %}</h3></li>
        {% if "change_resourcebase_metadata" in resource_perms %}
            <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "edit_service" service.id %}">{% trans "Edit Service Metadata" %}</a></li>
        {% endif %}
        {% if can_add_resorces %}
            <li class="list-group-item"><a id="harvestResources" class="btn btn-default btn-md btn-block" href="{% url "harvest_resources" service.id %}">{% trans "Import Service Resources" %}</a></li>
        {% endif %}
        {% if "remove_service" in permissions_list or "delete_service" in permissions_list or 'delete_resourcebase' in permissions_list %}
            <li class="list-group-item"><a class="btn btn-default btn-md btn-block" href="{% url "remove_service" service.id %}">{% trans "Remove Service" %}</a></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#harvestResources').on("click", function() {
                $("#progressModal").modal("show");
            });
            $('button[name^=retry]').on('click', function () {
                const resourceId = this.name.replace("retry-", "");
                const retryUrl = "/services/{{ service.id }}/harvest/" + resourceId;
                const retryForm = document.createElement('form');
                retryForm.setAttribute("method", "post");
                retryForm.setAttribute("action", retryUrl);
                const csrfInputElem = document.createElement("input");
                csrfInputElem.type = "hidden";
                csrfInputElem.name = "csrfmiddlewaretoken";
                csrfInputElem.value = "{{ csrf_token }}";
                retryForm.appendChild(csrfInputElem);
                document.body.appendChild(retryForm);
                retryForm.submit();

            });
        });
    </script>
{% endblock extra_script %}
