{% extends "services/services_base.html" %}
{% load i18n %}
{% load services_tags %}

{% block title %} {% trans "Services" %} -- {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  {% if "add_resource" in user.perms %}
    <a href="{% url "register_service" %}" class="btn btn-primary pull-right">{% trans "Add Remote Service" %}</a>
  {% endif %}
  <h2>{% trans "Remote Services" %}</h2>
</div>
<div class="twocol">
{% if services %}
<table class="table table-striped">
  <thead>
  	<th>{% trans "Title" %}</th>
  	<th>{% trans "URL" %}</th>
    <th>{% trans "Type" %}</th>
  </thead>
  {% for service in services %}
  <tr>
	  <td>
      <a href='{% url "service_detail" service.id %}'>{{ service.title }} <span class="badge">{% get_dataset_count_by_services service.id request.user %}</span></a>
    </td>
	  <td>
      <a href='{{ service.base_url }}' target="_blank" rel="noopener noreferrer">{{ service.base_url }}</a>
      </td>
      <td>{{ service.service_type }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h4>{% trans "No services registered" %}</h4>
{% endif %}
</div>
{% endblock %}
