{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Community Map List" %} - {{ block.super }} {% endblock %}

{% block header_append %}
<script type="text/javascript">
Ext.onReady(function(){
  
  var rest_url = "{%url geonode.maps.views.maps %}";

  var filterStore = function(store) {
    return store.filter("endorsed", false);
  };

  var mapGrid = new MapGrid({
      store : new Ext.data.JsonStore({
          url: rest_url,
          root: 'maps',
          id: 'id',
          fields: [
              {name: 'id', mapping: 'id'},
              {name: "title", mapping: "config.about.title"},
              {name: "abstract", mapping: "config.about.abstract"},
              {name: "contact", mapping: "config.about.contact"},
              {name: "endorsed", mapping: "config.about.endorsed"}
          ],
          autoLoad: true,
          listeners : {
              "load" : filterStore
          }
      })
  });

});
</script> 
{% endblock %}

{% block nav %}
{% navbar community %}
{% endblock %}

{% block main %}

<div id="data">
  <div id="map-browser"></div>
</div>          


{% endblock %}

{% block sidebar %}
<h3>{% trans "Contributed Maps" %}</h3>
{% blocktrans %}
<p> Contributed Maps are made by people like you. They are made from data hosted by the CAPRA GeoNode, as well as data hosted by other entities. </p>
<p> You can browse the contributed maps using the grid to the left.</p>
<p>
  Click on a map to select it. Then click
  <b>Open Map</b>
  to open it in a map editor, or click
  <b>Export Map</b>
  to export it as a widget.
</p>
<p>
  Click here to{% endblocktrans %}
  <a href="{%url geonode.maps.views.newmap %}">{% trans "create your own map" %}</a>
  !
</p>

The sidebar contains useful, but not urgent information.  Check it out, if you like.
{% endblock %}

