{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Map List" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/gxp_header.html" %}
{{ block.super }}
<script type="text/javascript">
  Ext.onReady(function(){
    var rest_url = "{%url geonode.maps.views.maps %}"; 

    var filterStore = function(store) {
      return store.filter("endorsed", true);
    };

    var mapGrid = new MapGrid({
        store : new Ext.data.JsonStore({
            url: rest_url,
            root: 'maps',
            id: 'id',
            fields: [
                {name: 'id', mapping: 'id'},
                {name: "title", mapping: "config.about.title"},
                {name: "abstract", mapping: "config.about.abstract"},
                {name: "contact", mapping: "config.about.contact"},
                {name: "endorsed", mapping: "config.about.endorsed"}
            ],
            autoLoad: true,
            listeners : {
                "load" : filterStore
            }
        })
    });
    
  });
</script> 
{% endblock %}

{% block nav %}
{% navbar curated %}
{% endblock %}

{% block main %}

<div id="data">
  <div id="map-browser"></div>
</div>          

{% endblock %}

{% block sidebar %}
<h3> {% trans "CAPRA Maps" %} </h3>
{% blocktrans %}
<p> This is a list of particularly interesting or effective maps selected by the CAPRA team.</p>
<p>
Click on a map to select it. Then click
<b>Open Map</b>
to open it in a map editor, or click
<b>Export Map</b>
to export it as a widget.
</p>
See the{% endblocktrans %}
<a href="{%url geonode.views.community %}">{% trans "contributed map"%}</a>
{% blocktrans %}
list for other maps created by GeoNode users.
{% endblocktrans %}
{% endblock %}
