{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block header_append %}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}

    var bbox = new GeoNode.BoundingBoxWidget({
         proxy: "/proxy/?url=",
         background: {{ background }},
         renderTo: 'sidebar',
    });

    var searchTable = new GeoNode.SearchTable({
        renderTo: 'layer_data',
        trackSelection: true,
        permalinkURL: '{% url geonode.maps.views.browse_data %}',
        searchURL: '{% url geonode.maps.views.metadata_search %}',
        constraints: [bbox],
        searchParams: {{init_search}}
    });
    searchTable.hookupSearchButtons('sidebar');
    
    var dataCart = new GeoNode.DataCart({
      store: searchTable.dataCart,
      renderTo: 'data_cart'
    });
    
    var dataOps = new GeoNode.DataCartOps({
      cart: dataCart,
      renderTo: 'data_ops'
    });
    
    
    {% endautoescape %}
});
</script>
{% endblock %}

{% block nav %} {% navbar data %} {% endblock %}

{% block main %} 
<h3>{% trans "Data Search Results" %}</h3>

<div id="layer_data"></div>

<br/>
<div>
<h3>Selected Data</h3>
<p>{% blocktrans %}Use the checkboxes in the search results to add data to the selection below.{% endblocktrans%}</p>
  
<div id="data_cart"></div>
</div>

<div id="data_ops">
  <ul>
    <li><a href="#" class="create-map">{% trans "Create a new map" %}</a></li>
<!--    <li><span class="export">{% trans "Export selected" %}:</span>
        <a href="#shp" class="batch-download">Shapefile</a>, 
        <a href="#geotiff" class="batch-download">GeoTiff</a>
    </li> -->
  </ul>

  <form id="create_map_form" action="{% url geonode.maps.views.newmap %}" method="POST">
  </form>
</div>
<br/>
{% endblock %}

{% block sidebar %}
<div class="bbox-map"></div>
<br/>
<h3>{% trans "Refine Search" %}</h3>
<div class="bbox-controls">
  <div class="bbox-enabled"><input type="checkbox" /> {% trans "By area" %}</div>
  <span class="explain">{% blocktrans %}Create a boundary on the map above to limit the search to data that includes features in a specified area.{% endblocktrans %}</span>
  <div class="bbox-buttons"></div>
</div>
<br/>
<div class="search-button"></div>

<p></p>


<h3>{% trans "Add Data" %}</h3>
<p>{% trans "Click here to"  %} <a href="{% url geonode.maps.views.upload_layer%}">{% trans "upload a new layer"  %}</a></p>


<h3>{% trans "For Developers" %}</h3>
{% blocktrans %} 
If you are interested in information about accessing this information through OGC services, click 
{% endblocktrans %}
<a href="{% url geonode.views.static "developer" %}">{% trans "here" %}</a>.
{% endblock %}
