{% load geonode_media %}
<html>
<head>
    <title>{% block title %}GeoNode{% endblock %}</title>
    <link rel="shortcut icon" href="{% geonode_media "app_themes" %}img/favicon.ico"/>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% geonode_media "app_themes" %}site.css" />
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{% url geonode.views.lang %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %} 
    <div id='app-header'>
      <div class="fullscreen clearfix" id="ja-search">
        <form class="spanish" name="es" action="/i18n/setlang/" method="post">
          <input type="hidden" name="language" value="es"/>
           {% csrf_token %}
          <button type="submit"></button>
        </form>
        <form class="english" name="en" action="/i18n/setlang/" method="post">
          <input type="hidden" name="language" value="en"/>
          {% csrf_token %}
          <button type="submit"></button>
        </form>
        <a id='banner' href='{% url geonode.views.index %}'></a>
      </div>
    </div>        
    {% endblock %}
</body>
</html>
