{% load i18n %}
{% load navbar %}
{% load geonode_media %}
<html>
<head>
    
    <title>{% block title %}WorldMap{% endblock %}</title>
    <link rel="shortcut icon" href="{% geonode_media "app_themes" %}img/favicon.ico"/>
    {% block head %}    
    
    
	{% if urlsuffix %}
    	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/{{urlsuffix}}/site.css" media="screen" />
    {% else %}
    	<link rel="stylesheet" type="text/css" href="{% geonode_media "app_themes" %}site.css" /> 
    {% endif %}
    
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>

    <script type="text/javascript" src="{% url geonode.views.lang %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% block header-wrapper %}
    <div id="header">
      <div class="wrap selfclear">
        {% block logos %}
            <a id="logo" href="{% url geonode.views.index %}">WorldMap</a>
        {% endblock logos %}
        <div id="login-area">
          {% if user.is_authenticated %}
          <a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}">{{ user.username}}</a> (<a href="{% url auth_password_change %}">{% trans "Change password" %}</a> | <a href="{% url auth_logout %}">{% trans "Log out" %}</a>)
          {% else %}
          <!-- this should be updated to a url var --><a href="/accounts/login">Sign in</a>
          {% if REGISTRATION_OPEN %} or <a href="{% url registration_register %}">{% trans "Register" %}</a>{% endif %}
          for extra features
          {% endif %}
        </div>
      </div><!-- /.wrap -->
    </div><!-- /#header -->
    {% endblock header-wrapper %}
  <div id="crossbar">  		      
      {% block nav %}
        {% navbar master %}
      {% endblock %}
  </div><!-- /#crossbar -->
    {% endblock body %}
            </body>
</html>
