{% load i18n %}
<html>
<head>

    <title>{% block title %}GeoNode{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/img/favicon.ico"/>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/site.css" />
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %} 
    <div id="header">
      <div class="wrap selfclear">
        <a id="logo" href="{% url geonode.views.index %}">GeoNode</a>
        <div id="login-area">
          {% if user.is_authenticated %}
          <a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}">{{ user.username}}</a> (<a href="{% url auth_password_change %}">{% trans "Change password" %}</a> | <a href="{% url auth_logout %}">{% trans "Log out" %}</a>)
          {% else %}
          <!-- this should be updated to a url var --><a href="/accounts/login">{% trans "Sign in" %}</a>
          {% if REGISTRATION_OPEN %} {% trans "or" %} <a href="{% url registration_register %}">{% trans "Register" %}</a>{% endif %}
          {% trans "for extra features" %}
          {% endif %}
        </div>
      </div><!-- /.wrap -->
    </div><!-- /#header -->
    {% endblock %}
</body>
</html>
