{% extends "page_layout.html" %}
{% load i18n %}
{% block title %} {% trans "Help" %} - {{ block.super }} {% endblock %}
{% block head %}
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">

Ext.onReady(function() {
	var titleTemplate = new Ext.Template("<span>Help</span>");
	Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply());
});
</script>
{% endblock %}


{% block main %}
<div class="twocol">

<div class=Section1>


<p class=MsoNormal><span style='font-size:14.0pt;font-family:Arial'>WorldMap
Help</span></p>




<a name="what-alpha"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>What is WorldMap ALPHA?</b></span></p>

  <p><span class=spelle><span style='font-family:"Arial","sans-serif"'>WorldMap</span></span><span
style='font-family:"Arial","sans-serif"'> ALPHA is an experimental platform
    designed for viewing and interpreting maps collaboratively. Today maps come
    from many sources and take many forms, from paper atlases to digital satellite
    images, to census files. <span class=spelle><span style='font-family:"Arial","sans-serif"'>WorldMap</span></span> aims to pull these and other hard-to-find maps together and to <span
class=grame><span style='font-family:"Arial","sans-serif"'>make</span></span> them available to researchers to explore, share, annotate, and remix.  <span class=spelle><span style='font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;'>WorldMap</span></span> combines the modeling capabilities
    of </span><a href="http://en.wikipedia.org/wiki/Geographic_information_system"><span
style='font-family:"Arial","sans-serif"'>Geographic Information Systems</span></a><span
style='font-family:"Arial","sans-serif"'> (GIS) with current web technologies,
    and is made available as </span><a
href="http://en.wikipedia.org/wiki/Open-source_software"><span
style='font-family:"Arial","sans-serif"'>Open Source</span></a><span
style='font-family:"Arial","sans-serif"'> software.</span></p>



<a name="what-map"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>What is a Map?</b></span></p>

<p><span style='font-family:"Arial","sans-serif"'>In the
  context of WorldMap, a "Map" is an interactive mapping application which
  contains data Layers.  You can create
  your own Map from scratch or remix your own materials with someone else’s Map
  to derive a new Map.  Maps you create can
  be kept private, made accessible to a few, or made public.  Maps and Layers are capitalized here to refer
  to WorldMap definitions of these terms.  </span></p>
<p><span style='font-family:"Arial","sans-serif"'>Maps are
  brandable meaning you can customize your map in many ways and control who has
  access to it.  Eventually you will be
  able to load your own banner to yout Map and determine your own URL.  </span></p>



<a name="what-layer"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>What is a Layer?</b></span></p>

<p><span style='font-family:"Arial","sans-serif"'>A "Layer" in
  WorldMap can be composed of geographic point, line, or area features linked to
  a database.  These are known as "vector"
  Layers.  A Layer can also be composed of
  aerial photography, satellite imagery, or scanned imagery.  Such Layers are called "raster" Layers, and
  in WorldMap these are not linked to a database.  </span></p>
<p><span style='font-family:"Arial","sans-serif"'>In WorldMap
  you can upload your own vector Layers in the form of ESRI </span><a
  href="http://en.wikipedia.org/wiki/Shapefile"><span style='font-family:"Arial","sans-serif"'>Shapefiles</span></a><span
  style='font-family:"Arial","sans-serif"'>, or raster Layers in the form of </span><a
  href="http://en.wikipedia.org/wiki/GeoTIFF"><span style='font-family:"Arial","sans-serif"'>GeoTIFFs</span></a><span
  style='font-family:"Arial","sans-serif"'> to a Map, then control how your
  Layers are organized and represented online, and control who can access the Map
  and the Layers inside it.  The Layers you
  add to a Map can be uploaded from your hard drive or they can be layers which
  have already been loaded to WorldMap.  It
  is also possible to load Layers to a Map which actually reside on other systems
  by using a protocol called </span><a
  href="http://en.wikipedia.org/wiki/Web_Map_Service"><span style='font-family:
  &quot;Arial&quot;,&quot;sans-serif&quot;'>WMS</span></a><span style='font-family:"Arial","sans-serif"'>.</span></p>



<a name="register"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Register and Sign in</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>If you don"t have an account
and want save changes you make, create an account by clicking "Sign in" at top
right of the main page, then click "Register".</span></p>

<p class=MsoNormal><span style='font-family:Arial'><img border=0 width=127 height=134
src="{{STATIC_URL}}theme/img/help/image002.jpg" /></span></p>



<p class=MsoNormal><span style='font-family:Arial'>You will be prompted for a
Username, Email Address, and Password, and asked if you are affiliated with Harvard.<span
style="mso-spacerun: yes">&nbsp; </span>If you are Harvard affiliated, you will
be asked to login using your Harvard ID.<span style="mso-spacerun: yes">&nbsp;
</span>Whether or not you are Harvard affiliated you will have full access to
the system.<span style="mso-spacerun: yes">&nbsp; </span>A confirmation email
will be sent to your email account once you have registered.<span
style="mso-spacerun: yes">&nbsp; </span>To activate your account, open the
email and click on the activation link.<span style="mso-spacerun: yes">&nbsp;
</span>Now you can sign in to WorldMap.</span></p>




<a name="browse"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Browsing a Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>WorldMap allows people to
create Maps and share them with one another.<span style="mso-spacerun:
yes">&nbsp; </span>To see the Maps others have created, select from "Browse
Maps" pulldown menu at the top of the main WorldMap page at </span><a
name="http://worldmap.harvard.edu/alpha"><span style='font-family:Arial'>http://worldmap.harvard.edu/alpha</span></a>,<span
style='font-family:Arial'>.</span></p>



<p class=MsoNormal><span style='font-family:Arial'><img border=0 width=242 height=69
src="{{STATIC_URL}}theme/img/help/image004.jpg"></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Choose a Map from the
pulldown menu, or to see all available Maps, choose "More Maps".<span
style="mso-spacerun: yes">&nbsp; </span>You will see a list of Maps with the
most recent at the top.<span style="mso-spacerun: yes">&nbsp; </span>Type a
keyword to search Maps.<span style="mso-spacerun: yes">&nbsp; </span>To select
a Map, click on the map Title.<span style="mso-spacerun: yes">&nbsp; </span>To
view the profile of the author and contact information, click Contact name.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><img border=0 width=376 height=104
src="{{STATIC_URL}}theme/img/help/image006.png" alt="more_maps.png"></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Clicking the Title will open
the Map and you will be free to browse it, but to make any changes to a Map you
will need to sign in.</span></p>


<a name="metadata"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Accessing Metadata for
Layer</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Layers may have metadata
(information about them) available which describe them in detail.<span
style="mso-spacerun: yes">&nbsp; </span>Before accessing the metadata page you
must save your Map.</span></p>

<p class=MsoNormal><span style='font-family:Arial'>Access the metadata page by
right clicking (CTRL-click on a Mac) on the Layer and selecting "Layer
Properties"</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1028" type="#_x0000_t75" style='width:190pt;height:102pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image007.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=190 height=102
src="{{STATIC_URL}}theme/img/help/image008.jpg" v:shapes="_x0000_i1028"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>In the Properties box,
select the "About" tab.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1029" type="#_x0000_t75" style='width:145pt;height:117pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image009.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=145 height=117
src="{{STATIC_URL}}theme/img/help/image010.jpg" v:shapes="_x0000_i1029"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Click on the "Metadata" link
at the bottom.<span style="mso-spacerun: yes">&nbsp; </span>On the next page
you will have access to detailed information about the Layer including, (part
way down the right side), a section titled "Manage Layer".</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1030" type="#_x0000_t75" style='width:166pt;height:60pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image011.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=166 height=60
src="{{STATIC_URL}}theme/img/help/image012.jpg" v:shapes="_x0000_i1030"><![endif]></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Click "Update the
description of this data" to open the metadata form for the Layer.</span></p>




<a name="download"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Downloading a Layer</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Layers you see in a Map may
be downloaded in several data formats.<span style="mso-spacerun: yes">&nbsp;
</span>Before accessing the download page you must save your Map.</span></p>

<p class=MsoNormal><span style='font-family:Arial'>Access the download page by
right clicking (CTRL-click on a Mac) on the Layer and selecting "Layer
Properties"</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1031" type="#_x0000_t75" style='width:190pt;height:102pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image007.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=190 height=102
src="{{STATIC_URL}}theme/img/help/image013.jpg" v:shapes="_x0000_i1031"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>In the Properties box,
select the "About" tab.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1032" type="#_x0000_t75" style='width:145pt;height:117pt'>
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image009.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=145 height=117
src="{{STATIC_URL}}theme/img/help/image014.jpg" v:shapes="_x0000_i1032"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Click on the "Metadata" link
at the bottom.<span style="mso-spacerun: yes">&nbsp; </span>Here you have
access to much information about the Layer including options for downloading at
the top right as well as many other Layer related controls.<span
style="mso-spacerun: yes">&nbsp; </span>Click on the format that you would like
to download.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1033" type="#_x0000_t75" style='width:173pt;height:67pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image015.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=173 height=67
src="{{STATIC_URL}}theme/img/help/image016.jpg" v:shapes="_x0000_i1033"><![endif]></span></p>




<a name="create"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Create a New Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>To create a new map, click "Create
New Map" at the top of the page.<span style="mso-spacerun: yes">&nbsp;
</span>If you are not signed in, you will be prompted to sign in.<span
style="mso-spacerun: yes">&nbsp; </span></span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1034" type="#_x0000_t75" style='width:86pt;height:17pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image017.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=86 height=17
src="{{STATIC_URL}}theme/img/help/image018.jpg" v:shapes="_x0000_i1034"><![endif]></span></p>

<p class=MsoNormal><span style='font-family:Arial'>If you are signed in a new
map will be created for you and you will be presented with a blank Map form in
which you can provide title, URL, abstract, keywords, and description.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="Picture_x0020_7" o:spid="_x0000_i1035" type="#_x0000_t75" alt="save_map3.png"
 style='width:324pt;height:276pt;visibility:visible' o:bordertopcolor="this"
 o:borderleftcolor="this" o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image019.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=324 height=276
src="{{STATIC_URL}}theme/img/help/image020.png" alt="save_map3.png" v:shapes="Picture_x0020_7"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'><b><span
style="mso-spacerun: yes">&nbsp; </span>Title</b></span><span style='font-family:
Arial'> The title becomes the name of the Map and displays at the top of your
Map and as the title in Map search.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><span
style="mso-spacerun: yes">&nbsp; </span>URL</b></span><span style='font-family:
Arial'> The URL defines what comes after </span><a
name="http://worldmap.harvard.edu/maps/"><span style='font-family:Arial'>http://worldmap.harvard.edu/maps/</span></a><span
style='font-family:Arial'>. The URL must have no spaces and use only letters,
numbers underscores, and dashes.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><span
style="mso-spacerun: yes">&nbsp; </span>Abstract</b></span><span
style='font-family:Arial'> The abstract is a place to briefly describe your
Map.<span style="mso-spacerun: yes">&nbsp; </span>Words uses here will be
searchable in Map search.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><span style="mso-spacerun:
yes">&nbsp; </span><b>Keywords</b></span><span style='font-family:Arial'>
Keywords are used in Map search. Separate keywords by a space.<span
style="mso-spacerun: yes">&nbsp; </span>In addition Keywords are used to define
the query for Picasa and YouTube.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><span
style="mso-spacerun: yes">&nbsp; </span>Introduction</b></span><span
style='font-family:Arial'> Allows you to provide a detailed description of your
map.<span style="mso-spacerun: yes">&nbsp; </span>You have can control
formatting and provide hyperlinks.<span style="mso-spacerun: yes">&nbsp;
</span>Words used in the description are searchable in Map search.</span></p>



<p class=MsoNormal><span style='font-family:Arial'>Make any changes to the form
and click "Save".</span></p>




<a name="save"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Saving Changes to a Map
as a Copy</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>If you have permission to
edit the Map you are viewing and you are signed in, you can make changes and
save them.<span style="mso-spacerun: yes">&nbsp; </span>Click the "Save" link
located at the top left.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="Picture_x0020_13" o:spid="_x0000_i1036" type="#_x0000_t75" style='width:158pt;
 height:24pt;visibility:visible'>
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image021.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=158 height=24
src="{{STATIC_URL}}theme/img/help/image022.jpg" v:shapes="Picture_x0020_13"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>If you don"t have edit
access to the map and want to be able to save changes, you can save a copy of
the map and edit the copy.<span style="mso-spacerun: yes">&nbsp; </span>Before
you can save a copy, you need to sign in.<span style="mso-spacerun: yes">&nbsp;
</span>If you don"t have an account, click Sign in at the top of the page, then
click Register and create an account.<span style="mso-spacerun:
yes">&nbsp;&nbsp; </span></span></p>



<p class=MsoNormal><span style='font-family:Arial'>After making any changes to
the form, click "Save as Copy" at the bottom.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1037" type="#_x0000_t75" alt="save_copy.png" style='width:326pt;
 height:272pt;visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image023.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=326 height=272
src="{{STATIC_URL}}theme/img/help/image024.png" alt="save_copy.png" v:shapes="_x0000_i1037"><![endif]></span></p>




<a name="permissions"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Setting Permissions for
Your Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>In WorldMap you can control
who can access either your Map or the individual Layers within your Map.<span
style="mso-spacerun: yes">&nbsp; </span>Click the "Advanced" button on the main
Map page, top right. You will need to save your Map before you can enter the
Advanced page.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1038" type="#_x0000_t75" style='width:82pt;height:19pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image025.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=82 height=19
src="{{STATIC_URL}}theme/img/help/image026.jpg" v:shapes="_x0000_i1038"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>The Advanced page contains
forms for changing the title of the Map, adding an Abstract, controlling
permissions to the Map, duplicating a Map, and deleting a Map. </span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1039" type="#_x0000_t75" style='width:136pt;height:210pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image027.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=136 height=210
src="{{STATIC_URL}}theme/img/help/image028.jpg" v:shapes="_x0000_i1039"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Use this page to set general
and specific permissions:</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Read Only</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to view your Map but not make changes.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Read/Write</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to add and remove layers from your Map but not add users or change
permissions.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Administrative</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to control all aspect of a Map including permissions.</span></p>



<p class=MsoNormal><span style='font-family:Arial'>NOTE: Map permissions will override
Layer permissions.<span style="mso-spacerun: yes">&nbsp; </span>For example if Map
X does not give Read/Write permissions to John Doe, it will not be possible to
give John Doe Read/Write permission to a Layer in Map X.</span></p>




<a name="addlayer"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Adding an Existing Layer
to a Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>To add a Layer which is
already in WorldMap to your Map, click "Add Layers" at top left.<span
style="mso-spacerun: yes">&nbsp; </span>A box will appear with a list of
available data layers.<span style="mso-spacerun: yes">&nbsp; </span>Click on a
layer to select it, then click "Add Layers" at the bottom.<span
style="mso-spacerun: yes">&nbsp; </span></span></p>



<p class=MsoNormal><span style='font-family:Arial'>The selected layer will
appear in the Map Layers tree on the left.<span style="mso-spacerun:
yes">&nbsp; </span>The new layer is loaded to the Map and placed in a category
folder named "General" if the layer has not been given a category in the
metadata.<span style="mso-spacerun: yes">&nbsp; </span>If the Layer has been
given a category, it will be placed within a folder with that category name in
the tree.<span style="mso-spacerun: yes">&nbsp; </span>When finished adding
layers, click "Done" and the "Available Layers" dialog box will close.<span
style="mso-spacerun: yes">&nbsp; </span>You can change the name of any category
by right clicking on it and selecting "Rename Category".<span
style="mso-spacerun: yes">&nbsp;&nbsp; </span>You can also use this tool to "Remove
Category". </span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="Picture_x0020_4" o:spid="_x0000_i1040" type="#_x0000_t75" style='width:192pt;
 height:91pt;visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image029.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=192 height=91
src="{{STATIC_URL}}theme/img/help/image030.jpg" v:shapes="Picture_x0020_4"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>In this example  "WorldMap" is selected as the source of the data layers you are
selecting from.<span style="mso-spacerun: yes">&nbsp; </span>Other servers can
also be selected from this pulldown.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="Picture_x0020_0" o:spid="_x0000_i1041" type="#_x0000_t75" alt="add_layer.png"
 style='width:372pt;height:188pt;visibility:visible' o:bordertopcolor="this"
 o:borderleftcolor="this" o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image031.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=372 height=188
src="{{STATIC_URL}}theme/img/help/image032.png" alt="add_layer.png" v:shapes="Picture_x0020_0"><![endif]></span></p>


<a name="upload"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Uploading a Data Layer to
a Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>You can upload a data layer
directly from your hard drive to WorldMap by clicking "Upload your own data".<span
style="mso-spacerun: yes">&nbsp; </span></span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1042" type="#_x0000_t75" style='width:369pt;height:184pt'>
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image033.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=369 height=184
src="{{STATIC_URL}}theme/img/help/image034.png" v:shapes="_x0000_i1042"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Two kinds of data are
currently supported for upload: Shapefiles and GeoTIFFs.<span
style="mso-spacerun: yes">&nbsp; </span>Shapefiles are a common vector-based
GIS format and GeoTIFF is a common raster based GIS format. </span></p>



<p class=MsoNormal><span style='font-family:Arial'>Shape Files are composed of
multiple files which have the same prefix but a different suffix. If you are
uploading a Shape File you must individually select the .shp, .dbf, .shx, and
(optionally) .prj portions of the file.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1043" type="#_x0000_t75" style='width:276pt;height:112pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image035.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=276 height=112
src="{{STATIC_URL}}theme/img/help/image036.jpg" v:shapes="_x0000_i1043"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Once your file is uploaded
you will be presented with a form which lets you describe the data and set
permissions controlling who can access the Layer.</span></p>


<a name="editmeta"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Editing Metadata for Your
Layer</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'><span style="mso-spacerun:
yes">&nbsp; </span>(to be completed)</span></p>


<a name="layerperm"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Setting Permissions for
Your Layer</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Layer level permissions work
in much the same way as Map level permissions.<span style="mso-spacerun:
yes">&nbsp; </span>(Before changing Layer permissions you must save your Map.)</span></p>

<p class=MsoNormal><span style='font-family:Arial'>Access Layer level
permissions by right clicking (CTRL-click on a Mac) the Layer and selecting "Layer
Properties"</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1044" type="#_x0000_t75" style='width:190pt;height:102pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image007.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=190 height=102
src="{{STATIC_URL}}theme/img/help/image037.jpg" v:shapes="_x0000_i1044"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>In the Properties box,
select the "About" tab.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1045" type="#_x0000_t75" style='width:145pt;height:117pt'>
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image009.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=145 height=117
src="{{STATIC_URL}}theme/img/help/image038.jpg" v:shapes="_x0000_i1045"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Click on the "Metadata" link
at the bottom.<span style="mso-spacerun: yes">&nbsp; </span>Here you have
access to much information about the Layer including options for downloading, a
list of other Maps in WorldMap which use this Layer, Styles available for the
Layer, Link to "Update the description of this data" and to "Upload a new
version of this data", and permission controls.</span></p>



<p class=MsoNormal><span style='font-family:Arial'>At the bottom right is
permission controls.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1046" type="#_x0000_t75" style='width:164pt;height:153pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image039.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=164 height=153
src="{{STATIC_URL}}theme/img/help/image040.jpg" v:shapes="_x0000_i1046"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>User these controls to set
general and specific permissions:</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Read Only</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to view your Map but not make changes.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Read/Write</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to add and remove layers from your Map but not add users or change
permissions.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><i>Administrative</i></span><span
style='font-family:Arial'> <span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>permissions
allow users to control all aspect of a Map including permissions.<b></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>Map permissions override
Layer permissions.<span style="mso-spacerun: yes">&nbsp; </span>For example if Map
X does not give Read/Write permissions to John Doe, it will not be possible to
give John Doe Read/Write permission to a Layer in Map X.</span></p>




<a name="reorder"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Reordering and Removing
Layers</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>In the Layer tree at the
left of the Map a Layer that is higher than another will display on top of it
in the map view.<span style="mso-spacerun: yes">&nbsp; </span>You can change
the order of layers within a category or move a layer between categories by
dragging them.</span></p>



<p class=MsoNormal><span style='font-family:Arial'>To remove a layer, right
click on it and select "Remove Layer".</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1047" type="#_x0000_t75" style='width:199pt;height:158pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image041.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=199 height=158
src="{{STATIC_URL}}theme/img/help/image042.jpg" v:shapes="_x0000_i1047"><![endif]></span></p>




<a name="opacity"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Layer Opacity
(Transparency) Control</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>To control the opacity or a
layer, right click (CTRL-click on a Mac) on the layer and select "Layer
Properties".</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1048" type="#_x0000_t75" style='width:242pt;height:127pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image043.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=242 height=127
src="{{STATIC_URL}}theme/img/help/image044.jpg" v:shapes="_x0000_i1048"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>A Properties box will appear
with an opacity slider bar.<span style="mso-spacerun: yes">&nbsp; </span>Slide
the bar to set the desired transparency level.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1049" type="#_x0000_t75" style='width:454pt;height:147pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image045.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=454 height=147
src="{{STATIC_URL}}theme/img/help/image046.jpg" v:shapes="_x0000_i1049"><![endif]></span></p>


<a name="styles"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Layer Styles Control</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>To change the way a layer is
displayed, modify the style by right clicking (CTRL-click on a Mac) on the
layer and selecting "Edit Styles".<span style="mso-spacerun: yes">&nbsp;
</span></span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="Picture_x0020_16" o:spid="_x0000_i1050" type="#_x0000_t75" style='width:214pt;
 height:132pt;visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image047.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=214 height=132
src="{{STATIC_URL}}theme/img/help/image048.jpg" v:shapes="Picture_x0020_16"><![endif]></span></p>

<p class=MsoNormal><span style='font-family:Arial'>(Styles can only be set for
vector layers which are stored on WorldMap servers.<span style="mso-spacerun:
yes">&nbsp; </span>Styles for WorldMap raster layers as well as vector or
raster layers residing on other servers cannot currently be modified.)</span></p>



<p class=MsoNormal><span style='font-family:Arial'>A Properties box with the
Styles tab selected appears displaying the current style and tools for changing
the style.<span style="mso-spacerun: yes">&nbsp; </span>Select a rule and
modify, add, remove, or duplicate a rule.<span style="mso-spacerun: yes">&nbsp;
</span></span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1051" type="#_x0000_t75" style='width:177pt;height:233pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image049.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=177 height=233
src="{{STATIC_URL}}theme/img/help/image050.jpg" v:shapes="_x0000_i1051"><![endif]></span></p>



<p class=MsoNormal><span style='font-family:Arial'>A rule is composed of a
combination of settings defined under the Basic, Label, and Advanced tabs.<span
style="mso-spacerun: yes">&nbsp; </span>Basic settings allow you to change the
color of the point, line, or area features in your layer.<span
style="mso-spacerun: yes">&nbsp; </span>(A given layers must be of either
point, line, or area type.)<span style="mso-spacerun: yes">&nbsp; </span>You
can change the fill color and opacity as well as the stroke color, width, and
opacity.<span style="mso-spacerun: yes">&nbsp; </span>"Stroke" refers to the
linear aspect of the feature.<span style="mso-spacerun: yes">&nbsp; </span>For
example, for an area type layer, the line aspect forms the outline of the
area.<span style="mso-spacerun: yes">&nbsp; </span>Point type features do not
include the stroke option.<b></b></span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1052" type="#_x0000_t75" style='width:181pt;height:199pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image051.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=181 height=199
src="{{STATIC_URL}}theme/img/help/image052.jpg" v:shapes="_x0000_i1052"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>The Label tab brings up
settings which allow you to choose the database field you will use to label
your Layer, as well as the type, size, and style of the font of the label.<span
style="mso-spacerun: yes">&nbsp; </span>You can also change the halo around the
label (label highlight) in terms of its size, color, and opacity.<span
style="mso-spacerun: yes">&nbsp;&nbsp; </span></span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1053" type="#_x0000_t75" style='width:184pt;height:235pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image053.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=184 height=235
src="{{STATIC_URL}}theme/img/help/image054.jpg" v:shapes="_x0000_i1053"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>The Advanced tab of the
style rule tool allows you to define the scale range at which your layer will
display.<span style="mso-spacerun: yes">&nbsp; </span>Select the "Limit by
Scale" option and set your criteria.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1054" type="#_x0000_t75" style='width:186pt;height:136pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image055.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=186 height=136
src="{{STATIC_URL}}theme/img/help/image056.jpg" v:shapes="_x0000_i1054"><![endif]></b></span></p>



<p class=MsoNormal><span style='font-family:Arial'>It is also possible to set a
rule which uses a field in the database to control when to display the
style.<span style="mso-spacerun: yes">&nbsp; </span>Select "Limit by condition"
then choose a field, and set a condition.<span style="mso-spacerun: yes">&nbsp;
</span>You can combine conditions to control when your style is displayed.<span
style="mso-spacerun: yes">&nbsp; </span>Add a new condition by clicking "add
condition" and remove a condition by clicking the red circle <!--[if gte vml 1]><v:shape
 id="Picture_x0020_19" o:spid="_x0000_i1055" type="#_x0000_t75" style='width:13pt;
 height:13pt;visibility:visible'>
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image057.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=13 height=13
src="{{STATIC_URL}}theme/img/help/image058.jpg" v:shapes="Picture_x0020_19"><![endif]>.<span
style="mso-spacerun: yes">&nbsp;&nbsp; </span>Add a new group of conditions by
clicking "add group".</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1056" type="#_x0000_t75" style='width:186pt;height:132pt;
 visibility:visible' o:bordertopcolor="this" o:borderleftcolor="this"
 o:borderbottomcolor="this" o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image059.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=186 height=132
src="{{STATIC_URL}}theme/img/help/image060.jpg" v:shapes="_x0000_i1056"><![endif]></b></span></p>




<a name="linkembed"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Linking, Embedding</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Click the "link" button to
open the link tool.<span style="mso-spacerun: yes">&nbsp; </span>Copy the URL
to use in an email.<span style="mso-spacerun: yes">&nbsp; </span>Copy the embed
link to add the map to a web page.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1057" type="#_x0000_t75" style='width:179pt;height:17pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image061.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=179 height=17
src="{{STATIC_URL}}theme/img/help/image062.jpg" v:shapes="_x0000_i1057"><![endif]></span></p>





<p class=MsoNormal><span style='font-family:Arial'><b>Embedding a Map</b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Any map from WorldMap can be
embedded for use in another site or blog. To embed a map:</span></p>

<p class=MsoNormal><span style='font-family:Arial'>1.&nbsp;Select the from the
list of maps on the community or map page and then hit the 'export map' button.</span></p>

<p class=MsoNormal><span style='font-family:Arial'>2.&nbsp;Choose your desired
height and width for the widget in the wizard.</span></p>

<p class=MsoNormal><span style='font-family:Arial'>3.&nbsp;Copy the HTML
snippet provided in the wizard to any HTML page or iFrame-supporting blog post.</span></p>

<p class=MsoNormal><span style='font-family:Arial'>This will put an interactive
widget showing you map in your web page or blog post.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><!--[if gte vml 1]><v:shape
 id="_x0000_i1058" type="#_x0000_t75" style='width:233pt;height:153pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image063.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=233 height=153
src="{{STATIC_URL}}theme/img/help/image064.jpg" v:shapes="_x0000_i1058"><![endif]></span></p>




<a name="print"></a>
<p class=MsoNormal><span style='font-family:Arial'><b>Printing </b></span></p>

<p class=MsoNormal><span style='font-family:Arial'>Click the "Print" button to
open the printing tool.</span></p>

<p class=MsoNormal><span style='font-family:Arial'><b><!--[if gte vml 1]><v:shape
 id="_x0000_i1059" type="#_x0000_t75" style='width:3in;height:365pt'
 o:bordertopcolor="this" o:borderleftcolor="this" o:borderbottomcolor="this"
 o:borderrightcolor="this">
 <v:imagedata src="{{STATIC_URL}}theme/img/help/image065.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img border=0 width=216 height=365
src="{{STATIC_URL}}theme/img/help/image066.jpg" v:shapes="_x0000_i1059"><![endif]></b></span></p>
</div>

</div>
{% endblock %}

{% block sidebar %}
<div class="threecol">
  <h3>{% trans "Topics" %}</h3>
  {% blocktrans %}
  <p>Use the links below to
navigate to a topic.</p>

    <ul>
    <li><a href="#what-map">What is WorldMap Alpha?</a>
    <li><a href="#what-map">What is a Map?</a>
    <li><a href="#what-layer">What are Layers?</a>
    <li><a href="#register">Registration and Login</a></li>
    <li><a href="#browse">Browse Maps</a></li>
    <li><a href="#metadata">Layer Metadata</a></li>
    <li><a href="#download">Download a Layer</a></li>
    <li><a href="#create">Create a Map</a></li>
        <li><a href="#save">Save a Map</a></li>
            <li><a href="#permissions">Edit Map Permissions</a></li>
                <li><a href="#addlayer">Add Layers</a></li>
                    <li><a href="#upload">Upload a Layer</a></li>
                        <li><a href="#editmeta">Edit Layer Metadata</a></li>
                            <li><a href="#layerperm">Edit Layer Permissions</a></li>
                                <li><a href="#reorder">Reorder and Remove Layers</a></li>
                                    <li><a href="#opacity">Layer Opacity</a></li>
                                        <li><a href="#styles">Layer Styles</a></li>
                                            <li><a href="#linkembed">Link or Embed a Map</a></li>
                                                <li><a href="#print">Print a Map</a></li>

    </ul>

  {% endblocktrans %}
</div>
{% endblock %}
