{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}
{% block nav %}
{% navbar index %}
{% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{% include "geonode/openlayers_header.html" %}
{% include "geonode/geoext_header.html" %}
{% include "geonode/ux_header.html" %}
{% include "geonode/gxp_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}
/*
  var submitForm = function() {
      Ext.query('#search_form form')[0].submit();
  };
*/
  var createMapButton = new Ext.Button({
     renderTo: 'create_map', 
     text: '{% trans "Create Map" %}',
     handler: function(){ window.location = "{% url geonode.maps.views.newmap %}"; }
  });
/*
  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});
*/
{% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<!-- TODO: i18n on the text here -->
<h2> {% trans "Welcome" %} </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna 
aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<h2> {% trans "Maps" %} </h2>
<p>GeoNode lets you compose and share maps.  <strong>Create</strong>
a map with our cartography tool, or <strong>explore</strong> maps
shared by others.</p>

<!-- Explore Maps button -->
<!-- Create Map button -->
<div id="create_map"></div>

<br /> <!-- need better solution for this, will be addressed in retheming -->

<h2> {% trans "Data" %} </h2>
<p>GeoNode lets you upload, manage, and browse data.  
<strong>Create</strong> for data that is valuable to you, or 
<strong>upload</strong> your own data.</p>

<!-- Data search text box and button -->
<!-- Links to specialized views of data -->
<!-- Upload data button (link?) -->

{% endblock %}
{% block sidebar %}
{% endblock %}
