{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}
{% block nav %}
{% navbar index %}
{% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{% include "geonode/openlayers_header.html" %}
{% include "geonode/geoext_header.html" %}
{% include "geonode/ux_header.html" %}
{% include "geonode/gxp_header.html" %}
{{ block.super }}
<script type="text/javascript">
var app;
Ext.onReady(function() {
    var config = Ext.apply({
        useToolbar: false,
        proxy: "/proxy/?url=",
        rest: "/maps/",

        // tell the map viewer where and how to be rendered
        portalConfig: {
            height: 300,
            renderTo: "embedded_map"
        }
    }, {{config|safe}});
    app = new GeoExplorer.Viewer(config);
});
</script>
{% endblock %}

{% block main %} 
<div id="description">
    <h3> {% trans "Welcome to CAPRA's GeoNode!" %} </h3>
</div>
<div id="featuredmap">
    <div id="embedded_map"></div>
</div>
{% endblock %}
{% block sidebar %}
<h3> {% trans "Welcome to CAPRA's GeoNode!" %} </h3>
{% blocktrans %}
<p>The GeoNode is a data clearing house for CAPRA. Currently a prototype, it 
provides tools for the distribution and composition of hazard and risk map data.
Its purpose is to inform decisions about future data management developments for
CAPRA.</p>
{% endblocktrans %}
<div id="featured-map-metadata">
  <div id="featured-map-header">{% trans "GeoNode featured map" %}</div>
  <h4 id="map-title">{{map.about.title}}</h4>
  <p id="map-abstract">{{map.about.abstract}}</p>
</div>


{% endblock %}
