{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>{% block title %} {{ SITENAME }} {% endblock %}</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}theme/img/favicon.ico"/>
  {% block head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/boilerplate-min.css" media="screen" />
  <!--[if lte IE 6]><link rel="stylesheet" href="{{ STATIC_URL }}theme/boilerplate-ie-min.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/site.css" media="screen" />
  <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
  <script type="text/javascript" src="{% url lang %}"></script>
  {% endblock %}
</head>
<body>
  <div id="header">
    <div class="wrap selfclear">
      <a id="logo" href="{% url geonode_views_index %}">GeoNode</a>
      <div id="login-area">
        {% if user.is_authenticated %}
          <a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}">{{ user.username}}</a> (<a href="{% url auth_password_change %}">{% trans "Change password" %}</a> | <a href="{% url auth_logout %}">{% trans "Log out" %}</a>)
        {% else %}
          <!-- this should be updated to a url var --><a href="/accounts/login">{% trans "Sign in" %}</a>
          {% if REGISTRATION_OPEN %} or <a href="{% url registration_register %}">{% trans "Register" %}</a>{% endif %}
          {% trans "for extra features" %}
      {% endif %}
      </div>
    </div><!-- /.wrap -->
  </div><!-- /#header -->
  <div id="crossbar">
    <div class="wrap selfclear">             
      {% block nav %}
    <ul id="sitenav" class="selfclear">
        <li class="home"><a href="{% url geonode_views_index %}">{% trans "Home" %}</a></li> 
        <li class=""><a class="" id="dataLink" href="{% url geonode.maps.views.browse_data %}">{% trans "Data" %}</a></li>
        <li class=""><a class="" id="mapsLink" href="{% url geonode.maps.views.maps %}">{% trans "Maps" %}</a></li>
    {% if user.is_authenticated %}
        <li class=""><a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "Profile" %}</a></li>
    {% if user.is_staff %}
        <li class=""><a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}

    {% endif %}

   <!-- Only show the language form if the csrf_token is present -->
   {% if csrf_token != "NOTPROVIDED" %}

   {% get_current_language as LANGUAGE %}
    <form class="langbar" id="target" action="/i18n/setlang/" method="post">
      {% csrf_token %}
       <div style="display: inline;">
         <select id="langval" name="language" onchange="javascript:form.submit()">
           {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}"
                {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
            </option>
           {% endfor %}
         </select>
       </div>
     </form>

   {% endif %}
    </ul>
   {% endblock %}


    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->
  <div id="main">
    <div class="wrap selfclear">       
      {% block main %}{% endblock %}
      {% block content %}{% endblock %}
      {% block sidebar %}{% endblock %}
    </div><!-- /.wrap -->
  </div><!-- /#main -->
  <div id="footer">
    <div class="wrap selfclear">             
      {% block footer %}
      <div class="onecol">
        Powered by <a href="http://geonode.org">{% trans "GeoNode" %}</a>
        | <strong>{% trans "Need Help?" %}</strong>
        <a href="{% url geonode.views.static "help" %}">{% trans "Help" %}</a> 
        | <a href="{% url geonode.views.developer %}">{% trans "For Developers" %}</a>
      </div>
      {% endblock %}
    </div><!-- /.wrap -->
  </div><!-- /#footer -->
</body>
</html>
