{% load i18n %}
{% load navbar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{% block title %} {% endblock %} - {{ SITENAME }}</title>

        <!-- IE 8 Compatibility -->
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

        <link rel="shortcut icon" href="{{MEDIA_LOCATIONS.app_themes}}img/favicon.ico"/>

        <!-- Ext resources -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.ext_base}}resources/css/ext-all.css" />
        <script type="text/javascript" src="{{MEDIA_LOCATIONS.ext_base}}adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="{{MEDIA_LOCATIONS.ext_base}}ext-all-debug.js"></script>

        <!-- OpenLayers resources -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.ol_theme}}" />
        <script src="{{MEDIA_LOCATIONS.ol_script}}"></script>

        <!-- GeoExt resources -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.gx_themes}}css/geoext-all-debug.css" />
        <script src="{{MEDIA_LOCATIONS.gx_script}}"></script> 
        <script src="{{MEDIA_LOCATIONS.gxp_script}}"></script> 

        <!-- GeoExplorer resources -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.app_themes}}geoexplorer.css" />
        <!--[if IE]><link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.app_themes}}ie.css"/><![endif]-->
        <script src="{{MEDIA_LOCATIONS.ux_script}}"></script> 
        <script src="{{MEDIA_LOCATIONS.app_script}}"></script> 

        <link rel="stylesheet" type="text/css" href="{{MEDIA_LOCATIONS.app_themes}}site.css" />

        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="{% url geonode.views.lang %}"></script>

        <script type="text/javascript">
            Ext.BLANK_IMAGE_URL = "{{MEDIA_LOCATIONS.ext_base}}resources/images/default/s.gif";
        </script>
        {% block header_append %}
        {% endblock %}
    </head>
    <body>
        <div id="container" class="selfclear">
            <div class="clearfix" id="ja-topbar">
                <div id="ja-pathway">

                </div>
                <div class="clearfix" id="ja-search">
                    <form class="spanish" name="es" action="/i18n/setlang/" method="post">
                        <input type="hidden" name="language" value="es"/>
                        <button type="submit"></button>
                    </form>
                    <form class="english" name="en" action="/i18n/setlang/" method="post">
                        <input type="hidden" name="language" value="en"/>
                        <button type="submit"></button>
                    </form>
                    <a title="CAPRA" id="home" href="http://ecapra.org/en/index.php"></a>
                </div>
            </div>
             <div id="header"><a href="{% url geonode.views.index %}">CAPRA Home</a></div>
            {% block nav %}
            {% navbar master %}
            {% endblock %}
            <div id="main"> {% block main %} {% endblock %} </div>
            <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
        </div>
    </body>
</html>
