{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Search Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}

    var bbox = new GeoNode.BoundingBoxWidget({
         proxy: "/proxy/?url=",
         viewerConfig: {{ viewer_config }},
         renderTo: 'refine'
    });

    var searchTable = new GeoNode.SearchTable({
        renderTo: 'search_results',
        trackSelection: true,
        permalinkURL: '{% url search %}',
        searchURL: '{% url search_api %}',
        layerDetailURL: '{% url search_result_detail %}',
        constraints: [bbox],
        searchParams: {{init_search}}
    });
    searchTable.hookupSearchButtons('refine');
    
    var dataCart = new GeoNode.DataCart({
      store: searchTable.dataCart,
      renderTo: 'data_cart'
    });
    
    var dataOps = new GeoNode.DataCartOps({
      cart: dataCart,
      renderTo: 'data_ops',
      
      begin_download_url: '{% url geonode.maps.views.batch_layer_download %}',
      stop_download_url: '{{site}}geoserver/rest/process/batchDownload/kill/',
      download_url: '{{site}}geoserver/rest/process/batchDownload/download/'
    });
    
    {% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
  <div class="block">
    <h2>{% trans "Search" %} <span class="subtitle">{% trans "for geospatial data" %}</span></h2>

    <div id="search_results"></div>  
    <p class="explain">{%trans "Click the <b>+</b> on any row to show layer metadata or download in PDF, KML, GeoTIFF, or SHP." %}
    {% trans "To bookmark your current search use this" %} <a href="#" class="permalink">{% trans "permalink" %}</a>
    </p>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="threecol">
  <div id="refine" class="block">
    <h3>{% trans "Refine Search" %}</h3>
    <div class="bbox-controls">
      <div class="bbox-enabled"><input type="checkbox" /> {% trans "By area" %}</div>
      <p><span class="explain">{% blocktrans %}Limit the search to data that includes features in the displayed area.{% endblocktrans %}</span></p>
      <div class="bbox-expand">
      </div>
    </div>
    <div class="search-button">Refine</div>
  </div>
  <div class="block">
  <h3>Selected Data</h3>
    <p><span class="explain">{% blocktrans %}Use the checkboxes in the search results to add data to your selection.{% endblocktrans%}</span></p>
  <div id="selection">
    <div id="data_cart"></div>
    </div>
    <div id="data_ops">
      <ul>
        <li><a href="#" class="create-map">{% trans "Create a new map" %}</a></li>
        <li><span class="export">{% trans "Export selected" %}:</span>
            <a href="#mixed" class="batch-download">Zip</a> 
        </li>
    <!--    <li><span class="export">{% trans "Export selected" %}:</span>
            <a href="#shp" class="batch-download">Shapefile</a>, 
            <a href="#geotiff" class="batch-download">GeoTiff</a>
        </li> -->
      </ul>
      <form id="create_map_form" action="{% url geonode.maps.views.newmap %}" method="POST">
      </form>
    </div>
  </div>
</div>
{% endblock %}
