{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load staticfiles %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers upload{% endblock %}


{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
  <h2 class="page-title">{% trans "Upload Layers" %}</h2>

  <script language="javascript">
    var json_mosaics = [
          {% for mosaic in mosaics %}
            {
                "name" : "{{mosaic.name}}",
                "workspace" : "{{mosaic.workspace}}",
                "is_mosaic" : "{{mosaic.is_mosaic}}",
                "has_time" : "{{mosaic.has_time}}",
                "has_elevation" : "{{mosaic.has_elevation}}",
                "time_regex" : "{{mosaic.time_regex}}",
                "elevation_regex" : "{{mosaic.elevation_regex}}"
            },
          {% endfor %}
    ]
  </script>
</div>
<div class="row">
  <div class="col-md-8">
    <section class="widget" id="incomplete-download-list" style="display:none;">
      <h3>{% trans "Upload status" %}</h3>
      <table
        class="table table-bordered upload-progress-table"
        data-resume-tool-tooltip="{% trans 'This file needs additional configuration to complete the upload process. Please click on the button to fill the required configuration' %}"
        data-remove-tool-tooltip="{% trans 'Delete' %}"
        data-success-tool-tooltip="{% trans 'Upload process completed' %}"
        data-invalid-tool-tooltip="{% trans 'The upload process cannot be completed because the original file is no more available' %}"
      >
        <thead>
          <tr>
            <td scope="row">{% trans "Name" %}</td>
            <td>{% trans "Created" %}</td>
            <td>{% trans "Progress" %}</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <nav aria-label="Upload progress navigation" class="text-center">
        <ul class="pagination pagination-sm"  style="margin-top:0;">
          <li class="upload-progress-prev-page">
            <a aria-label="Previous">
              <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
            </a>
          </li>
          <li class="upload-progress-page" style="display:none;">
            <a>
              {% trans "page" %}
              <span class="upload-progress-page-count"></span>
              {% trans "of" %}
              <span class="upload-progress-page-total"></span>
            </a>
          </li>
          <li class="upload-progress-next-page">
            <a aria-label="Next">
              <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>
      <div
        class="modal fade"
        id="remove-incomplete-upload-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="remove-incomplete-upload-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="remove-incomplete-upload-modal-label">{% trans "Delete incomplete upload" %}</h4>
            </div>
            <div class="modal-body">
              {% trans "Are you sure you want to remove this incomplete upload?" %}
              <br/>
              {% trans "Name" %}: <span class="remove-incomplete-upload-modal-name"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No, don't remove it" %}</button>
              <button type="button" class="btn btn-danger remove-incomplete-upload-modal-button">{% trans "Yes, I am sure" %}</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% block additional_info %}{% endblock %}

    {% if errors %}
    <div id="errors" class="alert alert-danger">
      {% for error in errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <div id="upload-status"></div>

    <section id="drop-zone">
      <h3><i class="fa fa-cloud-upload"></i><br />{% trans "Drop files here" %}</h3>
    </section>

    <p>{% trans " or select them one by one:" %}</p>

    <form id="file-uploader" method="post" enctype="multipart/form-data">
      <!-- UI change to hide the list of previously uploaded files from the user -->
      <input type="file" id="file-input" style="display: none;" multiple>
      <input class="btn btn-default" type="button" value="{% trans "Choose Files" %}" onclick="document.getElementById('file-input').click();">
    </form>

    <section class="widget">
      <ul id="global-errors"></ul>
      <h4>{% trans "Files to be uploaded" %}</h4>
      <div id="file-queue"></div>
      <div class="checkbox" style="display:none;" id="metadata_uploaded_preserve_check">
          {% trans "Preserve Metadata XML" %} <input type="checkbox" name="metadata_uploaded_preserve" id="id_metadata_uploaded_preserve"/>
      </div>
    </section>

    <section class="charset">
      <p>{% trans "Select the charset or leave default" %}</p>
      <select id="charset">
        {% for charset in charsets %}
        {% if charset.0 == 'UTF-8' %}
        <option selected='selected' value={{ charset.0 }}>{{ charset.1 }}</option>
        {% else %}
        <option value={{ charset.0 }}>{{ charset.1 }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </section>

    <section>
      <a href="{% url "layer_upload" %}" id="clear-button" class="btn btn-default">{% trans "Clear" %}</a>
      <a href="#" id="upload-button" class="btn btn-primary">{% trans "Upload files" %}</a>
    </section>
  </div>

  {% display_change_perms_button resource request.user perms_list as display_perms_button %}
  {% if display_perms_button %}
  <div class="col-md-4">
    <h3>{% trans "Permissions"  %}</h3>
    <form id="permission_form">
      {% include "_permissions.html" %}
    </form>
  </div>
  {% endif %}

</div>
{% endblock %}


{% block extra_script %}
{{ block.super }}
<script data-main="{% static 'geonode/js/upload/main.js' %}"
  src="{% static 'lib/js/require.js' %}">
</script>
<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{{ UPLOADER_URL }}",
  time_enabled = {{ TIME_ENABLED|lower  }},
  mosaic_enabled = {{ MOSAIC_ENABLED|lower  }},
  userLookup = "{% url "account_ajax_lookup" %}"

{% endautoescape %}

</script>
{% if GEONODE_SECURITY_ENABLED %}
{% with resource=layer %}
{% include "_permissions_form_js.html" %}
{% endwith %}
{% endif %}
{% endblock extra_script %}
