{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
          <div class="col-md-6">
              <div class="title small-content">
                  {% trans "Upload Layers" %}
              </div>
          </div>
          <div class="col-md-6">
              <div class="small-content text-right">
                <a href="{% url "layer_browse" %}" class="btn btn-gd-primary pull-right">
                    {% trans "Explore Layers" %}
                </a>
              </div>
          </div>
      </div>
      <div class="hr"></div>
    </div>
</div>
<div class="row">
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}
