{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Upload Layer" %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers upload{% endblock %}


{% block head %}

    {{ block.super }}
{% endblock %}

{% block body_outer %}
    <div class="gd-content">
        <div class="gd-content-heading top-bottom-margin-20px">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        {% trans "Upload Layers" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <a href="{% url "layer_browse" %}" class="btn btn-gd-primary pull-right">
                            {% trans "Explore Layers" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>Allowed layer types:</div>
                    <div class="block-separator"></div>
                    <div><i class="fa fa-check" style="color: #2ecc71;" aria-hidden="true"></i>
                        &nbsp;Shape Layer :
                        <span class="label label-default">.shp</span>
                        <span class="label label-default">.shx</span>
                        <span class="label label-default">.dbf</span>
                        <span class="label label-default">.prj</span>
                    </div>
                    <div class="block-separator"></div>
                    <div><i class="fa fa-check gd-offer-txt" style="color: #2ecc71;" aria-hidden="true"></i>
                        &nbsp;Zipped Shape Layer :
                        <span class="label label-default">.shp</span>
                        <span class="label label-default">.shx</span>
                        <span class="label label-default">.dbf</span>
                        <span class="label label-default">.prj</span>
                    </div>
                    <div class="block-separator"></div>
                    <div><i class="fa fa-check gd-offer-txt" style="color: #2ecc71;" aria-hidden="true"></i>
                        &nbsp;Open Street Map Layer :
                        <span class="label label-default">.osm</span>
                    </div>
                    <div class="block-separator"></div>
                    <div><i class="fa fa-check gd-offer-txt" style="color: #2ecc71;" aria-hidden="true"></i>
                        &nbsp;Excel Format Data Layer :
                        <span class="label label-default">.csv</span>
                    </div>
                    <div class="block-separator"></div>
                    <div><i class="fa fa-check gd-offer-txt" style="color: #2ecc71;" aria-hidden="true"></i>
                        &nbsp;Image Layer :
                        <span class="label label-default">.tif</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="gd-content-body transparent top-bottom-margin-20px">
            <div class="row">
                <div class="col-md-12">
                    <div class="gd-content-body box-shadow full-pad-30px">
                        {% if incomplete %}
                            <section class="widget" id="incomplete-download-list">
                                <h3>{% trans "Incomplete Uploads" %}</h3>
                                <p>{% trans "You have the following incomplete uploads" %}:</p>
                                {% for u in incomplete %}
                                    <div class="clearfix uip" id="incomplete-{{ u.import_id }}">
                                        <div class="pull-left">{{ u.name }}, {% trans "last updated on" %} {{ u.date }}</div>
                                        <div class="upload_actions pull-right">
                                            <a class="btn btn-mini btn-gd" href="#" id="resume-{{ u.import_id }}">
                                                {% trans "Resume" %}
                                            </a>
                                            <a class="btn btn-mini btn-gd" href="#" id="delete-{{ u.import_id }}">
                                                <i class="icon-trash"></i>
                                                {% trans "Delete" %}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </section>
                            <div id="confirm-delete" class="hidden alert alert-warning">
                                {% trans "Are you sure you want to delete this upload?" %}
                                <a href="#y" class="btn btn-danger btn-gd">{% trans "Delete" %}</a>
                                <a href="#n" class="btn btn-default btn-gd">{% trans "Cancel" %}</a>
                                <a href="#yy">{% trans "Delete, and don't ask me again." %}</a>
                            </div>
                        {% endif %}

                        {% block additional_info %}{% endblock %}

                        {% if errors %}
                            <div id="errors" class="alert alert-danger">
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div id="upload-status"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label"><span style="color:red;"> * </span> {% trans "Title" %} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id-layer-upload-title" class="form-control" type="text" name="title"
                                       maxlength="255" placeholder="Name of your data layer">
                            </div>
                        </div>
                        <div class="block-separator"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label"><span style="color:red;"> * </span> {% trans "Select Organization " %} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <select id="id-select-organization" class="col-md-12" >
                                    <option value='' selected="selected">.......................</option>
                                    {% for organization in organizations %}
                                    {% if request.user in organization.get_managers %}
                                        <option value={{ organization.id }} data-isadmin="true">{{ organization.title }}</option>
                                    {% else %}
                                        <option value={{ organization.id }} data-isadmin="false">{{ organization.title }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="block-separator"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label"><span style="color:red;"> * </span> {% trans "Select Category " %} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <select id="id-select-category" class="col-md-12">
                                    {% for category in categories %}
                                        <option value={{ category.gn_description }}>{{ category.gn_description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="block-separator"></div>

                        <section id="fileTypeSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label"><span style="color:red;"> * </span> {% trans "Select uploaded file type" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="fileType" class="col-md-12">
                                        <option selected='selected' value="shp">.shp .shx .dbf .prj</option>
                                        <option value="osm">.osm</option>
                                        <option value="csv">.csv</option>
                                        <option value="tif">.tif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="block-separator"></div>
                        </section>
                        <section id="osmLayerSection" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label"> {% trans "Select the OSM Layer Type" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="osmLayerType" class="col-md-12">
                                        <option selected='selected' value="points">Point layer</option>
                                        <option value="lines">Line layer</option>
                                        <option value="multilinestrings">Multi line layer</option>
                                        <option value="multipolygons">Multipolygon layer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="block-separator"></div>
                        </section>


                        <div class="block-separator"></div>
                        <section id="drop-zone">
                            <div class="upload-info">
                                <i class="fa fa-cloud-upload"></i><br/>
                                {% trans "Drop files here" %}
                            </div>
                        </section>

                        <div><span style="color:red;"> * </span> {% trans " or select them one by one:" %}</div>

                        <form id="file-uploader" method="post" enctype="multipart/form-data">
                            <input class="btn btn-gd" id="file-input" type="file" multiple>
                            <!--<input type="radio" name="osmlayer" id="osmlayer" class="osmlayer" value=""/>OSM
                            <input type="radio" name="osmlayer" id="osmlayer" class="osmlayer" value=""/>OSM-->
                        </form>

                        <section class="widget">
                            <ul id="global-errors"></ul>
                            <h4>{% trans "Files to be uploaded" %}</h4>
                            <div id="file-queue"></div>
                            <div class="checkbox" style="display:none;" id="metadata_uploaded_preserve_check">
                                Preserve Metadata XML
                                <input type="checkbox" name="metadata_uploaded_preserve"
                                       id="id_metadata_uploaded_preserve"/>
                            </div>
                        </section>
                        <section id="csvLayerSection" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<label class="control-label"> {% trans "Select layer category" %} </label>-->
                                    <label class="control-label"> {% trans "Select Geometry Definition" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input checked="checked" type="radio" name="csvcategory" id="thegeo" class="thegeo" value="thegeo"/>
                                        &nbsp;Well Known Text(WKT) <br>
                                    <input type="radio" name="csvcategory" id="latlon" class="latlon" value="latlon"/> Latitude
                                        Point Coordinates
                                </div>
                            </div>
                            <!--<div class="block-separator"></div>-->
                        </section>


                        <section id="csvLatLonLayerSection" style="display: none;">
                            <div class="block-separator"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label"> {% trans "Select X-field (select longitude field)" %} </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label"> {% trans "Select Y-field (select latitude field)" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="csvLongitudeColumnName" class="col-md-12"></select>
                                </div>
                                <div class="col-md-4">
                                    <select id="csvLattitudeColumnName" class="col-md-12"></select>
                                </div>
                            </div>
                            <!--<div class="block-separator"></div>-->
                             <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<label class="control-label"> {% trans "Select Y-field" %} </label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-4">-->
                                    <!--<select id="csvLattitudeColumnName" class="col-md-12"></select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="block-separator"></div>
                        </section>

                        <section id="csvGeomLayerSection" style="display: none;">
                            <div class="block-separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label"> {% trans "Select Coordinate (select geom field)" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" id="csvColumnBox">
                                    <select id="csvGeomColumnName" class="col-md-12"></select>

                                </div>
                            </div>
                            <div class="block-separator"></div>
                        </section>
                        <section class="charset">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label"> {% trans "Select the charset or leave default" %} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="charset" class="col-md-12">
                                        {% for charset in charsets %}
                                            {% if charset.0 == 'UTF-8' %}
                                                <option selected='selected'
                                                        value={{ charset.0 }}>{{ charset.1 }}</option>
                                            {% else %}
                                                <option value={{ charset.0 }}>{{ charset.1 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="projection-alert">

                    </div>
                    {% if GEONODE_SECURITY_ENABLED %}
                        <div class="gd-content-body full-pad-30px" style="padding-top: 0px;">
                            <div class="sidebar-title">{% trans "Permissions" %}</div>
                            <form id="permission_form">
                                {% include "_permissions.html" %}
                            </form>
                        </div>
                    {% endif %}
                    <section class="gd-content-body full-pad-20px">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" id="clear-button" class="btn btn-gd-gray">{% trans "Clear" %}</a>
                                <a href="#" id="upload-button" class="btn btn-danger btn-gd">{% trans "Upload files" %}</a>
                                <input type="hidden" name="upload-and-publish-trigger" id="upload-and-publish-trigger" value="false" />
                                <a href="javascript:;" id="upload-button-publish" class="btn btn-danger btn-gd upload_publish" style="display:none;">{% trans "Upload & Publish" %}</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </section>
        </div>

    </div>
{% endblock %}



{% block extra_script %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>

    <script data-main="{% static 'geonode/js/upload/main' %}"
            src="{% static 'lib/js/require.js' %}">
    </script>
    {#<script type="text/javascript" src="{% static 'geonode/js/upload/cookie.js' %}"></script>#}
    {#<script type="text/javascript" src="{% static 'geonode/js/geo-dash/papaparse.min.js' %}"></script>#}
    <script type="text/javascript">
        {% autoescape off %}

            csrf_token = "{{ csrf_token }}",
                    form_target = "{{ UPLOADER_URL }}",
                    geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
                    time_enabled = {{ TIME_ENABLED|lower  }},
                    mosaic_enabled = {{ MOSAIC_ENABLED|lower  }},
                    userLookup = "{% url "geonode.views.ajax_lookup" %}"

        {% endautoescape %}

    </script>
    <script type="text/javascript" language="JavaScript">

        $(document).ready(function () {
            anyonePermissionDisable();
            $("#upload-button-publish").click(function () {
                $('#upload-and-publish-trigger').val('true');
                $("#upload-button").trigger( "click" );
                setTimeout(function(){
                    $('#upload-and-publish-trigger').val('false');
                }, 100);
            });

            $("#id-select-organization").change(function () {
                var orgnization_select = $(this).val();
                //var orgnization_select_data = orgnization_select.attr("data-is-admin");
                var capacityValue = $('#id-select-organization').find(':selected').data('isadmin');
                if(capacityValue == true || capacityValue == 'true'){
                    $('#upload-button-publish').css('display','inline-block');
                }
                else{
                    $('#upload-button-publish').css('display','none');
                }
                //alert(capacityValue);
            });

            $("#fileType").change(function () {
                var fileType = $(this).val();
                //shp osm csv
                if(fileType == "osm"){
                    $("#osmLayerSection").show();
                    $("#csvLayerSection, #csvLatLonLayerSection, #csvGeomLayerSection").hide();
                } else if(fileType == "csv"){
                    var thegeoSelected = ($('#thegeo:checked').length > 0);
                    if(thegeoSelected){
                        $("#csvLayerSection, #csvGeomLayerSection").show();
                        $("#csvLatLonLayerSection").hide();
                    } else {
                        $("#csvLayerSection, #csvLatLonLayerSection").show();
                        $("#csvGeomLayerSection").hide();
                    }
                    $("#osmLayerSection").hide();
                    csvLayerSectionCombo();
                } else {
                    $("#osmLayerSection").hide();
                    $("#csvLayerSection, #csvLatLonLayerSection, #csvGeomLayerSection").hide();
                }
            });
            csvLayerSectionCombo();
        });
        function csvLayerSectionCombo(){
            $("#csvLayerSection #thegeo").click(function () {
                $("#csvGeomLayerSection").show();
                $("#csvLatLonLayerSection").hide();
            });
            $("#csvLayerSection #latlon").click(function () {
                $("#csvLatLonLayerSection").show();
                $("#csvGeomLayerSection").hide();
            });
        }
    </script>
    {% if GEONODE_SECURITY_ENABLED %}
        {% with resource=layer %}
            {% include "_permissions_form_js.html" %}
        {% endwith %}
    {% endif %}
    <script type="text/javascript">
        // file-input multiple files

        $('input[type=file]').change(function(e){

          var inputFiles = document.getElementById('file-input');

          var checkTifFileName = inputFiles.files[0].name;
          var fileExtension = checkTifFileName.substr((checkTifFileName.lastIndexOf('.') +1));

          if(fileExtension != "tif"){
              for(var i = 0; i < inputFiles.files.length; i++)
              {
                  //console.log(inputFiles.files[i].name);
                  var fileName = inputFiles.files[i].name;
                  if(fileName.split('.')[1] == 'prj'){

                      (function(i) {
                            var file = inputFiles.files[i];
                            var fr = new FileReader();
                            fr.onload = function(e) {
                                var filecontent = fr.result;
                                // My logic here
                                var projection = proj4(filecontent);
                                //console.log(projection);
                                var pronectionName = projection.oProj.name;
                                if(pronectionName.indexOf('WGS') == -1){
                                    //alert('need to convert');
                                    $('.projection-alert').append("<div class='alert alert-warning'><strong>Warning!</strong> The projection system is not WGS 84. Projection will be converted at the time of upload! </div>");
                                }
                            };
                            fr.readAsText(file);
                        })(i);

                  }
                  // console.log(fileName.split('.')[1])
              }
          }





        });

    </script>
{% endblock extra_script %}