{% extends "geonode_base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
  <h2 class="page-title">{% trans "Upload Layers" %}</h2>
</div>
<div class="row">
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}
