<div style="font-family: Arial, Helvetica, sans-serif; background-color: #f1f1ef; padding: 10px;">
    <div style="margin: 0 auto; max-width: 690px;">
        <div style="height: 85px; text-align: left; padding-left: 30px; vertical-align: middle;">
            <div style="padding-top: 23px;">
                <a href="{HomeUrl}">
                    <img height="39px;" alt="SurfGIS Logo" src="{HomeUrl}Content/assets/images/logo.png" />
                </a>
            </div>
        </div>
        <div style="padding: 30px; background-color: #ffffff; border-top: 5px solid #df1f26;">
            <div style="text-align: left; color: #141414;">
                <h2 style="font-size: 22px; font-weight: bold; line-height: 26px; padding: 0; margin: 0; padding-bottom: 20px;">
                    Thank you for upgrading your subscription at SurfGIS
                </h2>
                <div style="font-size: 14px; line-height: 20px; padding-bottom: 20px;">
                    Here is your subscription detail
                    <br/>
                    <br/>
                    <table style="font-size: 14px; line-height: 20px; border-collapse: collapse;">
                        <tr>
                            <td style="width: 170px;">Previous Subscription
                            </td>
                            <td>
                                <label>{PreviousSubscription}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Upgraded To
                            </td>
                            <td>
                                <label>{UpgradedSubscription}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Months</td>
                            <td><label>{Months}</label></td>
                        </tr>
                        <tr>
                            <td>Price
                            </td>
                            <td>
                                <label>${ActualPrice} </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Discount
                            </td>
                            <td>
                                <label>${Discount}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Refund
                            </td>
                            <td>
                                <label>${Refund}</label>
                            </td>
                        </tr>
                        <tr style="font-weight: bold; font-size: 18px;">
                            <td style="border-top: 2px solid #df1f26;">Total
                            </td>
                            <td style="border-top: 2px solid #df1f26;">
                                <label>${Paid}</label>
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="padding: 0; margin: 0; font-size: 14px; line-height: 20px; padding-top: 5px; border-top: 1px #D8E0E7 solid;">
                    <div style="font-weight: bold; font-size: 18px; color: #666; line-height: 30px;">
                        Need Help?
                    </div>
                    We're delighted to help you along the way. Simply email to <a target="_blank" style="color: #6789a7; text-decoration: underline"
                        href="mailto:support@surfgis.com" rel="nofollow">support@surfgis.com</a>
                    and we'll be happy to answer your questions.
                </div>

                <div style="padding-top: 40px;">
                    <p style="color: #000000; font-size: 13px; line-height: 20px; padding: 0; margin: 0">
                        Sincerely,
                    </p>
                    <p style="font-weight: bold">
                        The SurfGIS Team
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
