<article>
  {% url map_detail map.id as map_url %}
  <a href="{% url map_detail map.id %}"><img src="{{ STATIC_URL }}theme/img/placeholder1.png" width="97" height="91" alt="{{ map.title }}" class="thumb" border=0/></a>
  <div class="details">
      <h6><a href="{% url map_detail map.id %}">{{ map.title }}</a></h6>
      <a href="{% url profile_detail map.owner.username %}" rel="author">{{ map.owner }}</a>
      <time pubdate datetime="2011-09-27">on {{ map.date|date:"N jS, Y" }}</time>
      <footer>
          <span class="views"><a href="#">1,205 Views</a></span>
          <span class="rating">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
          </span>
      </footer>
  </div>
</article>
