{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{{ map.title }} — {{ block.super }}{% endblock %}

{% block head %}
    {% include "geonode/ext_header.html" %}
    {{ block.super }}
{% endblock %}

{% block main %}
  <form action="{{ map.get_absolute_url }}?describe" method="POST">
    <legend>
        {% blocktrans with map.title as map_title %}
            Updating metadata of {{ map_title }}
        {% endblocktrans %}
    </legend>
    {% csrf_token %}
    <div class="form-controls">
        {{ map_form|as_bootstrap }}
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{% trans "Update metadata" %}"/>
    </div>
  </form>
{% endblock %}
