{% extends "maps/map_base.html" %}
{% load geonode_auth %}
{% load i18n %}
{% load geonode_auth %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load url from future %}

{% block title %}{{ map.title }} — {{ block.super }}{% endblock %}

{% block head %}
{% include "maps/map_include.html" %}
{{ block.super }}
{% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}
  {% overall_rating map "map" as map_rating %}
  <div class="span6">
    <h2 class="page-title">{{ map.title }}</h2>
  </div>
  <div class="span12  action-group">
    <div class="hd-actions pull-right">
      {% has_obj_perm user map "map.change_map" as can_edit_map %}
      {% if can_edit_map %}
      <div class="btn-group pull-right">
        <a class="btn btn-large btn-info dropdown-toggle" data-toggle="dropdown" href="#">
          {% trans "Edit Map" %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--li><a href="">Edit Layer Data <i class="icon-chevron-right"></i></a></li-->
          <li><a href="{% url "map_metadata" map.id %}">{% trans "Edit Metadata" %} <i class="icon-chevron-right"></i></a></li>
          <!--li><a href="{% url "layer_style" layer.typename %}">{% trans "Edit Styles" %} <i class="icon-chevron-right"></i></a></li-->
          <li><a href="#modal_perms" data-toggle="modal">{% trans "Edit Permissions" %} <i class="icon-chevron-right"></i></a></li>
          <li><a href="{% url "map_remove" map.id %}">{% trans "Remove this Map" %} <i class="icon-chevron-right"></i></a></li>
        </ul>
      </div>
      {% endif %}
      <div class="btn-group">
        <a class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          {% trans "Download Map" %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url "map_download" map.pk %}">{% trans "Download Data Layers" %} <i class="icon-chevron-right"></i></a></li>
            <li><a href="{% url "map_wmc" map.pk %}" target="_new">{% trans "Download Web Map Context" %} <i class="icon-chevron-right"></i></a></li>
        </ul>
      </div>
      <div class="btn-group">
        <a href="#" class="btn btn-large btn-info strong"><i class="icon-print icon-white"></i> {% trans "Print Map" %}</a>
      </div>
    </div>
  </div>
  <div class="span12">
	  <div id="embedded_map" class="mrg-btm">
        <div id="the_map" width='100%'></div>
    </div>
  </div>

  <div class="span8">
    <div class="map-actions">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab"><i class="icon-info-sign"></i>{% trans "Info" %}</a></li>
        <li><a href="#comments" data-toggle="tab"><i class="icon-comment"></i> {% trans "Comments" %}</a></li>
        <li><a href="#rate" data-toggle="tab"><i class="icon-star"></i>{% trans "Ratings" %}</a></li>
        <li><a href="#share" data-toggle="tab"><i class="icon-share"></i>{% trans "Share" %}</a></li>
        <!-- li><a href="#flag" data-toggle="tab"><i class="icon-flag"></i>{% trans "Flag" %}</a></li -->
      </ul>
    </div>
    <div class="tab-content">

      {% include "geonode/resourcebase_info_panel.html" with resourcebase=map %}

      <article class="tab-pane" id="comments">
        <h2>{% trans "Comments" %}</h2>
    	{% with map as obj %}
      	{% include "_comments.html" %}
    	{% endwith %}
      </article>
      <article class="tab-pane" id="rate">
        <!-- TODO: Move this to a reusable template snippet -->
        {% if request.user.is_authenticated %}
        <h3>{% trans "Rate this Map" %}</h3>
        {% user_rating request.user map "map" as user_map_rating %}
        <div id="user_rating" class="category-map"></div>
        {% endif %}
        <h3>{% trans 'Average Rating' %}</h3>
        {% overall_rating map "map" as map_rating %}
        <div class="overall_rating" data-rating="{{ map_rating }}"></div>
        <!-- TODO: Add display of who gave what rating based -->
      </article>
      <article class="tab-pane" id="share">
        <!-- TODO: Move this to a reusable template snippet -->
        <header>
            <h3>{% trans "Share This Map" %}</h3>
        </header>
        <g:plusone size="small" href="http://{{ request.get_host }}{{ request.get_full_path }}"></g:plusone>
        <div class="fb-like" data-href="http://{{ request.get_host }}{{ request.get_full_path }}" data-send="false" data-width="50" data-layout="button_count" data-show-faces="false"></div>
        <!-- TODO: Add more sharing options -->
      </article>
      <!--article class="tab-pane" id="flag">
        <h2>{% trans "Flag" %}</h2>
      </article-->
    </div>
  </div>
  <aside class="span4">
    <div class='well'>
        <h2>{% trans "Map Layers" %}</h2>
        <p>{% trans "This map uses the following layers:" %}</p>
        <ul class="unstyled space">
          {% for layer in map.layer_set.all %}
	    {% ifnotequal layer.group 'background' %}
		{% if layer.local %}
        	    <li><a href="{% url "layer_detail" layer.name %}">{{ layer.name }}</a></li>
		{% else %}
        	    <li>{{ layer.name }}</li>
		{% endif %}
	    {% endifnotequal %}
          {% endfor %}
        </ul>
    </div>
    <div class='well'>
        <h2>{% trans "View map" %}</h2>
        <p>{% trans "View this map in the GeoExplorer GIS Client" %}</p>
        <a href="{% url "map_view" map.id %}" class="btn btn-large">{% trans "View Map" %}</a>
    </div>
      {% has_obj_perm user map "map.change_map_permissions" as can_change_permissions %}
      {% if can_change_permissions %}
    <div class='well'>
        <h2>{% trans "Permissions" %}</h2>
        <p>{% trans "Specify which users can view or modify this map" %}</p>
        <a href="#modal_perms" data-toggle="modal" class="btn btn-large">{% trans "Change Permissions of this Map" %}</a>
    </div>
      {% endif %}
    <div class='well'>
        <h2>{% trans "Copy this map" %}</h2>
        <p>{% trans "Duplicate this map and modify it for your own purposes" %}</p>
        <a href="{% url "new_map" %}?copy={{ map.id }}" class="btn btn-large">{% trans "Create a New Map" %}</a>
    </div>
    <div class="well last">
    <h2>{% trans "About" %}</h2>
    {% trans "Map Owner" %}
      {% with map.owner.profile as profile %}
        {% include "people/_profile_about_item.html" %} 
      {% endwith %}
    </div>
  </aside>
  {% include "_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% if request.user.is_authenticated %}
 {% user_rating_js request.user map "map" %}
{% else %}
 <script src="{{ STATIC_URL }}libs/js/jquery.raty.js"></script>
{% endif %}
<script type="text/javascript">
 $(function() {
   $('.overall_rating').raty({
     half: true,
     readOnly: true,
     start: $('div.overall_rating').data('rating'),
     path: "{{ STATIC_URL }}libs/agon_ratings/img/"
   });
   $("#rate-map").raty();
 });

 (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
</script>
{% include "_permissions_form_js.html" %}
{% endblock %}
