{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% block title_sub %}{% trans "Explore Maps" %}{% endblock %} - {{ block.super }} {% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}
  <div class="span12">
    <!--<nav class="back"><a href="{% url "maps_browse" %}"><i class="icon-chevron-left"></i> See all Maps</a></nav>-->
    <ul class="nav nav-tabs" id="subnav-tabs">
          <li><a href="{% url "maps_browse" %}" class="explore">{% trans 'Explore Maps' %}</a></li>
          <li><a href="{% url "maps_search" %}" class="search">{% trans 'Search Maps' %}</a></li>
    </ul>
  </div>
  {% block body %}{% endblock body %}
{% endblock %}
