{% extends "maps/map_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}maps explore{% endblock %}

{% block body %}


<div class="d-title">
        
                                        <div class="pull-right">
        
                                           
                                          
                                                <div class="small-content text-right">
                                                        <div ng-show="cart.getCart().items.length > 0" ng-controller="CartList">
                                                            <div class="selectfixed">
                                                                <resource-cart></resource-cart>
                                                            </div>
                                                        </div>
                                                        <a href="javascript:;" id="advanced-search-control"
                                                           class="btn btn-gd-primary pull-right icon-btn-color">
                                                           {% trans "Advanced" %} <i class="fa fa-search"></i>
                                                        </a>
                                                        <a href="{% url "new_map" %}" class="btn btn-gd-primary pull-right icon-btn-color">
                                                            {% trans "Create a New Map" %} <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        </a>
                                                  </div>
    
    
        
                                          </div>
        
                                      {% trans "Explore Maps" %}
                                  </div>



                                  <div class="panel panel-default gallery-container">
                                        <div class="panel-body">
                                       
                                                                     {% include "search/_search_content.html" %}
                                                                     {% include "_bulk_permissions_form.html" %}
                                                  
                                                    
                                        </div>
                                      </div>



{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=map'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='maps_with_favorite' %}';
      {% endif %}
      FILTER_TYPE = 'map';
      /*$(document).ready(function() {
            $("#advanced-search-menu").show();
      });*/
  </script>
  <script type="text/javascript" language="JavaScript">
    $(document).ready(function () {
    anyonePermissionDisable();
    });
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
