{% extends "maps/map_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load pagination_tags %}
{% load taggit_extras %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}maps explore{% endblock %}

{% block body %}
  <div class="span8">
    <h2 class="page-title">{% trans "Explore Maps" %}</h2>
  </div>
  <div class="span4">
    <a href="{% url "new_map" %}" class="btn btn-large btn-primary pull-right strong">{% trans "Create a New Map" %}</a>
  </div>
  <div class="span8">
    {% include "maps/_map_filters.html" %}
  </div>
  <div class="span4">
    <div class="pull-right" data-viewby="list">
      {% include "_viewby.html" %}
    </div>
  </div>
  <div class="span12">
    <div class="row" id="contain-slider">
      <div class="span4">
        <div id="slide-pane">
          <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
          <nav class="tabs-left" id="nav-categories">
            <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i>{% trans "Categories" %}</a></h2>
            <ul class="nav">
              {% map_categories as category_list %}
              <li>
                <a href="{% url "maps_browse" %}"{% if not map_category %} class="active"{% endif %}>
                  {% trans "All Categories" %}
                </a>
              </li>
              {% for category in category_list %}
                <li>
                  <a href="{% url "maps_browse_category" category.slug %}"{% ifequal map_category category %} class="active"{% endifequal %}>{{ category }}
                  {% if category.map_set.count > 0 %}({{ category.map_set.count }}){% endif %}
                </a></li>
              {% endfor %}
            </ul>
          </nav>
          <nav class="" id="nav-keywords">
            <h2><a href="#" class="toggle toggle-nav"><i class="icon-chevron-down"></i> {% trans "Keywords" %}</a></h2>
            <ul class="nav">
              {% get_taglist as tags for 'maps.Map' %}
              {% for tag in tags %}
                <li><a href="{% url "map_browse_tag" tag.slug %}"{% if tag.slug == map_tag %} class="active"{% endif %}>{{ tag }}</a> <span class="count">({{ tag.num_times }})</span></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="tab-content span8">
        <div class="tab-pane active list loadmore" id="all">
          {% if object_list.count %}
          {% autopaginate object_list 10 %}
          {% for map in object_list %}
            {% include "maps/_map_list_item.html" %}
          {% endfor %}
          {% else %}
            <p>{% trans "No data found" %}</p>
          {% endif %}
        </div>
        {% if object_list.count %}
          {% paginate %}
        {% endif %}
        </div>
    </div>
  </div> <!-- End Nav -->

{% endblock %}

{% block extra_script %}
  <script src="{% static "libs/js/waypoints.js" %}"></script>
  <script src="{% static "libs/js/loadmore.js" %}"></script>
  <script src="{% static "libs/js/jquery.raty.js" %}"></script>
  <script src="{% static "geonode/js/explore.js" %}"></script>
  <script src="{% static "geonode/js/paginate.js" %}"></script>
  <script type="text/javascript">
     $(function() {
       $('.overall_rating').each(function() {
        var rating = $(this).parents(".avg_rating").data('rating');
        star(this, rating);
      });
       $(".loadmore").on("load.loadmore", function(e, o) {          
        o.find(".overall_rating").each(function() {
          var rating = $(this).parents(".avg_rating").data('rating');
          star(this, rating);
        });
       });
     });
      function star(elem, rating) {
          $(elem).raty({
            half: true,
           readOnly: true,
           score: rating,
           path: "{% static "agon_ratings/img/" %}"
          });        
      }
  </script>
{% endblock %}
