{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans "GeoExplorer" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
{% include 'maps/map_geoexplorer.js' %}
<script src="{{STATIC_URL}}geonode/js/print/TemplateStore.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}geonode/js/print/GeonodePrintProvider.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}geonode/js/print/GeonodePrintPanel.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}geonode/js/print/PrintPlugin.js" type="text/javascript"></script>
{% endblock %}

{% block footer %}{% endblock %}
