{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
{% include "geonode/print_header.html" %}
<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
    GeoExt.Lang.set("{{ LANGUAGE_CODE }}");
    var config = Ext.apply({
        tools: [{
            ptype: "gxp_wmsgetfeatureinfo",
            format: "grid",
            actionTarget: "main.tbar",
            outputConfig: {width: 400, height: 200, panIn: false}
        }],
        useToolbar: true,
        proxy: "/proxy/?url=",
        printService: "/printing/print/",
        rest: "/maps/",

        // tell the map viewer where and how to be rendered
        portalConfig: {
            height: 400,
            renderTo: "the_map"
        }
    }, {{ config }});
    app = new GeoNode.Viewer(config);
{% endautoescape %}
});
</script>
