{% extends "site_base.html" %}
{% load bootstrap_tags %}

{% load i18n %}
{% block title %} {% trans "Server List" %} - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
          <div class="col-md-6">
              <div class="title small-content">
                  {% trans "Server List" %}
              </div>
          </div>
          <div class="col-md-6">
              <div class="small-content text-right">
                  <a href="{% url "wms-server-create" %}" class="btn btn-gd-primary pull-right icon-btn-color" style="font-size:12px;">
                        {% trans "Add Server" %} <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="hr"></div>
    </div>
    <div class="gd-content-body transparent top-bottom-margin-20px">
        <div class="row">
            <div class="col-md-12">
                <div class="gd-content-body1 full-pad-40px1">
                  <form id=""  method="post"  action="">
                    {% csrf_token %}
                    <div class="row topic-cat-list">
                        <div class="col-md-2" style="color:#fff;">
                            <h4 >No.</h4>
                        </div>
                        <div class="col-md-3" style="color:#fff;">
                            <h4>Title </h4>
                        </div>
                        <div class="col-md-2" style="color:#fff;">
                            <h4>Ptype</h4>
                        </div>
                        <div class="col-md-3" style="color:#fff;">
                            <h4>URL</h4>
                        </div>
                        <div class="col-md-2" style="color:#fff;">
                            <h4>Action</h4>
                        </div>
                    </div>
                      {% for data in object_list %}
                        <div class="row topic-cat-list-data">
                            <div class="col-md-2">
                                {{ forloop.counter }}
                            </div>
                            <div class="col-md-3">
                                {{ data.title }}
                            </div>
                            <div class="col-md-2">
                                {{ data.ptype }}
                            </div>
                            <div class="col-md-3">
                                {{ data.url }}
                            </div>
                            <div class="col-md-2">
                                <a href="{% url "wms-server-delete" data.id %}"  class="btn btn-gd-primary" style="font-size:12px;">Delete Server

                                </a>
                            </div>
                        </div>
                      {% endfor %}

                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

