{% extends "layers/layer_base.html" %}
{% load bootstrap_tags %}
{% load base_tags %}
{% load i18n %}
{% load i18n announcements_tags %}
{% announcements as site_wide_announcements %}
{% block title %} {% trans "Dashboard" %} - {{ block.super }} {% endblock %}
{% block extra_head %}
<link href="{{ STATIC_URL }}geonode/css/style-index.css?v={{ VERSION }}" rel="stylesheet" />
<link href="{{ STATIC_URL }}geonode/css/style.css?v={{ VERSION }}" rel="stylesheet" />
{% endblock %}
{% block middle %}
    <div id="gd-dashboard">
       
         
               
                  
                       
                     
                          <div class="d-title">

                                <div class="pull-right">

                                    <div class="btn-group" role="group">

                                        <a class="btn btn-default" href="{% url "_dashboard" %}" title="List View">
                                                <i class="fa fa-bars"></i>
                                                </a>
            
                                                <a class="btn btn-default" href="{% url "_dashboard_grid" %}" title="Tab View">
                                                <i class="fa fa-th-large"></i>
                                                </a>

                                   

                                   
</div>

<a href="{% url "favourite_list" %}" class="btn btn-gd-primary icon-btn-color" >
    {% trans "View Favorites" %} <i class="fa fa-heart-o"></i>
    </a>

                                  </div>

                              {% trans "Dashboard" %}
                          </div>
                     
                          <div class="panel panel-info">





                                <div class="panel-heading"><span class="label label-success pull-right">{% trans "Docked" %} <span id="total_layers-fav"></span></span> {% trans "Layers" %} </div>
                                <div class="panel-body">
                                 
                                        <div class="gd-content-body">
                                                
                                                
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="gd-content-body1 full-pad-40px1">
                                                                              <div id="gd-featurd-maps" >

                                                                                    <div class="row">
                                                                                        <div class="gd-stastic">
                                                                                            <div class="gd-featurd-maps-content-dash" >
                                                                                                <div id="carousel-home-dash-layer" class="carousel slide" data-ride="carousel1">
                                                                                                  <!-- Indicators -->
                                                                                                  <!-- <ol class="carousel-indicators">
                                                                                                      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                                                                                                      <li data-target="#carousel-home" data-slide-to="1"></li>
                                                                                                      <li data-target="#carousel-home" data-slide-to="2"></li>
                                                                                                      <li data-target="#carousel-home" data-slide-to="3"></li>
                                                                                                      <li data-target="#carousel-home" data-slide-to="4"></li>
                                                                                                  </ol> -->
                                                                                                  <!-- Wrapper for slides -->
                                                                                                  <div class="carousel-inner " role="listbox" id="dash-layer-fav">
                                                                                                      <!--<div class="item active">
                                                                                                            <div class="grid-container-dash lmd" style="background:none;">
                                                                                                                <div class="avater">
                                                                                                                  <div class="avater-img">
                                                                                                                    <a class="avater-img-mid" href="#" >
                                                                                                                        <img src="{{ STATIC_URL }}geonode/images/maps/maps7.png"/>
                                                                                                                    </a>
                                                                                                                  </div>
                                                                                                                  <div class="checkbox-overlay">
                                                                                                                      <div class="checkbox">
                                                                                                                          <label>
                                                                                                                              <span class="fa-stack fa-lg" >
                                                                                                                                  <a href="#" title="Undock" id="undock"><i class="fa fa-times fa-stack-1x"></i></a>
                                                                                                                              </span>
                                                                                                                          </label>
                                                                                                                      </div>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                                <div class="contents">
                                                                                                                    <div class="title">
                                                                                                                        {{ item.id }}.120
                                                                                                                        <a href="{{ item.detail_url }}" title="{{ item.title }}">
                                                                                                                              {{ item.title }}
                                                                                                                        </a>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                      </div>
                                                                                                     <div class="item"></div>-->
                                                                                                  </div>
                                                                                                  <!-- Controls -->
                                                                                                  <a class="left-panel carousel-control" style="left:-28px;" href="#carousel-home-dash-layer" role="button" data-slide="prev">
                                                                                                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ></span>
                                                                                                  </a>
                                                                                                  <a class="right-panel carousel-control" style="right:-28px;" href="#carousel-home-dash-layer" role="button" data-slide="next">
                                                                                                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"  ></span>
                                                                                                  </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                </div>
                              </div>

                 
               
                 
              
                
            
      
    
                            
    
                            
                            <div class="panel panel-info">
                                    <div class="panel-heading"><span class="label label-success pull-right">{% trans "Docked" %} <span id="total_maps-fav"></span></span> {% trans "Maps" %}</div>
                                    <div class="panel-body">
                                            <div class="gd-content-body transparent top-bottom-margin-20px">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="gd-content-body1 full-pad-40px1">
                                                              <div id="gd-featurd-maps" style="background:#fff;">
                                                                    <div class="row">
                                                                        <div class="gd-stastic">
                                                                            <div class="gd-featurd-maps-content-dash">
                                                                                <div id="carousel-home-dash" class="carousel slide" data-ride="carousel2">
                                                                                  <!-- Indicators -->
                                                                                  <!-- <ol class="carousel-indicators">
                                                                                      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                                                                                      <li data-target="#carousel-home" data-slide-to="1"></li>
                                                                                      <li data-target="#carousel-home" data-slide-to="2"></li>
                                                                                      <li data-target="#carousel-home" data-slide-to="3"></li>
                                                                                      <li data-target="#carousel-home" data-slide-to="4"></li>
                                                                                  </ol> -->
                                                                                  <!-- Wrapper for slides -->
                                                                                  <div class="carousel-inner " role="listbox" id="dash-maps-fav">
                                                                                      <!--<div class="item active">-->
                                                                                        <!--<article class="gd-featurd-maps-container-dash" >-->
                                                                                            <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">-->
                                                                                                <!--<div class="gd-featurd-maps-container-dash" style="background:#fff;">-->
                                                                                                    <!--<div class="grid-container-dash lmd" style="background:none;">-->
                                                                                                        <!--<div class="avater">-->
                                                                                                          <!--<div class="avater-img">-->
                                                                                                            <!--<a class="avater-img-mid" href="#" >-->
                                                                                                                <!--<img src="{{ STATIC_URL }}geonode/images/maps/maps7.png"/>-->
                                                                                                            <!--</a>-->
                                                                                                          <!--</div>-->
                                                                                                          <!--<div class="checkbox-overlay">-->
                                                                                                              <!--<div class="checkbox">-->
                                                                                                                  <!--<label>-->
                                                                                                                      <!--<span class="fa-stack fa-lg" >-->
                                                                                                                          <!--<a href="#" title="Undock"><i class="fa fa-times fa-stack-1x"></i></a>-->
                                                                                                                      <!--</span>-->
                                                                                                                  <!--</label>-->
                                                                                                              <!--</div>-->
                                                                                                          <!--</div>-->
                                                                                                        <!--</div>-->
                                                                                                        <!--<div class="contents">-->
                                                                                                            <!--<div class="title">-->
                                                                                                                <!--<a href="layers/geonode%3Asubmarine_network_bcc"> Fiber Optics Line Network of Dhaka City</a>-->
                                                                                                            <!--</div>-->
                                                                                                        <!--</div>-->
                                                                                                    <!--</div>-->
                                                                                                <!--</div>-->
                                                                                            <!--</div>-->
                                                                                            <!---->
                                                                                        <!--</article>-->
                                                                                      <!--</div>-->
                                                                                      <!--<div class="item">-->
                                                                                      <!--</div>-->
                                                                                  </div>
                                                                                  <!-- Controls -->
                                                                                  <a class="left-panel carousel-control" style="left:-28px;" href="#carousel-home-dash" role="button" data-slide="prev">
                                                                                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                                  </a>
                                                                                  <a class="right-panel carousel-control" style="right:-28px;" href="#carousel-home-dash" role="button" data-slide="next">
                                                                                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                                  </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                  </div>




                                  <div class="panel panel-info">
                                    <div class="panel-heading"><span class="label label-success pull-right">{% trans "Docked" %} <span id="total_documents_fav"></span></span> {% trans "Documents" %}</div>
                                    <div class="panel-body">
                                        <div class="gd-content-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="gd-content-body1 full-pad-40px1">
                                                      <div id="gd-featurd-maps">
                                                        <div class="block-separator"></div>
                                                            <div class="row">
                                                                <div class="gd-stastic">
                                                                    <div class="gd-featurd-maps-content-dash">
                                                                        <div id="carousel-home-dash-doc" class="carousel slide" data-ride="carousel3">
                                                                          <!-- Indicators -->
                                                                          <!-- <ol class="carousel-indicators">
                                                                              <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="1"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="2"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="3"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="4"></li>
                                                                          </ol> -->
                                                                          <!-- Wrapper for slides -->
                                                                          <div class="carousel-inner " role="listbox" id="dash-documents-fav">
                                                                              <!--<div class="item active">-->
                                                                                <!--<article class="gd-featurd-maps-container-dash" >-->
                                                                                    <!--&lt;!&ndash;-->
                                                                                    <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">-->
                                                                                        <!--<div class="gd-featurd-maps-container-dash">-->
                                                                                            <!--<div class="grid-container-dash lmd" style="background:none;">-->
                                                                                                <!--<div class="avater">-->
                                                                                                  <!--<div class="avater-img">-->
                                                                                                    <!--<a class="avater-img-mid" href="#" >-->
                                                                                                        <!--<img src="{{ STATIC_URL }}geonode/images/maps/maps7.png"/>-->
                                                                                                    <!--</a>-->
                                                                                                  <!--</div>-->
                                                                                                  <!--<div class="checkbox-overlay">-->
                                                                                                      <!--<div class="checkbox">-->
                                                                                                          <!--<label>-->
                                                                                                              <!--<span class="fa-stack fa-lg" >-->
                                                                                                                  <!--<a href="#" title="Undock"><i class="fa fa-times fa-stack-1x"></i></a>-->
                                                                                                              <!--</span>-->
                                                                                                          <!--</label>-->
                                                                                                      <!--</div>-->
                                                                                                  <!--</div>-->
                                                                                                <!--</div>-->
                                                                                                <!--<div class="contents">-->
                                                                                                    <!--<div class="title">-->
                                                                                                        <!--<a href="layers/geonode%3Asubmarine_network_bcc"> Fiber Optics Line Network of Dhaka City</a>-->
                                                                                                    <!--</div>-->
                                                                                                <!--</div>-->
                                                                                            <!--</div>-->
                                                                                        <!--</div>-->
                                                                                    <!--</div>-->
                                                                                    <!--&ndash;&gt;-->
                                                                                <!--</article>-->
                                                                              <!--</div>-->
                                                                              <!--<div class="item">-->
                        
                                                                              <!--</div>-->
                                                                          </div>
                                                                          <!-- Controls -->
                                                                          <a class="left-panel carousel-control" style="left: -28px;" href="#carousel-home-dash-doc" role="button" data-slide="prev">
                                                                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                          </a>
                                                                          <a class="right-panel carousel-control" style="right: -28px;" href="#carousel-home-dash-doc" role="button" data-slide="next">
                                                                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                          </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>



                                  <div class="panel panel-info">
                                    <div class="panel-heading"><span class="label label-success pull-right">{% trans "Docked" %} <span id="total_org-fav"></span></span> {% trans "Organizations" %}</div>
                                    <div class="panel-body">
                                        <div class="gd-content-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="gd-content-body1 full-pad-40px1">
                                                      <div id="gd-featurd-maps" style="background:#fff;">
                                                        <div class="block-separator"></div>
                                                            <div class="row">
                                                                <div class="gd-stastic">
                                                                    <div class="gd-featurd-maps-content-dash" style="background:#fff;">
                                                                        <div id="carousel-home-dash-org" class="carousel slide" data-ride="carousel4">
                                                                          <!-- Indicators -->
                                                                          <!-- <ol class="carousel-indicators">
                                                                              <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="1"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="2"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="3"></li>
                                                                              <li data-target="#carousel-home" data-slide-to="4"></li>
                                                                          </ol> -->
                                                                          <!-- Wrapper for slides -->
                                                                          <div class="carousel-inner " role="listbox" id="dash-org-fav">
                                                                              <!--<div class="item active">-->
                                                                                <!--<article class="gd-featurd-maps-container-dash" >-->
                                                                                    <!--&lt;!&ndash;-->
                                                                                    <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">-->
                                                                                        <!--<div class="gd-featurd-maps-container-dash" style="background:#fff;">-->
                                                                                            <!--<div class="grid-container-dash lmd" style="background:#fff;">-->
                                                                                                <!--<div class="avater">-->
                                                                                                  <!--<div class="avater-img">-->
                                                                                                    <!--<a class="avater-img-mid" href="#" >-->
                                                                                                        <!--<img src="{{ STATIC_URL }}geonode/images/maps/maps7.png"/>-->
                                                                                                    <!--</a>-->
                                                                                                  <!--</div>-->
                                                                                                  <!--<div class="checkbox-overlay">-->
                                                                                                      <!--<div class="checkbox">-->
                                                                                                          <!--<label>-->
                                                                                                              <!--<span class="fa-stack fa-lg" >-->
                                                                                                                  <!--<a href="#" title="Undock"><i class="fa fa-times fa-stack-1x"></i></a>-->
                                                                                                              <!--</span>-->
                                                                                                          <!--</label>-->
                                                                                                      <!--</div>-->
                                                                                                  <!--</div>-->
                                                                                                <!--</div>-->
                                                                                                <!--<div class="contents">-->
                                                                                                    <!--<div class="title">-->
                                                                                                        <!--<a href="layers/geonode%3Asubmarine_network_bcc"> Fiber Optics Line Network of Dhaka City</a>-->
                                                                                                    <!--</div>-->
                                                                                                <!--</div>-->
                                                                                            <!--</div>-->
                                                                                        <!--</div>-->
                                                                                    <!--</div>-->
                                                                                    <!--&ndash;&gt;-->
                                                                                <!--</article>-->
                                                                              <!--</div>-->
                                                                              <!--<div class="item">-->
                        
                                                                              <!--</div>-->
                                                                          </div>
                                                                          <!-- Controls -->
                                                                          <a class="left-panel carousel-control" style="left: -28px;" href="#carousel-home-dash-org" role="button" data-slide="prev">
                                                                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                          </a>
                                                                          <a class="right-panel carousel-control" style="right: -28px;" href="#carousel-home-dash-org" role="button" data-slide="next">
                                                                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                          </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>



                                </div>

  
{% endblock %}

{% block extra_script %}

  <script type="text/javascript">
    $(document).ready(function(){

        {% if site_wide_announcements %}
            $("#GDAnnouncementsModel").modal('show');
        {% endif %}

      var url = '{% url 'api_dispatch_list' api_name='api' resource_name='favoritelayers' %}';
      $.ajax({
        url: url,
        type: 'GET',
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        context: document.body,
        success: function(jsondata){
            //console.log(JSON.stringify(jsondata));
            var data = eval(jsondata.objects);
            var t_count = '';
                t_count = data.length;
            $("#total_layers-fav").text(t_count);
            var output = '';
            $.each(data, function(i, item) {
                var tot_count = i.length;
                //alert(tot_count);
                //console.log(i, (i%4));
                if ( (i%4) == 0 && i == 0 ){
                    //console.log('active', i, (i%4));
                    output += '<div class="item active">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                } else if ( (i%4) == 0 && i != 0 && (i+1) != tot_count ) {
                    //console.log('inactive', i, (i%4), t_count);
                    output += '</div><div class="item">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                }
                output +='<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="grid-container-dash lmd" style="background:none;">';
                output +='<div class="avater">';
                output +='<div class="avater-img">';
                output +='<div class="avater-img-mid" href="#" >';
                            if(item.thumbnail_url)
                output +='<img src="'+ item.thumbnail_url +'" alt="'+ item.title +'" class="group-logo" />';
                            else{
                output +='<img src="\/static\/geonode\/img\/missing_thumb.png" alt="'+ item.title +'" class="group-logo" />';
                            }
                output +='</div>';
                output +='</div>';
                output +='<div class="checkbox-overlay">';
                output +='<div class="checkbox" style="margin:0;padding:0">';
                output +='<label>';
                output +='<span>';
                output +='<a href="#" class="btn btn-primary" style="border-radius:50%" title="Undock" id="undock" data-favouriteID="'+item.id+'" data-favouriteStatus="true" onclick="udock('+item.id+');"><i class="fa fa-times"></i></a>';
                output +='</span>';
                output +='</label>';
                output +='</div>';
                output +='</div>';
                output +='</div>';
                output +='<div class="contents">';
                output +='<div class="title">';
                output +='<a href="'+item.detail_url+'" title="'+ item.title  +'">';
                if (item.title.length >= 25){
                output +=''+item.title.slice(0,15)+'.....';
                        }else{
                output +=''+ item.title +'';
                        }
                output +='</a>';
                output +='</div>';
                output +='</div>';
                output +='</div></div>';
                if ((i+1) == t_count){
                    //console.log('last', i, t_count);
                    output +='</article></div>';
                }
           });
           $("#dash-layer-fav").append(output);
        }});
    });

    function layerslice123(t_count){
        //var make_favoriteStatus = undockStatus;
        alert(t_count);
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var url = '{% url 'api_dispatch_list' api_name='api' resource_name='favoritemaps' %}';
      $.ajax({
        url: url,
        type: 'GET',
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        context: document.body,
        success: function(jsondata){
            //console.log(JSON.stringify(jsondata));
            var data = eval(jsondata.objects);
            var t_count = data.length;
            $("#total_maps-fav").text(t_count);
            var output = '';
            $.each(data, function(i, item) {
                var tot_count = i.length;
                    //console.log(i, (i%4));
                if ( (i%4) == 0 && i == 0 ){
                    //console.log('active', i, (i%4));
                    output += '<div class="item active">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                } else if ( (i%4) == 0 && i != 0 && (i+1) != tot_count ) {
                    //console.log('inactive', i, (i%4), t_count);
                    output += '</div><div class="item">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                }
                    output +='<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="grid-container-dash lmd" style="background:none;">';
                    output +='<div class="avater">';
                    output +='<div class="avater-img">';
                    output +='<div class="avater-img-mid" href="#" >';
                                if(item.thumbnail_url)
                    output +='<img src="'+ item.thumbnail_url +'" alt="" class="group-logo" />';
                                else{
                    output +='<img src="\/static\/geonode\/img\/missing_thumb.png" alt="" class="group-logo" />';
                                }
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="checkbox-overlay">';
                    output +='<div class="checkbox" style="margin:0;padding:0">';
                    output +='<label>';
                    output +='<span>';
                    output +='<a href="#" class="btn btn-primary" style="border-radius:50%" title="Undock" id="undock" data-favouriteID="'+item.id+'" data-favouriteStatus="true" onclick="udock('+item.id+');"><i class="fa fa-times"></i></a>';
                    output +='</span>';
                    output +='</label>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="contents">';
                    output +='<div class="title">';
                    output +='<a href="'+item.detail_url+'" title="'+ item.title  +'">';
                    if (item.title.length >= 25){
                    output +=''+item.title.slice(0,15)+'.....';
                            }else{
                    output +=''+ item.title +'';
                            }
                    output +='</a>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div></div>';
                    if ((i+1) == t_count){
                    //console.log('last', i, t_count);
                    output +='</article></div>';
                }
           });
           $("#dash-maps-fav").append(output);
        }});
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var url = '{% url 'api_dispatch_list' api_name='api' resource_name='favoritedocuments' %}';
      $.ajax({
        url: url,
        type: 'GET',
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        context: document.body,
        success: function(jsondata){
            //console.log(JSON.stringify(jsondata));
            var data = eval(jsondata.objects);
            var t_count = data.length;
            $("#total_documents_fav").text(t_count);
            var output = '';
            $.each(data, function(i, item) {
                var tot_count = i.length;
                    //console.log(i, (i%4));
                if ( (i%4) == 0 && i == 0 ){
                    //console.log('active', i, (i%4));
                    output += '<div class="item active">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                } else if ( (i%4) == 0 && i != 0 && (i+1) != tot_count ) {
                    //console.log('inactive', i, (i%4), t_count);
                    output += '</div><div class="item">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                }
                    output +='<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="grid-container-dash lmd" style="background:none;">';
                    output +='<div class="avater">';
                    output +='<div class="avater-img">';
                    output +='<div class="avater-img-mid" href="#" >';
                                if(item.thumbnail_url)
                    output +='<img src="'+ item.thumbnail_url +'" alt="" class="group-logo" />';
                                else{
                    output +='<img src="\/static\/geonode\/img\/missing_thumb.png" alt="" class="group-logo" />';
                                }
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="checkbox-overlay">';
                    output +='<div class="checkbox" style="margin:0;padding:0">';
                    output +='<label>';
                    output +='<span>';
                    output +='<a href="#" class="btn btn-primary" style="border-radius:50%" title="Undock" id="undock" data-favouriteID="'+item.id+'" data-favouriteStatus="true" onclick="udock('+item.id+');"><i class="fa fa-times"></i></a>';
                    output +='</span>';
                    output +='</label>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="contents">';
                    output +='<div class="title">';
                    output +='<a href="'+item.detail_url+'" title="'+ item.title  +'">';
                    if (item.title.length >= 25){
                    output +=''+item.title.slice(0,15)+'.....';
                            }else{
                    output +=''+ item.title +'';
                            }
                    output +='</a>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div></div>';
                    if ((i+1) == t_count){
                    //console.log('last', i, t_count);
                    output +='</article></div>';
                }
           });
           $("#dash-documents-fav").append(output);
        }});
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var url = '{% url 'api_dispatch_list' api_name='api' resource_name='favoritegroups' %}';
      $.ajax({
        url: url,
        type: 'GET',
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        context: document.body,
        success: function(jsondata){
            //console.log(JSON.stringify(jsondata));
            var data = eval(jsondata.objects);
            var t_count = data.length;
            $("#total_org-fav").text(t_count);
            var output = '';
            $.each(data, function(i, item) {
                var tot_count = i.length;
                    //console.log(i, (i%4));
                if ( (i%4) == 0 && i == 0 ){
                    //console.log('active', i, (i%4));
                    output += '<div class="item active">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                } else if ( (i%4) == 0 && i != 0 && (i+1) != tot_count ) {
                    //console.log('inactive', i, (i%4), t_count);
                    output += '</div><div class="item">';
                    output += '<article class="gd-featurd-maps-container-dash">';
                }
                    output +='<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="grid-container-dash lmd" style="background:none;">';
                    output +='<div class="avater">';
                    output +='<div class="avater-img">';
                    output +='<div class="avater-img-mid" href="#" >';
                                if(item.logo)
                    output +='<img src="'+ item.logo +'" alt="" class="group-logo img-responsive" />';
                                else{
                    output +='<img src="\/static\/geonode\/img\/missing_thumb.png" alt="" class="group-logo img-responsive" />';
                                }
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="checkbox-overlay">';
                    output +='<div class="checkbox" style="margin:0;padding:0">';
                    output +='<label>';
                    output +='<span>';
                    output +='<a href="javascript:;" class="btn btn-primary" style="border-radius:50%" title="Undock" id="undock" data-favouriteID="'+item.id+'" data-favouriteStatus="true" onclick="udockorg('+item.id+');"><i class="fa fa-times"></i></a>';
                    output +='</span>';
                    output +='</label>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div>';
                    output +='<div class="contents">';
                    output +='<div class="title">';
                    output +='<a href="'+item.detail_url+'" title="'+ item.title  +'">';
                    if (item.title.length >= 25){
                    output +=''+item.title.slice(0,15)+'.....';
                            }else{
                    output +=''+ item.title +'';
                            }
                    output +='</a>';
                    output +='</div>';
                    output +='</div>';
                    output +='</div></div>';
                    if ((i+1) == t_count){
                    //console.log('last', i, t_count);
                    output +='</article></div>';
                }
           });
           $("#dash-org-fav").append(output);
        }});
    });
  </script>

    <script type="text/javascript" language="JavaScript">

        function udock(undockID){
        //var make_favoriteStatus = undockStatus;
        //alert(data_favouriteID+data_favouriteStatus);
        //alert("Are you sure make this as undock ?");
            var url = '{% url 'api_dispatch_list' api_name='api' resource_name='undockit' %}';
               var makefavoriteID = undockID;
                var data = JSON.stringify({
                "resource_id": makefavoriteID
            });
            $.ajax({
                cache: false,
                type: 'POST',
                url: url,
                data: data,
                dataType: "json",
                success: function(jsondata) {
                    console.log("success");
                    //console.log(JSON.stringify(jsondata));
                    //location.reload(true);

                    var data = eval(jsondata.objects);
                        window.location.href = data;
                        window.location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log("error");
                }
             });
        }
    </script>

    <script type="text/javascript" language="JavaScript">

        function udockorg(undockID){
        //var make_favoriteStatus = undockStatus;
        //alert(undockID);
        //alert("Are you sure make this as undock ?");
            var url = '{% url 'api_dispatch_list' api_name='api' resource_name='undockit' %}';
               var makefavoriteID = undockID;
               //var makefavoritesID = make_favoriteStatus;
                var data = JSON.stringify({
                "group_id": makefavoriteID
            });
            $.ajax({
                cache: false,
                type: 'POST',
                url: url,
                data: data,
                dataType: "json",
                success: function(jsondata) {
                    console.log("success");
                    //console.log(JSON.stringify(jsondata));
                    //location.reload(true);

                    var data = eval(jsondata.objects);
                        window.location.href = data;
                        window.location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log("error");
                }
             });
        }
    </script>

{% endblock extra_script %}