  .snapshot_hidden_map{
            position:absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            visibility: hidden;
            overflow: hidden;
            z-index:-1000;
        }
