{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load eula_extras %}

{% block title %}{% trans "Data Request" %} — {{ block.super }}{% endblock %}

{% block head %}
{% if resource %}
    {% if preview == 'geoext' %}
      {% include "layers/layer_geoext_map.html" %}
    {% else %}
      {% include "layers/layer_leaflet_map.html" %}
    {% endif %}
{% endif %}
{{ block.super }}
{% endblock %}

{% block body_class %}{% trans "Data Request" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url 'datarequests:data_request_browse' %}" class="btn btn-primary pull-right">{% trans "View All Requests" %}</a>
  <h2 class="page-title">{% trans "Data Request Details" %}</h2>
</div>

<div class="row">
  <div class="col-md-8">

  <table class="table table-user-profile">
      <tbody>
      {% if profile_request %}
      <tr>
      <td class="table-user-profile-attribute col-md-3">{% trans "Requester" %}</td>
      <td><a href={% url 'datarequests:profile_request_detail' pk=profile_request.pk  %}>{{ profile_request.first_name }} {{ profile_request.middle_name }} {{ profile_request.last_name }}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Organization" %}</td>
      <td>{{ profile_request.organization }}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Email" %}</td>
      <td>{{ profile_request.email }}</td>
      </tr>
      {% elif profile %}
      <tr>
      <td class="table-user-profile-attribute col-md-3">{% trans "Requester" %}</td>
      <td>{{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Organization" %}</td>
      <td>{{ profile.organization }}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Email" %}</td>
      <td>{{ profile.email }}</td>
      </tr> 
      {% endif %}

      <tr>
      <td class="table-user-profile-attribute col-md-3">{% trans "Request Letter" %}</td>
      <td><a href="{{ data_request.request_letter.detail_url }}/download" >{{ data_request.request_letter.title }}</a></td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Area of Coverage in Sqr KMs:" %}</td>
      <td>{{ data_request.area_coverage }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Location of Area Requested" %}</td>
      <td>{{ data_request.place_name }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Data Size of Area Requested" %}</td>
      <td>{{ data_request.juris_data_size|filesizeformat }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Project Summary" %}</td>
      <td>{{ data_request.project_summary }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Type of Data Requested" %}</td>
      <td>{% for type in data_types %} {{ type }}{% endfor %}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Other Data Requested" %}</td>
      <td>{{ data_request.data_class_other }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Purpose/Intended Use of Data" %}</td>
      <td>{{ data_request.purpose }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Intended Use of Dataset" %}</td>
      <td>{{ data_request.get_intended_use_of_dataset_display }}</td>
      </tr>

    <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Approval/Rejection Administrator" %}</td>
          <td>{{data_request.administrator.username}}</td>
      </tr>
      {% if user.is_superuser %}
      <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Additional Remarks" %}</td>
          <td>{{data_request.additional_remarks}}</td>
      </tr>
      {% if data_request.suc_notified %}
      <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Additional Remarks" %}</td>
          <td>{{data_request.suc_notified_date}}</td>
      </tr>
      {% endif %}
      {% if data_request.forwarded %}
      <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Additional Remarks" %}</td>
          <td>{{data_request.forwarded_date}}</td>
      </tr>
      {% endif %}
      <tr>
          <td class="table-user-profile-attribute col-md-3"> {% trans "SUC jurisdictions within area of interest" %}</td>
          <td> {% for suc in sucs %} {{ suc }}{% endfor %}</td>
      </tr>
      {% endif %}
      </tbody>
    </table>

    <div class="row">
      <h4><strong>Jurisdiction Shapefile</strong></h4>
      {% if not data_request.jurisdiction_shapefile %}
        <h5><strong>No ROI submitted</strong></h5>
        {% endif %}
      <div id="embedded_map" class="mrg-btm">
        <div id="preview_map"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">{%trans "Data Request Status" %}</h5>

        <div class="row data-request-status-parent">
          {% if data_request.status == 'pending' or  data_request.status == 'unconfirmed' %}
            <div class="col-sm-12 data-request-status label pending-request">
          {% elif data_request.status == 'approved' %}
            <div class="col-sm-12 label data-request-status label-success">
          {% else %}
            <div class="col-sm-12 label data-request-status label-danger">
          {% endif %}
              <strong>{{ data_request.get_status_display }}</strong>
            </div>
        </div>

        {% if data_request.status == 'rejected' or data_request.status == 'cancelled' %}
          <p><strong>{% trans "Reason" %}</strong>: {{ profile.rejection_reason }}</p>
          {% if profile.additional_rejection_reason %}
              <p><strong>{% trans "Additional Details" %}</strong>: {{ profile.additional_rejection_reason }}</p>
          {% endif %}
        {% endif %}
      </li>
{% if user.is_superuser %}
    <li  class="list-group-item">
        <a href='{% url "datarequests:data_request_edit" pk=data_request.pk %}' class="btn btn-primary btn-md btn-block"  id="edit-button">Edit Request</a>
    </li>
    {% if data_request.jurisdiction_shapefile %}
    <li class="list-group-item">
             <form id="compute_request_size_form" method="post" class="modal-form" action='{% url "datarequests:data_request_compute_size" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="compute-request-size">{% trans "Compute Request Size" %}</button>
            </form>
        </li>
        <li class="list-group-item">
             <form id="get_place_name_form" method="post" class="modal-form" action='{% url "datarequests:data_request_reverse_geocode" pk=data_request.pk%}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="get-place-name">{% trans "Get Place Name" %}</button>
            </form>
        </li>
        <li class="list-group-item">
        <form id="tag_suc_form" method="post" class="modal-form" action='{% url "datarequests:data_request_tag_suc" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="tag-suc">{% trans "Tag SUC" %}</button>
            </form></li>
    {% endif %}
      {% if data_request.status == 'approved' %}
        {% if data_request.juris_data_size > max_ftp_size %}
        <li class="list-group-item">
                <form id="notify_requester_form" method="post" class="modal-form" action='{% url "datarequests:data_request_notify_requester" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="notify-suc">{% trans "Notify Requester" %} </button>
            </form></
        </li>
        <li class="list-group-item">
                  <form id="notify_suc_form" method="post" class="modal-form" action='{% url "datarequests:data_request_notify_suc" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="notify-suc">{% trans "Notify SUC" %} ({% if sucs|length == 1 %}{{sucs.0}}{% else %} UPD {% endif %})
                </button>
            </form></
        </li>
        {% endif %}
        {% if data_request.suc_notified %}
        <li class="list-group-item">
                  <form id="forward_request_form" method="post" class="modal-form" action='{% url "datarequests:data_request_forward_request" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="notify-suc">{% trans "Forward to SUC" %} ({% if sucs|length == 1 %}{{sucs.0}}{% else %} UPD {% endif %})
                </button>
            </form></
        </li>
        {% endif %}
      {% else %}
        {%  if data_request.status == 'pending'%}
        <li class="list-group-item">
          <button class="btn btn-primary btn-md btn-block"  data-toggle="modal" data-target="#approve-request" id="approve-button">{% trans "Approve" %}</button>
        </li>

        <div class="modal fade" id="approve-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="approve_form" method="post" class="modal-form" action='{% url "datarequests:data_request_approve" pk=data_request.pk %}'>{% csrf_token %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Approve Data Request Profile" %}</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to approve this data request profile?</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="approve_request_cancel" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" id="approve_request_submit" class="btn btn-primary">{% trans "Approve" %}</button>
              </div>
            </div>
          </div>
          </form>
        </div>

        <li class="list-group-item">
          <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#reject-request">{% trans "Reject" %}</button>
        </li>

        <div class="modal fade" id="reject-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="request_reject_form" accept-charset="UTF-8" method="post" class="modal-form" action='{% url "datarequests:data_request_reject" pk=data_request.pk %}'>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">{% trans "Reject Data Request Profile" %}</h4>
                </div>
                <div class="modal-body">
                  {{ request_reject_form|as_bootstrap }}
                </div>
                <div class="alert hidden" id="reject_request_message">
                  <p class="message">}</p>
                  <p class="extra_content"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-default" id="reject_request_cancel" data-dismiss="modal">{% trans "Cancel" %}</a>
                  <a href="#" class="btn btn-primary" id="reject_request_submit">{% trans "Reject" %}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      {% endif %}
      {% if data_request.status == 'unconfirmed' or data_request.status == 'pending' %}
         <li class="list-group-item">
          <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#cancel-request">{% trans "Cancel Request" %}</button>
        </li>

        <div class="modal fade" id="cancel-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="request_cancel_form" accept-charset="UTF-8" method="post" class="modal-form" action='{% url "datarequests:data_request_cancel" pk=data_request.pk %}'>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">{% trans "Cancel Data Request " %}</h4>
                </div>
                <div class="modal-body">
                  {{ request_reject_form|as_bootstrap }}
                </div>
                <div class="alert hidden" id="cancel_request_message">
                  <p class="message">}</p>
                  <p class="extra_content"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-default" id="cancel_request_exit" data-dismiss="modal">{% trans "Exit" %}</a>
                  <a href="#" class="btn btn-primary" id="cancel_request_submit">{% trans "Cancel Request" %}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
  {% endif %}
  {% else %}
  {% if data_request.status == 'unconfirmed' or data_request.status == 'pending' %}
         <li class="list-group-item">
             <form id="cancel_form" method="post" class="modal-form" action='{% url "datarequests:data_request_cancel" pk=data_request.pk %}'>{% csrf_token %}
                <button type="submit" class="btn btn-default btn-md btn-block" id="cancel-request-submit">{% trans "Cancel Request" %}</button>
        </form>
        </li>
    {% endif %}
{% endif %}
  </ul>
  <input type="hidden" id="request_id" value="{{data_request.pk}}"></input>
  </div> <!-- col-md-4 -->
</div> <!-- row -->
{% endblock %}

{% block extra_script %}

    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
        {% with "_geogig_scripts.html" as geogig_scripts_template %}
            {% include  geogig_scripts_template %}
        {% endwith %}
    {% endif %}
    <script type="text/javascript">
      // $('#layer').css('opacity', 0);
      // $('#layer').css('visibility', 'hidden');
      // $('.nav-tabs').on('click', 'a[href="#layer"]', function() {
      //   $('#layer').css('opacity', 1);
      //   $('#layer').css('visibility', 'visible');

      // });
      {% if resource.get_legend.link_type == 'json' %}
      $.getJSON('{{resource.get_legend_url}}', function (data) {
          var legend = data.layers[0].legend;
          var items = [];
          $.each(legend, function (key, dvalue) {
              items.push('<li><img src="data:image/png;base64,' + dvalue.imageData + '">'+dvalue.label+'</li>');
          });

          $('<ul/>', {
              'class': 'arcgis-legend',
              html: items.join('')

          }).appendTo('#legend_placeholder');

      });
      {% endif %}
    </script>

      {% load i18n %}
      <script type="text/javascript">
          var reject_request_submit = function(){
             var message = $('#reject_request_message');
             var $request_reject_form = $('#request_reject_form');
             var pk = $('#request_id').val();
             var url = "{% url 'datarequests:data_request_reject' pk=666 %}".replace('666', pk);
             var form = $request_reject_form.serialize()
             $.ajax(
              {
                type: "POST",
                url: url,
                data: {
                  form: $request_reject_form.serialize()
                },
                success: function(data) {
                  var result = $.parseJSON(data).result;
                  var errors = $.parseJSON(data).errors;
                  var url = $.parseJSON(data).url;
                  if (result == 'error'){
                    message.find('.message').html(errors);
                    message.addClass('alert-warning').removeClass('alert-success alert-danger hidden');
                    $("#reject_request_submit").attr("disabled", false);
                    $("#reject_request_cancel").attr("disabled", false);
                  }
                  else{
                    location.href = url;
                  }
                },
                error: function(data){
                  $("#reject_request_submit").attr("disabled", false);
                  $("#reject_request_cancel").attr("disabled", false);
                  message.find('.message').html('An unexpected error was encounterred');
                  message.addClass('alert-danger').removeClass('alert-success alert-warning hidden');
                }
              }
            );
          };

           var cancel_request_submit = function(){
             var message = $('#cancel_request_message');
             var $request_cancel_form = $('#request_cancel_form');
             var pk = $('#request_id').val();
             var url = "{% url 'datarequests:data_request_cancel' pk=666 %}".replace('666', pk);
             var form = $request_cancel_form.serialize()
             $.ajax(
              {
                type: "POST",
                url: url,
                data: {
                  form: $request_cancel_form.serialize()
                },
                success: function(data) {
                  var result = $.parseJSON(data).result;
                  var errors = $.parseJSON(data).errors;
                  var url = $.parseJSON(data).url;
                  if (result == 'error'){
                    message.find('.message').html(errors);
                    message.addClass('alert-warning').removeClass('alert-success alert-danger hidden');
                    $("#reject_request_submit").attr("disabled", false);
                    $("#reject_request_cancel").attr("disabled", false);
                  }
                  else{
                    location.href = url;
                  }
                },
                error: function(data){
                  $("#cancel_request_submit").attr("disabled", false);
                  $("#cancel_request_exit").attr("disabled", false);
                  message.find('.message').html('An unexpected error was encounterred');
                  message.addClass('alert-danger').removeClass('alert-success alert-warning hidden');
                }
              }
            );
          };

          $("#reject_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#reject_request_cancel").attr("disabled", true);
              reject_request_submit();
          });

          $("#cancel_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#cancel_request_exit").attr("disabled", true);
              cancel_request_submit();
          });

          $("#approve_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#approve_request_cancel").attr("disabled", true);
              $('#approve_form').submit();
          });

          $("#reject-request").on('hidden.bs.modal', function (e) {
            $('#reject_request_message').addClass("hidden");
          });

          $("#cancel-request").on('hidden.bs.modal', function (e) {
            $('#cancel_request_message').addClass("hidden");
          });
    </script>

{% endblock extra_script %}
