{% verbatim %}
  <article ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
    <div class="row items-list">
      <div class="col-xs-4 thumb">
        <a href="{{ item.data_request_detail_url }}"><img ng-src="{{ item.shapefile_thumbnail_url }}" /></a>
      </div>
      <div class="col-xs-8 item-info">
        <div class="row pull-right"><span class="label label-{{ item.status_label }}">{{ item.request_status }}</span></div>
        <h4><a href="{{ item.data_request_detail_url }}">{{ item.first_name }} {{ item.middle_name }} {{ item.last_name }}</a></h4>
        <h6>Submitted: {{ item.date_submitted }}</h6>
        <p>
        Purpose: <strong>{{ item.purpose }} </strong></br>
        Organization: <strong>{{ item.organization }} </strong></br>
        Organization Type: <strong>{{ item.org_type }} </strong></p>
        <div ng-if="item.request_status == 'rejected'">
           <p class="abstract">
           Reason for rejection: {{ item.rejection_reason }} </br>
           {{ item.additional_rejection_reason }}
           </p>
        </div>

      </div>
    </div>
  </article>
{% endverbatim %}
