{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load eula_extras %}

{% block title %}{% trans "Profile Request Details" %} — {{ block.super }}{% endblock %}

{% block head %}
{% if resource %}
    {% if preview == 'geoext' %}
      {% include "layers/layer_geoext_map.html" %}
    {% else %}
      {% include "layers/layer_leaflet_map.html" %}
    {% endif %}
{% endif %}
{{ block.super }}
{% endblock %}

{% block body_class %}{% trans "Profile Request" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url 'datarequests:profile_request_browse' %}" class="btn btn-primary pull-right">{% trans "View All Requests" %}</a>
  <h2 class="page-title">{% trans "Profile Request Details" %}</h2>
</div>

<div class="row">
  <div class="col-md-8">

  <table class="table table-user-profile">
      <tbody>
      <tr>
      <td class="table-user-profile-attribute col-md-3">{% trans "Requester" %}</td>
      <td>{{ profile_request.first_name }} {{ profile_request.middle_name }} {{ profile_request.last_name }}</td>
      </tr>
      <tr>
          <td class="table-user-profile-attribute col-md-3"> {% trans "Data Request Link" %}</td>
          <td>
            {% if data_request %}
          <a href="{{data_request}}"> {{data_request}}</a>
          {% else %}
          None
          {% endif %}
          </td>
      </tr>
     <tr>
         <td class="table-user-profile-attribute col-md-3"> {% trans "User Name" %}</td>
         <td> {{ profile_request.username }}</td>
     </tr>
     <tr>
        <td class="table-user-profile-attribute col-md-3"> {% trans "FTP directory" %}</td>
        <td>{{ profile_request.ftp_folder }} </td>
     </tr>
      <tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Organization" %}</td>
      <td>{{ profile_request.organization }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Organization type based on Phil-LiDAR1 Data Distribution Policy" %}</td>
      <td>{{ profile_request.org_type }}</td>
      </tr>
      {% if 'Academe' in profile_request.org_type %}
      <tr>
      <td class="table-user-profile-attribute">{% trans "Level of Request" %}</td>
      <td>{{ profile_request.get_request_level_display }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Source of Funding" %}</td>
      <td>{{ profile_request.funding_source }}</td>
      </tr>
      <tr>
      <td class="table-user-profile-attribute">{% trans "Consultant in behalf of another organization?" %}</td>
      <td>{{ is_consultant|yesno:"yes,no" }}</td>
      </tr>
      {% endif %}

      <tr>
      <td class="table-user-profile-attribute">{% trans "Entity" %}</td>
      <td>{{ profile_request.get_location_display }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Email" %}</td>
      <td>{{ profile_request.email }}</td>
      </tr>

      <tr>
      <td class="table-user-profile-attribute">{% trans "Contact Number" %}</td>
      <td>{{ profile_request.contact_number }}</td>
      </tr>

      <!--{% if profile_request.intended_use_of_dataset == 'noncommercial' or profile_request.intended_use_of_dataset == 'academe' %}
        <tr>
        <td class="table-user-profile-attribute">{% trans "Organization type based on Phil-LiDAR1 Data Distribution Policy" %}</td>
        <td>{{ profile_request.org_type }}</td>
        </tr>
        {% if profile_request.intended_use_of_dataset == 'academe' %}
          <tr>
          <td class="table-user-profile-attribute">{% trans "Level of Request" %}</td>
          <td>{{ request_profile.get_request_level_display }}</td>
          </tr>

          <tr>
          <td class="table-user-profile-attribute">{% trans "Source of Funding" %}</td>
          <td>{{ request_profile.funding_source }}</td>
          </tr>
          <tr>
          <td class="table-user-profile-attribute">{% trans "Consultant in behalf of another organization?" %}</td>
          <td>{{ is_consultant|yesno:"yes,no" }}</td>
          </tr>
        {% endif %}
      {% endif %}-->
         <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Approval/Rejection Administrator" %}</td>
          <td>{{profile_request.administrator.username}}</td>
      </tr>
      {% if user.is_superuser %}
      <tr>
          <td class="table-user-profile-attribute col-md-3">{% trans "Additional Remarks" %}</td>
          <td>{{profile_request.additional_remarks}}</td>
      </tr>
      {% endif %}
      </tbody>
    </table>

  </div>

  <div class="col-md-4">

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">{%trans "Profile Request Status" %}</h5>

        <div class="row data-request-status-parent">
          {% if profile_request.status == 'pending' %}
            <div class="col-sm-12 data-request-status label pending-request">
          {% elif profile_request.status == 'approved' %}
            <div class="col-sm-12 label data-request-status label-success">
          {% else %}
            <div class="col-sm-12 label data-request-status label-danger">
          {% endif %}
              <strong>{{ profile_request.get_status_display }}</strong>
            </div>
        </div>

        {% if profile_request.status == 'rejected' or profile_request.status == 'cancelled' %}
          <p><strong>{% trans "Reason" %}</strong>: {{ profile_request.rejection_reason }}</p>
          {% if profile_request.additional_rejection_reason %}
              <p><strong>{% trans "Additional Details" %}</strong>: {{ profile_request.additional_rejection_reason }}</p>
          {% endif %}
        {% endif %}
      </li>
{% if user.is_superuser %}
    <li  class="list-group-item">
        <a href='{% url "datarequests:profile_request_edit" pk=profile_request.pk %}' class="btn btn-primary btn-md btn-block"  did="approve-button">Edit Request</a>
    </li>
    
      {% if profile_request.status == 'approved' %}
        <li class="list-group-item">
             <form id="recreate_dir_form" method="post" class="modal-form" action='{% url "datarequests:profile_request_recreate_dir" pk=profile_request.pk%}'>{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md btn-block"  id="recreate-dir-submit">{% trans "Create Directory" %}</button>
            </form>
        </li>
      {% else %}
        {%  if profile_request.status == 'pending'%}
        <li class="list-group-item">
          <button class="btn btn-primary btn-md btn-block"  data-toggle="modal" data-target="#approve-request" id="approve-button">{% trans "Approve" %}</button>
        </li>

        <div class="modal fade" id="approve-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="approve_form" method="post" class="modal-form" action='{% url "datarequests:profile_request_approve" pk=profile_request.pk%}'>{% csrf_token %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Approve Data Request Profile" %}</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to approve this data request profile?</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="approve_request_cancel" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" id="approve_request_submit" class="btn btn-primary">{% trans "Approve" %}</button>
              </div>
            </div>
          </div>
          </form>
        </div>

        <li class="list-group-item">
          <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#reject-request">{% trans "Reject" %}</button>
        </li>

        <div class="modal fade" id="reject-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="request_reject_form" accept-charset="UTF-8" method="post" class="modal-form" action='{% url "datarequests:profile_request_reject" pk=profile_request.pk%}'>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">{% trans "Reject Data Request Profile" %}</h4>
                </div>
                <div class="modal-body">
                  {{ request_reject_form|as_bootstrap }}
                </div>
                <div class="alert hidden" id="reject_request_message">
                  <p class="message">}</p>
                  <p class="extra_content"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-default" id="reject_request_cancel" data-dismiss="modal">{% trans "Cancel" %}</a>
                  <a href="#" class="btn btn-primary" id="reject_request_submit">{% trans "Reject" %}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      {% elif profile_request.status == 'unconfirmed'%}
       <li class="list-group-item">
        <form id="reconfirm_form" method="post" class="modal-form" action='{% url "datarequests:profile_request_reconfirm" pk=profile_request.pk%}'>{% csrf_token %}
            <button type="submit" class="btn btn-primary btn-md btn-block"  id="reconfirm-request-submit">{% trans "Resend Confirmation Email" %}</button>
        </form>

        </li>
      {% endif %}
      {% if profile_request.status == 'unconfirmed' or profile_request.status == 'pending' %}
         <li class="list-group-item">
          <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#cancel-request">{% trans "Cancel Request" %}</button>
        </li>

        <div class="modal fade" id="cancel-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="request_cancel_form" accept-charset="UTF-8" method="post" class="modal-form" action='{% url "datarequests:profile_request_cancel" pk=profile_request.pk%}'>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">{% trans "Cancel Data Request " %}</h4>
                </div>
                <div class="modal-body">
                  {{ request_reject_form|as_bootstrap }}
                </div>
                <div class="alert hidden" id="cancel_request_message">
                  <p class="message">}</p>
                  <p class="extra_content"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-default" id="cancel_request_exit" data-dismiss="modal">{% trans "Exit" %}</a>
                  <a href="#" class="btn btn-primary" id="cancel_request_submit">{% trans "Cancel Request" %}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
  {% endif %}
  {% else %}
  {% if profile_request.status == 'unconfirmed' or profile_request.status == 'pending' %}
         <li class="list-group-item">
             <form id="cancel_form" method="post" class="modal-form" action='{% url "datarequests:profile_request_cancel" pk=profile_request.pk%}'>{% csrf_token %}
                <button type="submit" class="btn btn-default btn-md btn-block" id="cancel-request-submit">{% trans "Cancel Request" %}</button>
        </form>
        </li>
    {% endif %}
{% endif %}
  </ul>
  <input type="hidden" id="profile_request_id" value="{{profile_request.pk}}"></input>
  </div> <!-- col-md-4 -->
</div> <!-- row -->
{% endblock %}

{% block extra_script %}

    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
        {% with "_geogig_scripts.html" as geogig_scripts_template %}
            {% include  geogig_scripts_template %}
        {% endwith %}
    {% endif %}
    <script type="text/javascript">
      // $('#layer').css('opacity', 0);
      // $('#layer').css('visibility', 'hidden');
      // $('.nav-tabs').on('click', 'a[href="#layer"]', function() {
      //   $('#layer').css('opacity', 1);
      //   $('#layer').css('visibility', 'visible');

      // });
      {% if resource.get_legend.link_type == 'json' %}
      $.getJSON('{{resource.get_legend_url}}', function (data) {
          var legend = data.layers[0].legend;
          var items = [];
          $.each(legend, function (key, dvalue) {
              items.push('<li><img src="data:image/png;base64,' + dvalue.imageData + '">'+dvalue.label+'</li>');
          });

          $('<ul/>', {
              'class': 'arcgis-legend',
              html: items.join('')

          }).appendTo('#legend_placeholder');

      });
      {% endif %}
    </script>

      {% load i18n %}
      <script type="text/javascript">
          var reject_request_submit = function(){
             var message = $('#reject_request_message');
             var $request_reject_form = $('#request_reject_form');
             var pk = $('#profile_request_id').val();
             var url = "{% url 'datarequests:profile_request_reject' pk=666 %}".replace('666', pk);
             var form = $request_reject_form.serialize()
             $.ajax(
              {
                type: "POST",
                url: url,
                data: {
                  form: $request_reject_form.serialize()
                },
                success: function(data) {
                  var result = $.parseJSON(data).result;
                  var errors = $.parseJSON(data).errors;
                  var url = $.parseJSON(data).url;
                  if (result == 'error'){
                    message.find('.message').html(errors);
                    message.addClass('alert-warning').removeClass('alert-success alert-danger hidden');
                    $("#reject_request_submit").attr("disabled", false);
                    $("#reject_request_cancel").attr("disabled", false);
                  }
                  else{
                    location.href = url;
                  }
                },
                error: function(data){
                  $("#reject_request_submit").attr("disabled", false);
                  $("#reject_request_cancel").attr("disabled", false);
                  message.find('.message').html('An unexpected error was encounterred');
                  message.addClass('alert-danger').removeClass('alert-success alert-warning hidden');
                }
              }
            );
          };

           var cancel_request_submit = function(){
             var message = $('#cancel_request_message');
             var $request_cancel_form = $('#request_cancel_form');
             var pk = $('#profile_request_id').val();
             var url = "{% url 'datarequests:profile_request_cancel' pk=666 %}".replace('666', pk);
             var form = $request_cancel_form.serialize()
             $.ajax(
              {
                type: "POST",
                url: url,
                data: {
                  form: $request_cancel_form.serialize()
                },
                success: function(data) {
                  var result = $.parseJSON(data).result;
                  var errors = $.parseJSON(data).errors;
                  var url = $.parseJSON(data).url;
                  if (result == 'error'){
                    message.find('.message').html(errors);
                    message.addClass('alert-warning').removeClass('alert-success alert-danger hidden');
                    $("#reject_request_submit").attr("disabled", false);
                    $("#reject_request_cancel").attr("disabled", false);
                  }
                  else{
                    location.href = url;
                  }
                },
                error: function(data){
                  $("#cancel_request_submit").attr("disabled", false);
                  $("#cancel_request_exit").attr("disabled", false);
                  message.find('.message').html('An unexpected error was encounterred');
                  message.addClass('alert-danger').removeClass('alert-success alert-warning hidden');
                }
              }
            );
          };

          $("#reject_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#reject_request_cancel").attr("disabled", true);
              reject_request_submit();
          });

          $("#cancel_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#cancel_request_exit").attr("disabled", true);
              cancel_request_submit();
          });

          $("#approve_request_submit").click(function(e){
              e.preventDefault();
              $(this).attr("disabled", true);
              $("#approve_request_cancel").attr("disabled", true);
              $('#approve_form').submit();
          });

          $("#reject-request").on('hidden.bs.modal', function (e) {
            $('#reject_request_message').addClass("hidden");
          });

          $("#cancel-request").on('hidden.bs.modal', function (e) {
            $('#cancel_request_message').addClass("hidden");
          });
    </script>

{% endblock extra_script %}
