{% extends "site_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load eula_extras %}

{% block title %}{% trans "LiPAD Requests" %} - {{block.super}}{% endblock %}

{% block body_class %}{% trans "LiPAD Requests Landing Page for Administrators" %}{% endblock %}


{% block body_outer %}
<div class="page-header">
    <h2 class="page-title">{% trans "Submitted LiPAD Requests" %}</h2>
</div>
<div>
<a href={% url 'datarequests:profile_request_browse' %} class="btn btn-primary ">Profile Requests</a>
<a href={% url 'datarequests:data_request_browse' %} class="btn btn-primary">Data Requests</a>
<a href={% url 'datarequests:requests_csv' %} class="btn btn-primary">Download Requests CSV</a>
</div>
<br /><br />
<div>
<a href={% url 'datarequests:old_requests_model_view' %} class="btn btn-primary">Old Requests List</a>
<a href={% url 'datarequests:old_request_migration_all' %} class="btn btn-primary">Migrate Old Requests To New Models</a>
</div>
{% endblock %}
