{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ map.title }} - {{ block.super }} {% endblock %}

{% block main %}
<h3>{% trans "Are you sure you want to remove"  %} <strong>{{ map.title }}</strong>?</h3>

<form action="/maps/{{map.id}}?remove" method="POST">
	{% csrf_token %}
	<input type="submit" value="{% trans "Yes, I am sure"  %}" />
</form>
<form action="/maps/{{map.id}}" method="GET">
    <button type="submit">{% trans "No, don't remove it" %}</button>
</form>
{% endblock %}
