{% extends "page_layout.html" %}
{% load i18n %}

{% block header_append %} 
<script  type="text/javascript">
        {% if map_status %} 
        /// the map status has some information
        var checkStatus, progress, pb; 

        function update() { 
            Ext.Ajax.request({ 
                url : "{% url geonode.maps.views.check_download %}",
                method: "GET",              
                success: function(result) { 
                    var json = Ext.util.JSON.decode(result.responseText);
                    if (json["process"]["status"] === "FINISHED"){ 
                        location.href = "http://localhost:8001/geoserver/rest/process/batchDownload/download/" +  json["process"]["id"] ; 
                        clearInterval(checkStatus); 
                        pb.updateProgress(1,"Done....",true);
                        location.href = "" +  json["process"]["id"] ; 
                    } 
                    else { 
                        pb.updateProgress(json["process"]["progress"]/100,"Downloading...",true); 
                    } 
                },
                failure: function() { 
                    console.log("something went wrong"); 
                }});                 
                
        };

        Ext.onReady(function() {         
            checkStatus = setInterval("update()",1000);
            pb = new Ext.ProgressBar({
                text:'Downloading...',
                id:'pbar',
                cls:'left-align',
                renderTo:'pb'
            });
        });

        {% else %} 
          // there is no information in the map_status
        {% endif %} 
    

</script>
{% endblock %} 

{% block main %}
    <h3>Download {{map.title}}</h3>
    <hr />
    <ol>
      {% for layer in map.layers %} 
      <li> {{layer.name}} </li>
    {% endfor %} 
     </ol>     
     {% if map_status %} 
        <div id="pb"></div>
     {% else %} 
     <form action="." method="POST"> 
       <input type="submit" value="Start downloading this map" /> 
     </form>
     {% endif %} 

{% endblock %}
