{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ layer.typename }} - {{ block.super }} {% endblock %}

{% block main %}
  <h2> {% trans "Editing details for " %} {{ layer.typename }} </h2>
  <form action="/data/{{layer.typename}}?describe" method="POST">
	  {% csrf_token %}
      <ul class="form">
          {{ layer_form.as_ul }}
          <fieldset>
	        <legend>Point of Contact</legend>
            {{ poc_form.as_ul }}
            {{ poc_role_form.as_ul }}
            <input type="submit" value="{% trans "Update existing" %}"/>
            <input type="submit" value="{% trans "Save as new" %}"/>
          </fieldset>
          <fieldset>
	        <legend>Metadata Provider</legend>
            {{ author_form.as_ul }}
            {{ author_role_form.as_ul }}
            <input type="submit" value="{% trans "Update existing" %}"/>
            <input type="submit" value="{% trans "Save as new" %}"/>
          </fieldset>

          <input type="submit" value="{% trans "Update" %}"/>
      </ul>
  </form>
{% endblock %}
