{% extends "page_layout.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %} Permissions - {{ layer.title }} - {{ block.super }} {% endblock %}

{% block main %}

<h2>Permissions for {{ layer.title }}</h2>
<table class="permissions">
  <thead>
    <tr><th>{% trans "User" %}</th><th>{% trans "Permission Level" %}</th></tr>
  </thead>
  <tbody>
    <tr><td>{% trans "Anonymous Users" %}</td><td>{{ anonymous }}</td></tr>
    <tr><td>{% trans "Registered Users" %}</td><td>{{ authenticated }}</td></tr>
    {% for username, level in users %}
    <tr><td>User {{ email }}</td><td>{{ level }}</td></tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url data_ajax_perm_email layer.typename %}">Edit Permissions</a>

{% endblock %}
