{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ layer.typename }} - {{ block.super }} {% endblock %}

{% block main %}

<h3>{% trans "Are you sure you want to remove"  %} <strong>{{layer.typename}}</strong>?</h3>

<form action="{% url layer_remove layer.typename %}" method="POST">
	{% csrf_token %}
	<input type="hidden" value="{{layer.typename}}" /> 
	<input type="submit" value="{% trans "Yes I am sure"  %}" />
</form>
<form action="/data/{{layer.typename}}" method="GET">
    <button type="submit">{% trans "No, don't remove it" %}</button>
</form>
{% endblock %}


{% block sidebar %}
<h3>{% trans "This action affects the following maps:"  %}</h3>
<ul>
	{% for map in layer.maps %}
	<li>{{map.title}}</li>
    {% empty %}
    <li> {% trans "No maps are using this layer." %} </li>
	{% endfor %}
<ul>
{% endblock %}
