{% extends "page_layout.html" %}
{% load geonode_auth %}
{% load geonode_media %}
{% load i18n %}

{% block title %} {{ layer.resource.title|default:layer.typename }} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/openlayers_header.html" %}
{% include "geonode/geoext_header.html" %}
{% include "geonode/ux_header.html" %}
{% include "geonode/gxp_header.html" %}

<link rel="stylesheet" type="text/css" href="{% geonode_media "ux_resources" %}colorpicker/color-picker.ux.css" />

{{ block.super }}

    <script type="text/javascript">
        Ext.onReady(function() {
            var config = {
                useBackgroundCapabilities: false,
                proxy: "/proxy/?url=",
                localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}",

                /* The URL to a REST map configuration service.  This service 
                 * provides listing and, with an authenticated user, saving of 
                 * maps on the server for sharing and editing.
                 */
                rest: "/maps/",

                portalConfig: {
                    renderTo: "preview_map",
                    height: 350
                },

                createTools: function() {
                    return [new Ext.Button({
                        tooltip: GeoExplorer.prototype.backgroundContainerText,
                        iconCls: 'icon-layer-switcher',
                        menu: new gxp.menu.LayerMenu({
                            layers: this.mapPanel.layers
                        })
                    })]
                },
                listeners: {
                    "ready": function() {
                        var map = app.mapPanel.map;
                        map.zoomToExtent(map.layers.slice(-1)[0].maxExtent);
                    }
                }
            };

            config = Ext.apply(config, {{ viewer|safe }});

            app = new GeoExplorer.Viewer(config);

            Ext.get(Ext.DomQuery.select("input[@name='style']")).on("click", function(evt, elem) {
                app.mapPanel.map.layers.slice(-1)[0].mergeNewParams({
                    "STYLES": elem.value,
                    "_dc": Math.random()
                });
            });

            Ext.get(Ext.DomQuery.select("select[@name='default-style']")).on("change", function(evt, elem) {
                Ext.Ajax.request({
                    method: "post",
                    url: "?style",
                    params: {"defaultStyle" : elem.value}
                });
            });
            
            Ext.get(Ext.DomQuery.select(".style-title")).on("click", function(evt, elem) {
                showStyle(elem.previousSibling.value);
            });
        });

        function showStyle(styleName) {
            var map = app.mapPanel.map;
            var layerRecord = app.mapPanel.layers.getByLayer(
                map.layers.slice(-1)[0]);
            var stylesPanel = app.createStylesPanel({
                layerRecord: layerRecord,
                styleName: styleName,
                editable: {{ user.is_authenticated|lower }},
                listeners: {
                    "saved": function() {
                        window.location.reload();
                    }
                }
            });
            styleName || stylesPanel.items.get(0).addStyle();
            new Ext.Window({
                title: "Styles",
                autoHeight: true,
                width: 280,
                bodyStyle: "background-color: white;",
                items: stylesPanel
            }).show();
        }
    </script>
{% endblock %}

{% block main %}
<div id="description"> <h3> {{ layer.resource.title|default:layer.typename }} </h3> </div>
<p> <strong>{% trans "Abstract" %}:</strong> {{ layer.abstract|default:_("No abstract for this layer.") }} </p>

<div id="preview_map"></div>

<p> <strong>{% trans "Type" %}:</strong> {{ layer.display_type }} </p>
<p> <strong>{% trans "Keywords" %}:</strong> {{ layer.keywords }}</p>
<p> <strong>{% trans "Edition" %}:</strong> {{ layer.edition }}</p>
<p> <strong>{% trans "Topic Category" %}:</strong> {{ layer.topic_category }}</p>

<p> <strong>{% trans "Citation" %}:</strong> 
    {{ layer.constraints_use}} {{ layer.contraints_other}}
</p>
<p> <strong>{% trans "Contact" %}:</strong>
    {{ layer.poc|default:_("No attribution information for this layer.") }}
</p>
<p> <strong>{% trans "Attributes" %}:</strong> 
    {{ layer.attribute_names|join:", " }}
</p>
<p> <strong>{% trans "Supplemental Information" %}:</strong> 
    {{ layer.supplemental_information }}
</p>
<p> <strong>{% trans "Data Quality Statement" %}:</strong> 
    {{ layer.data_quality_statement }}
</p>
<p> <strong>{% trans "Bounding Box" %}:</strong> {{ layer.geographic_bounding_box }} </p>
<p> <strong>{% trans "Native SRS" %}:</strong> {{ layer.metadata.crsOptions.0|default:_("No SRS specified.") }} </p>

{% endblock %}

{% block sidebar %}
    <h3> {% trans "Download" %} </h3>
    <p> <strong>{% trans "Data" %}: </strong>
        {% for extension, type, link in layer.download_links %}
            <a href="{{link}}">{{type}}</a>
        {% endfor %}
    </p>
    <p> <strong>{% trans "Metadata" %}: </strong>
        {% for mimetype, mdtype, link in layer.metadata_links %}
            <a href="{{link}}">{{mdtype}}</a>
        {% empty %}
            <em> {% trans "No metadata links provided for this data." noop %} </em>
        {% endfor %}
    </p>
    <h3>{% trans "Maps" %} </h3>
    {% if layer.maps %}
    <p>{% trans "The following maps use this data set" %}:
        <ul>
            {% for map in layer.maps %} 
            <li> <a href="{{map.get_absolute_url}}">{{map.title}}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> {% trans "This layer is not currently used in any maps." %} </p>
    {% endif %}
    <p><a href="{% url geonode.maps.views.newmap %}?layer={{layer.typename}}">Create new map</a></p> 

    <h3> {% trans "Styles" %} </h3>
    <p> {% trans "The following styles are associated with this data set.  Choose a style to view it in the preview to the left.  Click on a style name to view or edit the style." %}
    <br/>
    <span class="styles-list">
        <input type="radio" name="style" value="{{layer.publishing.default_style.name}}" checked="checked"/><span class="style-title"> {{ layer.default_style.name|title }} </span><a href="{{ GEOSERVER_BASE_URL }}styles/{{layer.publishing.default_style.name}}.sld">SLD</a><br/>
    {% for style in layer.styles %} 
        <input type="radio" name="style" value="{{style.name}}"/><span class="style-title"> {{ style.name|title }} </span><a href="{{ GEOSERVER_BASE_URL }}styles/{{style.name}}.sld">SLD</a><br/>
    {% endfor %}
    </span>
    {% if user.is_authenticated %}
    {% trans "Default style:" %}
    <select name="default-style">
        <option value="{{layer.publishing.default_style.name}}" selected="selected">
          {{layer.publishing.default_style.name|title}}
        </option>
    {% for style in layer.styles %} 
        <option value="{{style.name}}"> {{ style.name|title }} </option>
    {% endfor %}
    </select><br/>
    <a href="javascript:showStyle()">Create new style</a>
    {% endif %}

    </p>



    {% if user.is_authenticated %}
    {% has_obj_perm user layer "maps.change_layer" as can_change %}
    {% has_obj_perm user layer "maps.delete_layer" as can_delete %}
    {% has_obj_perm user layer "maps.change_layer_permissions" as can_change_permissions %}

        <h3> {% trans "Manage" %} </h3>
        <ul>
			{% if user.is_authenticated %}
        {% if can_change %}
                <li><a href="?describe">{% trans "Update the description of this data" %}</a></li>
            	<li><a href="?update">{% trans "Upload a new version of this data" %}</a></li>
        {% endif %}
        {% if can_change_permissions %}
        <li><a href="{% url edit_layer_permissions layer.typename %}">{% trans "Edit Permissions" %}</a></li>
        {% endif %}
        {% if can_delete %}
				<li><a href="?remove">{% trans "Remove" %}</a></li>
			  {% endif %}
			{% else %}
				<li>Please authenticate to update or remove layers</li>
			{% endif %}
        </ul>
    {% endif %}
{% endblock %}
