{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ layer.typename }} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{{ block.super }}
{% endblock %}
{% block main %}
<div class="twocol">
  <h2> {% trans "Editing details for " %} {{ layer.typename }} </h2>
  <form action="{% url data_metadata layer.typename %}" method="POST">
	  {% csrf_token %}
      <ul class="form">
	      {{ layer_form.as_ul }}
          <fieldset id="poc_form" {% if poc_form.hidden %}style="display:none"{% endif %}>
	        <legend>Point of Contact</legend>
            {{ poc_form.as_ul }}
          </fieldset>
          <fieldset id="metadata_form" {% if author_form.hidden %}style="display:none"{% endif %}>
	        <legend>Metadata Provider</legend>
            {{ author_form.as_ul }}
          </fieldset>
          <input type="submit" value="{% trans "Update" %}"/>
      </ul>
  </form>
</div>
<script type="text/javascript">
{% autoescape off %}
    // Extify form fields
    Ext.select("input[type='text']").each(function(el) {
        if (el.hasClass("date")) {
            new Ext.form.DateField({applyTo: el.id, format: "Y-m-d"});
        } else if (el.hasClass("time")) {
            new Ext.form.TimeField({applyTo: el.id, format: "H:i:s"})
        }
    });
    // get #poc_form and #metadata_form, and add a `onchange` handler
    // that shows the form if the blank option is selected.
    Ext.get('id_layer-poc').on('change', function() {
        if (this.getValue()===""){
            Ext.get("poc_form").show();
            Ext.get("poc_form").setStyle('display', 'block');
        }else{
            Ext.get("poc_form").hide();
            Ext.get("poc_form").setStyle('display','none');
        }
    });
    Ext.get('id_layer-metadata_author').on('change', function() {
        if (this.getValue()===""){
            Ext.get("metadata_form").show();
            Ext.get("metadata_form").setStyle('display','block');
        }else{
            Ext.get("metadata_form").hide();
            Ext.get("metadata_form").setStyle('display','none');
        }
    });
{% endautoescape %} 
</script>
{% endblock %}
