{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ layer.typename }} {% endblock %}

{% block main %}
<div id="description"> <h3> {{ layer.typename }} </h3> </div>
<p> <strong>{% trans "Abstract" %}</strong> {{ layer.metadata.abstract }} </p>
<p> <strong>{% trans "Type" %}</strong> </p>
<p> <strong>{% trans "Keywords" %}</strong> {{ layer.metadata.keywords|join:", " }}</p>
<p> <strong>{% trans "Citation" %}</strong> 
    {% if layer.metadata.attribution %} {{ layer.metadata.attribution }} {% endif %} 
</p>
<p> <strong>{% trans "Contact" %}</strong>
    {% if layer.metadata.attribution %} {{ layer.metadata.attribution }} {% endif %}
</p>
<p> <strong>{% trans "Attributes" %}</strong> {{ layer.metadata.schema }} </p>
<p> <strong>{% trans "Native SRS" %}</strong> {{ layer.metadata.srs }} </p>
{% endblock %}

{% block sidebar %}
    <h3> Download </h3>
    {% for type, link in layer.download_links %}
        <a href="{{link}}">{{type}}</a>
    {% endfor %}
    <h3> Maps </h3>
    {% for map in layer.maps %} 
        <a href="{{map.get_absolute_url}}">{{map.title}}</a>
    {% endfor %}
    <h3> Styles </h3>
    <h3> Manage </h3>
{% endblock %}
