{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function() {
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">
    <h2>{% trans "Add data" %}</h2>
  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="upload_form">
  </div>
    </div>
<script type="text/javascript">
{% autoescape off %}
Ext.onReady(function(){
    Ext.QuickTips.init();


    var form_target = "{% url geonode.maps.views.upload_layer %}";
    var xml_unsafe = /(^[^a-zA-Z\._]+)|([^a-zA-Z0-9\._])/g;
    var layer_title = new Ext.form.TextField({
      id: 'layer_title',
      fieldLabel: gettext('Title'),
      name: 'layer_title'
    });

    var listeners = {
        "fileselected": function(cmp, value) {
            // remove the path from the filename - avoids C:/fakepath etc.
            cmp.setValue(value.split(/[/\\]/).pop());
        }
    };


    var map_id = new Ext.form.Hidden({
    	id: 'mapid',
    	value:  '{{map.id}}'
    });


    var mapurl = "{% url geonode.maps.views.view map.id %}";
    {% if map.officialurl %}
    	mapurl="{% url geonode.maps.views.official_site map.officialurl %}";
    {% else %}
    	{% if map.url %}
    		mapurl="{% url geonode.maps.views.view map.url %}";
    	{% endif %}
    {% endif %}

	var titleTemplate = new Ext.Template("<a  href=\"" + mapurl + "\">{{map.title}}</a><span>&nbsp;/&nbsp;Upload Data</span>");
	Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply());


    var base_file = new Ext.ux.form.FileUploadField({
        id: 'base_file',
        emptyText: gettext('Select a layer data file'),
        fieldLabel: gettext('Data'),
        name: 'base_file',
        allowBlank: false,
        listeners: listeners
    });

    var dbf_file = new Ext.ux.form.FileUploadField({
        id: 'dbf_file',
        emptyText: gettext('Select a .dbf data file'),
        fieldLabel: gettext('DBF'),
        name: 'dbf_file',
        allowBlank: false,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.dbf$/i) == -1)) {
                return gettext("Invalid DBF File.");
            } else {
                return true;
            }
        }
    });

    var shx_file = new Ext.ux.form.FileUploadField({
        id: 'shx_file',
        emptyText: gettext('Select a .shx data file'),
        fieldLabel: gettext('SHX'),
        name: 'shx_file',
        allowBlank: false,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.shx$/i) == -1)) {
                return gettext("Invalid SHX File.");
            } else {
                return true;
            }
        }
    });

    var prj_file = new Ext.ux.form.FileUploadField({
        id: 'prj_file',
        emptyText: gettext('Select a .prj data file'),
        fieldLabel: gettext('PRJ'),
        name: 'prj_file',
        allowBlank: false,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.prj$/i) == -1)) {
                return gettext("Invalid PRJ File.");
            } else {
                return true;
            }
        }
    });


    var encoding = new Ext.form.ComboBox({
        id: 'charset_cb',
        name: ' charset_cb',
        fieldLabel: gettext('Encoding'),
        hiddenName: 'charset',
        displayField:'description',
        valueField: 'charset',
        store : new Ext.data.SimpleStore({
            fields: ['charset', 'description'],
            data: {{ charsets }}
        }),
        mode: 'local',
        triggerAction: 'all',
        listeners: listeners
    });

    var sld_file = new Ext.ux.form.FileUploadField({
        id: 'sld_file',
        emptyText: gettext('Select a .sld style file (optional)'),
        fieldLabel: gettext('SLD'),
        name: 'sld_file',
        allowBlank: true,
        listeners: listeners
    });

    var abstractField = new Ext.form.TextArea({
        id: 'abstract',
        fieldLabel: gettext('Abstract'),
        name: 'abstract',
        allowBlank: true
    });

    var keywordsField = new Ext.form.TextField({
      id: 'keywords',
      fieldLabel: gettext('Keywords'),
      name: 'keywords',
      allowBlank: false
    });

    var permissionsField = new Ext.form.Hidden({
        name: "permissions"
    });

    var termsAgreeCheck = new Ext.form.Checkbox({
        id: 'agreeCheck',
        fieldLabel: 'I agree to the <a href="" onclick="javascript:showTOC();return false;">Terms and Conditions</a>',
        handler: function(){
                if (this.checked) {
                        Ext.getCmp('uploadButton').enable();
                } else
                    Ext.getCmp('uploadButton').disable();
        },
        labelStyle: 'position:absolute;float:left;left:80px;width:200px',
        labelSeparator : ''
    });

    var fp = new Ext.FormPanel({
        renderTo: 'upload_form',
        fileUpload: true,
        width: 500,
        frame: true,
        autoHeight: true,
        unstyled: true,
        labelWidth: 50,
        defaults: {
            anchor: '95%',
            msgTarget: 'side'
        },
        items: [layer_title, map_id, base_file, dbf_file, shx_file, prj_file, encoding, sld_file, abstractField, keywordsField, termsAgreeCheck, permissionsField, {
            xtype: "hidden",
            name: "csrfmiddlewaretoken",
            value: "{{ csrf_token }}"
        }],
        buttons: [{
            text: gettext('Upload'),
            disabled: true,
            handler: function(){
                if (fp.getForm().isValid()) {
                    fp.getForm().submit({
                        url: form_target,
                        waitMsg: gettext('Uploading your data...'),
                        success: function(fp, o) {
                            document.location = o.result.redirect_to;
                        },
                        failure: function(fp, o) {
                            error_message = '<ul>';
                            for (var i = 0; i < o.result.errors.length; i++) {
                                error_message += '<li>' + o.result.errors[i] + '</li>'
                            }
                            error_message += '</ul>'

                            Ext.Msg.show({
                                title: gettext("Error"),
                                msg: error_message,
                                minWidth: 200,
                                modal: true,
                                icon: Ext.Msg.ERROR,
                                buttons: Ext.Msg.OK
                            });
                        }
                    });
                }
            }
        }]
    });

    var disable_shapefile_inputs = function() {
        dbf_file.disable();
        dbf_file.hide();
        shx_file.disable();
        shx_file.hide();
        prj_file.disable();
        prj_file.hide();
    };

    var enable_shapefile_inputs = function() {
        dbf_file.enable();
        dbf_file.show();
        shx_file.enable();
        shx_file.show();
        prj_file.enable();
        prj_file.show();
    };

    var disable_encoding_input = function() {
        encoding.disable();
        encoding.hide();
    };

    var enable_encoding_input = function() {
        encoding.enable();
        encoding.show();
    };

    var check_shapefile = function() {
        var main_filename = base_file.getValue();
        if ((/\.shp$/i).test(base_file.getValue())) {
            enable_shapefile_inputs();
            enable_encoding_input();
        }
        else if (main_filename.search(/\.zip$/i) != -1)
        {
            enable_encoding_input();
            disable_shapefile_inputs();
        }
        else {
            disable_encoding_input();
            disable_shapefile_inputs();
        }
    };

    base_file.addListener('fileselected', function(cmp, value) {
        check_shapefile();
    });
    disable_shapefile_inputs();
    disable_encoding_input();


    var permissionsEditor = new GeoNode.WorldMapPermissionsEditor({
        renderTo: "permissions_form",
        userLookup: "{% url geonode.views.ajax_lookup_email %}",
        customGroup: "{{ customGroup }}",
        listeners: {
            updated: function(pe) {
                permissionsField.setValue(Ext.util.JSON.encode(pe.writePermissions()));
            }
        },
        permissions: {
            anonymous: 'layer_readonly',
            authenticated: 'layer_readonly',
            users:[]
        }
    });
    permissionsEditor.fireEvent("updated", permissionsEditor);

});

    var showTOC = function() {
        var TOCPanel = new Ext.Panel({
            id: 'worldmap_mapshare_panel',
            title: 'Share Map',
            header: false,
            autoLoad: {url: '/maps/upload_terms'},
            autoScroll: true
        });

        var TOCWindow = new Ext.Window({
            title: "WorldMap Terms and Conditions",
            closeAction: 'destroy',
            layout: 'fit',
            width: 400,
            height:400,
            items: [TOCPanel],
            modal: true,
            autoScroll: false,
            bodyStyle: 'background-color:#FFF',
            buttons: [
                {
                    text: 'Close',
                    handler: function() {TOCWindow.close();}
                }
            ]
        });

        TOCWindow.show();

    };
{% endautoescape %}
</script>


{% endblock %}


{% block sidebar %}
<div class="threecol">
<h3>{%trans "Permissions"  %}</h3>
 <div id="permissions_form"></div>

<p>{% trans "Select a layer data file and submit the form to begin the transfer."  %}</p>

<h3>{% trans "Supported Formats"  %}</h3>

<ul>
  <li>Shapefile</li>
  <li>GeoTIFF</li>
</ul>
<p>
{% blocktrans %}
    Note: A zipped shapefile must contain at least four files with the following extensions:<br/> <span style="font-weight:bold">SHP, DBF, SHX, PRJ</span>.
    <br/><br/>
    If you are uploading an unzipped shapefile, first select the .SHP file.  You will be prompted to locate the remaining component files.
{% endblocktrans %}
</p>
</div>

Ext.Ajax.on('requestcomplete', function(connection, response, options) {
if (options.form) {
    if (!response.status || response.status >= 400)
    {
                            Ext.Msg.show({
                                title: gettext("Error"),
                                msg: response.responseText.contains("413") ? gettext("Upload is too large") : response.responseText,
                                minWidth: 200,
                                modal: true,
                                icon: Ext.Msg.ERROR,
                                buttons: Ext.Msg.OK
                            });
    }

}
});


{% endblock %}
