{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/jquery_header.html" %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/app/geouploadprogress.css" />
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
<script type="text/javascript" src="{{ GEONODE_CLIENT_LOCATION }}script/GeoUploadProgress.js"></script>
{{ block.super }}
{% endblock %}

{% block main %}
<div class="twocol">
  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="upload_form">
  </div>
  <div id="progress_container">
    <div id="progress_filename"></div>
    <div id="progress_bar">
        <div id="progress_indicator"></div>
    </div>
</div>

</div>
<script type="text/javascript">
{% autoescape off %}
Ext.onReady(function(){
    Ext.QuickTips.init();

    var form_target = "{% url geonode.maps.views.upload_layer %}";
    var xml_unsafe = /(^[^a-zA-Z\._]+)|([^a-zA-Z0-9\._])/g;
    var layer_name = new Ext.form.TextField({
      id: 'layer_name',
      fieldLabel: gettext('Name'),
      name: 'layer_name',
      emptyText: gettext('Unique name for layer.  Defaults to file name.'),
      validator: function(name) {
          if (name.search(xml_unsafe) != -1) {
              return gettext("The layer name must consist only of letters, numbers, and underscores.");
          } else {
              return true;
          }
      },
      allowBlank: false
    });

    var listeners = {
        "fileselected": function(cmp, value) {
            // remove the path from the filename - avoids C:/fakepath etc.
            cmp.setValue(value.split(/[/\\]/).pop());
        }
    };


    var map_id = new Ext.form.Hidden({
    	id: 'mapid',
    	value:  '{{map.id}}'
    });


    var mapurl = "{% url geonode.maps.views.view map.id %}";
    {% if map.officialurl %}
    	mapurl="{% url geonode.maps.views.official_site map.officialurl %}";
    {% else %}
    	{% if map.url %}
    		mapurl="{% url geonode.maps.views.view map.url %}";
    	{% endif %}
    {% endif %}

	var titleTemplate = new Ext.Template("<a  href=\"" + mapurl + "\">{{map.title}}</a><span>&nbsp;/&nbsp;Upload Data</span>");
	Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply());


    var base_file = new Ext.ux.form.FileUploadField({
        id: 'base_file',
        emptyText: gettext('Select a layer data file'),
        fieldLabel: gettext('File'),
        name: 'base_file',
        allowBlank: false,
        listeners: listeners
    });

    var dbf_file = new Ext.ux.form.FileUploadField({
        id: 'dbf_file',
        emptyText: gettext('Select a .dbf data file'),
        fieldLabel: gettext('DBF'),
        name: 'dbf_file',
        allowBlank: false,
        listeners: listeners
    });

    var shx_file = new Ext.ux.form.FileUploadField({
        id: 'shx_file',
        emptyText: gettext('Select a .shx data file'),
        fieldLabel: gettext('SHX'),
        name: 'shx_file',
        allowBlank: false,
        listeners: listeners
    });

    var prj_file = new Ext.ux.form.FileUploadField({
        id: 'prj_file',
        emptyText: gettext('Select a .prj data file (optional)'),
        fieldLabel: gettext('PRJ'),
        name: 'prj_file',
        allowBlank: true,
        listeners: listeners
    });

    var fp = new Ext.FormPanel({
        renderTo: 'upload_form',
        fileUpload: true,
        width: 500,
        frame: true,
        title: gettext('Upload Layer Data'),
        autoHeight: true,
        bodyStyle: 'padding: 10px 10px 0 10px;',
        labelWidth: 50,
        defaults: {
            anchor: '95%',
            msgTarget: 'side'
        },
        items: [layer_name, map_id, base_file, dbf_file, shx_file, prj_file, {
            xtype: "hidden",
            name: "csrfmiddlewaretoken",
            value: "{{ csrf_token }}"
        }],
        buttons: [{
            text: gettext('Upload'),
            handler: function(){
                if (fp.getForm().isValid()) {
                    fp.getForm().submit({
                        url: form_target,
                        waitMsg: gettext('Uploading your data...'),
                        success: function(fp, o) {
                            document.location = o.result.redirect_to;
                        },
                        failure: function(fp, o) {
                            error_message = '<ul>';
                            for (var i = 0; i < o.result.errors.length; i++) {
                                error_message += '<li>' + o.result.errors[i] + '</li>'
                            }
                            error_message += '</ul>'

                            Ext.Msg.show({
                                title: gettext("Error"),
                                msg: error_message,
                                minWidth: 200,
                                modal: true,
                                icon: Ext.Msg.ERROR,
                                buttons: Ext.Msg.OK
                            });
                        }
                    });
                }
            }
        }]
    });

    var disable_shapefile_inputs = function() {
        dbf_file.disable();
        dbf_file.el.parent('.x-form-item').hide();
        shx_file.disable();
        shx_file.el.parent('.x-form-item').hide();
        prj_file.disable();
        prj_file.el.parent('.x-form-item').hide();
    };

    var enable_shapefile_inputs = function() {
        dbf_file.enable();
        dbf_file.el.parent('.x-form-item').show();
        shx_file.enable();
        shx_file.el.parent('.x-form-item').show();
        prj_file.enable();
        prj_file.el.parent('.x-form-item').show();
    };

    var check_shapefile = function() {
        var main_filename = base_file.getValue();
        if (main_filename.search(/\.shp$/i) != -1) {
            enable_shapefile_inputs();
        }
        else {
            disable_shapefile_inputs();
        }
    };

    base_file.addListener('fileselected', function(cmp, value) {
        check_shapefile();

        var main_filename = value.split(/[/\\]/).pop();
        var extension_index = main_filename.search(/\.\w+$/i);
        if (extension_index != -1 && layer_name.getValue() == "") {
            var cleaned = main_filename.substring(0, extension_index);
            cleaned = cleaned.replace(xml_unsafe, "_");
            layer_name.setValue(cleaned);
        }
    });
    disable_shapefile_inputs();
});
{% endautoescape %}
</script>

{% endblock %}


{% block sidebar %}
<div class="threecol">
<h3>{%trans "Instructions"  %}</h3>

<p>{% trans "Select a layer data file and submit the form to begin the transfer."  %}</p>

<h3>{% trans "Supported Formats"  %}</h3>

<ul>
  <li>Shapefile</li>
  <li>GeoTIFF</li>
</ul>
<p>
{% blocktrans %}
Note: If you are uploading a shapefile, first select the .SHP file.  You will be prompted to locate the remaining component files.
{% endblocktrans %}
</p>
</div>
{% endblock %}

<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function() {
    $(function() {
        $('#upload_form').uploadProgress({
            jqueryPath: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js",
            progressBar: '#progress_indicator',
            progressUrl: '{% url upload_progress %}',
            start: function() {
                $("#upload_form").hide();
                filename = $("#id_file").val().split(/[\/\\]/).pop();
                $("#progress_filename").html('Uploading ' + filename + "...");
                $("#progress_container").show();
            },
            uploadProgressPath: "{{ GEONODE_CLIENT_LOCATION }}script/GeoUploadProgress.js",
            uploading: function(upload) {
                if (upload.percents == 100) {
                    window.clearTimeout(this.timer);
                    $("#progress_filename").html('Processing ' + filename + "...");
                } else {
                    $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                }
            },
            interval: 1000
        });
    });
});
//]]>
</script>
