{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {{ map.title }} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{{ block.super }}
{% endblock %}
{% block main %}
<div class="twocol">
  <h2> {% trans "Editing details for " %} {{ map.title }} </h2>
  <form action="/maps/{{map.id}}?describe" method="POST">
    {% csrf_token %}
    <ul class="form">
      {{ map_form.as_ul }}
      <input type="submit" value="{% trans "Update" %}"/>
    </ul>
  </form>
</div>
{% endblock %}
