{% extends "page_layout.html" %}
{% load i18n %}
{% load geonode_auth %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{% include "geonode/openlayers_header.html" %}
{% include "geonode/geoext_header.html" %}
{% include "geonode/ux_header.html" %}
{% include "geonode/gxp_header.html" %}
{{ block.super }}
<script type="text/javascript">
var app;
Ext.onReady(function() {
    var config = Ext.apply({
        useToolbar: false,
        proxy: "/proxy/?url=",
        rest: "/maps/",

        // tell the map viewer where and how to be rendered
        portalConfig: {
            height: 300,
            renderTo: "embedded_map"
        }
    }, {{config|safe}});
    app = new GeoExplorer.Viewer(config);
});
</script>
{% endblock %}

{% block main %}
<h3>Map of {{map.title}}</h3>
<p><strong>Abstract:</strong> {{map.abstract}}</p>

<div id="embedded_map">
</div>

<p><strong>Keywords:</strong> </p>
<p><strong>Citation:</strong> </p>
<p><strong>Contact:</strong> {% autoescape off %}{{map.contact}}{% endautoescape %}</p> 

{% endblock %} 
{% block sidebar %} 
<div id="sidebar"> 
  <h3>Download</h3>
  <p><a href="{% url geonode.maps.views.map_download map.id %}"> Download all layers included in this map</a></p>
  <h3>Layers </h3>
  <p>This map uses the following layers </p>
  <ul>
    {% for layer in layers %}
    {% if not layer.group == "background" %}
    <li>{% autoescape off %}{{layer.local_link}}{% endautoescape %}</li> 
    {% endif %} 
    {% endfor %}  
  </ul>    
  <h3>Manage</h3>
  <ul>
    {% has_obj_perm user map "maps.change_map" as can_change %}
    {% has_obj_perm user map "maps.delete_map" as can_delete %}
    {% has_obj_perm user map "maps.change_map_permissions" as can_change_permissions %}
    
    {% if can_change %}
    <li><a href="{% url geonode.maps.views.view map.id %}">Edit this map</a></li> 
    <li><a href="{% url geonode.maps.views.map_controller map.id %}?describe">Edit metadata</a></li> 
    {% endif %} 
    {% if can_change_permissions %}
    <li><a href="{% url edit_map_permissions map.id %}">Edit permissions</a></li>
    {% endif %}
    {% if can_delete %}
    <li><a href="{% url geonode.maps.views.map_controller map.id %}?remove">Delete map</a></li>
    {% endif %}
    <li><a href="{% url geonode.maps.views.newmap %}?copy={{map.id}}">Duplicate map</a></li>
  </ul>
</div> 
{% endblock %}
