{% extends "mobile.html" %}
{% load i18n %}
{% block title %} {% trans "Map Viewer" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_mobile_header.html" %}
{{ block.super }}
{% if "gme-" in GOOGLE_API_KEY %}
<script src="http://www.google.com/jsapi?client={{GOOGLE_API_KEY}}"></script>
{% else %}
<script src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% endif %}
<script type="text/javascript">
    google.load("earth", "1");
</script>

<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
   var config = {
        useCapabilities: false,
        tools: [{
            ptype: "gxp_geonodequerytool",
            id: "worldmap_query_tool",
            actionTarget:  {target: "main.tbar"},
            //toolText: '<span class="x-btn-text">Identify</span>',
            outputConfig: {width: 400, height: 200, panIn: false},
            featurePanel: 'queryPanel',
            attributePanel: 'gridWinPanel',
            toggleGroup: 'featureGroup'
        },{
                    ptype: "gxp_geolocator",
                    maxZoom: 15,
                    iconCls: "icon-geolocate",
                    //toolText: '<span class="x-btn-text">Position</span>',
                    actionTarget: "main.tbar"
        },
        {
            ptype: "gxp_featuremanager",
            id: "feature_manager",
            paging: false,
            autoSetLayer: true,
            autoLoadFeatures: true,
            listeners: {
                'layerchange': function(mgr, layer, schema) {
                    app.checkLayerPermissions(layer);
                }
            },
            actionTarget:  "main.tbar",
            toggleGroup: 'featureGroup'
        },
        {
            ptype: "gxp_featureeditor",
            id: "gn_layer_editor",
            featureManager: "feature_manager",
            autoLoadFeature: true,
            actionTarget: "main.tbar",
            toggleGroup: 'featureGroup'
        }],
        proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        createTools: function() {
        }
    };
    Ext.apply(config, {{ config }});
    
    config.map.controls = [
                           new OpenLayers.Control.TouchNavigation({
                                                      dragPanOptions: {
                                                          enableKinetic: true
                                                      }
                           }),
                           new OpenLayers.Control.Zoom(),
                           new OpenLayers.Control.Attribution()];
    
    app = new GeoExplorer.ViewerMobile(config);
{% endautoescape %}
});
</script>
{% endblock %}