{% extends "mobile.html" %}
{% load i18n %}
{% block title %} {% trans "Map Viewer" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
{{ block.super }}
<script src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript">
    google.load("earth", "1");
</script>

<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
   var config = {
        useCapabilities: false,
        tools: [{
                    ptype: "gxp_wmsgetfeatureinfo",
                    // uncomment the line below if you want feature info in a grid
                    format: "grid",
                    actionTarget: "main.tbar",
                    iconCls: "icon-getfeatureinfo",
                    outputConfig: {width: 100, height: 100, panIn: false}
        },{
                    ptype: "gxp_geolocator",
                    maxZoom: 15,
                    iconCls: "icon-geolocate",
                    actionTarget: "main.tbar"
        }],
        proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        createTools: function() {
                    return [new Ext.Button({
                        tooltip: GeoExplorer.prototype.backgroundContainerText,
                        iconCls: 'icon-layer-switcher',
                        menu: new gxp.menu.LayerMenu({
                            layers: this.mapPanel.layers
                        })
                    })]
        }
    };
    Ext.apply(config, {{ config }});
    app = new GeoExplorer.Viewer(config);
{% endautoescape %}
});
</script>
{% endblock %}