<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<h1>WorldMap Terms and Conditions</h1>
<br/>
<p>
    The following terms and conditions govern all use of the CGA (Center for Geographic Analysis) WorldMap website http://worldmap.harvard.edu, the Site and the services available on or at the Site, taken together, the Service. The Site is owned and operated by CGA of Harvard University.
</p>
<p>
    The Service provides you with the ability to post User Submissions (the "Materials") to WorldMap (this “CGA WorldMap Instance”) subject to the permissions and terms of use stated in this document.
</p>
<p>
    By electronically signing these Terms and Conditions and clicking the "I AGREE" button below, you agree that these Terms and Conditions apply to all Materials that you post to the WorldMap Service:
</p>
<p>
    You represent and warrant to CGA that you are lawfully entitled and have full authority to license CGA and WorldMap to use the Materials in the ways described in these Terms and Conditions and that you are not under any obligation or restriction created by law, contract or otherwise that would prevent you from entering into and fully performing these Terms and Conditions;
</p>
<p>
    You give permission and any required licenses to CGA and WorldMap to store and backup the materials;
</p>
<p>
    The Materials do not violate any laws, including but not limited to laws related to defamation or obscenity;
</p>
<p>
    The Materials do not infringe upon the copyrights or other intellectual property rights, including, but not limited to patent, trademark, trade secret, copyright, right of publicity or other right of any other of any third party.
</p>
<p>
    The Materials do not contain software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data or other information of CGA or any third party.
</p>
<p>
    If human subjects were studied in the collection of the Materials, you collected the Materials with IRB approval;
</p>
<p>
    The Materials do not contain high-risk confidential information such as social security numbers; credit card numbers; medical record numbers; health plan numbers; other account numbers; certificate/license numbers; or biometric identifiers (fingerprints, retina, voice print, DNA etc.).
</p>
<p>
    You acknowledge that CGA will not be liable for any loss of or damage to the Materials, either in whole or in part.
</p>
<p>
    The Service gives the WorldMap Administrators the ability to restrict access to Materials to specified user accounts ("Restricted User Submissions"). By posting Unrestricted User Submissions on or at the Site, or otherwise through the Service, to your WorldMap instance or other WorldMap instances, or by allowing others to do so, you make the following representations and warranties to CGA and to the administrator of that WorldMap instance:
</p>
<p>
    The User Submissions do not contain information that could, directly or indirectly, identify subject except where the release of such identifying information has no potential for constituting an unwarranted invasion of privacy and/or breach of confidentiality. And for all personally-identifiable information in the data at least one of following conditions applies:
</p>
<p>
    This information has been previously released to the public;
    this information describes public figures, where the data relates to their public roles or other non-sensitive subjects;
    a sufficient length of time has passed since the collection of the information so that the data can be considered "historic";
    all identified subjects have given explicit informed consent allowing the public release of the information in the dataset;
    all information was collected with an explicit statement concerning the public nature of the data, such as information collected for governmental regulatory purposes;
    or, for federal records (data created by a U.S. federal government agency or under a federal contract) only, all identified subjects are deceased and no federal statute explicitly restricts the release of the data.
</p>
<p>
    You shall not provide CGA with any confidential or proprietary information that you desire or are required to keep secret. You are solely responsible for the User Submissions you post on or through the Service. CGA does not endorse and has no control over any User Submission.
</p>
<p>
    While WorldMap makes it possible to control access to your materials, ACCESS CONTROL IS NOT ABSOLUTE.  It may still be possible for someone to access your materials and download them even though you set permission controls to be accessible only by yourself.  Because WorldMap is a web-based system, security CANNOT be guaranteed.
</p>
<p>
    You will indemnify and hold CGA from and against any and all loss, cost, expense, liability, or damage, including, without limitation, all reasonable attorneys' fees and court costs, arising from the (i) use or misuse of the Service; (ii) your access to the Site, use of the Services, violation of the Terms of Use by you; or, (iii) the infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. Such losses, costs, expenses, damages, or liabilities shall include, without limitation, all actual, general, special, and consequential damages.
</p>
<p>
    You may not use the name "Harvard" (alone or as part of another name) in advertising or promotional materials without CGA's prior written approval.
</p>
<p>
    These Terms and Conditions shall be governed by and interpreted in accordance with the laws of the Commonwealth of Massachusetts (excluding the conflict of laws rules thereof).  All disputes under these Terms and Conditions will be resolved in the applicable state or federal courts of Massachusetts.  You consent to the jurisdiction of such courts and waive any jurisdictional or venue defenses otherwise available.
</p>


</body>
</html>