{% extends "fullscreen.html" %}
{% load geonode_media %}
{% load i18n %}

{% block title %} {% trans "Map Viewer" %} - {{ block.super }} {% endblock %}

{% block header_append %}
{% comment %} 
Google Earth resources
Note: We should change this key on final deploy!
{% endcomment %} 
<script src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript">
    google.load("earth", "1");
</script>

<link rel="stylesheet" type="text/css" href="{% geonode_media "ux_resources" %}colorpicker/color-picker.ux.css" />

<script src="{% geonode_media "PrintPreview_script" %}"></script>
<link rel="stylesheet" type="text/css" href="{% geonode_media "PrintPreview_themes" %}css/printpreview.css" />
<script src="{{GEOSERVER_BASE_URL}}pdf/info.json?var=printCapabilities" type="text/javascript"></script>

<script type="text/javascript">
var app;
Ext.onReady(function() {
    var config = Ext.apply({
        useBackgroundCapabilities: false,
        proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service 
         * provides listing and, with an authenticated user, saving of 
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        homeUrl: "{% url geonode.views.index %}",
        
        localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}"
    }, {{config|safe}});
    app = new GeoExplorer(config);
});
</script>

{% endblock %}
