{% extends "fullscreen.html" %}
{% load i18n %}

{% block title %} {{maptitle}}{% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script type="text/javascript" src="{{ GEONODE_CLIENT_LOCATION }}externals/misc/nicEdit.js"></script>
{% if GOOGLE_API_KEY.find("gme-") == -1 %}
    <script src="http://www.google.com/jsapi?client={{GOOGLE_API_KEY}}"></script>
{% else %}
    <script src="http://www.google.com/jsapi?client={{GOOGLE_API_KEY}}"></script>
{% endif

<script type="text/javascript">
    google.load("earth", "1");
</script>


<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/colorpicker/color-picker.ux.css" />
<style type="text/css">
    #templates { display: none; }
</style>

<script src="{{ GEONODE_CLIENT_LOCATION }}script/PrintPreview.js"></script>
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}externals/PrintPreview/resources/css/printpreview.css" />
<script src="{{GEOSERVER_BASE_URL}}pdf/info.json?var=printCapabilities" type="text/javascript"></script>
{{ block.super }}

<script type="text/javascript">
var app;
var init = function() {
{% autoescape off %}


    var config = Ext.apply({
        tools:  [{
                    ptype: "gxp_geonodequerytool",
                    id: "worldmap_query_tool",
                    actionTarget:  {target: "paneltbar", index: 5},
                    toolText: '<span class="x-btn-text">Identify</span>',
                    iconCls: null,
                    outputConfig: {width: 400, height: 200, panIn: false},
                    featurePanel: 'queryPanel',
                    attributePanel: 'gridWinPanel',
                    toggleGroup: 'featureGroup'
                },
            {
                ptype: "gxp_coordinatetool",
                actionTarget:  {target: "paneltbar"}
            },
            {
                ptype: "gxp_gazetteertool",
                actionTarget:  {target: "paneltbar", index: 7},
                toolText: '<span class="x-btn-text">Gazetteer</span>',
                pressed: false
            }
        ],
        proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        homeUrl: "{% url geonode.views.index %}",
        siteUrl: "{{ SITE_URL }}",
        localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        csrfToken: "{{ csrf_token }}",
        authorizedRoles: "{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}"
    }, {{ config }});



    app = new GeoExplorer(config, true);

    var permalinkTemplate = new Ext.Template("{protocol}//{host}/maps/{id}/edit");
    var permalink = function(id) {
            return permalinkTemplate.apply({
                protocol: window.location.protocol,
                host: window.location.host,
                id: id
            })
        };


    var titleTemplate = new Ext.Template("<span>{title}</span>");
    Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply({title: (config.about.officialurl ? '' : 'Current Map: ') + (config.about.title ? config.about.title : 'New Map')}));

    app.on("saved", function(id) {
        //reset title header
        Ext.DomHelper.overwrite(Ext.get("page-breadcrumb"), titleTemplate.apply({title: (config.about.officialurl ? '' : 'Current Map: ') + (config.about.title ? config.about.title : 'New Map')}));




    }, this);
{% endautoescape %}
}

window.onload = init;

</script>

{% endblock %}

{% block body %}
<div id="header-wrapper">
  {{ block.super }}

    <div id="dataTabs" class="x-hidden">

<div id="searchDiv" style="background-color:#fff;width:800px;">
<div style="float:left;position:relative;margin:10px;width:580px;">
  <div class="block">
    <h2>{% trans "Search" %} <span class="subtitle">{% trans "for geospatial data" %}</span></h2>

    <div id="search_results"></div>

  </div>

  <div class="block wrap selfclear">
  <h3>Selected Data</h3>
  <div id="selection">
    <div id="data_cart"></div>
    </div>
    <div id="data_ops">
    </div>
  </div>


</div>



<div style="position:relative;float:right;width:200px">
  <div id="refine" class="block">
    <h3>{% trans "Refine Search" %}</h3>
    <div class="bbox-controls">
      <div class="bbox-enabled"><input type="checkbox" /> {% trans "By area" %}</div>
      <p><span class="explain">{% blocktrans %}Limit the search to data that includes features in the displayed area.{% endblocktrans %}</span></p>
      <div class="bbox-expand">
      </div>
    </div>
    <div class="search-button">Refine</div>
  </div>

</div>
</div>
        <div id="externalDiv"></div>
        <div id="uploadDiv"></div>
        <div id="createDiv"></div>
        <div id="warpDiv">
            <div id="tabContainer" style="padding:20px;">

                <div style="position:relative;float:left;">

                    <h3>{%trans "Rectify Images"  %}</h3>

                    <p style="font-size: 14px">Use <a target="_blank" href="http://warp.worldmap.harvard.edu">WorldMap WARP</a> to upload and rectify scanned maps for use in WorldMap. <br/><br/> Maps rectified using this tool can be brought into WorldMap by following the instructions under Section 3.9.1 in <a href="http://localhost:8000/media/docs/WorldMap_Help.pdf">WorldMap Help</a>.</p>
                    <br/><br/>
                    <div align="center"><a target="_blank" href="http://warp.worldmap.harvard.edu"><img src="{{ STATIC_URL }}theme/img/warper-sample.jpg" border="0" /></a></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

