{% extends "page_layout.html" %}
{% load i18n %}
{% load navbar %}

{% block title %} {% trans "MyHazard" %} {% endblock %}

{% block header_append %}
    <script src="http://maps.google.com/maps?file=api&v=2&key={{GOOGLE_API_KEY}}"></script>
    <script src="{{MEDIA_LOCATIONS.capra_script}}" type="text/javascript"></script>
    <script type="text/javascript">
        var app;

        //this config object should be populated from the
        //hazard categories app.
        var hazardConfig = [
            {"hazard": "Zombie Attack",
             "periods": [
               {"length": 100, "typename": "zombies:attack_100y"},
               {"length": 20, "typename": "zombies:attack_20y"}
             ]
            },{
             "hazard": "Candy Drought",
             "periods": [
               {"length": 100, "typename" : "candy:drought_100y"}              
             ]
            }
        ]

        Ext.onReady(function() {
            app = new MyHazard.Viewer({hazardConfig: hazardConfig});
        });
    </script>
{% endblock %}

{% block navbar %} {% navbar hazard %} {% endblock %}

{% block main %}
<div id="app"></div>
{% endblock %}
