{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %}{% trans "Study Cases" %}{% endblock %}
{% block main %}
  <h1>{% trans "Study Cases" %}</h1>
  <a href="{% url "study_cases_submit" %}">{% trans "Create new study case" %}</a>
   
{% endblock %}

{% block body_outer %}
{% block body %}{% endblock body %}
{% block sidebar %}{% endblock sidebar %}

{% endblock body_outer %}

{% block extra_script %}
  <script src="{% static study_cases/js/study_cases.js}"></script>
{% endblock %}
