{% extends "maps/map_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}maps explore{% endblock %}

{% block body %}
<div class="page-header">
  <a href="{% url "new_map" %}" class="btn btn-primary pull-right">{% trans "Create a New Map" %}</a>
  <h2>{% trans "Explore Maps" %}</h2>
</div>
  {% include "search/_search_content.html" %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=map'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='maps' %}';
      {% endif %}
      FILTER_TYPE = 'map';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
