<style>
        .modal-dialog {
        width: 765px !important;
    }
    </style>

<div id="map-print-preview">

   

            

                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Print Preview</h4>
                    </div>

<div style="padding: 15px;">


                    <div class="form-inline" style="margin-bottom: 15px;">
                            <div class="form-group">
                              <label for="" style="width: 80px;">Paper size:</label>
                              <select class="form-control"> 
                                  <option>A1 Portrait</option> 
                                  <option>A3 Portrait</option> 
                                  <option>A4 portrait</option> 
                                  <option>Legal Portrait</option> 
                                </select>
                            </div>
                            <div class="form-group" style="margin-left: 30px;">
                                    <label for="">Resolution:</label>
                                
                                    <select class="form-control"> 
                                        <option>75 dpi</option> 
                                        <option>150 dpi</option> 
                                        <option>300 dpi</option>
                                    </select>
                                  </div>

                          
                                                
                                </div>

                                <div class="form-inline" style="margin-bottom: 15px;">
                                        <div class="form-group">
                                                <label style="width: 80px;">&nbsp;</label>
                                                <input class="form-control" style="width: 352px;" id="" placeholder="Map title" type="text">
                                        </div>
                                        <div class="form-group" style="margin-left: 5px;">
                                               <input autocomplete="off" id="ext-comp-1094" name="legend" class=" x-form-checkbox x-form-field" checked="" type="checkbox"> <label for="ext-comp-1094" class="x-form-cb-label" id="ext-gen294">Include legend?</label>
                                              </div>
            
                                       
                                                            
                                            </div>


                                            <div class="form-inline" style="margin-bottom: 15px;">
                                                    <div class="form-group">
                                                            <label style="width: 80px;">&nbsp;</label>
                                                            <textarea class="form-control" rows="3" style="width: 352px;"></textarea>
                                                    </div>
                                                    
                                                        </div>


                                                        <div class="form-inline" style="margin-bottom: 15px;">
                                                                <div class="form-group">
                                                                        <label style="width: 80px;">&nbsp;</label>
                                                                       
                                                                        <img src="" alt="Map preview" class="img-thumbnail" style="background-color: rgb(235, 235, 235);width:645px;height:250px;">


                                                                </div>
                                                                
                                                                    </div>

                                                                    <div class="form-inline">
                                                                            <div class="form-group">
                                                                                    <label style="width: 80px;">&nbsp;</label>
                                                                                   
                                                                                    <button class="btn btn-gd-primary icon-btn-color" style="padding: 10px;">
                                                                                          
                                                                                            <i class="fa fa-print" aria-hidden="true" style="margin: 0"></i>
                                                                                            Print
                                                                                        </button>
            
            
                                                                            </div>
                                                                            
                                                                                </div>
                                    
                        

                       
    
                        </div>
              
    


    <!-- <div class="row-fluid">
        <div class="span4 print-options donot-print">

            <div style="margin: -30px -41px 29px; padding: 20px 20px 12px; background-color: #f8f8f8;" class="donot-print">
                <h5 style="margin: -20px; background-color: #fdfdfd; margin-bottom: 10px; padding: 5px 21px; font-size: 16px; border: 1px solid #eaeaea;">
                    <input type="checkbox" ng-model="legend.show" />
                    Legend</h5>
                <div ng-if="legend.show">
                    Position
                    <select class="input-small" ng-options="value as value for (position, value) in legendPositions" ng-model="legend.position">
                    </select>
                </div>
            </div>

            <div style="margin: -30px -41px 29px; padding: 20px 20px 12px; background-color: #f8f8f8;" class="donot-print">
                <h5 style="margin: -20px; background-color: #fdfdfd; margin-bottom: 10px; padding: 5px 21px; font-size: 16px; border: 1px solid #eaeaea;">
                    <input type="checkbox" ng-model="headerOptions.show" />
                    Title</h5>
                <div ng-if="headerOptions.show" print-map-title-options="headerOptions">
                </div>
            </div>
            <div style="margin: -30px -41px 0; padding: 20px 20px 12px; background-color: #f8f8f8;" class="donot-print">
                <h5 style="margin: -20px; background-color: #fdfdfd; margin-bottom: 10px; padding: 5px 21px; font-size: 16px; border: 1px solid #eaeaea;">
                    <input type="checkbox" ng-model="footerOptions.show" />
                    Footer
                </h5>
                <div ng-if="footerOptions.show" print-map-title-options="footerOptions">
                </div>
            </div>
        </div>

        <div class="span8 print-content" style="padding: 10px; float: right;">
            <div style="margin: 0 0 10px; text-align: right" class="donot-print">
                <button data-ng-click="downloadMap()" class="btn btn-success"><i class="fa fa-fw fa-print"></i>Print</button>
                <button data-ng-click="close()" class="btn"><i class="fa fa-fw fa-times-circle"></i>Cancel</button>
            </div>

            <div id="map-preview" data-drop="true" data-jqyoui-options jqyoui-droppable>
                <div id="map-legends" ng-show="legend.position == 'top' && legend.show">
                    <map-legend></map-legend>
                </div>
                <div class="row">
                    <div id="map-legends" ng-show="legend.position == 'left' && legend.show" class="span3">
                        <map-legend></map-legend>
                    </div>
                    <div id="map-body" ng-class="{'span9': ((legend.position == 'left' || legend.position == 'right') && legend.show)}">
                        <div class="map-header" ng-show="headerOptions.show" ng-style="{'text-align': headerOptions.alignment, 'height':headerOptions.height}" ng-dblclick="highlightTitleBox()">
                            <div style="display: inline-block;" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" parent-element="#map-body">
                                <div resizable>
                                    <span ng-style="{'color':headerOptions.color,'background-color': headerOptions.backgroundColor, 'font-size': headerOptions.fontSize + 'pt'}">[{headerOptions.displayText}]</span>
                                </div>
                            </div>
                        </div>
                        <div id="map-img" style="position: relative;">
                            <div ng-if="!mapImage.baseMapUrl || !mapImage.shapeUrl" style="text-align: center; margin: 50px 0;" class="alert alert-info">
                                <cogs></cogs>
                                <span style="font-size: 20px; margin-left: 3px;">Processing Map...</span>
                            </div>
                            <img ng-if="mapImage.baseMapUrl && mapImage.shapeUrl" style="z-index: 1;" ng-attr-src="[{mapImage.baseMapUrl}]" alt="Map" />
                            <img ng-if="mapImage.baseMapUrl && mapImage.shapeUrl" style="z-index: 2; position: absolute; top: 0; left: 0;" ng-attr-src="[{mapImage.shapeUrl}]" alt="Map" />
                        </div>

                        <div class="map-header" ng-show="footerOptions.show" ng-style="{'text-align': footerOptions.alignment, 'height':footerOptions.height}" ng-dblclick="highlightFooterBox()">
                            <div style="display: inline-block;" data-drag="true" ng-style="{'top':footerOptions.showBackground ? '0':'-40px'}" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" parent-element="#map-body">
                                <div resizable>
                                    <span style="font-weight: normal;" ng-style="{'color':footerOptions.color,'background-color': footerOptions.backgroundColor, 'font-size': footerOptions.fontSize + 'pt'}">[{footerOptions.displayText}]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map-legends" ng-show="legend.position == 'right' && legend.show" class="span3">
                        <map-legend></map-legend>
                    </div>
                </div>
                <div id="map-legends" ng-show="legend.position == 'bottom' && legend.show">
                    <map-legend></map-legend>
                </div>
            </div>
        </div>
    </div> -->
</div>