{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} {% endblock %}
{% block header_append %}
<script type="text/javascript">
Ext.onReady(function(){
    var app = new DataPage({
        ows: "{{GEOSERVER_BASE_URL}}wms",
        proxy: "/proxy/?url=",
        url: '/geoserver',
        ame_link_prefix: 'http://capra.opengeo.org/dev/'
    });
});
</script> 
{% endblock %}

{% block nav %}
{% navbar data %}
{% endblock %}

{% block main %}
<div id="risk-description">
  <h3>{% trans "Risk Data" %}</h3>
  <div>{% blocktrans %} A list of risk data layers available for download. {% endblocktrans %}</div>
</div>
<div id="data">
  <div id="risk-layer-browser"></div>
</div>
<div id="hazard-description">
  <h3>{%trans "Hazard Data"%}</h3>
  <div>{% blocktrans %} A list of hazard layers available for download. {% endblocktrans %}</div>
</div>
<div id="data">
  <div id="hazard-layer-browser"></div>
</div>
<div id="ame-description">
    <h3>{%trans "AME Hazard Data"%}</h3>
    <div>{% blocktrans %} A list of AME files available for download. {% endblocktrans %}</div>
</div>
<div id="data">
    <div id="ame-layer-browser"></div>
</div>
<div id="base-description">
  <h3>{% trans "Base Data" %}</h3>
  <div>{% blocktrans %} A list of base layers available for download. {% endblocktrans %}</div>
</div>
<div id="data">
  <div id="base-layer-browser"></div>
</div>
{% endblock %}
{% block sidebar %}
<h2>{% trans "Browse Capra's Data" %}</h2>
{% blocktrans %}
<p>Here you can browse the data hosted by CAPRA.</p>
<p>Click the <b>+</b> on any row to show layer metadata or download in PDF, KML, GeoTIFF, or SHP.</p>
{% endblocktrans %}
{% endblock %}
