{% load i18n %}
<p>Dear Sir/Madam,</p>
<p><strong>{{ inviter_name }}</strong>  is inviting you to join ({{ site_name }}).</p>
<p>
    To do so, please register at <a href="{{ invite_url }}">{{ site_name }} Registration</a>.
</p>
<p>
    Once you receive the confirmation that your account is activated, you can notify <strong>{{ inviter_name }}</strong> that you wish to join her/his group(s) through <a href="{{ SITEURL }}{% url 'message_create' inviter_id %}?subject=Request%20to%20join%20your%20group&content=Dear%20group%20manager%2C%0A%0AI%20am%20now%20a%20member%20of%20{{ site_name }}%2C%20and%20I%20would%20like%20to%20join%20the%20group%20that%20you%20are%20managing.%0APlease%20add%20me%20to%20your%20group.%0A%0AThank%20you.">this link</a>.
</p>
<p><strong>{{ inviter_name }}</strong> is a member of the following group(s):</p>
<ul>
    {% for group in groups %}
        <li><a href="{{ SITEURL }}{% url "group_detail" group.slug %}">{{ group }}</a></li>
    {% endfor %}
</ul>
<p>We look forward to seeing you on the platform,</p>
<p>The GeoNode team.</p>
