{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "GeoExplorer" %} - {{ block.super }}
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block extra_head %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/elesdoar/leaflet-control-orderlayers/master/dist/css/leaflet.control.orderlayers.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="{% static 'lib/css/L.Control.Pan.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/css/L.Control.ZoomBox.css' %}"/>
    <style type="text/css">
        html, body, #wrap {
            height: 100%;
            width: 100%;
        }

        #layer-list li {
            cursor: move;
        }

        label {
            padding-bottom: 1%;
        }

    </style>
{% endblock extra_head %}

{% block body %}
    </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 pad0">
                <div class="options-panel newmap">
                    <div class="form-group">
                        <label for="add_layer_select">Available layers</label>
                        <select class="form-control" id="add_layer_select">
                            {% for layer in layers %}
                                <option value="{{ layer.typename }}"
                                        id="option_{{ layer.typename }}">{{ layer.title }}</option>
                            {% endfor %}
                        </select>
                        <input id="add_layer_button" type="submit" class="btn btn-info" value="Add Layer">
                    </div>
                    <h4>Map layers</h4>
                    <div>
                        <ul id="layer-list">
                        </ul>
                    </div>
                    <h4>Background layers</h4>
                    <div>
                        <form action="">
                            <input type="radio" name="background-layer" value="osm" checked="checked">OSM<br>
                            <input type="radio" name="background-layer" value="mapquest">MapQuest<br>
                        </form>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-info" data-toggle="modal" data-target="#save-map-modal">Save</button>
                        <button class="btn btn-info">Load</button>
                        <button class="btn btn-info">Publish</button>
                    </div>
                </div>
            </div>

            <div class="col-md-9 pad0">
                <div id="map" style="position:relative; ">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="save-map-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Map</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="save-map-form" action="{% url 'new_map_json' %}" method="post">
                        <div class="form-group">
                            <label for="map-title-input">Title:</label>
                            <input name="map-title" type="text" class="form-control" id="map-title-input"
                                   placeholder="Enter map title">
                        </div>
                        <div class="form-group">
                            <label for="map-abstract-input">Abstract:</label>
                            <textarea name="map-abstract" class="form-control" rows="5" id="map-abstract-input"
                                      placeholder="Enter map abstract"></textarea>
                        </div>
                        <div class="alert alert-danger" id="error-message-modal" hidden>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="error-message-content"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer %}

{% endblock footer %}

{% block extra_script %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://cdn.rawgit.com/elesdoar/leaflet-control-orderlayers/master/dist/leaflet.control.orderlayers.min.js"></script>
    <script src="https://cdn.rawgit.com/elesdoar/leaflet-control-orderlayers/master/dist/leaflet.control.orderlayers.min.js"></script>

    <script src="{% static 'lib/js/L.Control.Pan.js' %}"></script>
    <script src="{% static 'lib/js/L.Control.ZoomBox.min.js' %}"></script>

    <script type="text/javascript">
        jQuery.fn.extend({
            propAttr: $.fn.prop || $.fn.attr
        });
        function layer_name_autocomplete() {
            $("#new_layer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/layers/list",
                        dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            alert(data);
                            response(data);
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {

                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            })
        }
    </script>
    <script type="text/javascript">
        var map = $("#map");
        var active_background_layer;

        var overlay_layers = {};
        // Each element contains:
        // 1. layer name
        // 2. layer wms url
        // 3. z index
        // 4. layer object
        var highest_z_index = 0;

        var w_height = $(window).height();
        var map_height = w_height - $('nav').height();
        map.css("height", map_height);

        function remove(id) {
            return (elem = document.getElementById(id)).parentNode.removeChild(elem);
        }

        function zoom_to_box(map, bbox) {
            var bounds = [
                [bbox[1], bbox[0]],
                [bbox[3], bbox[2]]
            ];
            map.fitBounds(bounds);
        }

        function check_box_layer_clicked(check_box) {
            if (check_box.checked) {
                map.addLayer(overlay_layers[check_box.value].layer);
            } else {
                if (map.hasLayer(overlay_layers[check_box.value].layer)) {
                    map.removeLayer(overlay_layers[check_box.value].layer);
                }
            }
        }

        function delete_layer_clicked(button) {
            // Remove layer from the map
            if (map.hasLayer(overlay_layers[button.value].layer)) {
                map.removeLayer(overlay_layers[button.value].layer);
            }
            // Remove layer from the array
            delete overlay_layers[button.value];
            // Remove layer from map layer list
            remove("li_" + button.value);

            // Show from available layer
            document.getElementById("option_" + button.value).style.display = 'block';
        }

        function add_layer(layer_typename) {
            if (layer_typename in overlay_layers) {
                return
            }
            if (!layer_typename) {
                return
            }
            $.ajax({
                type: 'GET',
                url: '/layers/' + layer_typename + '/get',
                data: {},
                dataType: 'json',
                success: function (json) {
                    var layer_url = json['url'];
                    var layer_title = json['title'];

                    // Add layer to leaflet
                    var tile_layer = L.tileLayer(layer_url);
                    if (tile_layer != null) {
                        // Set view to new added layer
                        zoom_to_box(map, [
                            json['bbox_x0'],
                            json['bbox_y0'],
                            json['bbox_x1'],
                            json['bbox_y1']
                        ]);
                        // Add the layer
                        map.addLayer(tile_layer);

                        // Add to list layer
                        $("#layer-list").prepend(
                                "<li id='li_" + layer_typename + "'>" +
                                "<input type='checkbox' onclick='check_box_layer_clicked(this);' name='show_layer' value='" + layer_typename + "' checked>" +
                                layer_title +
                                "<button type='button' onclick='delete_layer_clicked(this);' value='" + layer_typename + "'>X</button>" +
                                "</li>");

                        // Add to memory
                        var added_layer = {};
                        added_layer.title = layer_title;
                        added_layer.url = layer_url;
                        added_layer.z_index = 0;
                        added_layer.layer = tile_layer;
                        overlay_layers[layer_typename] = added_layer;

                        // Hide from available layer
                        document.getElementById("option_" + layer_typename).style.display = 'none';
                        $('#add_layer_select').prop('selectedIndex', -1);
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        function save_map(event) {
            console.log('Save Map');
            event.preventDefault();
            var form_data = $('#save-map-form').serializeObject();

            // Collect layers
            var layers = [];
            var map_data = {};

            console.log(overlay_layers);
            map_data['sources'] = {};
            for (var tempe in overlay_layers) {
                var token = 'source_' + overlay_layers[tempe]['title'];
                console.log('Adding to layers');
                console.log(tempe);
                layers.push(
                        {
                            'name': tempe,
                            'title': overlay_layers[tempe]['title'],
                            'url': overlay_layers[tempe]['url'],
                            'source': token,  // I have no idea
                            'local': true  // I have no idea
                        }
                );
                map_data['sources'][token] = {
                    'url': overlay_layers[tempe]['url']
                };
            }
            console.log(layers);

            map_data['about'] = {
                'title': form_data['map-title'],
                'abstract': form_data['map-abstract']
            };
            map_data['map'] = {
                'center': [map.getCenter()['lat'], map.getCenter()['lng']],
                'zoom': map.getZoom(),
                'projection': '',
                'layers': layers
            };

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: JSON.stringify(map_data),
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    console.log('Save map success');
                    $('#save-map-modal').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.log('Save map failed' + error);
                    $("#error-message-content").html(
                            "<strong>Failed!</strong> There is an error when saving the map. " + error);
                    $('#error-message-modal').show();
                }
            });
        }


        $(document).ready(function () {
            // Define some default base layers
            var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            });

            var mapquest = L.tileLayer('http://otile4.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
                attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            });
            var background_layers = {
                'osm': osm,
                'mapquest': mapquest
            };

            active_background_layer = osm;

            // Add radio button listener for background layer
            $('input:radio[name=background-layer]').change(function () {
                var new_background_layer = background_layers[this.value];
                map.removeLayer(active_background_layer);
                new_background_layer.addTo(map);
                active_background_layer = new_background_layer;
            });

            // Initiate map
            map = L.map('map', {
                center: [-6.2, 106.8],
                zoom: 11,
                layers: [osm]
            });

            // Make sortable
            var list = document.getElementById("layer-list");
            Sortable.create(list); // That's all

            // Check layer parameter in url
            var qd = {};
            location.search.substr(1).split("&").forEach(function (item) {
                var s = item.split("="),
                        k = s[0],
                        v = s[1] && decodeURIComponent(s[1]);
                (k in qd) ? qd[k].push(v) : qd[k] = [v]
            });
            if (qd['layer']) {
                for (i = 0; i < qd['layer'].length; i++) {
                    var layer_typename = qd['layer'][i];
                    add_layer(layer_typename);
                }
            }

        });
    </script>
    <script type="text/javascript">
        $("#add_layer_button").click(function () {
            // Get value from select option
            {#            var add_layer_select = $('select[id=add_layer_select]');#}
            var add_layer_select = $("#add_layer_select option:selected");
            var layer_typename = add_layer_select.val();

            add_layer(layer_typename);

        });

        $('#save-map-form').submit(save_map);
    </script>
{% endblock extra_script %}
