html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eeeeee;
}

li {
    margin: 0.8em;
}

#header {
    background-color: #eeff66;
}

#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

#body {
    background-color: #ffffff;
}

#header, #body {
    padding: 30px;
    border-bottom: 1px solid #aaaaaa;
}
