{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap_tags %}

{% block title %} {% trans "Batch Edit" %} - {{ block.super }} {% endblock %}

{% block body_class %}batch edit{% endblock %}

{% block body %}
<div class="page-header">
  <h2 class="page-title">{% trans "Batch Edit" %}</h2>
</div>
<form action="/{{ model|lower }}s/metadata/batch/{{ ids }}/" method="post">
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <div>
    <a href="" class="btn btn-default">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>
{% endblock %}
