{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %} {% trans "Batch Edit" %} - {{ block.super }} {% endblock %}

{% block body_class %}batch edit{% endblock %}

{% block body %}
<div class="page-header">
  <h2 class="page-title">{% trans "Batch Edit" %}</h2>
</div>
<form action="/{{ model|lower }}/layer/permission/" method="post">
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <div>
    <input class="btn" type="submit" name="cancel" value="{% trans "Cancel" %}" />
    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
  </div>
</form>
{% endblock %}
