textarea {
    resize: vertical;
}

.vat {
    vertical-align: middle !important;
}

.btn-group-table {
    display: flex;
}

.swal2-popup {
    font-size: 2rem !important;
}

.text-danger-wp {
    color: rgb(255, 0, 0) !important;
}