
.page-container {
    margin: 20px;
}

/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    margin: 15px;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #fff;
    color: white;
}

.splitter {
    flex: 0 0 auto;
    width: 15px;
    background: #e4e4e4 url("vsizegrip.png") no-repeat scroll center center;
    min-height: 200px;
    cursor: col-resize;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}


