{% load i18n %}
{% load url from future %}

<ul class="nav nav-pills filter">
  <li><a href="{% url "profile_detail" profile.user.username %}" {% if content_filter  == "all" %}class="selected"{% endif %}>{% trans "All contents" %}</a></li>
  <li><a href="{% url "profile_detail" profile.user.username %}?content=layers"{% if content_filter == "layers" %} class="selected"{% endif %}>{% trans "Layers" %}</a></li>
  <li><a href="{% url "profile_detail" profile.user.username %}?content=maps"{% if content_filter == "maps" %} class="selected"{% endif %}>{% trans "Maps" %}</a></li>
  <li><a href="{% url "profile_detail" profile.user.username %}?content=documents"{% if content_filter == "documents" %} class="selected"{% endif %}>{% trans "Documents" %}</a></li>
  <li><a href="{% url "profile_detail" profile.user.username %}?content={{ content_filter }}&sortby=date"{% if sortby_field == "date" %} class="selected"{% endif %}>{% trans "Sort by date" %}</a></li>
  <li><a href="{% url "profile_detail" profile.user.username %}?content={{ content_filter }}&sortby=title"{% if sortby_field == "title" %} class="selected"{% endif %}>{% trans "Sort by title" %}</a></li>
</ul>