{% extends "people/profile_base.html" %}
{% load static %}
{% load friendly_loader %}
{% friendly_load i18n avatar_tags relationship_tags activity_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default_if_none:profile.username }}{% endblock %}

{% block body_class %}people explore{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">{{ profile.name_long }}</h2>
  </div>
  <div class="col-md-2">
    {% avatar profile 140 %}
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal profile-details">
     {% if profile.position %}
     <dt><i class="fa fa-user"></i></dt>
     <dd>{{ profile.position }}</dd>
     {% endif %}
     {% if profile.organization %}
     <dt><i class="fa fa-building"></i></dt>
     <dd>{{ profile.organization }}</dd>
     {% endif %}
     {% if user.is_authenticated %}
        {% if profile.location %}
        <dt><i class="fa fa-map-marker"></i></dt>
        <dd>{{ profile.location }}</dd>
        {% endif %}
        {% if profile.voice %}
        <dt><i class="fa fa-phone"></i></dt>
        <dd><a href="tel:{{ profile.voice }}">{{ profile.voice }}</a></dd>
        {% endif %}
        {% if profile.fax %}
        <dt><i class="fa fa-print"></i></dt>
        <dd>{{ profile.fax }}</dd>
        {% endif %}
        {% if profile.email %}
        <dt><i class="fa fa-envelope-o"></i></dt>
        <dd>
          <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
        </dd>
        {% endif %}
        {% endif %}
        {% if profile.keyword_list %}
        <dt><i class="fa fa-tag"></i></dt>
        <dd>
          {% for keyword in profile.keyword_list %}
            {{ keyword }}
          {% endfor %}
        </dd>
        {% endif %}
        {% if object.email %}
        <dt><i class="fa fa-envelope-o"></i></dt>
        <dd>
          <a href="mailto:{{ object.email }}">{{ object.email }}</a>
        </dd>
        {% endif %}
      </dl>
  </div>

  <div class="col-md-4">
    {% if user == profile %}
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url "profile_edit" user.username %}">{% trans "Edit profile" %}</a></li>
        <li class="list-group-item"><a href="{% url "account_password" %}">{% trans "Change password" %}</a></li>
        <li class="list-group-item"><a href="{% url "layer_upload" %}">{% trans "Upload new layers" %}</a></li>
        <li class="list-group-item"><a href="{% url "new_map" %}">{% trans "Create a new map" %}</a></li>
        {% if_has_tag actor_url %}
        <li class="list-group-item"><a href="{% actor_url profile %}">{% trans "My Activities" %}</a></li>
        {% endif_has_tag %}
      </ul>
      {% if_has_tag if_relationship %}
        {% include "relationships/_manage_connections.html" %}
      {% endif_has_tag %}
    {% else %}
      <ul class="list-group">
        <li class="list-group-item"><a href="{% actor_url profile %}">{% trans "User Activities" %}</a></li>
      </ul>
      {% if_has_tag if_relationship %}
        {% include "relationships/_profile_follow.html" %}
      {% endif_has_tag %}
    {% endif %}

    {% if_has_tag if_relationship %}
      {% include "relationships/_list_connections.html" %}
    {% endif_has_tag %}
  </div>
</div>

{% if user.is_authenticated %}

<div class="col-md-8">
  <h3>Groups</h3>
  {% if user == profile %}
    {% for group in profile.group_list_all %}
      <article>
        <div class="row">
           <div ng-if="group.logo != ''" class="col-md-2">
             <a href="{{ group.get_absolute_url }}" ><img src="/uploaded/{{ group.logo }}" alt="{{ group.title }}" class="group-logo" /></a>
           </div>
           <div class="col-md-10">
             <h5>
               <i class="fa fa-group"></i> <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
               {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
             </h5>
             <p>{{ group.description}}</p>
           </div>
         </div>
     </article>
    {% endfor %}
  {% else %}
    {% for group in profile.group_list_public %}
      <article>
        <div class="row">
           <div ng-if="group.logo != ''" class="col-md-2">
             <a href="{{ group.get_absolute_url }}" ><img src="/uploaded/{{ group.logo }}" alt="{{ group.title }}" class="group-logo" /></a>
           </div>
           <div class="col-md-10">
             <h5>
               <i class="fa fa-group"></i> <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
               {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
             </h5>
             <p>{{ group.description}}</p>
           </div>
         </div>
     </article>
    {% endfor %}
  {% endif %} 
</div>
{% endif %}


<div class="col-md-12">
  <h3>{% trans "Resources" %}</h3>
  <div class="col-md-12">
  {% include "people/_profile_filters.html" %}
  </div> 
  <div class="col-md-12">
  {% include "search/_sort_filters.html" %}
  </div> 
  <div class="col-md-12">
    {% include 'search/_pagination.html' %}
  </div> 
</div>

  <div class="col-md-12">
  {% include 'base/_resourcebase_snippet.html' %}
  </div>

  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?owner__username={{profile.username}}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?owner__username={{profile.username}}';
      {% endif %}
  </script>
  {% include 'search/search_scripts.html' %}
{% endblock %}


