{% extends "people/profile_base.html" %}
{% load static %}
{% load friendly_loader %}
{% friendly_load i18n avatar_tags relationship_tags activity_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default:profile.username }}{% endblock %}

{% block head %}
  {% if TWITTER_CARD %}
    {% include "people/_profile_twittercard.html" %}
  {% endif %}
  {% if OPENGRAPH_ENABLED %}
    {% include "people/_profile_opengraph.html" %}
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block body_class %}people explore{% endblock %}

{% block body %}
<div class="gd-content">
    <div class="gd-content-body transparent top-bottom-margin-20px">
        <div class="row">
            <div class="col-md-3">
                <div class="grid-container box-shadow maigin-false">
                    <div class="top-content text-center">
                        <div class="avater">
                            <a href="javascript:;">
                                <div>
                                  {% avatar profile 100 %}
                                  <!--<img height="100" src="images/profile_pic.png" alt="profile_pic">-->
                                </div>
                                <div class="txt">{{ profile.first_name|default:profile.name_long }} {{ profile.last_name }}</div>
                            </a>
                        </div>
                        <div class="designation">
                            {{ profile.position | default:_('Not provided.') }}
                        </div>
                        <div class="details">
                            {{ profile.organization | default:_('Not provided.') }}
                        </div>
                        <div class="buttons user-info row">
                            <ul class="">
                              <li>
                                <a href="{% url "message_create" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-paper-plane-o"></i>
                                  {% trans "Message User" %}
                                </a>
                                <!--<a href="{% url "message_create" profile.pk %}" class="btn btn-gd-primary col-md-12">-->
                                  <!--<i class="fa fa-paper-plane-o"></i>-->
                                  <!--{% trans "Message User" %}-->
                                <!--</a>-->
                              </li>
                            </ul>
                            {% if user == profile %}
                            <ul class="">
                              <li>
                                <a href="{% url "profile_edit" user.username %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-edit"></i>
                                  {% trans "Edit profile" %}
                                </a>
                              </li>
                              <li>
                                <a href="{% url "account_password" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-lock"></i>
                                  {% trans "Change password" %}
                                </a>
                              </li>
                            </ul>
                            <ul class="">
                              <li>
                                <a href="{% url "layer_upload"  %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-cloud-upload"></i>
                                  {% trans "Upload new layers" %}
                                </a>
                              </li>
                              <li>
                                <a href="{% url "new_map" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-map-marker"></i>
                                  {% trans "Create a new map" %}
                                </a>
                              </li>
                              {% if_has_tag actor_url %}
                              <li>
                                <a href="{% actor_url profile %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-fire"></i>
                                  {% trans "My Activities" %}
                                </a>
                              </li>
                              {% endif_has_tag %}
                            </ul>
                            <ul class="">
                              {% if USE_NOTIFICATIONS %}
                              <li>
                                <a href="{% url "notification_notice_settings" %}" class="btn btn-gd-primary col-md-12">
                                <i class="fa fa-bell"></i>
                                {% trans "Notifications" %}
                                </a>
                              </li>
                              {% endif %}
                              {% if perms.announcements.can_manage %}
                              <li>
                                <a href="{% url "announcements_list" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-bullhorn"></i>
                                  {% trans "Announcements" %}
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                            {% if user.is_superuser %}
                            <ul class="">
                              <li>
                                <a href="{% url "services" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-globe"></i>
                                  {% trans "Remote Services" %}
                                </a>
                              </li>
                              <li>
                                <a href="{% url "invite_user" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-edit"></i>
                                  {% trans "Invite User" %}
                                </a>
                              </li>
                              <li>
                                <a href="{{ GEOSERVER_BASE_URL }}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-gears"></i>
                                  {% trans "GeoServer" %}
                                </a>
                              </li>
                              {% endif %}
                              {% if user.is_staff %}
                              <li>
                                <a href="{% url "admin:index" %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-cog"></i>
                                  {% trans "Admin" %}
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                            {% if_has_tag if_relationship %}
                            {% include "relationships/_manage_connections.html" %}
                            {% endif_has_tag %}
                            {% else %}
                            {% if user.is_superuser %}
                            <ul class="">
                              <li>
                                <a href="{% url "profile_edit" profile.username %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-edit"></i>
                                  {% trans "Edit profile" %}
                                </a>
                              </li>
                            </ul>
                            <ul class="">
                              <li>
                                <a href="{% url "active-inactive-user" profile.username %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-fire"></i>
                                  {% trans status %}
                                </a>
                              </li>
                            </ul>
                            {% endif %}
                            <ul class="">
                              <li>
                                <a href="{% actor_url profile %}" class="btn btn-gd-primary col-md-12">
                                  <i class="fa fa-fire"></i>
                                  {% trans "User Activities" %}
                                </a>
                              </li>
                            </ul>

                            {% if_has_tag if_relationship %}
                            {% include "relationships/_profile_follow.html" %}
                            {% endif_has_tag %}
                            {% endif %}

                            {% if_has_tag if_relationship %}
                            {% include "relationships/_list_connections.html" %}
                            {% endif_has_tag %}
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="list-group user-info">
                    <!--<li class="list-group-item">-->
                        <!---->
                    <!--</li>-->
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Email' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right" >
                                    <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Position' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {{ profile.position | default:_('Not provided.') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Organization'  %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {{ profile.organization | default:_('Not provided.') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Location' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {{ profile.location | default:_('Not provided.') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Voice' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {% if profile.voice %}
                                        <a href="tel:{{ profile.voice }}">{{ profile.voice }}</a>
                                    {% else %}
                                        Not provided.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Fax' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {{ profile.fax | default:_('Not provided.') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Description' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {{ profile.profile | default:_('Not provided.') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {% trans 'Keywords' %}
                            </div>
                            <div class="col-md-8">
                                <div class="gd-txt-right">
                                    {% if profile.keyword_list %}
                                        {% for keyword in profile.keyword_list %}
                                            {{ keyword }}
                                        {% endfor %}
                                    {% else %}
                                        {% trans 'Not provided' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <!--<div class="col-md-4">-->
                        <!--<div class="txt">{{ profile.first_name|default:profile.name_long }} {{ profile.last_name }}</div>-->
                    <!--</div>-->
                    <div class="col-md-12">
                        <div class="gd-txt-right">
                            <div class="row">
                            {% if user.is_authenticated %}
                            {% if request.user == profile %}
                              {% for group in profile.group_list_all %}
                              <div ng-if="group.logo != ''" class="col-md-3 pull-right group-logo">
                                  {% if group.logo %}
                                <a href="{{ group.get_absolute_url }}" title="{{ group.slug }}"><img src="/uploaded/{{ group.logo }}" class="img-responsive" style="height:100px;border:none;" /></a>
                                  {% else %}
                                  <a href="{{ group.get_absolute_url }}" title="{{ group.slug }}"><img src="{{ STATIC_URL }}geonode/images/no-image.png" class="img-responsive"  style="height:100px;border:none;" /></a>
                                  {% endif %}
                                  <div class="show-org-pro">
                                      {% if group.title|length >= 15 %}
                                      <a href="{{ group.get_absolute_url }}" title="{{ group.title }}"> {{ group.title|truncatechars:15 }}.... </a>
                                      {% else %}
                                       <a href="{{ group.get_absolute_url }}" title="{{ group.title }}">{{ group.title }}</a>
                                      {% endif %}
                                  </div>
                                   <div class="show-org-pro">
                                      {% if request.user in group.get_managers %}
                                          {{ '( Admin )' }}
                                      {% else %}
                                          {{ '( Member )' }}
                                      {% endif %}
                                  </div>
                              </div>
                              <!--<div ng-if="group.logo = ''" class="col-md-3 pull-right group-logo">-->
                                <!--<a href="{{ group.get_absolute_url }}" title="{{ group.slug }}"><img src="{{ STATIC_URL }}geonode/images/no-image.png" class="img-responsive"  style="height:150px;" /></a>-->
                                  <!--<div style="text-align:center;padding-top:20px;">-->
                                       <!--{{ group.slug }}-->
                                  <!--</div>-->
                              <!--</div>-->
                              <!-- <div class="col-xs-6 col-md-8">
                                <h5>
                                  <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                                  {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
                                </h5>
                              </div> -->
                              {% endfor %}
                            {% else %}
                              {% for group in profile.group_list_public %}
                              <div ng-if="group.logo != ''" class="col-md-3 pull-right group-logo">
                                <a href="{{ group.get_absolute_url }}" ><img src="/uploaded/{{ group.logo }}" class="img-responsive" /></a>
                              </div>
                              <!-- <div class="col-xs-6 col-md-8">
                                <h5>
                                  <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                                  {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
                                </h5>
                              </div> -->
                              {% endfor %}
                            {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-content-heading">
        <div class="title">
            {% trans "Resources" %}
        </div>
        <div class="block-separator"></div>
        <div class="hr"></div>
    </div>
    <div class="block-separator"></div>
    <div class="gd-content-body transparent">
      {% include "people/_profile_filters.html" %}
      <!-- <div class="col-md-12"> -->
        {# {% include "search/_sort_filters.html" %}#}
      <!-- </div> -->
      <div class="col-md-12">
        {% include 'people/_resource_snippet.html' %}
      </div>
      <div class="col-md-12">
        {% include 'search/_pagination.html' %}
      </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?owner__username={{profile.username}}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?owner__username={{profile.username}}';
      {% endif %}
  </script>
  {% include 'search/search_scripts.html' %}
{% endblock %}
