{% extends "people/profile_base.html" %}
{% load friendly_loader %}
{% load i18n %}
{% friendly_load avatar_tags %}
{% friendly_load relationship_tags %}

{% block body_class %}people explore{% endblock %}

{% block body %}
    <div class="span12">
      <h2 class="page-title">{% trans "Explore People" %}</h2>
    </div>
    <div class="span8 filter">      
      {% include "search/_sort_filters.html" %}
    </div>
    <div class="span4">
      <div class="pull-right" data-viewby="list">
        {% include "_viewby.html" %}
      </div>
    </div>
    <div class="span12">
      <div class="row">
        <div class="tab-content span12 paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div>
      </div>
    </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
  var default_type = 'user';
</script>
  {% include 'search_scripts.html' %}
{% endblock extra_script %}