{% extends "people/profile_base.html" %}
{% load widget_tweaks %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block body_class %}edit people{% endblock %}

{% block body %}
<div class="page-header">
  {% if user == profile %}
    <h2 class="page-title">{% trans "Edit Your Profile" %}</h2>
  {% else %}
    <h2 class="page-title">{% trans "Edit Profile for" %} {{ profile.username }}</h2>
  {% endif %}
</div>

<div class="col-xs-3 col-md-2 profile-image">
  {% autoescape off %}{% avatar profile.username %}{% endautoescape %}
  {% if user == profile %}
  <p><a class="btn btn-primary btn-block" href="{% url 'avatar:change' %}">{% trans "Change your avatar" %}</a></p>
  {% endif %}
</div>

<div class="col-xs-9 col-md-7">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-controls">
      {# form|as_bootstrap #}
      {% for field in form %}
        {% if field.name not in PROFILE_EDIT_EXCLUDE_FIELD  %}
        <div id="div_{{ field.auto_id }}" class="form-group">
            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
            <div class="">
                {% render_field field class="form-control" %}
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{% trans "Update profile" %}" />
    </div>
  </form>
</div>
{% endblock %}
