{% extends "upload/layer_upload_base.html" %}
{% load i18n %}

{% block body_class %}data data-list upload{% endblock %}

{% block title %} {% trans "Upload Layer" %} - {{ block.super }} {% endblock %}

{% block body %}
  <h2> {% trans "Provide CRS for " %} "{{ layer_name }}" </h2>

  <form method="POST" id="crsForm">
    {% csrf_token %}    
    <h3>Coordinate Reference System</h3>
    {% if native_crs %}
    <p>A coordinate reference system for this layer could not be determined.
    Locate or enter the appropriate ESPG code for this layer below.
    One way to do this is do visit: 
    <a href="http://prj2epsg.org/search" target="_">prj2epsg</a> 
    and enter the following:
    </p>
    <pre>
    {{ native_crs }}
    </pre>
    <div>
        {{ form.srs.errors }}
        <label for="id_srs">EPSG Code (SRS)  :</label>{{ form.srs }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    {% else %}
    <p>There is a problem recognizing the projection of this data. Please
    reproject this data to a more common projection.</p>
    </p>
    {% endif %}
  </form>
{% endblock %}
