{% extends "upload/layer_upload_base.html" %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Request Data"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}Data Request Registration Form{% endblock %}


{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{% trans "Request Data" %}</h2>
</div>

{% if not user.is_authenticated %}

    <p>{% blocktrans %}Your registration details have been received. We have sent you an email for verification. Follow the link provided in the email to finalize the signup process.{% endblocktrans %}</p>

    <p>{% blocktrans %}Didn't receive your email? Please check your spam folder. Still not there? Contact us at <strong>{{ support_email }}</strong>, and we'll be glad to assist you.{% endblocktrans %}</p>

    <p> Additionally, you can choose to submit your data request below. This action is <strong>not required</strong>.</p>

{% endif %}


<div class="row">
  <div class="col-md-6 col-md-offset-1">


      <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <h4>Upload is in progress. Please wait while your registration data are being processed.</h4>
                  </div>
              </div>
          </div>
      </div>
      <div id="please-wait" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <h4>Sending your request.</h4>
                  </div>
              </div>
          </div>
      </div>

      <div id="upload-status"></div>
        <form id="file-uploader" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% crispy form %}

            {% if errors %}
            <div id="errors" class="alert alert-danger">
            {% for error in errors %}
            <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <legend>Area of Interest Shapefile (Optional)</legend>
             <p>Valid file formats are ONLY the following :
             <ul><li>shp</li><li>dbf</li><li>prj</li><li>shx</li></ul></p>
            <div class="form-group">
                {% block additional_info %}{% endblock %}

                <section id="drop-zone">
                    <h3><i class="fa fa-cloud-upload"></i><br />{% trans "Drop files here" %}</h3>
                </section>

                <p>{% trans " or select them one by one:" %}</p>

                <input class="btn" id="file-input" name="shapefile_upload" type="file" multiple>
                <section class="widget">

                    <h5>{% trans "Files to be uploaded" %}</h5>
                    <ul id="global-errors"></ul>
                    <div id="file-queue"></div>
                </section>
                <a href="#" id="clear-button" class="btn btn-danger">{% trans "Clear Files" %}</a>
                <br />
                <br />
                <section class="charset">
                <p>{% trans "Select the charset or leave default" %}</p>
                <select id="charset">
                {% for charset in charsets %}
                    {% if charset.0 == 'UTF-8' %}
                        <option selected='selected' value={{ charset.0 }}>{{ charset.1 }}</option>
                    {% else %}
                        <option value={{ charset.0 }}>{{ charset.1 }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                </section>
                </div><!--form-group-->
        </form>

      <br />

      <section>
        {% if not user.is_authenticated %}
        <a href="{% url 'datarequests:profile_request_form' %}" class="clearfix btn btn-default btn-md" style="margin-top: 20px;">{% trans "Prev Step" %}</a>
        {% endif %}
        <a href="#" id="upload-button" class="btn btn-primary btn-md">{% trans "Submit" %}</a>
      </section>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h2>Step 2</h2>
      <p>Please fill out the details of your data request. If you already have a shapefile of your project area or area of interest, you may upload the shapefile here.</p>
      <p><em>Note on the formal request letter:</em> The <a href="https://goo.gl/O7ULNn" title="Sample Formal Letter for Requesting Data">letter</a> is a signed endorsement from the head of the agency, department head, academic adviser, etc.</p>
    </div>
  </div>

{% endblock %}


{% block extra_script %}
<script src="{{ STATIC_URL }}geonode/js/datarequests/registration2.js"></script>
<script data-main="{% static 'geonode/js/datarequests/upload/main' %}"
  src="{% static 'lib/js/require.js' %}">
</script>

<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{% url 'datarequests:data_request_form' %}",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"

  $('#file-uploader').find('#errors').hide()

{% endautoescape %}

$('#upload-button').click(function(){
  $('#please-wait').modal({
      backdrop: 'static',
      keyboard: false
  });
});
// $('#modal-content').on('shown.bs.modal', function () {//when upload modal shows
//   $('#please-wait').modal('hide');//to hide please wait modal
// })
</script>
{% endblock extra_script %}
