{% extends "upload/layer_upload_base.html" %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Request Data"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}Data Request Registration Form{% endblock %}


{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{% trans "Request Data" %}</h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">


      <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <h4>Upload is in progress. Please wait while your registration data are being processed.</h4>
                  </div>
              </div>
          </div>
      </div>

      <div id="upload-status"></div>
        <form id="file-uploader" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% crispy form %}
        </form>

      <br />

      <section>
        <a href="{% url 'datarequests:registration_part_one' %}" class="clearfix btn btn-default btn-md" style="margin-top: 20px;">{% trans "Prev Step" %}</a>
        <a href="#" id="upload-button" class="btn btn-primary btn-md">{% trans "Submit" %}</a>
      </section>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h2>Step 2</h2>
      <p>Please fill out the details of your data request. If you already have a shapefile of your project area or area of interest, you may upload the shapefile here.</p>
    </div>
  </div>


{% endblock %}


{% block extra_script %}
<script src="{{ STATIC_URL }}geonode/js/datarequests/registration.js"></script>
<script data-main="{% static 'geonode/js/datarequests/upload/main' %}"
  src="{% static 'lib/js/require.js' %}">
</script>

<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{% url 'datarequests:registration_part_two'%}",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"

{% endautoescape %}

</script>
{% endblock extra_script %}
