{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Confirm your email address" %}{% endblock %}

{% block body %}
    <h2>{% trans "Confirm your email address" %}</h2>

    <p>{% blocktrans %}Your registration is almost finished. We have sent you an email for verification. Follow the link provided in the email to finalize the signup process.{% endblocktrans %}</p>
    <p>{% blocktrans %}Didn't receive your email? Please check your spam folder. Still not there? Contact us at <strong>{{ support_email }}</strong>, and we'll be glad to assist you.{% endblocktrans %}</p>
    
{% endblock %}
