<div class="report">
  <p> The area of interest is {{ geom_data }} and overlaps the following areas:</p>
  <ul>
    {% for info in result.political %}
    {% if info.municipality %}
    <li> {{info.municipality}}, {{info.region}}, {{info.country}} </li>
    {% endif %}
    {% endfor %}
  </ul>
  <ul>
    {% for hazard, layers in data.items %}
    <h3>{{hazard}}</h3>
    <table>
      <tr>
        <td class="corner"></td>
        <th>Min</th>
        <th>Max</th>
        <th>Mean</th>
        <th>Std. Dev</th>
        <th>Author</th>
        <th>Data Entered</th>
      </tr>
      {% for period, stats in layers %}
      <tr class="{% cycle 'odd' 'even' %}">
        <th>{{period}}y</th>
        <td>{{ stats.min.0|floatformat }}</td>
        <td>{{ stats.max.0|floatformat }}</td>
        <td>{{ stats.mean.0|floatformat }}</td>
        <td>{{ stats.stddev.0|floatformat }}</td>
        <th>[Data author]</th>
        <th>[Data date]</th>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </ul>
</div>
