{% extends 'site_base.html' %}
{% block body %}
<h1>Metadata</h1>
<div>
    <table>
        <thead>
        <tr>
            {#            <th>No</th>#}
            <th>Layer</th>
            <th>Uploader</th>
            <th>Metadata</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for metadata in metadata_list %}
            <tr>
                <td>
                    <a href="{% url 'metadata-detail' pk=metadata.layer.id %}">{{ metadata.layer.name }}</a>
                </td>
                <td>
                    {{ metadata.user.first_name }} {{ metadata.user.last_name }}
                </td>
                <td>
                    <a href="{{ metadata.metadata_file.url }}">File</a>
                </td>
                <td>
                    <a href="{% url 'metadata-update' pk=metadata.layer.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'metadata-delete' pk=metadata.layer.id %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <li>No metadata yet.</li>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}