{% extends "registration/base.html" %}
{% load i18n %}

  {% block breadcrumb %}
      					<a id="logo" href="{% url geonode.views.index %}"><img src="{{STATIC_URL}}theme/img/WorldMap-Logo_26px.png" border="0"></a>
  						<div id="page-breadcrumb"><span>Reset Password</span></div>
  {% endblock %} 
{% block main %}
<div class="twocol">
<p>{% trans "Enter your email address and click the submit button.  You will be sent a link to reset your password." %}</p>

  <form method="post" action=".">
    {% csrf_token %}
   
    {{ form.as_p }}

    <input type="submit" value="{% trans 'Submit' %}" />
  </form>
</div>
{% endblock %}
