--extra-index-url=http://dist.pinaxproject.com/dev

pip==1.0
setuptools
paver


# Extensions with C components
Pillow
lxml

unidecode
OWSLib==0.4.0
Django==1.4.13
django-extensions==0.8
httplib2==0.7.4
psycopg2==2.4.1

# ---------------------------------------------------------
# Use Matt's gsconfig with publish_featuretype - 3/15/2015
#   - Appears in 'pip freeze' as 'gsconfig.py==1.1wm'
#   - publish_featuretype needed for tabular mapping API
# ---------------------------------------------------------
#-e git+https://github.com/cga-harvard/gsconfig.py.git#egg=gsconfig.py
-e git+https://github.com/cga-harvard/gsconfig.py.git@publish_featuretype#egg=gsconfig.py

django-registration==0.8
django-profiles==0.2
-e git+https://github.com/mbertrand/django-avatar.git#egg=avatar
geonode-avatar==2.1.1
dialogos==0.1
agon-ratings==0.2
South==0.7.3
django-taggit==0.9.3
ordereddict
simplejson
defusedxml

#Uncomment the following to use memcached
#python-memcached

#The following are for the gazetteer
-e git+https://github.com/cga-harvard/geopy.git#egg=geopy
geojson
dicttoxml==1.6.6
#Uncomment the following to use the django debug toolbar
#-e git+https://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar

#For scheduled tasks
django-celery==3.0.11
django-kombu==0.9.4
pytz
#For gazetteer
python-dateutil==1.5 #For Python < 3.0
datautil
jdcal
#For mapnotes
vectorformats
#For autocomplete
django-autocomplete-light==1.4.5

# --------------------------------------------------
# For the Dataverse/Geoconnect/WorldMap connection
# --------------------------------------------------
xmltodict
shared_dataverse_information>=0.4.8
#-e git+https://github.com/IQSS/shared-dataverse-information.git#egg=shared-dataverse-information

# --------------------------------------------------
# For Datatable app.  Tabular table joins to existing layers
# --------------------------------------------------
csvkit==0.9.0

# --------------------------------------------------

paste
PasteDeploy
pastescript
dj.paste
