{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "react/prop-types": [ 0 ]
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "__DEVELOPMENT__": false,
        "__TRANSLATION_PATH__": false,
        "__ASSETS_PATH__": false
    }
}
