div#embedded_map,
div#mapstore2-embedded,
div#gis_limits_map,
div#mdeditor_form {
  direction: ltr;
}
i.fa {
  padding-left: 3px;
  padding-right: inherit;
}
.page-header a.btn.btn-primary.pull-right {
  margin-left: 20px;
}
.dl-horizontal dt {
  margin-left: 20px !important;
  direction: ltr;
}
