{% extends "site_base.html" %}

{% load i18n %}
{% load eula_extras %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
    {% show_eula_phillidar1 %}
    <form id="form_eula" name="form_eula" action={% target_url %} onsubmit="return checkForm(this);" method="POST">
        {% csrf_token %}
        
        <hr/>
        <ul class="list-inline pull-right" align="right">
            <input type="checkbox" id="signed" required name="signed"> I accept the <b><u>End User License Agreement</u></b></p>
            <input type="submit" value="Sign EULA">
        </ul>
    </form>

{% endblock %}
