<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="processRestletMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key>
            <value>/process/hazard</value>
          </key>
          <value>processRestlet</value>
        </entry>
        <entry>
          <key>
            <value>/process/batchDownload/launch</value>
          </key>
          <value>downloadLauncherRestlet</value>
        </entry>
        <entry>
          <key>
            <value>/process/batchDownload/status</value>
          </key>
          <value>downloadStatusRestlet</value>
        </entry>
        <entry>
          <key>
            <value>/process/batchDownload/download</value>
          </key>
          <value>downloadReadyRestlet</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="processRestlet" class="org.geonode.rest.ProcessRestlet">
    <!-- the GeoServer catalog -->
    <constructor-arg ref="catalog" />
  </bean>
  <bean id="downloadLauncherRestlet" class="org.geonode.rest.DownloadLauncherRestlet">
    <!-- the GeoServer catalog -->
    <constructor-arg ref="catalog" />
  </bean>
  <bean id="downloadStatusRestlet" class="org.geonode.rest.DownloadStatusRestlet">
    <!-- the GeoServer catalog -->
    <constructor-arg ref="catalog" />
  </bean>
  <bean id="downloadReadyRestlet" class="org.geonode.rest.DownloadReadyRestlet">
    <!-- the GeoServer catalog -->
    <constructor-arg ref="catalog" />
  </bean>
</beans>
