{% extends "base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block main %}
<table>
    <thead>
        <tr>
            <td>Message</td>
            <td>With</td>
            <td>Last Sender</td>
            <td>Preview</td>
            <td>Delete?</td>
        </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
        <tr>
            <td><a href="{{ thread.get_absolute_url }}">{{ thread.subject }}</a></td>
            <td>
                {% for user in thread.users.all %}
                    {% ifnotequal request.user user %}
                        <p>{% avatar user 50 %}</p>
                        <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                    {% endifnotequal %}
                {% endfor %}
            </td>
            <td>
                {% ifequal request.user thread.latest_message.sender %}
                you
                {% else %}
                <a href="{{ thread.latest_message.sender.get_absolute_url }}">{{ thread.latest_message.sender }}</a>
                {% endifequal %}
            </td>
            <td>
                {{ thread.latest_message.content|slice:"50" }}<a href="{{ thread.get_absolute_url }}">...</a>
            </td>
            <td>
                <form id="thread_delete_{{ thread.pk }}" method="post" action="{% url messages_thread_delete thread.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="{% trans "Delete" %}" />
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
</table>

{% endblock %}

{% block sidebar %}
<a href="{% url message_create %}">{% trans "Create Message" %}</a>
{% endblock %}
