{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block title %}{% trans "Message Inbox" %} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="d-title">
   
        
            
            <div class="pull-right">
                
                    <div class="input-group pull-right">
                            <form class="gSearch" method="post" action="{% url "message_search" %}">
                                    {% csrf_token %}
                                    {{ search_form }}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" value="{% trans "Search!" %}"  class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                             
                            </span>
                            </form>
                          </div><!-- /input-group -->
                       
                          <a href="{% url "message_create" %}" class="btn btn-gd-primary icon-btn-color">
                            {% trans "Create Message" %}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </a>

                       
                        <!--<li class="active">-->
                          <!--<a href="#all" data-toggle="tab"><i class=""></i> {% trans "All" %}</a>-->
                        <!--</li>-->
                        <!--<li >-->
                          <!--<a href="#inbox" data-toggle="tab"><i class=""></i>{% trans "Inbox" %}</a>-->
                        <!--</li>-->
                   


                
            </div>
      
         {%  trans "Messages" %}
   
</div>

<div class="panel panel-default">

        <div class="panel-heading globalNavHeading">
                <ul class="nav nav-tabs layerNav globalNav">
                        <li ><a href="#inbox" data-toggle="tab"><i class=""></i>{% trans "New" %}</a></li>
                        <li class="active"><a href="#all" data-toggle="tab"><i class=""></i> {% trans "All" %}</a></li>
                      </ul>
        </div>

        <div class="panel-body">
               
                        <div class="gd-content-body transparent">
                          <div class="row">
                            <div class="col-md-12">
                             
                              <div class="tab-content">
                                <article id="all" class="tab-pane active">
                                  {% with threads_all as threads %}
                                      {% include "user_messages/_message_snippet.html" %}
                                  {% endwith %}
                                </article>
                                <article id="inbox" class="tab-pane ">
                                  {% with threads_unread as threads %}
                                      {% include "user_messages/_message_snippet.html" %}
                                  {% endwith %}
                                </article>
                              </div>
                            </div>
                          </div>
                        </div>
                     
        </div>
      </div>





{% endblock %}

{% block sidebar %}
<a href="{% url "message_create" %}" class="btn btn-primary" type="button">{% trans "Create Message" %}</a>
{% endblock %}
