{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block content %}
    <div class="text-center">
        dfsdsfd
        <form method="post">
            {% csrf_token %}

            <p class="delete-msg">Are you sure you want to delete the <b>"{{ language.name }}"</b> language?</p>

            <a href="{% url 'languages:home' %}" class="btn btn-secondary">NO</a>
            <button class="btn btn-primary" type="submit">Si</button>
        </form>
    </div>
{% endblock %}