{% extends "geonode_base.html" %} {% load i18n %} {% block title %} {% trans "Waterproof Detail NBS CA" %} {% endblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css"> {% block body_outer %} {% for sbn in nbs %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center" id="countryLabel">{{country.name}}</h4>
        <p><b>Region:</b> <span id="regionLabel">{{region.name}}</span> </p>
        <p><b>Currency:</b><span id="currencyLabel">({{currency.code}}) - {{currency.name}}</span></p>
    </div>
    <div class="col-md-8">
        <div id="mapid" style="width: 700px; height: 200px;"></div>

    </div>
</div>
<div class="page-header">
    <h1>{% trans "Detail sbn" %}</h1>
</div>

<h4 class="text-primary">General Settings</h4>
<div class="form-group">
    <label>Name</label>
    <input type="text" value="{{ sbn.name }}" class="form-control" disabled placeholder="Enter title" data-match-error="Whoops, these don't match" required>
    <div class="help-block with-errors"></div>
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" disabled placeholder="Enter description" rows="5" required>{{ sbn.description }}</textarea>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Currency type cost calculation</label>
            <select class="form-control" disabled required>
                  {% for cur in currencies %}
                  <option value="{{cur.pk}}" {% if cur.pk == sbn.currency.pk %} selected{% endif %}>{{ cur.name}}</option>
                  {%  endfor %}
                </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Time required to generate maximun benefit (yr)</label>
            <input value="{{sbn.total_profits_sbn_consec_time}}" type="text" disabled class="form-control" required>
        </div>
        <div class="col-md-6">
            <label>Percentage of benefit associated with interventions at time t=0</label>
            <input value="{{sbn.profit_pct_time_inter_assoc}}" type="text" disabled class="form-control" required>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Consecution Time Total Benefits
              </label>
            <input value="{{ sbn.total_profits_sbn_consec_time }}" disabled type="text" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label>Maintenance Perodicity</label>
            <input value="{{ sbn.periodicity_maitenance }}" disabled type="text" class="form-control" required>
        </div>
    </div>
</div>
<h4 class="text-primary">Unit Costs</h4>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Currency type cost calculation</label>
            <select id="currenciesComapreSelect" class="form-control" required>
                {% for cur in currencies %}
                <option value="{{cur.factor}}">{{ cur.country.name }}</option>
                {%  endfor %}
              </select>
        </div>
        <div class="col-md-6">
            <label>Multiplying factor for overrall cost</label>
            <input disabled id="multiplyCurrencies" type="text" class="form-control" required>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="panel  panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Reference cost</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Unit Implementation Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_implementation_cost|floatformat:2 }}" id="b_unit_implementation_cost" type="text" class="form-control" disabled required>
                    </div>
                    <div class="form-group">
                        <label>Unit Maintenace Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_maintenance_cost|floatformat:2 }}" id="b_unit_maintenance_cost" type="text" class="form-control" disabled required>
                    </div>
                    <div class="form-group">
                        <label>Unit Oportunity Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_oportunity_cost|floatformat:2 }}" id="b_unit_oportunity_cost" type="text" class="form-control" disabled required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel  panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Fact cost</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Unit Implementation Cost (US$/ha)</label>
                        <input type="text" class="form-control" id="a_unit_implementation_cost" required disabled>
                    </div>
                    <div class="form-group">
                        <label>Unit Maintenace Cost (US$/ha)</label>
                        <input type="text" class="form-control" id="a_unit_maintenance_cost" required disabled>
                    </div>
                    <div class="form-group">
                        <label>Unit Oportunity Cost (US$/ha)</label>
                        <input id="a_unit_oportunity_cost" type="text" class="form-control" required disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <h4 class="text-primary text-left">LAND USE</h4>
    </div>
    <div class="col-md-6">
    <h4 class="text-primary text-right">LAND COVER CHANGE DEFENITION</h4>
    </div>
    </div>
<ul class="list-group">

    {% for transformation in sbn.rios_transformations.all %}
    <li class="list-group-item">
        <span class="badge">{{ transformation.description }}</span> {{ transformation.name }}
    </li>
    {% endfor %}

</ul>

{% endfor %} {% endblock body_outer %} {% block extra_script %}
<script>
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_nbs_ca/data/countries.geojson';
    var userCountryId='{{userCountry.id}}';
    var userCountryCode='{{userCountry.code}}';
    var userCountryName='{{userCountry.name}}';
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/leaflet.ajax.min.js"></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/waterproof_nbs_ca_list.js"></script>
<script>
    $(document).ready(function() {
        $("#currenciesComapreSelect").change(function() {
            var optionSelected = $(this).find("option:selected");
            var ValueSelected = optionSelected.val();
            ValueSelected = parseFloat(ValueSelected.replace(/,/g, '.'));
            var implementation = parseFloat($('#b_unit_implementation_cost').val().replace(/,/g, '.'));
            var maintenance = parseFloat($('#b_unit_maintenance_cost').val().replace(/,/g, '.'));
            var oportunity = parseFloat($('#b_unit_oportunity_cost').val().replace(/,/g, '.'));
            $('#multiplyCurrencies').val(ValueSelected);
            $('#a_unit_implementation_cost').val(implementation * ValueSelected);
            $('#a_unit_maintenance_cost').val(maintenance * ValueSelected);
            $('#a_unit_oportunity_cost').val(oportunity * ValueSelected);
        });
    });
</script>

{% endblock %}