{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block body_outer %}
<h1>{% trans "Waterproof NBS CA" %}</h1>
<form>
    <div class="form-group">
        <label>{% trans "Name" %}</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label>{% trans "Description" %}</label>
        <textarea id="description" class="form-control" placeholder="Enter description"></textarea>
    </div>
    <div class="form-group">
        <label>Shapefile</label>
        <input type="file" id="shapefile" class="form-control-file">
    </div>
    <button type="button" id="submit" class="btn btn-primary">Submit</button>
</form>
asdfasdf
{% endblock %}
{% block extra_script %}
<script>
    var token = '{{ csrf_token }}';
</script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/waterproof_nbs_ca.js"></script>
{% endblock %}