{% extends "geonode_base.html" %} {% load i18n %} {% block title %} {% trans "Waterproof Detail NBS CA" %} {% endblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css"> {% block body_outer %} {% for sbn in nbs %}

<div class="row">
    <div class="col-md-4">
        <h4 class="text-center">Bogotá D.C.</h4>
        <p><b>Country:</b> Colombia</p>
        <p><b>Region:</b> Central</p>
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51641080936!2d-74.24789454527543!3d4.648283717196413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1607456076816!5m2!1ses!2sco"
            width="750" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<div class="page-header">
    <h1>{% trans "Detail sbn" %}</h1>
</div>

<h4 class="text-primary">General Settings</h4>
<div class="form-group">
    <label>Name</label>
    <input type="text" value="{{ sbn.name }}" class="form-control" disabled placeholder="Enter title" data-match-error="Whoops, these don't match" required>
    <div class="help-block with-errors"></div>
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" disabled placeholder="Enter description" rows="5" required>{{ sbn.description }}</textarea>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Currency type cost calculation</label>
            <select class="form-control" disabled required>
                  {% for cur in currencies %}
                  <option value="{{cur.pk}}" {% if cur.pk == sbn.currency.pk %} selected{% endif %}>{{ cur.name}}</option>
                  {%  endfor %}
                </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Time required to generate maximun benefit (yr)</label>
            <input value="{{sbn.total_profits_sbn_consec_time}}" type="text" disabled class="form-control" required>
        </div>
        <div class="col-md-6">
            <label>Percentage of benefit associated with interventions at time t=0</label>
            <input value="{{sbn.profit_pct_time_inter_assoc}}" type="text" disabled class="form-control" required>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Consecution Time Total Benefits
              </label>
            <input value="{{ sbn.total_profits_sbn_consec_time }}" disabled type="text" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label>Maintenance Perodicity</label>
            <input value="{{ sbn.periodicity_maitenance }}" disabled type="text" class="form-control" required>
        </div>
    </div>
</div>
<h4 class="text-primary">Unit Costs</h4>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Currency type cost calculation</label>
            <select id="currenciesComapreSelect" class="form-control" required>
                {% for cur in currencies %}
                <option value="{{cur.factor}}">{{ cur.country.name }}</option>
                {%  endfor %}
              </select>
        </div>
        <div class="col-md-6">
            <label>Multiplying factor for overrall cost</label>
            <input disabled id="multiplyCurrencies" type="text" class="form-control" required>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="panel  panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Reference cost</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Unit Implementation Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_implementation_cost }}" id="b_unit_implementation_cost" type="text" class="form-control" disabled required>
                    </div>
                    <div class="form-group">
                        <label>Unit Maintenace Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_maintenance_cost }}" id="b_unit_maintenance_cost" type="text" class="form-control" disabled required>
                    </div>
                    <div class="form-group">
                        <label>Unit Oportunity Cost (US$/ha)</label>
                        <input value="{{ sbn.unit_oportunity_cost }}" id="b_unit_oportunity_cost" type="text" class="form-control" disabled required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel  panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Fact cost</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Unit Implementation Cost (US$/ha)</label>
                        <input type="text" class="form-control" id="a_unit_implementation_cost" required disabled>
                    </div>
                    <div class="form-group">
                        <label>Unit Maintenace Cost (US$/ha)</label>
                        <input type="text" class="form-control" id="a_unit_maintenance_cost" required disabled>
                    </div>
                    <div class="form-group">
                        <label>Unit Oportunity Cost (US$/ha)</label>
                        <input id="a_unit_oportunity_cost" type="text" class="form-control" required disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 class="text-primary">LAND USE / LAND COVER CHANGE DEFENITION</h4>
<ul class="list-group">

    {% for cur in riosTransition %}
    <li class="list-group-item">
        <span class="badge">{{ cur.description }}</span> {{ cur.name }}
    </li>
    {% endfor %}

</ul>

{% endfor %} {% endblock body_outer %} {% block extra_script %}


<script>
    $(document).ready(function() {

        $("#currenciesComapreSelect").change(function() {
            var optionSelected = $(this).find("option:selected");
            var ValueSelected = optionSelected.val();
            ValueSelected = parseFloat(ValueSelected.replace(/,/g, '.'));
            var implementation = parseFloat($('#b_unit_implementation_cost').val().replace(/,/g, '.'));
            var maintenance = parseFloat($('#b_unit_maintenance_cost').val().replace(/,/g, '.'));
            var oportunity = parseFloat($('#b_unit_oportunity_cost').val().replace(/,/g, '.'));
            $('#multiplyCurrencies').val(ValueSelected);
            $('#a_unit_implementation_cost').val(implementation * ValueSelected);
            $('#a_unit_maintenance_cost').val(maintenance * ValueSelected);
            $('#a_unit_oportunity_cost').val(oportunity * ValueSelected);
        });


    });
</script>
{% endblock %}