{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Password change" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Password Change" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">{% trans "Change your password here" %}</p>
    <form method="POST" action="">
      <fieldset>
      {% csrf_token %}
      {{ form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
