{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block body %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
            <div class="col-md-8">
                <div class="title small-content">
                    {% trans "Set your new password" %}
                </div>
            </div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="gd-content-body full-pad-40px top-bottom-margin-20px">
      <div class="row">
        <div class="col-md-10">
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <button type="submit" class="btn btn-gd-primary">{% trans "Save" %}</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}