{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{% trans "Sign up" %}</h2>
    </div>
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>
    {% if account_geonode_local_signup %}
        <div class="row">
          <p>{% trans "Create a new local account" %}</p>
          <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
              <fieldset>
                  {% csrf_token %}
                  {{ form|as_bootstrap }}
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div style="padding-bottom: 10px;">
                    <button type="button" id="btnTerms" class="btn btn-info" data-toggle="modal" data-target="#myModal">{% trans "show condititions" %}</button>                     
                  </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                  </div>
              </fieldset>
          </form>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Conditions</h4>
            </div>
            <div class="modal-body">
                <div id="content_terms"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
            
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
            $("#id_other_role").val("NA");
            $("#id_other_analysis").val("NA");

            $(".form-group").each(function(k,l){
                if(l.children[0].classList.contains("required-field")){
                let spn = document.createElement("span");
                spn.style.color = "#F00";
                spn.innerHTML = "(*)";
                l.insertBefore(spn,l.children[1]);
                }
            })

            $('#id_country').select2();
            
            $("#btnTerms").on("click",function(e){
                let url = "/terms_of_use_flat/";
                $.get(url, function(data){
                    $("#content_terms").html(data);    
                });
            })

            $("#div_id_other_role").hide();
            $("#div_id_other_analysis").hide();

        });
    </script>
{% endblock %}
