# ┌───────────── minute (0 - 59)
# │     ┌───────────── hour (0 - 23)
# │     │     ┌───────────── day of month (1 - 31)
# │     │     │     ┌───────────── month (1 - 12)
# │     │     │     │     ┌───────────── day of week (0 - 6) (Sunday to Saturday; 7 is also Sunday on some systems)
# │     │     │     │     │

  30    */4   *     *     *     date && echo "Running sync from cron job" && /root/sync.sh
