{% extends "ceph_base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Cart" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo cart{% endblock %}

{% block body_outer %}
  {% block body %}
  
  <div class="page-header">
    <ul class="list-inline pull-right" id="sort">
      <li></li><a href="{% url "cephgeo.views.create_ftp_folder" %}" class="btn btn-default">{% trans "Create FTP Folder" %}</a></li>
      <li><a href="{% url "cephgeo.views.clear_cart" %}" class="btn btn-default">{% trans "Remove All Items" %}</a></li>
    </ul>
    <h2 class="page-title">{% trans "Cart" %}</h2>
    
  </div>

  <table border="3" style="width:100%">
        <tr>
            <th>Product</th>
            <th>Size</th>
            <th>Quantity</th>
<!--
            <th>Total Price</th>
-->
        </tr>
        {% for item in cart %}
        <tr>
            <td>  {{ item.product.name }}</td>
            <td>  {{ item.product.size_in_bytes | filesizeformat }}</td>
            <td>  {{ item.quantity }}</td>
<!--
            <td>  {{ item.total_price }}</td>
-->
        </tr>
        {% endfor %}
    </table>
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



