{% extends "ceph_base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load url from future %}

{% load eula_extras %}

{% block title %} {% trans "Cart" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo cart{% endblock %}

{% block body_outer %}
  {% block body %}
  {% eula_modal_dialog "/ceph/ftp/" %} 

  <div class="page-header">
    <ul class="list-inline pull-right" id="sort">
      <label class="label-dataclass">SRS</label>
      <select>
            {% for proj in projections %}
                {% if proj == 'UTM 51 (Default)' %}
                    <option  id="{{ proj | slugify }}" 
                             name="{{ proj | slugify }}" 
                             value="{{ proj | slugify }}">
                {% else %}             
                    <option  id="{{ proj | slugify }}" 
                             name="{{ proj | slugify }}" 
                             value="{{ proj | slugify }}"
                             selected="selected">
                {% endif %}
                    {{ proj }}
                  </option>
             {% endfor %}
      </select>
      <li><a href="{% url 'maptiles_main' %}"><button class="btn btn-default">{% trans "Return to Selection" %}</button></a></li>
      {% if not cart.is_empty %}
        <li><button class="btn btn-default" data-toggle="modal" data-target="#eula-dialog">{% trans "Create FTP Folder" %}</a></li>
        <li><a href="{% url 'cephgeo.views.clear_cart' %}"><button class="btn btn-default">{% trans "Empty This Cart" %}</button></a></li>
      {% endif %}
    </ul>
  
  {% if not cartsize %}
    <h2 class="page-title">{% trans "Cart" %}</h2>
  {% else %}
    <h2 class="page-title">{% trans "Cart" %} [ {{ cartsize | filesizeformat }} ] </h2>
  {% endif %}
    
  </div>
  <div>
	<ul>
	  {% for message in messages %}
	    {% if 'error' in message.tags %}<li>{{ message }}</li>{% endif %}
	  {% endfor %}
	</ul>
  </div> 
  <table id="cart_table" border="3" style="width:100% ">
        <tr >
            <th style="text-align: center;">Tile Object</th>
            <th style="text-align: center;">Size</th>
            <th style="text-align: center;">Quantity</th>
<!--
            <th style="text-align: center;"><i class="fa fa-minus-square"></i> {% trans "Remove" %} </th>
            <th>Total Price</th>
-->
        </tr>
        {% for item in cart %}
        <tr id="{{ item.product.name }}" name="{{ item.product.name }}" style="text-align: center;">
            <td>  {{ item.product.name }}</td>
            <td>  {{ item.product.size_in_bytes | filesizeformat }}</td>
            <td>  {{ item.quantity }}</td>
<!--
            <td width="100">
              <label class="cell-label-remove"><input type='checkbox' /></label>
            </td>
            <td>  {{ item.total_price }}</td>
-->
        </tr>
        {% endfor %}
    </table>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<style type="text/css">
	    tr.highlight {
		    background-color: #66CCFF;
		    color: #000;
		}
		.cell-label-remove {
			display: inline-block; 
			width: 100%;
		}
	</style>
	<script type="text/javascript">
	    $('table[id="cart_table"] input[type=checkbox]').click(function () {
		    $(this).closest('tr').toggleClass("highlight", this.checked);
		});
	</script>
	    
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



