{% extends "ceph_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "Metadata Input Form" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo Metadata Input{% endblock %}

{% block body_outer %}
  {% block body %}

  <div class="page-header">
    <h2 class="page-title">{% trans "Metadata Input Form" %}</h2>
  </div>

  {% load crispy_forms_tags %}
  {% crispy data_input_form %}
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



