{% extends "ceph_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "File List" %} - {{ block.super }} {% endblock %}

{% block body_class %}Cephgeo File List{% endblock %}

{% block body_outer %}
  {% block body %}
  
  <div class="page-header">
    {% if grid_ref != None %}
	  <h2 class="page-title">File List for Grid Reference [{{ grid_ref }}]</h2>
    {% else %}
      <h2 class="page-title">File List</h2>
    {% endif %}
  </div>

  <div class="col-md-6">
  <ul class="list-inline pull-left" id="sort">
    <li><b>SORT BY:</b></li>
    {% for sort_type in sort_types %}
	  {% if sort_type == sort %}
	  	<li><b class="selected" >{{ sort_type }}</b></li>
	  {% elif grid_ref != None %}
		<li><a href="{% url 'cephgeo.views.file_list_geonode' sort_type grid_ref %}" >{{ sort_type }}</a></li>
	  {% else %}
		<li><a href="{% url 'cephgeo.views.file_list_geonode' sort_type %}" >{{ sort_type }}</a></li>
	  {% endif %}
    {% endfor %}
    {% if grid_ref != None %}
	  <li><a href="{% url 'cephgeo.views.file_list_geonode' 'default' %}" >full list</a></li>
    {% endif %}
  </ul>  
  </div>
  <br /><br /><br />
  
  <ul>
	{% for file in file_list %}
		<li><h4>
              <b>{{ file.name }}</b>
            </h4>
			<br /><b>Grid Reference:</b> <a href="{% url 'cephgeo.views.file_list_geonode' 'default' file.grid_ref %}">{{ file.grid_ref }}</a>
			<br /><b>File Hash:</b> {{ file.file_hash }}
			<br /><b>Data Type:</b> {{ file.data_class }}
			<br /><b>Last Modified:</b> {{ file.last_modified }}
			<br /><b>File size:</b> {{ file.size_in_bytes | filesizeformat  }}
		</li>
	{% endfor %}
  </ul>
  
  <div class="pagination">
	<span class="step-links">
		{% if file_list.has_previous %}
			<a href="?page={{ file_list.previous_page_number }}">previous</a>
		{% endif %}
		
		<span class="current">
			Page {{ file_list.number }} of {{ file_list.paginator.num_pages }}
		</span>
		
		{% if file_list.has_next %}
			<a href="?page={{ file_list.next_page_number }}">next</a>
		{% endif %}
	</span>
  </div>
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



