{% extends "ceph_base.html" %}
{% load i18n %}
{% load url from future %}
{% load cephgeo_extras %}

{% block title %} {% trans "FTP Requests" %} - {{ block.super }} {% endblock %}

{% block body_class %}FTP Requests for {{user.get_username}} {% endblock %}

{% block body_outer %}
  {% block body %}
  
  <div class="page-header">
    {% if grid_ref != None %}
	  <h2 class="page-title">FTP Requests for {{user.get_username}} [{{ grid_ref }}]</h2>
    {% else %}
      <h2 class="page-title">FTP Requests</h2>
    {% endif %}
  </div>

  <div class="col-md-6">
  <ul class="list-inline pull-left" id="sort">
    <li><b>SORT BY:</b></li>
    {% for sort_type in sort_types %}
	  {% if sort_type == sort %}
	  	<li><b class="selected" >{{ sort_type }}</b></li>
	  {% else %}
		<li><a href="{% url 'cephgeo.views.ftp_request_list' sort_type %}" >{{ sort_type }}</a></li>
	  {% endif %}
    {% endfor %}
  </ul>  
  </div>
  <br /><br /><br />
  <table id="cart_table" border="3" style="width:100% ">
    <tr >
        <th style="text-align: center;">{% trans "Request Name" %}</th>
        <th style="text-align: center;">{% trans "Date and Time" %}</th>
        <th style="text-align: center;">{% trans "Status" %}</th>
        <th style="text-align: center;">{% trans "Tiles" %}</th>
        <th style="text-align: center;">{% trans "Total Size" %}</th>
<!--
        <th>Total Price</th>
-->
    </tr>
    {% for ftp_req in ftp_request_list %}
    <tr id="{{ ftp_req.name }}" name="{{ ftp_req.name }}" style="text-align: center;">
        <td>{{ ftp_req.name }}</td>
        <td>{{ ftp_req.date_time }}</td>
        <td>{{ ftp_req.status|get_ftp_status_label }}</td>
        <td>{{ ftp_req.num_tiles }}</td>
        <td>{{ ftp_req.size_in_bytes | filesizeformat }}</td>
    </tr>
    {% endfor %}

  </table>
  <div class="pagination">
	<span class="step-links">
		{% if ftp_req.has_previous %}
			<a href="?page={{ ftp_req.previous_page_number }}">previous</a>
		{% endif %}
		
		<span class="current">
			Page {{ ftp_req.number }} of {{ ftp_req.paginator.num_pages }}
		</span>
		
		{% if ftp_req.has_next %}
			<a href="?page={{ ftp_req.next_page_number }}">next</a>
		{% endif %}
	</span>
  </div>
{% endblock body %}
 {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}



