<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}externals/openlayers/theme/default/style.css" />
<script src="{{ STATIC_URL }}script/OpenLayers.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}externals/geoext/resources/css/geoext-all.css" />
<script src="{{ STATIC_URL }}script/GeoExt.js"></script> 
<link rel="stylesheet" href="{{ STATIC_URL }}externals/gxp/theme/all.css" />
<script src="{{ STATIC_URL }}script/gxp.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/app/geoexplorer.css" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/app/ie.css"/><![endif]-->
<script src="{{ STATIC_URL }}script/GeoExplorer.js"></script>
<script type="text/javascript">
OpenLayers.ImgPath = "{{ STATIC_URL }}externals/openlayers/img/";
</script>
