<div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
            <span aria-hidden="true">×</span>
        </button> 
        <h4 class="modal-title">Save Map</h4> 
    </div>

<div data-ng-init="fetchData()" style="height: 100%;
width: 100%;">
    <!-- <div class="file-browser-button-container draggable-div">
        <i class="fa fa-times-circle modal-close-icon" style="float: right; cursor: pointer" ng-click="closeDialog()"></i>
        <button data-ng-if="!project.showNameInput" data-ng-click="openProject()" ng-disabled="!selectedFile.Name || selectedFile.Name == ProjectName || editing" title="Open selected map">
        <i class="fa fa-map-marker"></i>Open Map</button>
        <button data-ng-click="rename()" ng-disabled="!selectedFile.Name || editing" title="Rename selected map">
        <i class="fa fa-pencil-square-o"></i>Rename</button>
        <button data-ng-click="deleteFile()" ng-disabled="!selectedFile.Name" title="Delete selected map">
        <i class="fa fa-trash-o"></i>Delete</button>
        <button data-ng-click="download()" ng-disabled="!selectedFile.Name" title="Download selected map data">
        <i class="fa fa-download"></i>Download
    </button>
        <button data-ng-click="openPublishDialog()" ng-disabled="!selectedFile.Name" title="Publish/Unpublish selected map">
        <i class="fa fa-share"></i>Publish
    </button>
    </div> -->

    <!-- @Html.Partial("FileBrowser") -->
    <div class="modal-body" data-ng-show="project.showNameInput">
        <form ng-submit="save()">
            <div class="form-group">
                <label>Filename</label>
                <input required type="text" placeholder="Map name" validatefilename class="form-control input-sm" maxlength="100" ng-model="file.saveAs" autofocus />
            </div>
            <div class="form-group">
                <label for="user_organization">Organization:</label>
                <select id="user_organization" ng-model="file.organizationId" class="form-control input-sm">
                        <option value="">---Please select---</option>
        <option value="[{org.id}]" ng-repeat="org in UserOrganizationList" >[{org.group.title}]</option>
    </select>
            </div>
            <div class="form-group">
                <label for="map_category">Category:</label>

                <select id="map_category" ng-model="file.categoryId" class="form-control input-sm">
                        <option value="">---Please select---</option>
        <option value="[{cat.id}]" ng-repeat="cat in CategoryList" >[{cat.description}]</option>
    </select>
            </div>
            <div class="form-group">
                <label for="map_abstract">Abstract</label>
                <textarea required ng-app="file.abstract" id="map_abstract" ng-model="file.abstract"  class="form-control" rows="10" style="height: 100px;"></textarea>
            </div>
            <input class="btn btn-gd-primary pull-right icon-btn-color" type="submit" value="Save" />
        </form>
    </div>
    <div style="clear:both"></div>
</div>

<style>
    .modal-dialog {
    width: 466px !important;
}
</style>