{% extends "update/layers_update_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Update Layers" %} - {{ block.super }}  {% endblock %}

{% block body_class %}{% trans "layers upload" %}{% endblock %}


{% block head %}

    {{ block.super }}
{% endblock %}

{% block body_outer %}


    <div class="page-header">
        <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}"
           class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
        <h2 class="page-title">{% trans "Update Layers" %}</h2>


    </div>
    <div class="row">
        <div class="col-md-8">


            {% block additional_info %}{% endblock %}

            {% if errors %}
                <div id="errors" class="alert alert-danger">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div id="upload-status"></div>

            <section id="drop-zone" style="border: 0px dashed #777777;">

          

                <h3><i class="fa fa-square-o fa-4x rotate-45"></i><br/>Layers</h3>
            </section>


            <section>
                <a href="{% url "start_layers_update" %}"  class="btn btn-danger">{% trans "Update Layers" %}</a>
            </section>
        </div>

        {% if GEONODE_SECURITY_ENABLED %}

        {% endif %}
    </div>
{% endblock %}


{% block extra_script %}
    {{ block.super }}
    <script data-main="{% static 'geonode/js/upload/main' %}"
            src="{% static 'lib/js/require.js' %}">
    </script>
    <script type="text/javascript">
        {% autoescape off %}

            csrf_token = "{{ csrf_token }}",
                form_target = "{{ UPLOADER_URL }}",
                time_enabled = {{ TIME_ENABLED|lower  }},
                mosaic_enabled = {{ MOSAIC_ENABLED|lower  }},
                userLookup = "{% url "account_ajax_lookup" %}"

        {% endautoescape %}

    </script>
    {% if GEONODE_SECURITY_ENABLED %}
        {% with resource=layer %}
            {% include "_permissions_form_js.html" %}
        {% endwith %}
    {% endif %}
{% endblock extra_script %}

