{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}documents{% endblock %}

{% block body_outer %}

<div class="d-title">
    
                                    <div class="pull-right">
    

        <a href="{% url "document_browse" %}" class="btn btn-gd-primary icon-btn-color">
            {% trans "Explore Documents" %}
        </a>
    
                                      </div>
    
                                  {% trans "Upload Documents" %}
                              </div>


<div class="gd-content">
    

        <div class="panel panel-info">
                <div class="panel-heading text-center">
                        
                                <h3 style="margin-top:0">Allowed document types:</h3>
                            {% for doc in ALLOWED_DOC_TYPES %}
                                <span class="label label-default">.{{ doc }}</span>
                            {% endfor %}
                       
                </div>
                <div class="panel-body">
                 
                        
                                {% block body_content %}{% endblock body_content %}
                                {% block body %}{% endblock body %}
                                {% block sidebar %}{% endblock sidebar %}
                             

                </div>
              </div>

    
            
           
          
      
   
  
</div>

{% endblock body_outer %}