{% extends "documents/document_base.html" %}
{% load i18n %}
{% load documents_tags %}
{% load staticfiles %}

{% block title %} {% trans "Search Documents" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents documents-list search{% endblock %}

{% block body %} 
  <div class="span12">
    <div class="row">
      <div class="span8">
        <h2 class="page-title">{% trans "Search for Documents" %}</h2>
      </div>
      <div class="span4">
        <form class="geonode-search form-search" action="{% url document_search_page %}" method="GET" data-results-table="#searchResults" data-search-api="{% url document_search_api %}">
          <input type="text" id="search_query" name="q" class="input-large search-query" value="{{ request.get.q }}">
          <button type="submit" class="btn btn-large">{% trans "Search" %}</button>
        </form>
      </div>
    </div>
    <table id="searchResults" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Contact" %}</th>
          <th>{% trans "Last Modified" %}</th>
          <th>{% trans "Related Resource" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <p></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block sidebar %}
  <!--<div id="refine" class="block">
    <h3>{% trans "Refine Search" %}</h3>
    <div class="bbox-controls">
      <div class="bbox-enabled"><input type="checkbox" /> {% trans "By area" %}</div>
      <p><span class="explain">{% blocktrans %}Limit the search to data that includes features in the displayed area.{% endblocktrans %}</span></p>
      <div class="bbox-expand">
      </div>
    </div>
    <div class="search-button">Refine</div>
  </div>
  <div class="block">
  <h3>{% trans "Selected Data" %}</h3>
    <p><span class="explain">{% blocktrans %}Use the checkboxes in the search results to add data to your selection.{% endblocktrans%}</span></p>
  <div id="selection">
    <div id="data_cart"></div>
    </div>
    <div id="data_ops">
      <ul>
        <li><a href="#" class="create-map">{% trans "Create a new map" %}</a></li>
        <li><span class="export">{% trans "Export selected" %}:</span>
            <a href="#mixed" class="batch-download">Zip</a> 
        </li>
      </ul>
      <form id="create_map_form" action="{% url new_map %}" method="POST">
      </form>
    </div>
  </div>-->
{% endblock %}

{% block extra_script %}
  <script type="text/html" id="searchResultsTemplate">
    <%#results%>
    <tr>
      <td><a href="<%detail%>"><%title%></a></td>
      <td><a href="<%owner_detail%>"><%owner%></a></td>
      <td><abbr class="timeago" title="<%last_modified%>"><%date%></abbr></td>
      <td><abbr class="related" title="<%related%>"><%date%></abbr></td>
    </tr>
    <%/results%>
  </script>
  <script type="text/html" id="searchNoResultsTemplate">
    <tr>
      <td colspan="4">
        {% trans "Your search did not match any items." %}
      </td>
    </tr>
  </script>
  {% include "_search_js.html" %}
{% endblock extra_script %}
