{% extends "metadata_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}

{% block title %}{{ document.title }} — {{ block.super }}{% endblock %}

{% block body_class %}data{% endblock body_class %}

{% block body_outer %}

{{ block.super }}

<div class="container-fluid page-header" style="position: relative;">
  <h2 class="page-title">{% trans "Metadata" %}&nbsp;{% blocktrans with document.title as document_title %}for {{ document_title }}{% endblocktrans %}</h2>
      <div id="profileCompleteness" class="alert alert-info" style="position: absolute; right: 0; top: 0; padding: 4px;">
        <strong>{% trans "Completeness" %}</strong>
        <div style="padding: 2px;">
          <small class="completed text-success" style="display: none; "><i class="fa fa-check"></i>{% trans "Metadata Schema mandatory fields completed" %}</small>
          <small class="not-completed text-danger" style="display: none; "><i class="fa fa-remove"></i>{% trans "Check Schema mandatory fields" %}</small>
        </div>
        <div class="progress" style="margin-bottom:2px;">
        <div class="progress-bar progress-bar-striped" role="progress-bar" >
          70%
        </div>
        </div>
      </div>
  </h2>
</div>

    <form id="metadata_update" class="form-horizontal" action="{% url "document_metadata" document.id %}" method="POST">
      {% if document_form.errors or category_form.errors or author_form.errors or poc.errors %}
        <p class="bg-danger">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}</p>
        <ul class="bg-danger">
        {% if author_form.errors %}
          <li>{% trans "Metadata Author" %}</li>
          {{ author_form.errors }}
        {% endif %}
        {% if poc_form.errors %}
          <li>{% trans "Point of Contact" %}</li>
          {{ poc_form.errors }}
        {% endif %}
        {% for field in document_form %}
            {% if field.errors %}
                <li>{{ field.label }}</li>
            {% endif %}
        {% endfor %}

        {% if category_form.errors %}
            <li>{{ category_form.errors.as_ul }}</li>
        {% endif %}
        </ul>
      {% endif %}

      {% csrf_token %}
        <div id="mdeditor_form" class="col-md-12 form-controls">
          {% form document_form using "layouts/doc_panels.html" %}
          {# document_form|as_bootstrap #}
        </div>

          <div class="row">
            <div class="col-md-12 grid-spacer">
              <fieldset class="form-controls modal-forms modal hide fade" id="poc_form" >
                <h2>{% trans "Point of Contact" %}</h2>
                {{ poc_form|as_bootstrap }}
                <button type='button' class="modal-cloose-btn btn btn-primary">{% trans "Done" %}</button>
              </fieldset>
              <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
                <h2>{% trans "Metadata Provider" %}</h2>
                  {{ author_form|as_bootstrap }}
                <button type='button' class="modal-cloose-btn btn btn-primary">{% trans "Done" %}</button>
              </fieldset>

                <div class="form-actions">
                  <input type="button" id="btn_back_dwn" class="btn btn-primary" style="display: none" value="{% trans "<< Back" %}"/>
                  <input type="submit" id="btn_upd_md_dwn" class="btn btn-primary" value="{% trans "Update" %}"/>
                  <input type="button" id="btn_next_dwn" class="btn btn-primary" value="{% trans "Next >>" %}"/>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock body_outer %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
    $("#id_resource-links").select2({
        placeholder: "{% trans "Select an option" %}",
        allowClear: true
    });
</script>
<style>
  #s2id_id_resource-links {
    width: 600px;
    height: 100%;
  }
</style>
{% endblock extra_script %}
