<div style="height: 50px; line-height: 50px; border-bottom: 1px solid #ccc; background-color: #fcfcfc">
    <div style="position: absolute; right: 5px; top: 3px;">
        File Type:
                    <select style="width: auto; margin: 0 10px 0 2px;" ng-model="fileType.type" ng-options="type as type for type in fileTypes">
                    </select>
        View Type:
                    <select style="width: auto; margin: 0 0 0 2px;" ng-model="viewOption.currentView" ng-options="option as option for option in viewOptions">
                    </select>
    </div>
</div>
