{% extends "site_base.html" %}
{% load activity_tags  social_tags i18n %}

{% block title %}{% trans "Error Logs" %}{% endblock %}

{% block body_outer %}
    <br>
    <h1>Error Logs</h1>
    {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th><b>{% trans "User Name" %}</b></th>
                    <th><b>{% trans "Level" %}</b></th>
                    {% comment %}<th><b>Custom Message</b></th>{% endcomment %}
                    <th><b>{% trans "System Message" %}</b></th>
                    <th><b>{% trans "Traceback" %}</b></th>
                    <th><b>{% trans "Created Time" %}</b></th>
                </tr>
                {% for error in object_list %}
                    <tr>
                        <td>{{ error.logger_name }}</td>
                        <td class="error-level">{{ error.level }}</td>
                        {% comment %}<td>{{ error.custom_msg }}</td>{% endcomment %}
                        <td>{{ error.msg }}</td>
                        <td>{{ error.trace }}</td>
                        <td>{{ error.create_datetime }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="text-center">
            <nav aria-label="Page navigation">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="/error/reporting/?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>

                            </li>
                        {% endif %}
                        <li>
                            <span>
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <a href="/error/reporting/?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>
    {% else %}
        <p>No Error Found!!! &#9786;</p>
    {% endif %}

{% endblock %}

{% block extra_head %}
{% endblock %}

{% block extra_script %}
{% endblock %}
