{% verbatim %}
<div class="row">
  <article ng-repeat="group in results" resource_id="{{ group.id }}" ng-cloak class="ng-cloak">
    <div class="col-xs-12 item-container">
        <div class="col-xs-4">
            <img class="img-responsive" ng-show="{{ group.group_profile.logo }}" ng-src="{{ group.group_profile.logo }}" alt="{{ group.group_profile.title }}">
        </div>
        <div class="col-xs-8 item-details">
          <h4><a href="{{ group.group_profile.detail_url }}">{{ group.group_profile.title }}</a></h4>
          <p class="abstract">
              {{ group.group_profile.description | limitTo: 300 }}
              {{ group.group_profile.description.length  > 300 ? '...' : ''}}
          </p>
          <div class="row">
            <div class="col-xs-12 item-items">
              <ul class="list-inline">
                <li>
                    <a href="{{ group.group_profile.detail_url }}">
                      <strong>{{ group.group_profile.member_count }}</strong>
                      <ng-pluralize count="group.group_profile.member_count" when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
                    </a>
                </li>
                <li>
                    <a href="{{ group.group_profile.detail_url }}">
                        <strong>{{ group.group_profile.manager_count }}</strong>
                        <ng-pluralize count="group.group_profile.manager_count" when="{'1': 'Manager', 'other': 'Managers'}"></ng-pluralize>
                    </a>
                </li>
                <li>{{ group.created|date:"d.M.y" }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
{% endverbatim %}
