{% load i18n %}

<div id="favorite">
    <header>
        <h4>{% trans 'Favorite' %}</h4>
    </header>

    {% if user.is_authenticated %}
      {% if not READ_ONLY_MODE %}
        <div class="clearfix">
            <button id="favoriteLink" class="btn btn-primary">{% trans 'Add to Favorites' %}</button>
            <br/><br/>
            <div><a href="{% url "favorite_list" %}">{% trans 'Go to Favorites' %}</a></div>
        </div>
      {% endif %}
    {% else %}
    <div class="clearfix">
        <p class="pull-right">{% trans 'Log in to add/delete Favorites.' %}</p>
    </div>
    {% endif %}
</div>
